Repository wireapp/wire-webapp, pull requests merged in 2020-10, with the labels that each got.

#9756 runfix: Show video call button on browsers that don't support sft
  .github/workflows/test_build_deploy.yml
  src/page/template/content/conversation/title-bar.htm
  src/script/view_model/content/TitleBarViewModel.ts
Labels: comp: infrastructure, size: s, type: bug / fix 🐞

#9755 fix: Don't save empty call logs (WEBAPP-7043)
  src/script/view_model/content/PreferencesAVViewModel.ts
Labels: size: xs, type: bug / fix 🐞

#9752 fix: Don't show 2nd modal after degradation (WEBAPP-7108, WEBAPP-7109)
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationRepository.ts
Labels: comp: calling, size: s, type: bug / fix 🐞

#9757 refactor: Remove underscores from private member functions
  src/script/assets/AssetRepository.test.ts
  src/script/assets/AssetRepository.ts
  src/script/backup/BackupRepository.ts
  src/script/broadcast/BroadcastRepository.ts
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/links/LinkPreviewRepository.ts
  src/script/notification/NotificationRepository.ts
  src/script/search/SearchRepository.ts
  test/unit_tests/connection/ConnectionRepositorySpec.js
  test/unit_tests/conversation/ConversationRepositorySpec.js
  test/unit_tests/links/LinkPreviewRepositorySpec.js
Labels: size: xl, type: refactoring 🛠

#9758 refactor: UserRepository - Make member methods private where possible
  src/script/user/UserRepository.ts
Labels: size: s, type: refactoring 🛠

#9761 feat: Add explicit create team URL config (WEBAPP-7113)
  app-config/package.json
  server/ServerConfig.ts
  server/config.ts
  src/script/Config.ts
  src/script/externalRoute.ts
  src/script/main/globals.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
Labels: size: s, type: feature / request ✨

#9762 chore: Update translations (WEBAPP-7112)
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
Labels: size: l, type: chore 🧹

#9765 chore: Update countly base url to self hosted instance
  app-config/package.json
  src/script/tracking/EventTrackingRepository.ts
Labels: size: xs, type: chore 🧹

#9786 runfix: Await processing notification stream events
  src/script/event/EventRepository.ts
Labels: size: s, type: bug / fix 🐞

#9787 fix: Show download indicator for video assets (WEBAPP-7114)
  src/script/components/asset/controls/mediaButton.ts
  src/script/components/asset/videoAsset.ts
Labels: size: s, type: bug / fix 🐞

#9788 chore: Remove obsolete sft env variable
  src/script/Config.ts
  src/script/main/globals.ts
Labels: size: xs, type: bug / fix 🐞

#9790 refactor: Use SVG to render audio seek bar
  src/script/components/asset/controls/audioSeekBar.ts
  src/script/components/asset/videoAsset.ts
  src/script/components/copyToClipboard.ts
  src/script/view_model/content/LegalHoldModalViewModel.ts
  src/style/components/asset/controls/audio-seek-bar.less
  test/unit_tests/components/asset/controls/audioSeekBarSpec.js
Labels: do-not-merge, size: m, type: feature / request ✨

#9751 refactor: APIClient WebSocket integration
  src/script/assets/AssetService.ts
  src/script/event/EventRepository.ts
  src/script/event/WebSocketService.ts
  src/script/main/app.ts
  src/script/service/BackendClient.ts
  test/helper/TestFactory.js
  test/unit_tests/event/EventRepositorySpec.js
  test/unit_tests/links/LinkPreviewRepositorySpec.js
Labels: size: xl, type: refactoring 🛠

#9759 refactor: ClientRepository - Make member functions private where possible
  src/script/client/ClientRepository.ts
Labels: size: m, type: refactoring 🛠

#9791 refactor: ConnectionRepository - Stronger encapsulation
  src/script/connection/ConnectionRepository.ts
Labels: size: m, type: refactoring 🛠

#9793 refactor: ConversationRepository - Stronger encapsulation & async/await
  src/script/conversation/ConversationRepository.ts
  test/unit_tests/conversation/ClientMismatchHandlerSpec.js
  test/unit_tests/conversation/ConversationRepositorySpec.js
  test/unit_tests/conversation/ConversationVerificationStateHandlerSpec.js
Labels: size: xl, type: refactoring 🛠

#9792 refactor: CryptographyRepository - Stronger encapsulation
  src/script/cryptography/CryptographyRepository.ts
Labels: size: s, type: refactoring 🛠

#9797 refactor: Revert "CryptographyRepository - Stronger encapsulation"
  src/script/cryptography/CryptographyRepository.ts
Labels: size: s

#9798 chore: update AVS to 6.4.9
  package.json
  yarn.lock
Labels: size: s, type: chore 🧹

#9802 chore: Select correct tags for changelog generation
  .github/workflows/test_build_deploy.yml
  bin/changelog.ts
Labels: comp: infrastructure, size: xs, type: chore 🧹

#9801 refactor: Extract MessageRepository from ConversationRepository
  src/page/template/content/conversation/message-list.htm
  src/page/template/modal/legal-hold.htm
  src/page/template/panel/participant-devices.htm
  src/script/broadcast/BroadcastRepository.ts
  src/script/calling/CallingRepository.ts
  src/script/components/message.ts
  src/script/components/messageQuote.ts
  src/script/components/userDevices.ts
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/main/app.ts
  src/script/util/DebugUtil.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ImageDetailViewViewModel.ts
  src/script/view_model/MainViewModel.ts
  src/script/view_model/content/InputBarViewModel.ts
  src/script/view_model/content/LegalHoldModalViewModel.ts
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/content/PreferencesDeviceDetailsViewModel.ts
  src/script/view_model/panel/ParticipantDevicesViewModel.ts
  test/helper/TestFactory.js
  test/unit_tests/calling/CallingRepositorySpec.js
  test/unit_tests/conversation/ClientMismatchHandlerSpec.js
  test/unit_tests/conversation/ConversationRepositorySpec.js
  test/unit_tests/conversation/MessageRepositorySpec.js
Labels: comp: calling, size: xxl, type: refactoring 🛠

#9654 feat: Auto mute on accepting incoming conference call
  app-config/package.json
  server/ServerConfig.ts
  server/config.ts
  src/script/calling/CallingRepository.ts
  src/script/main/globals.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/ListViewModel.ts
Labels: comp: calling, size: s, type: feature / request ✨

#9825 chore(deps): Bump @wireapp/commons from 3.8.6 to 3.8.7
  package.json
  yarn.lock
Labels: size: s, type: chore 🧹

#9827 fix: Process messages that have been sent offline
  src/script/conversation/MessageRepository.ts
  src/script/event/EventRepository.ts
  src/script/main/app.ts
  src/script/message/MessageSender.ts
  src/script/util/PromiseQueue.ts
Labels: size: s, type: bug / fix 🐞

#9822 refactor: React accent-color-picker
  package.json
  src/page/template/content/preferences-account.htm
  src/script/components/AccentColorPicker.test.tsx
  src/script/components/AccentColorPicker.tsx
  src/script/components/accentColorPicker.ts
  src/script/main/globals.ts
  src/script/util/CSSMixin.ts
  src/script/util/ComponentUtil.ts
  src/script/util/test/TestPage.tsx
  src/script/util/test/TestUtil.tsx
  src/script/view_model/bindings/CommonBindings.ts
  src/style/components/accent-color-picker.less
  src/style/foundation/main.less
  yarn.lock
Labels: size: xl, type: refactoring 🛠

#9854 runfix: Ensure single message handler on reconnect
  src/script/event/WebSocketService.ts
Labels: size: s, type: bug / fix 🐞

#9855 refactor: Use async/await in AudioRepository
  src/script/audio/AudioPlayingType.ts
  src/script/audio/AudioRepository.ts
Labels: size: s, type: refactoring 🛠

#9858 runfix: Abort and retry notification stream processing on websocket disconnect
  package.json
  src/script/error/EventError.ts
  src/script/event/EventRepository.ts
  src/script/event/WebSocketService.ts
  test/unit_tests/event/EventRepositorySpec.js
  yarn.lock
Labels: size: s, type: bug / fix 🐞

#9856 refactor: Use async/await in IntegrationRepository
  src/script/integration/IntegrationRepository.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/panel/GroupParticipantServiceViewModel.ts
Labels: size: m, type: refactoring 🛠

#9860 runfix: Return promise in removeFromConversation handler & improve error message
  src/script/view_model/ActionsViewModel.ts
Labels: size: s, type: bug / fix 🐞

#9861 chore: Use GH environment files
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: s, type: chore 🧹

#9862 chore: Only take first line of PRs last commit message
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#9859 feat: Show warning when starting / joining a call without microphone
  README.md
  bin/translations_download.ts
  package.json
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
  src/script/error/NoAudioInputError.ts
  src/script/main/app.ts
  src/script/media/MediaStreamHandler.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/ModalsViewModel.ts
  yarn.lock
Labels: comp: calling, size: l, type: feature / request ✨

#9867 runfix: Don't show warning when joining muted (WEBAPP-7123)
  src/script/calling/CallingRepository.ts
Labels: comp: calling, size: xs, type: bug / fix 🐞

#9894 chore: Reuse PR_LAST_COMMIT_MESSAGE for TITLE
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#9869 refactor: Extract ClientState from ClientRepository
  src/script/backup/BackupRepository.ts
  src/script/client/ClientRepository.ts
  src/script/client/ClientState.ts
  src/script/components/userDevices.ts
  src/script/conversation/MessageRepository.ts
  src/script/main/app.ts
  src/script/util/DebugUtil.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/AppLockViewModel.ts
  src/script/view_model/content/PreferencesDevicesViewModel.ts
  test/helper/TestFactory.js
  test/unit_tests/backup/BackupRepositorySpec.js
  test/unit_tests/client/ClientRepositorySpec.js
  test/unit_tests/event/EventRepositorySpec.js
Labels: size: m, type: refactoring 🛠

#9897 docs: Add info about production backend
  README.md
Labels: size: xs, type: documentation 📋

#9899 runfix: Show mic input error also when access is denied (WEBAPP-7126)
  src/script/media/MediaStreamHandler.ts
Labels: size: xs, type: bug / fix 🐞

#9895 refactor: Use dependency injection only for the API client
  src/script/assets/AssetService.ts
  src/script/auth/AuthRepository.ts
  src/script/broadcast/BroadcastService.ts
  src/script/calling/CallingRepository.ts
  src/script/client/ClientService.ts
  src/script/components/panel/enrichedFields.ts
  src/script/connection/ConnectionService.ts
  src/script/conversation/ConversationService.ts
  src/script/cryptography/CryptographyService.ts
  src/script/event/NotificationService.ts
  src/script/event/WebSocketService.ts
  src/script/extension/GiphyService.ts
  src/script/integration/IntegrationService.ts
  src/script/main/app.ts
  src/script/properties/PropertiesService.ts
  src/script/search/SearchService.ts
  src/script/self/SelfService.ts
  src/script/service/APIClientSingleton.ts
  src/script/team/TeamService.ts
  src/script/user/RichProfileRepository.ts
  src/script/user/UserService.ts
  test/helper/TestFactory.js
  test/unit_tests/components/panel/enrichedFieldsSpec.js
  test/unit_tests/extension/GiphyRepositorySpec.js
  test/unit_tests/links/LinkPreviewRepositorySpec.js
  test/unit_tests/properties/PropertiesRepositorySpec.js
  test/unit_tests/user/RichProfileRepositorySpec.js
Labels: comp: calling, comp: preferences, size: l, type: refactoring 🛠

#9903 refactor: StorageService dependency injected
  src/script/backup/BackupService.ts
  src/script/client/ClientService.ts
  src/script/conversation/ConversationService.ts
  src/script/event/EventService.ts
  src/script/event/EventServiceNoCompound.ts
  src/script/event/NotificationService.ts
  src/script/main/app.ts
  src/script/storage/StorageRepository.ts
  src/script/storage/StorageService.ts
  src/script/user/UserService.ts
  test/helper/TestFactory.js
  test/unit_tests/storage/StorageServiceSpec.js
Labels: size: s, type: refactoring 🛠

#9828 refactor: React participant-avatar
  package.json
  src/page/template/content/connect-requests.htm
  src/page/template/content/preferences-account.htm
  src/script/components/ParticipantAvatar.test.tsx
  src/script/components/ParticipantAvatar.tsx
  src/script/components/fullSearch.ts
  src/script/components/groupList.ts
  src/script/components/list/conversationListCallingCell.ts
  src/script/components/list/conversationListCell.ts
  src/script/components/list/participantItem.ts
  src/script/components/mentionSuggestions.ts
  src/script/components/message.ts
  src/script/components/panel/serviceDetails.ts
  src/script/components/panel/userDetails.ts
  src/script/components/participantAvatar.ts
  src/script/components/participantAvatar/AvatarBackground.tsx
  src/script/components/participantAvatar/AvatarBadge.tsx
  src/script/components/participantAvatar/AvatarBorder.tsx
  src/script/components/participantAvatar/AvatarImage.test.tsx
  src/script/components/participantAvatar/AvatarImage.tsx
  src/script/components/participantAvatar/AvatarInitials.tsx
  src/script/components/participantAvatar/AvatarWrapper.tsx
  src/script/components/participantAvatar/ServiceAvatar.test.tsx
  src/script/components/participantAvatar/ServiceAvatar.tsx
  src/script/components/participantAvatar/TemporaryGuest.test.tsx
  src/script/components/participantAvatar/TemporaryGuestAvatar.tsx
  src/script/components/participantAvatar/UserAvatar.test.tsx
  src/script/components/participantAvatar/UserAvatar.tsx
  src/script/components/serviceList.ts
  src/script/components/topPeople.ts
  src/script/entity/User.ts
  src/script/util/CSSMixin.ts
  src/script/util/ComponentUtil.ts
  src/script/view_model/content/ConnectRequestsViewModel.ts
  src/script/view_model/content/InputBarViewModel.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  src/script/view_model/content/ServiceModalViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
  src/style/components/list/conversation-list-calling-cell.less
  src/style/components/participant-avatar.less
  src/style/content/conversation/message-list.less
  src/style/content/preferences/account.less
  src/style/foundation/main.less
  test/unit_tests/components/list/conversationListCallingCellSpec.js
  yarn.lock
Labels: size: xxl, type: refactoring 🛠

#9906 runfix: Polyfill Metadata Reflection API on auth page
  src/script/auth/main.tsx
Labels: size: xs, type: bug / fix 🐞

#9902 chore: Log tags when generating the changelog
  bin/changelog.ts
Labels: size: xs, type: chore 🧹

#9907 chore: Release production versions publicly
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#9904 refactor: Extract UserState
  src/page/template/modal/user-modal.htm
  src/page/template/panel/group-participant-user.htm
  src/script/backup/BackupRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/event/EventRepository.ts
  src/script/event/preprocessor/ReceiptsMiddleware.ts
  src/script/event/preprocessor/ServiceMiddleware.ts
  src/script/main/app.ts
  src/script/notification/NotificationRepository.ts
  src/script/team/TeamRepository.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/user/UserRepository.ts
  src/script/user/UserState.ts
  src/script/util/DebugUtil.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/MainViewModel.ts
  src/script/view_model/WindowTitleViewModel.ts
  src/script/view_model/content/ConnectRequestsViewModel.ts
  src/script/view_model/content/GroupCreationViewModel.ts
  src/script/view_model/content/HistoryExportViewModel.ts
  src/script/view_model/content/InputBarViewModel.ts
  src/script/view_model/content/InviteModalViewModel.ts
  src/script/view_model/content/LegalHoldModalViewModel.ts
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/content/PreferencesAVViewModel.ts
  src/script/view_model/content/PreferencesAboutViewModel.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  src/script/view_model/content/PreferencesDevicesViewModel.ts
  src/script/view_model/content/PreferencesOptionsViewModel.ts
  src/script/view_model/content/TitleBarViewModel.ts
  src/script/view_model/content/UserModalViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
  src/script/view_model/list/PreferencesListViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/script/view_model/list/TakeoverViewModel.ts
  src/script/view_model/list/TemporaryGuestViewModel.ts
  src/script/view_model/panel/AddParticipantsViewModel.ts
  src/script/view_model/panel/ConversationDetailsViewModel.ts
  src/script/view_model/panel/GroupParticipantUserViewModel.ts
  test/helper/TestFactory.js
  test/unit_tests/backup/BackupRepositorySpec.js
  test/unit_tests/conversation/ClientMismatchHandlerSpec.js
  test/unit_tests/conversation/ConversationRepositorySpec.js
  test/unit_tests/conversation/MessageRepositorySpec.js
  test/unit_tests/event/EventRepositorySpec.js
  test/unit_tests/event/preprocessor/ReceiptsMiddlewareSpec.js
  test/unit_tests/event/preprocessor/ServiceMiddlewareSpec.js
  test/unit_tests/notification/NotificationRepositorySpec.js
  test/unit_tests/notification/PreferenceNotificationRepositorySpec.js
  test/unit_tests/team/TeamRepositorySpec.js
  test/unit_tests/user/UserRepositorySpec.js
  test/unit_tests/view_model/WindowTitleViewModelSpec.js
  test/unit_tests/view_model/panel/ConversationDetailsViewModelSpec.js
Labels: size: xl, type: refactoring 🛠

#9908 refactor: Extract TeamState
  src/script/components/userList.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationRoleRepository.test.ts
  src/script/conversation/ConversationRoleRepository.ts
  src/script/conversation/ConversationVerificationStateHandler.ts
  src/script/conversation/MessageRepository.ts
  src/script/integration/IntegrationRepository.ts
  src/script/main/app.ts
  src/script/team/TeamRepository.ts
  src/script/team/TeamState.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/content/GroupCreationViewModel.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  src/script/view_model/content/PreferencesOptionsViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/script/view_model/panel/AddParticipantsViewModel.ts
  src/script/view_model/panel/ConversationDetailsViewModel.ts
  src/script/view_model/panel/GroupParticipantUserViewModel.ts
  test/helper/TestFactory.js
  test/unit_tests/conversation/ClientMismatchHandlerSpec.js
  test/unit_tests/conversation/ConversationRepositorySpec.js
  test/unit_tests/conversation/ConversationVerificationStateHandlerSpec.js
  test/unit_tests/conversation/MessageRepositorySpec.js
  test/unit_tests/team/TeamRepositorySpec.js
Labels: size: xl, type: refactoring 🛠

#9909 chore: Update no mic input texts
  src/i18n/en-US.json
Labels: size: xs, type: chore 🧹

#9914 feat: Add support for countly tracking id syncing
  package.json
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/cryptography/GenericMessageType.ts
  src/script/event/Client.ts
  src/script/main/app.ts
  src/script/tracking/EventTrackingRepository.ts
  test/helper/TestFactory.js
  yarn.lock
Labels: size: m, type: feature / request ✨

#9913 refactor: Extract ConversationState
  src/page/template/content/conversation.htm
  src/script/calling/CallingRepository.ts
  src/script/components/message.ts
  src/script/components/userDevices.ts
  src/script/components/userList.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationState.ts
  src/script/conversation/ConversationVerificationStateHandler.ts
  src/script/conversation/MessageRepository.ts
  src/script/integration/IntegrationRepository.ts
  src/script/main/app.ts
  src/script/notification/NotificationRepository.ts
  src/script/util/DebugUtil.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/MainViewModel.ts
  src/script/view_model/PanelViewModel.ts
  src/script/view_model/WindowTitleViewModel.ts
  src/script/view_model/content/CollectionViewModel.ts
  src/script/view_model/content/InputBarViewModel.ts
  src/script/view_model/content/LegalHoldModalViewModel.ts
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/content/PreferencesDeviceDetailsViewModel.ts
  src/script/view_model/content/TitleBarViewModel.ts
  src/script/view_model/list/ArchiveViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/script/view_model/panel/BasePanelViewModel.ts
  test/helper/TestFactory.js
  test/unit_tests/calling/CallingRepositorySpec.js
  test/unit_tests/conversation/ClientMismatchHandlerSpec.js
  test/unit_tests/conversation/ConversationRepositorySpec.js
  test/unit_tests/conversation/ConversationVerificationStateHandlerSpec.js
  test/unit_tests/conversation/MessageRepositorySpec.js
  test/unit_tests/notification/NotificationRepositorySpec.js
  test/unit_tests/view_model/WindowTitleViewModelSpec.js
Labels: comp: calling, size: xl, type: refactoring 🛠
