Repository wireapp/wire-webapp, pull requests merged in 2020-08, with the labels that each got.

#9298 refactor: Migrate ContentViewModel to Typescript
  src/page/template/wire-main.htm
  src/script/team/TeamRepository.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/PreferencesAVViewModel.ts
Labels: comp: preferences, prio: low, type: refactoring

#9337 runfix: check for degraded conversations before calls (WEBAPP-6988, WEBAPP-7015)
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationRepository.js
  src/script/conversation/EventInfoEntity.ts
  src/script/entity/Conversation.ts
Labels: comp: calling, prio: high, type: bug / fix

#9345 fix: Leave call when removed from conversation (WEBAPP-7044)
  src/script/conversation/ConversationRepository.js
  src/script/main/app.js
Labels: comp: calling, prio: high, type: bug / fix

#9348 fix: Correctly apply language change after reload (webapp-7001)
  src/script/localization/Localizer.ts
Labels: comp: localization, prio: high, type: bug / fix 🐞

#9350 runfix: Show degradation warning after accepting/starting the call
  src/script/calling/CallingRepository.ts
Labels: comp: calling, prio: high, type: feature / request ✨

#9351 fix: Increase calling log threshold (WEBAPP-7043)
  src/script/view_model/content/PreferencesAVViewModel.ts
Labels: comp: calling, prio: medium, type: bug / fix 🐞

#9353 runfix: Beta toggle can show up enabled on firefox (WEBAPP-7047)
  src/script/view_model/content/PreferencesAVViewModel.ts
Labels: comp: calling, comp: preferences, prio: medium, type: bug / fix 🐞

#9352 fix: Include user availability status in accountInfo (webapp-7046)
  src/script/team/TeamRepository.ts
  src/script/user/UserRepository.ts
Labels: comp: notifications, prio: medium, type: bug / fix 🐞

#9349 fix: Allow case-insensitive handles for login
  src/script/auth/component/LoginForm.tsx
Labels: comp: login, prio: low, type: feature / request ✨

#9340 fix: Navigate to conversation url from start ui
  src/script/components/groupList.ts
  src/script/components/list/conversationListCallingCell.ts
Labels: comp: start-ui, prio: low, type: bug / fix 🐞

#9358 refactor: Use USER_EVENT, CONVERSATION_EVENT and ACCESS_MODE from api-client
  package.json
  src/script/client/ClientRepository.ts
  src/script/conversation/AccessMode.ts
  src/script/conversation/AccessRole.ts
  src/script/conversation/ConversationEphemeralHandler.ts
  src/script/conversation/ConversationLabelRepository.ts
  src/script/conversation/ConversationMapper.js
  src/script/conversation/ConversationRepository.js
  src/script/conversation/ConversationStateHandler.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.js
  src/script/cryptography/CryptographyMapper.js
  src/script/entity/message/MemberMessage.ts
  src/script/entity/message/MessageTimerUpdateMessage.ts
  src/script/entity/message/ReceiptModeUpdateMessage.ts
  src/script/entity/message/RenameMessage.ts
  src/script/event/Backend.ts
  src/script/event/EventRepository.js
  src/script/event/EventTypeHandling.ts
  src/script/event/preprocessor/ServiceMiddleware.js
  src/script/notification/PreferenceNotificationRepository.ts
  src/script/user/UserRepository.ts
  src/script/util/DebugUtil.js
  test/unit_tests/conversation/ConversationRepositorySpec.js
  test/unit_tests/cryptography/CryptographyMapperSpec.js
  test/unit_tests/entity/ConversationSpec.js
  test/unit_tests/event/EventRepositorySpec.js
  test/unit_tests/event/preprocessor/ServiceMiddlewareSpec.js
  test/unit_tests/notification/NotificationRepositorySpec.js
  test/unit_tests/notification/PreferenceNotificationRepositorySpec.js
  yarn.lock
Labels: prio: low, type: refactoring 🛠

#9379 refactor: Remove last bits of contact import
  src/script/properties/PropertiesRepository.ts
  src/script/properties/PropertiesType.ts
  test/unit_tests/tracking/EventTrackingRepositorySpec.js
Labels: prio: low, type: refactoring 🛠

#9383 refactor: Add PR labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: prio: low, type: refactoring 🛠

#9387 refactor: Update PR label on push
  .github/workflows/label.yml
Labels: prio: low, type: refactoring 🛠

#9357 refactor: Use CONVERSATION_TYPE from api-client
  src/script/conversation/ConversationMapper.js
  src/script/conversation/ConversationRepository.js
  src/script/conversation/ConversationType.ts
  src/script/entity/Conversation.ts
  test/unit_tests/conversation/ConversationMapperSpec.js
  test/unit_tests/conversation/ConversationRepositorySpec.js
  test/unit_tests/entity/ConversationSpec.js
  test/unit_tests/notification/NotificationRepositorySpec.js
  test/unit_tests/tracking/HelpersSpec.js
  test/unit_tests/view_model/WindowTitleViewModelSpec.js
  test/unit_tests/view_model/panel/ConversationDetailsViewModelSpec.js
Labels: prio: low, type: refactoring 🛠

#9384 runfix: Send normal link previews in the normal part of a message
  src/script/conversation/ConversationRepository.js
Labels: prio: high, type: bug / fix 🐞

#9386 feat: Add Chrome Origin Trial for WebRTC insertable streams (WEBAPP-7049)
  server/Server.ts
  server/ServerConfig.ts
  server/config.ts
  src/page/template/graph.htm
  src/page/template/meta.htm
  src/script/main/globals.ts
Labels: prio: medium, type: feature / request ✨

#9404 fix: Only delete existing recipient from payload
  src/script/conversation/ClientMismatchHandler.ts
Labels: type: bug / fix 🐞

#9405 fix: Only add `report_missing` if it exists
  src/script/broadcast/BroadcastService.ts
Labels: comp: core, prio: medium, type: bug / fix 🐞

#9406 refactor: Remove unnecessary typings, remove unused JSDoc
  src/script/calling/CallingRepository.ts
  src/script/client/ClientRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/entity/message/ContentMessage.ts
  src/script/notification/NotificationRepository.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/panel/MessageDetailsViewModel.ts
Labels: prio: low, type: refactoring 🛠

#9407 chore(deps): Bump @wireapp/core from 16.10.29 to 16.11.0
  package.json
  src/script/conversation/ConversationService.ts
  src/script/team/TeamRepository.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/user/UserRepository.ts
  yarn.lock
Labels: type: chore 🧹

#9409 runfix: Selected Input border for too many devices delete selection
  src/script/auth/component/ClientItem.tsx
Labels: comp: accessibility, prio: low, type: bug / fix 🐞

#9410 feat: Support ordered and unordered lists when rendering messages
  src/script/util/messageRenderer.ts
  src/style/content/conversation/message-list.less
Labels: comp: markdown, prio: low, type: feature / request ✨

#9412 runfix: Deactivate availability in AccountInfo until wrapper supports it
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞

#9413 runfix: Don't break message rendering
  src/script/util/messageRenderer.ts
Labels: type: bug / fix 🐞

#9408 refactor: Convert to camelCase MessageListViewModel
  src/page/template/content/conversation/message-list.htm
  src/script/view_model/content/MessageListViewModel.ts
Labels: type: refactoring 🛠

#9411 chore: Automatically label affected components
  .github/labeler.yml
Labels: comp: infrastructure, type: chore 🧹

#9429 runfix: Use "What's new link" from server config (WEBAPP-7041)
  app-config/package.json
  server/ServerConfig.ts
  server/config.ts
  src/page/template/warning.htm
  src/script/Config.ts
  src/script/main/globals.ts
Labels: type: bug / fix 🐞

#9430 runfix: Make payload for client mismatch handling optional
  src/script/calling/CallingRepository.ts
  src/script/conversation/ClientMismatchHandler.ts
Labels: comp: calling, type: bug / fix 🐞

#9433 runfix: Use uppercase error messages
  package.json
  yarn.lock
Labels: type: chore 🧹

#9428 fix: Disable initial fullscreen video for self screen sharing (WEBAPP-6847)
  src/script/view_model/CallingViewModel.ts
Labels: type: bug / fix 🐞

#9442 refactor: Remove unused max video group size for SFT calls
  src/script/entity/Conversation.ts
Labels: type: refactoring 🛠

#9441 feat: Don't randomize Giphy search results
  src/script/extension/GiphyRepository.ts
  src/script/view_model/content/GiphyViewModel.ts
Labels: type: feature / request ✨

#9446 fix: Cleanup Giphy Modal after closing
  src/script/view_model/content/GiphyViewModel.ts
Labels: prio: medium, type: bug / fix 🐞

#9449 chore: Bump @wireapp/avs from 6.2.23 to 6.2.26 (#6282)
  package.json
  yarn.lock
Labels: type: chore 🧹

#9434 runfix: Remove rendered lists in markdown for now
  src/script/util/messageRenderer.ts
Labels: comp: markdown, prio: high, type: bug / fix 🐞

#9443 fix: Disable Auto Gain Control (AGC) by default in calls (#7025)
  src/script/media/MediaConstraintsHandler.test.ts
  src/script/media/MediaConstraintsHandler.ts
  test/unit_tests/media/MediaStreamHandlerSpec.js
Labels: type: bug / fix 🐞

#9456 fix: Don't suggest unconnected users when creating a group with private account (WEBAPP-7059)
  src/page/template/modal/group-creation.htm
  src/script/components/userList.ts
Labels: type: bug / fix 🐞

#9457 fix: Await LoginLifecycleFunction
  src/script/auth/module/action/AuthAction.ts
Labels: type: bug / fix 🐞

#9468 feat: Enable escaping in Markdown renderer
  src/script/util/messageRenderer.ts
Labels: type: feature / request ✨

#9471 chore: Add dry run for release_tag
  bin/release_tag.ts
Labels: type: chore 🧹

#9472 runfix: Prevent multiple queued logouts
  src/script/main/app.js
Labels: type: bug / fix 🐞

#9476 fix: Ask for screen media before changing video state to screen sharing (WEBAPP-7061)
  src/script/calling/CallingRepository.ts
  src/script/view_model/CallingViewModel.ts
Labels: comp: calling, type: bug / fix 🐞

#9475 fix: Show error message when there is only a random GIF result (WEBAPP-7060)
  src/page/template/modal/giphy.htm
  src/script/extension/GiphyRepository.ts
  src/script/view_model/content/GiphyViewModel.ts
Labels: type: bug / fix 🐞

#9484 Revert "fix: Ask for screen media before changing video state to screen sharing (WEBAPP-7061)"
  src/script/calling/CallingRepository.ts
  src/script/view_model/CallingViewModel.ts
Labels: comp: calling

#9501 chore: Enable esnext for /server
  server/tsconfig.json
Labels: type: chore 🧹

#9500 chore(deps): bump http-status-codes from 1.4.0 to 2.1.1
  package.json
  server/Server.ts
  server/package.json
  server/routes/RedirectRoutes.ts
  server/routes/_health/HealthRoute.ts
  server/routes/error/ErrorRoutes.ts
  server/yarn.lock
  src/script/assets/AssetRepository.ts
  src/script/auth/module/action/AuthAction.test.ts
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/ClientAction.test.ts
  src/script/auth/module/action/InvitationAction.ts
  src/script/auth/module/action/SelfAction.test.ts
  src/script/auth/module/action/SelfAction.ts
  src/script/auth/page/CheckPassword.test.tsx
  src/script/auth/page/SingleSignOn.tsx
  src/script/client/ClientRepository.ts
  src/script/conversation/ConversationRepository.js
  src/script/conversation/ConversationStateHandler.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/event/EventRepository.js
  src/script/user/UserRepository.ts
  src/script/util/util.ts
  src/script/view_model/content/AppLockViewModel.ts
  src/script/view_model/content/LegalHoldModalViewModel.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  test/unit_tests/client/ClientRepositorySpec.js
  test/unit_tests/connection/ConnectionRepositorySpec.js
  test/unit_tests/conversation/ConversationRepositorySpec.js
  test/unit_tests/extension/GiphyRepositorySpec.js
  test/unit_tests/team/TeamRepositorySpec.js
  test/unit_tests/user/UserRepositorySpec.js
  yarn.lock
Labels: comp: dependencies, type: chore 🧹

#9502 test: Check TypeScript definitions of server build
  package.json
Labels: type: test 👷

#9473 refactor: Convert most knockout bindings to TS
  src/script/assets/AssetRepository.ts
  src/script/client/ClientRepository.ts
  src/script/components/deviceCard.ts
  src/script/components/ephemeralTimer.ts
  src/script/components/list/groupAvatar.ts
  src/script/components/panel/serviceDetails.ts
  src/script/entity/message/MediumImage.ts
  src/script/integration/IntegrationRepository.ts
  src/script/properties/PropertiesRepository.ts
  src/script/util/TimeUtil.ts
  src/script/view_model/bindings/ConversationListBindings.ts
  src/script/view_model/bindings/ListBackgroundBindings.ts
  src/script/view_model/bindings/MessageListBindings.ts
  src/script/view_model/bindings/VideoCallingBindings.ts
  src/script/view_model/content/ConnectRequestsViewModel.ts
Labels: comp: preferences, type: refactoring 🛠

#9474 refactor: Convert MainViewModel to TypeScript
  src/script/notification/NotificationRepository.ts
  src/script/properties/PropertiesService.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/MainViewModel.ts
  src/script/view_model/list/PreferencesListViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/script/view_model/list/TakeoverViewModel.ts
  src/script/view_model/list/TemporaryGuestViewModel.ts
Labels: comp: preferences, type: refactoring 🛠

#9504 refactor: Use new version of GitHub issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: comp: infrastructure, type: refactoring 🛠

#9505 chore: Label sizes of PRs
  .github/labeler.yml
Labels: comp: infrastructure, size: s, type: chore 🧹

#9487 refactor: Migrate ConversationRepository to TypeScript
  src/script/backup/BackupRepository.ts
  src/script/conversation/ConversationMapper.js
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventInfoEntity.ts
  src/script/entity/Conversation.ts
  src/script/entity/message/ContentMessage.ts
  src/script/entity/message/Message.ts
  src/script/event/EventRepository.js
  src/script/event/EventService.js
  src/script/legal-hold/LegalHoldWarning.ts
  src/script/main/app.js
  src/script/properties/PropertiesRepository.ts
  src/script/team/TeamRepository.ts
  src/script/user/UserRepository.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/content/CollectionViewModel.ts
  src/script/view_model/content/GroupCreationViewModel.ts
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/panel/ConversationDetailsViewModel.ts
  src/script/view_model/panel/MessageDetailsViewModel.ts
  test/helper/TestFactory.js
Labels: comp: preferences, size: xxl, type: refactoring 🛠

#9506 feat: Add hot-reloading for server codes
  package.json
  server/package.json
  yarn.lock
Labels: size: s, type: feature / request ✨

#9507 chore: Migrate PanelViewModel to TS
  src/page/template/panel/add-participants.htm
  src/page/template/panel/conversation-details.htm
  src/page/template/panel/conversation-participants.htm
  src/page/template/panel/group-participant-service.htm
  src/page/template/panel/group-participant-user.htm
  src/page/template/panel/guest-options.htm
  src/page/template/panel/message-details.htm
  src/page/template/panel/notifications.htm
  src/page/template/panel/participant-devices.htm
  src/page/template/panel/timed-messages.htm
  src/script/view_model/MainViewModel.ts
  src/script/view_model/PanelViewModel.ts
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/panel/AddParticipantsViewModel.ts
  src/script/view_model/panel/BasePanelViewModel.ts
  src/script/view_model/panel/ConversationDetailsViewModel.ts
  src/script/view_model/panel/ConversationParticipantsViewModel.ts
  src/script/view_model/panel/GroupParticipantServiceViewModel.ts
  src/script/view_model/panel/GroupParticipantUserViewModel.ts
  src/script/view_model/panel/MessageDetailsViewModel.ts
  src/script/view_model/panel/ParticipantDevicesViewModel.ts
Labels: size: m, type: chore 🧹

#9259 feat: Add product reporting
  src/page/template/content/preferences-account.htm
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/integration/IntegrationRepository.ts
  src/script/main/app.js
  src/script/properties/PropertiesRepository.ts
  src/script/telemetry/app_init/AppInitTelemetry.ts
  src/script/telemetry/app_init/AppInitTimings.ts
  src/script/tracking/EventName.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/Segmentation.ts
  src/script/tracking/UserData.ts
  src/script/user/UserRepository.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/content/GroupCreationViewModel.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  src/script/view_model/panel/AddParticipantsViewModel.ts
  test/unit_tests/tracking/EventTrackingRepositorySpec.js
Labels: comp: calling, comp: preferences, comp: reporting, prio: medium, size: l, type: feature / request ✨

#9511 refactor: Migrate App to Typescript
  src/script/conversation/ConversationRepository.ts
  src/script/error/AccessTokenError.ts
  src/script/main/app.ts
  src/script/notification/NotificationRepository.ts
  src/script/router/Router.ts
  src/script/telemetry/app_init/AppInitTelemetry.ts
  src/script/view_model/LoadingViewModel.ts
  test/unit_tests/tracking/EventTrackingRepositorySpec.js
  tsconfig.json
  webpack.config.common.js
  webpack.config.dev.js
Labels: size: m, type: refactoring 🛠

#9514 runfix: React better to empty list of conversations
  src/script/conversation/ConversationRepository.ts
Labels: size: s, type: bug / fix 🐞

#9517 runfix: fix 'show all participants' and read receipt toggle
  src/script/components/receiptModeToggle.ts
  src/script/view_model/panel/ConversationParticipantsViewModel.ts
  test/unit_tests/components/receiptModeToggleSpec.js
Labels: size: s, type: bug / fix 🐞

#9518 runfix: Show preferences to disable product reporting
  src/page/template/content/preferences-account.htm
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/Segmentation.ts
  src/script/tracking/UserData.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
Labels: size: s

#9520 test: Log product reporting for QA automation tests
  src/script/tracking/EventTrackingRepository.ts
Labels: size: s, type: test 👷

#9522 feat: Show top GIF as first result in the Giphy modal (WEBAPP-7076)
  src/script/view_model/content/GiphyViewModel.ts
  test/unit_tests/extension/GiphyRepositorySpec.js
Labels: size: s, type: feature / request ✨

#9521 runfix: Detect removed users in tier 1 teams (WEBAPP-7075)
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.js
Labels: size: s, type: bug / fix 🐞

#9523 runfix: Edited messages vanish for sender (WEBAPP-7071)
  src/script/conversation/ConversationRepository.ts
Labels: size: xs, type: bug / fix 🐞

#9550 fix: Set call clients before answering
  src/script/calling/CallingRepository.ts
Labels: comp: calling, size: xs, type: bug / fix 🐞

#9524 chore: Migrate EventServiceNoCompound to TS
  src/script/event/EventServiceNoCompound.ts
Labels: size: s, type: chore 🧹

#9552 feat: Log time taken for unzipping backup files (WEBAPP-6876)
  src/script/util/TimeUtil.ts
  src/script/view_model/content/HistoryImportViewModel.ts
  test/unit_tests/util/TimeUtilSpec.js
Labels: size: s, type: feature / request ✨
