Repository wireapp/wire-webapp, pull requests merged in 2020-09, with the labels that each got.

#9554 chore: Remove all unused analytics events
  src/script/conversation/ConversationStateHandler.ts
  src/script/integration/IntegrationRepository.ts
  src/script/tracking/EventName.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/user/UserRepository.ts
  src/script/view_model/content/GroupCreationViewModel.ts
  src/script/view_model/content/HistoryExportViewModel.ts
  src/script/view_model/content/HistoryImportViewModel.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/script/view_model/panel/AddParticipantsViewModel.ts
  src/script/view_model/panel/GuestsAndServicesViewModel.ts
Labels: size: m, type: chore 🧹

#9553 chore: Change the format of the version to match the rest
  Gruntfile.js
Labels: size: xs, type: chore 🧹

#9555 chore: Remove Raygun
  .cspell.json
  .env.localhost
  .eslintrc.json
  package.json
  server/ServerConfig.ts
  server/config.ts
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventMapper.js
  src/script/cryptography/CryptographyRepository.ts
  src/script/event/EventService.js
  src/script/main/app.ts
  src/script/main/globals.ts
  src/script/tracking/EventTrackingRepository.ts
  test/unit_tests/tracking/EventTrackingRepositorySpec.js
  yarn.lock
Labels: size: m, type: chore 🧹

#9519 refactor: Rename calling segments and events
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/Segmentation.ts
  src/script/view_model/CallingViewModel.ts
Labels: comp: calling, size: m, type: refactoring 🛠

#9557 chore: Remove ephemeral message from analytics
  src/script/calling/CallingRepository.ts
  src/script/tracking/Segmentation.ts
  src/script/view_model/CallingViewModel.ts
Labels: comp: calling, size: xs, type: chore 🧹

#9556 feat: Add telemetry data sharing preference
  package.json
  src/i18n/en-US.json
  src/page/template/content/preferences-account.htm
  src/script/main/app.ts
  src/script/properties/PropertiesRepository.ts
  src/script/properties/PropertiesType.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  yarn.lock
Labels: comp: preferences, size: m, type: feature / request ✨

#9559 runfix: Disable telemetry for non-team users
  src/page/template/content/preferences-account.htm
  src/script/properties/PropertiesRepository.ts
  src/script/tracking/EventTrackingRepository.ts
Labels: comp: preferences, size: s, type: bug / fix 🐞

#9561 refactor: Use Runtime from @wireapp/commons for feature detection
  package.json
  src/script/auth/Runtime.ts
  src/script/auth/component/UnsupportedBrowser.tsx
  src/script/auth/module/action/ClientAction.ts
  src/script/auth/module/action/RuntimeAction.ts
  src/script/auth/page/ConversationJoin.tsx
  src/script/auth/page/CreatePersonalAccount.tsx
  src/script/auth/page/CustomEnvironmentRedirect.tsx
  src/script/auth/page/Login.tsx
  src/script/auth/page/PhoneLogin.tsx
  src/script/auth/page/SetAccountType.tsx
  src/script/auth/page/SingleSignOnForm.tsx
  src/script/calling/CallingRepository.ts
  src/script/util/Environment.ts
  yarn.lock
Labels: comp: calling, size: l, type: refactoring 🛠

#9562 chore: Upgrade JSZip in WebWorker from 3.3.0 to 3.5.0
  src/script/assets/AssetRepository.ts
  src/script/view_model/content/HistoryImportViewModel.ts
  src/worker/jszip.min.js
Labels: size: s, type: chore 🧹

#9508 refactor: Use property initializer syntax in PanelViewModel
  src/script/view_model/PanelViewModel.ts
Labels: size: s, type: refactoring 🛠

#9565 fix: Do not set fetching state on internal logout (WEBAPP-7089)
  src/script/auth/module/reducer/authReducer.ts
Labels: size: xs, type: bug / fix 🐞

#9566 runfix: Use Node.js 13 compatible imports to execute release scripts
  tsconfig.json
Labels: size: xs, type: bug / fix 🐞

#9558 chore: More tracking values
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/tracking/Segmentation.ts
  src/script/view_model/CallingViewModel.ts
Labels: comp: calling, size: s, type: chore 🧹

#9567 chore: Add call duration to call ended event
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
Labels: comp: calling, size: xs, type: chore 🧹

#9568 refactor: Use Runtime instead of Environment where possible
  src/page/template/warning.htm
  src/script/assets/AssetRepository.ts
  src/script/auth/module/action/ClientAction.ts
  src/script/calling/CallingRepository.ts
  src/script/client/ClientRepository.ts
  src/script/main/SingleInstanceHandler.ts
  src/script/main/app.ts
  src/script/media/MediaDevicesHandler.ts
  src/script/media/MediaEmbeds.ts
  src/script/media/MediaStreamHandler.ts
  src/script/notification/NotificationRepository.ts
  src/script/team/TeamRepository.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/Helpers.ts
  src/script/ui/Shortcut.ts
  src/script/util/ClipboardUtil.ts
  src/script/util/Environment.ts
  src/script/util/KeyboardUtil.ts
  src/script/util/util.ts
  src/script/util/wrapper.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/WarningsViewModel.ts
  src/script/view_model/bindings/CommonBindings.js
  src/script/view_model/content/InviteModalViewModel.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  src/script/view_model/content/PreferencesOptionsViewModel.ts
  src/script/view_model/list/PreferencesListViewModel.ts
  test/unit_tests/client/ClientRepositorySpec.js
  test/unit_tests/notification/NotificationRepositorySpec.js
  test/unit_tests/ui/ShortcutSpec.js
Labels: comp: calling, size: m, type: refactoring 🛠

#9560 refactor: Migrate UserRepository to async/await and camelCase
  src/script/main/app.ts
  src/script/team/TeamRepository.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/user/UserRepository.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/WindowTitleViewModel.ts
  src/script/view_model/content/ConnectRequestsViewModel.ts
  src/script/view_model/content/GroupCreationViewModel.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/script/view_model/list/TakeoverViewModel.ts
  src/script/view_model/panel/AddParticipantsViewModel.ts
  test/unit_tests/user/UserRepositorySpec.js
  test/unit_tests/view_model/WindowTitleViewModelSpec.js
Labels: size: xl, type: refactoring 🛠

#9516 feat: Activate availability in TeamInfo for Wrapper >= 3.20
  src/script/team/TeamRepository.ts
Labels: size: xs, type: feature / request ✨

#9570 chore: Remove unused sw-toolbox
  src/worker/sw-toolbox.js
Labels: size: s, type: chore 🧹

#9572 runfix: Only get mentionElement when message has mentions
  src/script/view_model/content/MessageListViewModel.ts
Labels: size: xs, type: bug / fix 🐞

#9574 runfix: Use same version for events and about page (WEBAPP-7081)
  src/script/tracking/EventTrackingRepository.ts
Labels: size: s, type: bug / fix 🐞

#9571 refactor: Use TypeScript 4.0 and logical assignments
  package.json
  src/script/client/ClientRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/links/LinkPreviewProtoBuilder.ts
  src/script/util/wrapper.ts
  yarn.lock
Labels: size: m, type: refactoring 🛠

#9575 test: Check only total project coverage with Codecov
  codecov.yml
Labels: size: s, type: test 👷

#9578 fix: Release screen stream on video state change (WEBAPP-7092)
  src/script/calling/CallingRepository.ts
Labels: comp: calling, size: xs, type: bug / fix 🐞

#9580 refactor: Migrate DebugUtil to TypeScript
  src/script/storage/StorageService.ts
  src/script/util/DebugUtil.js
  src/script/util/DebugUtil.ts
Labels: size: xl, type: refactoring 🛠

#9512 refactor: Migrate CommonBindings to TypeScript
  src/script/view_model/bindings/CommonBindings.ts
Labels: size: m, type: chore 🧹

#9598 runfix: Add call maximum participants
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
Labels: comp: calling, size: s, type: bug / fix 🐞

#9551 refactor: Migrate EventService to TypeScript
  src/script/conversation/ConversationMapper.js
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventMapper.js
  src/script/event/EventRepository.js
  src/script/event/EventService.ts
  src/script/event/EventServiceNoCompound.ts
  src/script/storage/EventRecord.ts
  src/script/storage/StorageService.ts
  src/script/view_model/content/MessageListViewModel.ts
Labels: size: l, type: chore 🧹

#9599 runfix: Update events data names
  src/script/tracking/Segmentation.ts
  src/script/tracking/UserData.ts
Labels: size: s, type: bug / fix 🐞

#9581 runfix: Add Logarithmic Round to events data
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/entity/Conversation.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/util/NumberUtil.ts
  src/script/view_model/CallingViewModel.ts
  test/unit_tests/util/NumberUtilSpec.js
Labels: comp: calling, size: m, type: bug / fix 🐞

#9601 runfix: Use audio-video instead of file for contributed event action type
  src/script/conversation/ConversationRepository.ts
Labels: size: xs, type: bug / fix 🐞

#9600 runfix: Send call outgoing-incoming instead of call state
  src/script/calling/CallingRepository.ts
Labels: comp: calling, size: s, type: bug / fix 🐞

#9602 runfix: Add contributed delete message event
  src/script/conversation/ConversationRepository.ts
Labels: size: xs, type: bug / fix 🐞

#9603 runfix: Handle other file types for contributed event
  src/script/conversation/ConversationRepository.ts
Labels: size: xs, type: bug / fix 🐞

#9604 runfix: Check for analytics environment variable in preferences
  src/page/template/content/preferences-account.htm
  src/script/Config.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
Labels: size: xs, type: bug / fix 🐞

#9605 refactor: Migrate preprocessor to TypeScript
  src/script/entity/message/Message.ts
  src/script/event/EventService.ts
  src/script/event/preprocessor/QuotedMessageMiddleware.ts
  src/script/event/preprocessor/ReceiptsMiddleware.ts
  src/script/event/preprocessor/ServiceMiddleware.ts
  src/script/message/MessageCategorization.ts
  src/script/message/MessageHasher.ts
  src/script/storage/EventRecord.ts
  src/script/view_model/panel/MessageDetailsViewModel.ts
  test/unit_tests/event/EventServiceCommon.js
Labels: size: m, type: refactoring 🛠

#9606 runfix: Use exact constraints for QA fake cameras
  src/script/util/DebugUtil.ts
Labels: size: s, type: bug / fix 🐞

#9608 runfix: Set correct environment version (WEBAPP-7081)
  src/script/util/Environment.ts
Labels: size: s, type: bug / fix 🐞

#9609 chore: Update copies for reporting preferences
  src/i18n/de-DE.json
  src/i18n/en-US.json
  src/i18n/fr-FR.json
  src/i18n/ru-RU.json
Labels: size: l, type: chore 🧹

#9612 chore: Add SFW filter for release_tag
  bin/release_tag.ts
Labels: size: xs, type: chore 🧹

#9613 chore: update translations
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
Labels: size: m, type: chore 🧹

#9616 refactor: Remove unnecessary JSDoc and add private modifier
  bin/translations_upload.ts
  locations.js
  src/script/assets/AssetCrypto.ts
  src/script/assets/AssetMetaDataBuilder.ts
  src/script/calling/CallingRepository.ts
  src/script/client/ClientRepository.ts
  src/script/components/asset/controls/audioSeekBar.ts
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationEphemeralHandler.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationStateHandler.ts
  src/script/conversation/ConversationVerificationStateHandler.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/cryptography/CryptographyService.ts
  src/script/entity/Conversation.ts
  src/script/entity/User.ts
  src/script/event/NotificationService.ts
  src/script/main/app.ts
  src/script/media/MediaDevicesHandler.ts
  src/script/media/MediaEmbeds.ts
  src/script/media/MediaStreamHandler.ts
  src/script/properties/PropertiesService.ts
  src/script/search/SearchRepository.ts
  src/script/storage/StorageService.ts
  src/script/ui/Modal.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/ModalsViewModel.ts
  src/script/view_model/WarningsViewModel.ts
  src/script/view_model/content/CollectionViewModel.ts
  src/script/view_model/content/InputBarViewModel.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  src/script/view_model/content/PreferencesDeviceDetailsViewModel.ts
  src/script/view_model/content/TitleBarViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
  src/script/view_model/list/PreferencesListViewModel.ts
  src/script/view_model/panel/GroupParticipantServiceViewModel.ts
Labels: comp: calling, comp: preferences, size: m, type: refactoring 🛠

#9563 refactor: Remove redundant profile image worker
  src/script/assets/AssetRepository.ts
  src/worker/image-worker.js
  src/worker/profile-image-worker.js
Labels: size: s, type: refactoring 🛠

#9614 chore: Log error when unable to download translations
  bin/translations_download.ts
  package.json
  yarn.lock
Labels: size: s, type: chore 🧹

#9645 fix: Check for lowercase User-Agent (WEBAPP-7046)
  src/script/util/Environment.ts
Labels: size: xs, type: bug / fix 🐞

#9607 refactor: Migrate ConversationMapper to TypeScript
  src/script/conversation/ConversationMapper.js
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/entity/Conversation.ts
  test/unit_tests/conversation/ConversationMapperSpec.js
Labels: size: xxl, type: refactoring 🛠

#9647 refactor: Migrate EventMapper to Typescript
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventMapper.ts
  src/script/entity/message/CompositeMessage.ts
  src/script/entity/message/ContentMessage.ts
  src/script/entity/message/DecryptErrorMessage.ts
  src/script/entity/message/FileAsset.ts
  src/script/entity/message/LinkPreview.ts
  src/script/entity/message/MediumImage.ts
  src/script/entity/message/MemberMessage.ts
  src/script/entity/message/Message.ts
  src/script/entity/message/VerificationMessage.ts
  src/script/storage/EventRecord.ts
Labels: size: l, type: refactoring 🛠

#9648 runfix: Remove message deleted event
  src/script/conversation/ConversationRepository.ts
Labels: size: xs, type: chore 🧹

#9649 runfix: Send current sharing camera state instead of call initial type for call video event data
  src/script/calling/CallingRepository.ts
Labels: comp: calling, size: s, type: bug / fix 🐞

#9615 refactor: Remove version from HTML
  src/page/template/meta.htm
  src/script/main/app.ts
  src/script/util/Environment.ts
Labels: size: s, type: refactoring 🛠

#9653 runfix: 1:1 call does not stop ringing when declined (WEBAPP-7097)
  src/script/calling/CallingRepository.ts
Labels: comp: calling, size: xs, type: bug / fix 🐞

#9651 runfix: Add contributed event for starting new call
  src/script/calling/CallingRepository.ts
Labels: comp: calling, size: xs, type: bug / fix 🐞

#9655 runfix: Log error stack traces coming from AVS
  package.json
  src/script/calling/CallingRepository.ts
  yarn.lock
Labels: comp: calling, size: s, type: bug / fix 🐞

#9652 runfix: Remove is reply and number of mentions from contributed event
  src/script/conversation/ConversationRepository.ts
Labels: size: s, type: bug / fix 🐞

#9658 chore: Download translation action
  .github/workflows/download_translations.yml
Labels: comp: infrastructure, size: s, type: chore 🧹

#9659 feat: Add app open event
  src/script/tracking/EventName.ts
  src/script/tracking/EventTrackingRepository.ts
Labels: size: xs, type: feature / request ✨

#9660 chore: Test, Build & Deploy action
  .github/workflows/test_build_deploy.yml
  .travis.yml
  codecov.yml
  karma.conf.js
Labels: comp: infrastructure, size: xl, type: chore 🧹

#9685 chore: Extract linter workflow
  .github/workflows/lint.yml
  package.json
Labels: comp: infrastructure, size: s, type: chore 🧹

#9686 chore: Add Skip CI Action
  .github/workflows/download_translations.yml
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: s, type: chore 🧹

#9687 chore: Bump @wireapp/avs from 6.3.9 to 6.4.1
  package.json
  yarn.lock
Labels: size: s, type: chore 🧹

#9688 chore: Only notify AVS commit for wire distribution
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#9692 chore: Bump @wireapp/avs from 6.4.1 to 6.4.2
  package.json
  yarn.lock
Labels: size: s, type: chore 🧹

#9693 chore: Cancel previous translation update runs
  .github/workflows/download_translations.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#9694 chore: Bring back babel-plugin-react-intl
  babel.config.js
  package.json
  src/i18n/en-US.json
  yarn.lock
Labels: size: s, type: chore 🧹

#9695 chore: Use @formatjs/cli instead of babel-plugin-react-intl
  .github/workflows/sync_translations.yml
  babel.config.js
  bin/translations_extract_formatter.js
  bin/translations_normalize.ts
  crowdin.yaml
  package.json
  src/i18n/en-US.json
  src/script/strings.ts
  yarn.lock
Labels: comp: infrastructure, size: m, type: chore 🧹

#9697 chore: Extract .prettierignore
  .prettierignore
  package.json
Labels: size: s, type: chore 🧹

#9699 chore: merge `442829a` to master
  .github/workflows/download_translations.yml
  .github/workflows/lint.yml
  .github/workflows/test_build_deploy.yml
  .travis.yml
  codecov.yml
  karma.conf.js
  package.json
  server/Server.ts
  server/ServerConfig.ts
  server/config.ts
  server/package.json
  server/yarn.lock
  src/script/calling/CallingRepository.ts
  src/script/tracking/EventName.ts
  src/script/tracking/EventTrackingRepository.ts
  yarn.lock
Labels: comp: calling, comp: infrastructure, size: xxl, type: chore 🧹

#9650 refactor: Migrate CryptographyMapper to TypeScript
  src/script/conversation/ConversationRepository.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/legal-hold/LegalHoldEvaluator.test.ts
  src/script/storage/EventRecord.ts
Labels: size: m, type: refactoring 🛠

#9701 chore: Fix release configuration selection
  .copyconfigrc.js
Labels: size: s, type: chore 🧹

#9702 runfix: Return buttons directly when mapping composite messages
  src/script/cryptography/CryptographyMapper.ts
Labels: size: xs, type: bug / fix 🐞

#9703 refactor: Remove JSDoc and fix types in CryptographyMapper
  src/script/conversation/EventMapper.ts
  src/script/cryptography/CryptographyMapper.ts
Labels: size: m, type: refactoring 🛠

#9706 refactor: Fix and add missing types in CallingRepository
  src/script/calling/CallingRepository.ts
Labels: comp: calling, size: s, type: refactoring 🛠

#9708 refactor: Remove unused eslint restrictions
  bin/release_tag.ts
  src/script/conversation/ConversationRepository.ts
  src/script/time/serverTimeHandler.ts
  src/script/view_model/content/EmojiInputViewModel.ts
Labels: size: s, type: refactoring 🛠

#9735 chore: Forced config URL
  .copyconfigrc.js
  .env.localhost
Labels: size: s, type: chore 🧹

#9736 feat: Countly add team_id and round team size
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/UserData.ts
Labels: size: xs, type: feature / request ✨

#9738 runfix: Show warning for outdated clients on accepting call
  src/script/calling/CallingRepository.ts
  src/script/tracking/EventName.ts
Labels: comp: calling, size: s, type: bug / fix 🐞

#9707 refactor: Fix JSDoc
  src/script/Config.ts
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/selector/CookieSelector.ts
  src/script/calling/Call.ts
  src/script/client/ClientRepository.ts
  src/script/components/asset/controls/audioSeekBar.ts
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationCellState.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/entity/Conversation.ts
  src/script/entity/message/FileAsset.ts
  src/script/entity/message/Message.ts
  src/script/main/app.ts
  src/script/notification/NotificationRepository.ts
  src/script/time/serverTimeHandler.ts
  src/script/util/UrlUtil.ts
  src/script/util/util.ts
Labels: comp: calling, size: m, type: refactoring 🛠

#9705 feat: Leave call when a participant is changed to unverified (WEBAPP-7106)
  package.json
  src/i18n/en-US.json
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationVerificationStateHandler.ts
  yarn.lock
Labels: comp: calling, prio: high, size: s, type: feature / request ✨

#9740 chore: Update translations on `master`
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
Labels: size: m, type: chore 🧹

#9743 refactor: getNotifications stream handling
  src/script/event/EventRepository.js
  test/unit_tests/event/EventRepositorySpec.js
Labels: size: m, type: refactoring 🛠

#9745 chore: Fix manual translation download
  bin/translations_download.ts
  src/i18n/en-US.json
Labels: size: s, type: bug / fix 🐞

#9746 runfix: Unblock conversation events after empty stream update
  src/script/event/EventRepository.js
Labels: size: xs, type: bug / fix 🐞

#9744 chore: Fix changelog generation in CI
  package.json
Labels: size: xs, type: chore 🧹

#9747 test: Log countly custom user data
  src/script/tracking/EventTrackingRepository.ts
Labels: size: s, type: test 👷

#9750 runfix: Drop the call when a participant is not verified anymore (WEBAPP-7106)
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationVerificationStateHandler.ts
  src/script/notification/PreferenceNotificationRepository.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  test/unit_tests/calling/CallingRepositorySpec.js
Labels: comp: calling, size: m, type: bug / fix 🐞

#9753 feat: Remove beta program toggle (WEBAPP-7110)
  package.json
  src/page/template/content/preferences-av.htm
  src/script/auth/route.ts
  src/script/calling/CallingRepository.ts
  src/script/properties/PropertiesRepository.ts
  src/script/properties/PropertiesType.ts
  src/script/view_model/content/PreferencesAVViewModel.ts
  yarn.lock
Labels: comp: calling, comp: preferences, size: s, type: feature / request ✨

#9754 feat: Remove conference calling banner (WEBAPP-7111)
  src/page/template/content/conversation/title-bar.htm
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
  src/script/components/list/conversationListCallingCell.ts
  src/script/view_model/content/TitleBarViewModel.ts
  src/style/components/list/conversation-list-calling-cell.less
Labels: comp: calling, size: s

#9749 refactor: Migrate EventRepository to Typescript
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationVerificationStateHandler.ts
  src/script/event/EventRepository.ts
  src/script/event/WebSocketService.ts
  src/script/storage/EventRecord.ts
  src/script/util/DebugUtil.ts
  src/script/view_model/content/InputBarViewModel.ts
  test/unit_tests/event/EventRepositorySpec.js
Labels: comp: calling, size: l, type: refactoring 🛠
