Repository wireapp/wire-webapp, pull requests merged in 2020-12, with the labels that each got.

#10093 refactor: Await client updates of user entities
  src/script/broadcast/BroadcastRepository.ts
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/MessageRepository.ts
Labels: size: m, type: refactoring 🛠

#10095 refactor: Migrate DeviceToggleButton to React
  src/script/components/calling/DeviceToggleButton.tsx
  src/script/components/calling/deviceToggleButton.test.ts
  src/script/components/calling/deviceToggleButton.ts
  src/script/components/calling/fullscreenVideoCall.ts
  src/style/components/calling/device-toggle-button.less
Labels: size: m, type: refactoring 🛠

#10094 feat: Implement active speakers
  package.json
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/ParticipantMicOnIcon.tsx
  src/script/components/list/participantItem.ts
  src/style/components/group-video-grid.less
  src/style/components/list/participant-item.less
  yarn.lock
Labels: comp: calling, size: l, type: feature / request ✨

#10096 refactor: Remove default boolean states for legal hold checks (SQCORE-239)
  src/script/calling/CallingRepository.ts
  src/script/conversation/MessageRepository.ts
Labels: comp: calling, size: s, type: refactoring 🛠

#10097 refactor: Migrate FullscreenVideoCall to React
  src/page/template/wire-main.htm
  src/script/components/calling/DeviceToggleButton.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/fullscreenVideoCall.test.ts
  src/script/components/calling/fullscreenVideoCall.ts
  src/script/components/list/conversationListCallingCell.ts
  src/script/hooks/useHideElement.ts
  src/script/util/test/TestPage.tsx
  src/style/components/calling/device-toggle-button.less
  src/style/components/group-video-grid.less
  src/style/foundation/main.less
  src/style/foundation/video-calling.less
Labels: size: xl, type: refactoring 🛠

#10098 fix: Prevent deviceID migration for non-team users & add app version
  src/script/tracking/EventTrackingRepository.ts
Labels: size: xs, type: bug / fix 🐞

#10100 refactor: Migrate verification state handler tests to TypeScript
  package.json
  src/script/conversation/ConversationVerificationStateHandler.test.ts
  test/unit_tests/components/asset/controls/mediaButtonSpec.js
Labels: size: s, type: refactoring 🛠

#10101 bump @wireapp/avs from 6.4.19 to 6.6.9
  package.json
  yarn.lock
Labels: size: s

#10103 chore: Adjust username input description
  src/script/strings.ts
Labels: size: xs, type: chore 🧹

#10104 refactor: Migrate message repository tests to TypeScript
  package.json
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  test/helper/UserGenerator.ts
  yarn.lock
Labels: size: s, type: refactoring 🛠

#10105 docs: Update translation workflow
  README.md
Labels: size: s, type: documentation 📋

#10107 refactor: Remove unused return value from grant request
  src/script/backup/BackupRepository.ts
  src/script/calling/CallingRepository.ts
  src/script/components/message.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
  src/script/legal-hold/LegalHoldWarning.ts
  src/script/storage/ConversationRecord.ts
  src/script/user/UserRepository.ts
  src/script/view_model/content/LegalHoldModalViewModel.ts
  test/unit_tests/conversation/ConversationRepositorySpec.js
Labels: comp: calling, size: m, type: refactoring 🛠

#10106 refactor: Extract duration timer to separate component
  src/script/components/calling/Duration.test.ts
  src/script/components/calling/Duration.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/util/test/TestPage.tsx
Labels: size: m, type: refactoring 🛠

#10132 chore(deps): Update @wireapp/core
  package.json
  yarn.lock
Labels: size: m, type: chore 🧹

#9976 chore: Setup daily code scanning alerts at 10 AM UTC
  .github/workflows/codeql-analysis.yml
Labels: comp: infrastructure, size: s, type: chore 🧹

#10130 refactor: Throttle onMouseMove in useHideElement
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/hooks/useHideElement.ts
  src/script/util/util.ts
Labels: size: s, type: refactoring 🛠

#10134 runfix: Fetch users if incoming message has no user IDs set
  src/script/conversation/MessageRepository.ts
Labels: size: xs, type: bug / fix 🐞

#10128 feat: Only show animation for top active speaker
  package.json
  src/script/calling/Call.ts
  src/script/calling/Participant.ts
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/ParticipantMicOnIcon.tsx
  src/script/components/list/participantItem.ts
  yarn.lock
Labels: comp: calling, size: s, type: feature / request ✨

#10136 refactor: Omit unsed group-list knockout component
  src/script/components/groupList.ts
  src/style/components/group-list.less
  src/style/foundation/main.less
  src/style/list/start-ui.less
Labels: size: s, type: refactoring 🛠

#10146 docs: Generate release notes from dev branch
  .github/workflows/test_build_deploy.yml
  README.md
  bin/changelog.ts
  package.json
Labels: comp: infrastructure, size: s, type: documentation 📋

#10167 chore: Use webpack loader options
  webpack.config.common.js
Labels: size: xs, type: chore 🧹

#10150 chore: Update README with production build steps
  README.md
Labels: size: s, type: chore 🧹

#10169 refactor: Move all svgs to Icon component
  src/script/components/NamedIcon.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/participantAvatar/ServiceAvatar.tsx
Labels: size: s, type: refactoring 🛠

#10179 refactor: Migrate AvailabilityState to React
  src/script/components/AvailabilityState.test.tsx
  src/script/components/AvailabilityState.tsx
  src/script/components/NamedIcon.tsx
  src/script/components/availabilityState.ts
  src/script/components/list/conversationListCell.ts
  src/script/components/list/participantItem.ts
  src/script/components/panel/userDetails.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
  src/style/components/availability-state.less
  src/style/list/list.less
Labels: size: l, type: refactoring 🛠

#10137 refactor: Migrate GroupAvatar to React
  src/script/components/list/GroupAvatar.test.ts
  src/script/components/list/GroupAvatar.tsx
  src/script/components/list/conversationListCallingCell.ts
  src/script/components/list/groupAvatar.ts
  src/style/components/list/conversation-list-calling-cell.less
  src/style/foundation/main.less
  src/style/list/group-avatar.less
Labels: size: m, type: refactoring 🛠

#10180 fix: Calculate rows and columns on participants length change
  src/script/components/calling/GroupVideoGrid.tsx
Labels: size: xs, type: bug / fix 🐞

#10181 feat: Add ButtonGroup react component
  src/script/components/ButtonGroup.test.tsx
  src/script/components/ButtonGroup.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: size: m, type: feature / request ✨

#10182 feat: Add active speakers view
  src/page/template/list/conversations.htm
  src/page/template/list/temporary-guest.htm
  src/page/template/wire-main.htm
  src/script/calling/Call.ts
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/list/conversationListCallingCell.ts
  src/script/view_model/CallingViewModel.ts
Labels: comp: calling, size: s, type: feature / request ✨

#10203 refactor: Add murmurhash library
  package.json
  src/script/client/ClientRepository.ts
  src/script/util/util.ts
  yarn.lock
Labels: size: s, type: refactoring 🛠

#10204 fix(server): Add date to request only if the value exists
  server/package.json
  server/routes/error/ErrorRoutes.ts
Labels: size: xs, type: bug / fix 🐞
