Repository wireapp/wire-webapp, pull requests merged in 2020-11, with the labels that each got.

#9940 runfix: Report cryptography errors as numbers (SQCORE-27)
  src/script/conversation/EventBuilder.ts
  src/script/cryptography/CryptographyRepository.ts
Labels: size: s, type: bug / fix 🐞

#9912 fix: Only new messages that are images are added to the detail view
  src/script/view_model/ImageDetailViewViewModel.ts
Labels: size: xs, type: bug / fix 🐞

#9960 chore: Update @wireapp/protocol-messaging
  package.json
  yarn.lock
Labels: size: s, type: chore 🧹

#9962 chore: Bump @wireapp/avs from 6.4.14 to 6.4.16
  package.json
  yarn.lock
Labels: size: s, type: chore 🧹

#9970 fix: Add SHA to Docker image tags for Quay.io
  bin/push_docker.js
Labels: size: xs, type: bug / fix 🐞

#9971 feat: Remove fill-mode change on double click on a call participant video
  src/script/calling/Participant.ts
  src/script/components/groupVideoGrid.ts
Labels: comp: calling, size: s, type: refactoring 🛠

#9972 feat: Add check for countly id being sent at least once
  src/script/tracking/EventTrackingRepository.ts
Labels: size: s, type: feature / request ✨

#9973 chore: Increment npm package version on production releases
  bin/release_tag.ts
Labels: size: s, type: chore 🧹

#9974 chore: Bump @wireapp/avs from 6.4.16 to 6.4.19
  package.json
  yarn.lock
Labels: size: s

#9996 runfix: Don't show empty page after connection request (SQCORE-143)
  src/script/components/panel/userActions.ts
Labels: size: xs, type: bug / fix 🐞

#9997 feat: Show one to one call ui for any type of call with two participants
  src/script/calling/videoGridHandler.ts
  test/unit_tests/calling/videoGridHandlerSpec.js
Labels: comp: calling, size: s, type: feature / request ✨

#9999 refactor: Add user action typings
  src/script/components/panel/userActions.ts
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/entity/Conversation.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/content/UserModalViewModel.ts
Labels: size: l, type: refactoring 🛠

#10012 feat: Only show one to one call ui when there are total two participants
  src/script/calling/videoGridHandler.ts
Labels: comp: calling, size: s, type: feature / request ✨

#9998 feat: Maximize participant video on double click
  src/script/components/groupVideoGrid.ts
Labels: size: s, type: feature / request ✨

#10013 runfix: Don't duplicate connection requests
  src/script/connection/ConnectionRepository.ts
  src/script/user/UserRepository.ts
Labels: size: s, type: bug / fix 🐞

#10015 runfix: Await connection mapping
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationState.ts
  src/script/main/app.ts
Labels: size: s, type: bug / fix 🐞

#10019 runfix: Don't duplicate connection requests
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationState.ts
  src/script/event/EventRepository.ts
  src/script/event/preprocessor/ServiceMiddleware.ts
  src/script/main/app.ts
  src/script/user/UserRepository.ts
  src/script/view_model/content/PreferencesAboutViewModel.ts
Labels: size: s, type: bug / fix 🐞

#10020 fix: Only show participants with sharing video in call ui (SQCALL-33)
  src/script/calling/videoGridHandler.ts
Labels: comp: calling, size: xs, type: bug / fix 🐞

#10022 runfix: Await connection mapping
  src/script/backup/BackupRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/main/app.ts
  test/unit_tests/backup/BackupRepositorySpec.js
Labels: size: s, type: bug / fix 🐞

#10023 feat: Always use contain for a maximized participant video
  src/script/components/groupVideoGrid.ts
Labels: size: xs, type: feature / request ✨

#10026 refactor: Control show conversation with user action
  src/script/components/panel/userActions.ts
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/view_model/ActionsViewModel.ts
Labels: size: s, type: refactoring 🛠

#10054 chore: Use GH env to extract PR TITLE
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#10061 refactor: De-duplicate connection requests
  src/script/backup/BackupRepository.ts
  src/script/connection/ConnectionRepository.ts
  src/script/main/app.ts
  test/unit_tests/connection/ConnectionRepositorySpec.js
  test/unit_tests/conversation/ConversationRepositorySpec.js
Labels: size: m, type: refactoring 🛠

#10025 refactor: Migrate GroupVideoGrid to React
  src/script/calling/videoGridHandler.ts
  src/script/components/calling/GroupVideoGrid.test.tsx
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/Video.tsx
  src/script/components/groupVideoGrid.ts
  src/script/components/list/conversationListCallingCell.ts
  src/script/util/test/TestPage.tsx
  src/style/components/group-video-grid.less
Labels: comp: calling, size: xl, type: refactoring 🛠
