Repository wireapp/wire-webapp, pull requests merged in 2021-07, with the labels that each got.

#11354 runfix: Don't interrupt loading of avatar image
  src/script/components/avatar/AvatarImage.tsx
Labels: size: xs, type: bug / fix 🐞

#11369 chore: Hide pagination and audio tiles
  src/script/calling/Call.ts
  src/script/calling/videoGridHandler.ts
  test/unit_tests/calling/videoGridHandlerSpec.js
Labels: comp: calling, size: s, type: chore 🧹

#11373 feat: Show modal when sending a message and legalhold consent is missing (SQSERVICES-527)
  src/i18n/en-US.json
  src/script/conversation/MessageRepository.ts
Labels: size: s, type: feature / request ✨

#11374 chore: Revert to @wireapp/avs 7.1.6
  package.json
  src/script/calling/CallingRepository.ts
  src/script/calling/videoGridHandler.ts
  yarn.lock
Labels: comp: calling, size: s, type: chore 🧹

#11381 runfix: Rerender video grid on participants video state change
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/list/ConversationListCallingCell.tsx
Labels: size: s, type: bug / fix 🐞

#11382 runfix: Check participants not being undefined in for calculating video grid
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/list/ConversationListCallingCell.tsx
Labels: size: xs, type: bug / fix 🐞

#11383 runfix: Don't refresh page when pressing "Enter" key in search (SQCORE-804)
  src/script/auth/component/AccountForm.tsx
  src/script/auth/page/HistoryInfo.tsx
  src/script/components/UserInput.tsx
  src/script/view_model/content/LegalHoldModalViewModel.ts
Labels: size: s, type: bug / fix 🐞

#11336 chore: Base tag information on script input rather than branch name
  bin/push_docker.js
Labels: size: s, type: chore 🧹

#11433 runfix: Show call button in group conversations (SQCORE-808)
  package.json
  src/script/conversation/ConversationRepository.ts
  src/script/entity/Conversation.ts
  src/script/view_model/content/TitleBarViewModel.ts
  yarn.lock
Labels: size: m, type: bug / fix 🐞

#11435 runfix: Check if conversation exists before checking federation (SQCORE-812)
  src/script/view_model/content/InputBarViewModel.ts
  src/script/view_model/panel/GroupParticipantUserViewModel.ts
Labels: size: xs, type: bug / fix 🐞

#11434 runfix: Update federated user by ID
  src/script/components/panel/UserDetails.tsx
  src/script/entity/User.ts
  src/script/user/UserRepository.ts
Labels: size: s, type: bug / fix 🐞

#11438 fix: Extract screen sharing state to callState (SQCALL-353)
  src/script/calling/CallState.ts
  src/script/calling/CallingRepository.ts
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/ChooseScreen.tsx
  src/script/view_model/CallingViewModel.ts
Labels: comp: calling, size: s, type: bug / fix 🐞

#11442 chore: Revert to @wireapp/avs 7.1.6
  .github/dependabot.yml
  package.json
  yarn.lock
Labels: comp: infrastructure, size: s, type: chore 🧹

#11458 runfix: Reset dev to state from staging
  app-config/package.json
  bin/release_tag.ts
  electron/package.json
  electron/yarn.lock
  package.json
  server/package.json
  server/yarn.lock
  src/page/template/list/conversations.htm
  src/script/components/avatar/GroupAvatar.tsx
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/components/list/groupedConversations.ts
  src/script/components/panel/UserDetails.tsx
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationRoleRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/ConversationState.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/cryptography/CryptographyService.ts
  src/script/entity/Conversation.ts
  src/script/entity/User.ts
  src/script/event/EventRepositorySpec.ts
  src/script/main/app.ts
  src/script/page/start-ui/GroupList.tsx
  src/script/page/start-ui/TopPeople.tsx
  src/script/page/start-ui/groupList/GroupListItem.tsx
  src/script/router/routeGenerator.ts
  src/script/storage/SQLeetSchemata.ts
  src/script/storage/StorageService.ts
  src/script/storage/record/ConversationRecord.ts
  src/script/user/UserRepository.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/InputBarViewModel.ts
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/panel/GroupParticipantUserViewModel.ts
  test/unit_tests/cryptography/CryptographyRepositorySpec.js
  webpack.config.common.js
  yarn.lock
Labels: size: xxl, type: bug / fix 🐞

#11384 refactor: Handle feature update events
  package.json
  src/script/cryptography/CryptographyRepository.ts
  src/script/event/EventRepository.ts
  src/script/event/EventRepositorySpec.ts
  src/script/event/EventType.ts
  src/script/team/TeamRepository.ts
  src/script/team/TeamState.ts
  test/unit_tests/team/TeamRepositorySpec.js
  yarn.lock
Labels: size: m, type: refactoring 🛠

#11385 feat: Add client feature flag for rendering media embeds (SQSERVICES-620)
  server/ServerConfig.ts
  server/config.ts
  src/script/main/globals.ts
  src/script/media/MediaEmbeds.test.ts
  src/script/media/MediaParser.ts
Labels: size: l, type: feature / request ✨

#11437 feat: Add client feature flag to enforce constant bitrate encoding in calls (SQSERVICES-621)
  server/ServerConfig.ts
  server/config.ts
  src/page/template/content/preferences-av.htm
  src/script/calling/Call.ts
  src/script/calling/CallState.ts
  src/script/calling/CallingRepository.ts
  src/script/main/globals.ts
  src/script/view_model/content/PreferencesAVViewModel.ts
Labels: comp: calling, size: s, type: feature / request ✨

#11432 chore: Adjust full public conversation error message
  src/script/auth/page/ConversationJoin.tsx
  src/script/strings.ts
Labels: size: s, type: chore 🧹

#11463 chore: Update @wireapp/core to 17.10.8
  bin/release_tag.ts
  package.json
  yarn.lock
Labels: size: m, type: chore 🧹

#11457 feat: Handle feature config update modals
  src/i18n/en-US.json
  src/script/team/TeamRepository.ts
Labels: size: s, type: feature / request ✨

#11465 fix: Show connection request icon only for outgoing requests (SQCORE-348)
  src/script/conversation/ConversationCellState.ts
Labels: size: xs, type: bug / fix 🐞

#11467 chore: Enable GH auto-merge for dependabot PRs
  .github/auto-merge.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/merge-dependencies.yml
Labels: comp: infrastructure, size: s, type: chore 🧹

#11464 feat: Prevent sending files based on feature config (SQSERVICES-614)
  src/page/template/content/conversation/input-bar.htm
  src/script/team/TeamState.ts
  src/script/view_model/content/InputBarViewModel.ts
Labels: size: s, type: feature / request ✨

#11470 runfix: Handle multi-user feature config state comparison
  src/script/team/TeamRepository.ts
Labels: size: s, type: bug / fix 🐞

#11471 feat: Handle file sharing feature config update modal
  src/i18n/en-US.json
  src/script/team/TeamRepository.ts
Labels: size: s, type: feature / request ✨

#11472 runfix: Disconnect UI from file sharing feature config state
  src/script/team/TeamState.ts
Labels: size: xs, type: bug / fix 🐞

#11513 chore: Allow minor and patch dependabot updates
  .github/workflows/dependabot-auto-merge.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#11515 runfix: Render modal HTML message for file sharing feature config updates
  src/script/team/TeamRepository.ts
  src/style/common/modal.less
Labels: size: s, type: bug / fix 🐞

#11514 runfix: Remove redundant useMemo
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/list/ConversationListCallingCell.tsx
Labels: size: s, type: bug / fix 🐞

#11443 feat: Restrict video calling capabilities based on feature config (SQSERVICES-566)
  src/page/template/content/conversation/title-bar.htm
  src/script/calling/CallingRepository.ts
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/team/TeamState.ts
  src/script/view_model/content/TitleBarViewModel.ts
Labels: comp: calling, size: s, type: feature / request ✨

#11518 runfix: Update grid on incoming call
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/list/ConversationListCallingCell.tsx
Labels: size: s, type: bug / fix 🐞

#11468 feat: Prevent receiving files & images based on feature config (SQSERVICES-614)
  src/i18n/en-US.json
  src/script/components/Image.tsx
  src/script/components/asset/FileAssetComponent.test.tsx
  src/script/components/asset/FileAssetComponent.tsx
  src/script/components/asset/imageAsset.ts
  src/script/components/message.ts
  src/script/team/TeamRepository.ts
  src/script/team/TeamState.ts
  src/style/components/image.less
Labels: size: m, type: feature / request ✨

#11519 refactor: Migrate conversation-cell to react
  src/script/components/avatar/GroupAvatar.tsx
  src/script/components/list/ConversationListCell.tsx
  src/script/components/list/conversationListCell.ts
  src/script/conversation/ConversationCellState.ts
  src/script/main/globals.ts
  src/script/ui/viewportObserver.ts
  src/script/util/ComponentUtil.ts
Labels: size: l, type: refactoring 🛠

#11520 runfix: Reactivity in ConversationCell
  src/script/components/list/ConversationListCell.tsx
Labels: size: xs, type: bug / fix 🐞

#11523 runfix: Handle ConversationCell clicks properly
  src/page/template/list/archive.htm
  src/page/template/list/conversations.htm
  src/script/components/Image.tsx
  src/script/components/list/ConversationListCell.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/list/groupedConversations.ts
  src/script/ui/viewportObserver.ts
  src/script/view_model/list/ConversationListViewModel.ts
Labels: size: s, type: bug / fix 🐞

#11527 runfix: Do not handle audio/video message config update
  src/i18n/en-US.json
  src/script/team/TeamRepository.ts
Labels: size: s, type: bug / fix 🐞

#11528 feat: Prevent sending gifs based on feature config (SQSERVICES-614)
  src/page/template/content/conversation/input-bar.htm
Labels: size: s, type: feature / request ✨

#11526 feat: Prevent receiving audio messages based on feature config (SQSERVICES-614)
  src/i18n/en-US.json
  src/script/components/asset/RestrictedAudio.tsx
  src/script/components/asset/audioAsset.ts
  src/script/components/message.ts
  src/style/components/asset/audio-asset.less
Labels: size: m, type: feature / request ✨

#11529 fix: Update conversation type on outgoing connection request accept (SQCORE-805)
  src/script/conversation/ConversationRepository.ts
Labels: size: xs, type: bug / fix 🐞

#11530 feat: Show info modal when sending file via drag & drop or clipboard when feature is disabled (SQSERVICES-614)
  src/i18n/en-US.json
  src/script/view_model/content/InputBarViewModel.ts
Labels: size: s, type: feature / request ✨

#11522 feat: Prevent receiving videos based on feature config (SQSERVICES-614)
  src/script/components/asset/FileAssetComponent.tsx
  src/script/components/asset/RestrictedFile.tsx
  src/script/components/asset/videoAsset.ts
  src/script/components/message.ts
  src/style/components/asset/video-asset.less
Labels: size: m, type: feature / request ✨

#11521 runfix: Handle restricted image quotes (SQSERVICES-614)
  src/i18n/en-US.json
  src/page/template/content/conversation/input-bar.htm
  src/script/components/Image.tsx
  src/script/components/asset/RestrictedImage.tsx
  src/script/components/asset/imageAsset.ts
  src/script/components/message.ts
  src/script/components/message/messageQuote.ts
  src/style/components/image.less
  src/style/content/conversation/message-quote.less
Labels: size: m, type: bug / fix 🐞

#11531 test: Add date-uie to calling pagination markup
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/Pagination.tsx
Labels: size: xs, type: test 👷

#11542 runfix: Handle quoted image click
  src/script/components/Image.tsx
  src/script/components/message/messageQuote.ts
Labels: size: s, type: bug / fix 🐞

#11547 chore: Log team ID of users
  src/script/team/TeamMapper.ts
  src/script/ui/AvailabilityContextMenu.ts
  src/script/user/UserRepository.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
Labels: size: s, type: chore 🧹

#11544 refactor: Migrate ImageAsset to React #11543
  src/script/components/asset/AbstractAssetTransferStateTracker.ts
  src/script/components/asset/AssetLoader.tsx
  src/script/components/asset/ImageAsset.test.ts
  src/script/components/asset/ImageAsset.tsx
  src/script/components/asset/imageAsset.ts
  src/script/components/message.ts
  src/script/util/util.ts
  src/style/content/conversation/message-list.less
  test/unit_tests/components/asset/imageAssetSpec.js
Labels: size: xl, type: refactoring 🛠

#11353 refactor: Migrate ContextMenu to React
  src/script/components/message.ts
  src/script/page/message-list/MessageTimerButton.test.ts
  src/script/page/message-list/MessageTimerButton.tsx
  src/script/ui/AvailabilityContextMenu.ts
  src/script/ui/ContextMenu.ts
  src/script/ui/ContextMenu.tsx
  src/script/ui/LabelContextMenu.ts
  src/script/view_model/ListViewModel.ts
  src/style/common/context.less
Labels: size: l, type: refactoring 🛠

#11558 refactor: Migrate video-asset to React
  src/script/components/asset/VideoAsset.tsx
  src/script/components/asset/audioAsset.ts
  src/script/components/asset/controls/MediaButton.test.tsx
  src/script/components/asset/controls/MediaButton.tsx
  src/script/components/asset/controls/SeekBar.test.tsx
  src/script/components/asset/controls/SeekBar.tsx
  src/script/components/asset/videoAsset.ts
  src/script/components/message.ts
  src/style/components/asset/video-asset.less
  src/style/content/conversation/message-quote.less
Labels: size: xl, type: refactoring 🛠

#11565 test: Isolate MessageRepository tests
  src/script/conversation/MessageRepository.test.ts
Labels: size: l, type: test 👷

#11566 feat: Placeholder for restricted video assets (SQSERVICES-677)
  src/script/components/asset/RestrictedVideo.tsx
  src/script/components/asset/VideoAsset.tsx
  src/script/components/message.ts
  src/style/components/asset/video-asset.less
  src/style/components/image.less
  src/style/content/conversation/message-quote.less
Labels: size: m, type: feature / request ✨

#11466 feat(services): Handle conference calling feature config update modal (SQSERVICES-562)
  server/ServerConfig.ts
  server/config.ts
  src/i18n/en-US.json
  src/script/Config.ts
  src/script/main/globals.ts
  src/script/team/TeamRepository.ts
  src/style/common/modal.less
Labels: size: s, type: feature / request ✨

#11564 refactor(services): Use team-agnostic feature config endpoint
  package.json
  src/script/team/TeamRepository.ts
  src/script/team/TeamService.ts
  test/helper/TestFactory.js
  yarn.lock
Labels: size: s, type: refactoring 🛠

#11517 feat(core): Access federated user profiles by URL (SQCORE-827)
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/ConversationLabelRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventMapper.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/entity/User.ts
  src/script/entity/message/Message.ts
  src/script/main/app.ts
  src/script/message/MentionEntity.ts
  src/script/team/TeamRepository.ts
  src/script/user/UserFilter.ts
  src/script/user/UserRepository.ts
  src/script/user/UserService.ts
  src/script/util/DebugUtil.ts
  src/script/util/TypePredicateUtil.ts
  src/script/util/messageRenderer.ts
  src/script/view_model/content/InputBarViewModel.ts
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/content/UserModalViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  test/unit_tests/user/UserRepositorySpec.js
Labels: size: m, type: feature / request ✨

#11568 refactor: Cleanup FileAsset
  src/script/components/asset/AbstractAssetTransferStateTracker.ts
  src/script/components/asset/FileAssetComponent.tsx
  src/script/components/asset/ImageAsset.tsx
  src/script/components/asset/RestrictedFile.tsx
  src/style/components/asset/file-asset.less
  src/style/content/conversation/message-list.less
Labels: size: m, type: refactoring 🛠

#11570 feat(services): Prevent conference calls based on feature config (SQSERVICES-562)
  src/i18n/en-US.json
  src/script/view_model/CallingViewModel.ts
Labels: size: s, type: feature / request ✨

#11569 feat(core): Send messages with core
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyRepository.ts
Labels: size: s, type: feature / request ✨

#11572 runfix(services): Use template binding for FileAsset
  src/script/components/asset/FileAssetComponent.tsx
Labels: size: xs, type: bug / fix 🐞

#11573 runfix: Bind right context to startVideo
  src/script/view_model/CallingViewModel.ts
Labels: size: xs, type: bug / fix 🐞

#11574 runfix(services): Uppercase file asset restricted message
  src/script/components/asset/RestrictedFile.tsx
Labels: size: xs, type: bug / fix 🐞

#11575 runfix(services): Dimmed video placeholder play button
  src/style/components/asset/video-asset.less
Labels: size: xs, type: bug / fix 🐞

#11576 feat(services): Input bar reply video thumbnail
  src/page/template/content/conversation/input-bar.htm
  src/script/components/asset/RestrictedVideo.tsx
  src/style/components/asset/video-asset.less
  src/style/content/conversation/input-bar.less
Labels: size: s, type: feature / request ✨

#11577 refactor: Migrate audio-asset to react
  src/page/template/content/collection-details.htm
  src/page/template/content/collection.htm
  src/script/components/asset/AssetHeader.tsx
  src/script/components/asset/AudioAsset.tsx
  src/script/components/asset/RestrictedAudio.tsx
  src/script/components/asset/audioAsset.ts
  src/script/components/asset/controls/AudioSeekBar.tsx
  src/script/components/asset/controls/MediaButton.tsx
  src/script/components/asset/controls/SeekBar.tsx
  src/script/components/message.ts
  src/script/components/message/messageQuote.ts
  src/style/components/asset/audio-asset.less
  src/style/components/asset/controls/audio-seek-bar.less
Labels: size: l, type: refactoring 🛠

#11578 chore: Asset components cleanup
  src/script/components/asset/FileAssetComponent.tsx
  src/script/components/asset/LocationAsset.tsx
  src/script/components/asset/VideoAsset.tsx
Labels: size: s, type: chore 🧹

#11579 runfix(core): Send correct qualified data to backend after member removal (SQCORE-828)
  src/script/team/TeamRepository.ts
  src/script/user/UserRepository.ts
  src/script/util/TypePredicateUtil.ts
Labels: size: s, type: bug / fix 🐞

#11581 refactor: Remove unused class AbstractAssetTransferStateTracker
  src/script/components/asset/AbstractAssetTransferStateTracker.ts
Labels: size: s, type: refactoring 🛠

#11582 runfix: Unwrap AudioAsset message
  src/script/components/asset/AudioAsset.tsx
Labels: size: xs, type: bug / fix 🐞

#11585 runfix: Handle undefined mediaElement in SeekBar
  src/script/components/asset/controls/SeekBar.tsx
Labels: size: xs, type: bug / fix 🐞

#11586 fix(services): File asset size information (SQSERVICES-678)
  src/script/components/asset/FileAssetComponent.test.tsx
  src/script/components/asset/FileAssetComponent.tsx
  src/script/util/util.ts
  test/unit_tests/util/UtilSpec.js
Labels: size: s, type: bug / fix 🐞

#11587 feat(core): Access federated conversations by URL
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationRoleRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/ConversationState.ts
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
  src/script/main/app.ts
  src/script/storage/record/ConversationRecord.ts
  src/script/util/TypePredicateUtil.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/LegalHoldModalViewModel.ts
  test/unit_tests/conversation/ConversationRepositorySpec.js
Labels: size: m, type: feature / request ✨

#11589 refactor: Remove generic keys from Conversation
  src/script/conversation/ConversationEphemeralHandler.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/entity/Conversation.ts
Labels: size: s, type: refactoring 🛠

#11588 refactor: SeekBar data-uie attribute
  src/script/components/asset/AudioAsset.tsx
  src/script/components/asset/controls/AudioSeekBar.tsx
  src/script/components/asset/controls/SeekBar.tsx
Labels: size: s, type: chore 🧹

#11592 Revert "feat(core): Access federated conversations by URL"
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationRoleRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/ConversationState.ts
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
  src/script/main/app.ts
  src/script/storage/record/ConversationRecord.ts
  src/script/util/TypePredicateUtil.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/LegalHoldModalViewModel.ts
  test/unit_tests/conversation/ConversationRepositorySpec.js
Labels: size: m

#11591 refactor: Enforce domain on user entities
  src/script/client/ClientRepository.test.ts
  src/script/components/Avatar.test.tsx
  src/script/components/UserInput.test.tsx
  src/script/components/asset/AssetHeader.test.tsx
  src/script/components/avatar/AvatarImage.test.tsx
  src/script/components/avatar/GroupAvatar.test.ts
  src/script/components/avatar/TemporaryGuest.test.tsx
  src/script/components/avatar/UserAvatar.test.tsx
  src/script/components/calling/GroupVideoGrid.test.ts
  src/script/components/calling/fullscreenVideoCall.test.ts
  src/script/components/list/ConversationListCallingCell.test.ts
  src/script/components/message/DeleteMessage.test.tsx
  src/script/components/message/MemberMessage.test.tsx
  src/script/components/panel/EnrichedFields.test.ts
  src/script/components/panel/UserActions.test.ts
  src/script/components/panel/UserDetails.test.ts
  src/script/conversation/ConversationRoleRepository.test.ts
  src/script/conversation/ConversationVerificationStateHandler.test.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/entity/User.ts
  src/script/entity/message/MemberMessage.ts
  src/script/entity/message/Message.ts
  src/script/media/MediaConstraintsHandler.test.ts
  src/script/page/start-ui/GroupList.test.tsx
  src/script/user/UserMapper.ts
  src/script/user/UserRepository.ts
  test/helper/TestFactory.js
Labels: size: m, type: refactoring 🛠

#11593 feat: Disable media buttons in federated conversations
  src/page/template/content/conversation/input-bar.htm
  src/script/components/message.ts
  src/script/page/message-list/MessageTimerButton.test.ts
  src/script/page/message-list/MessageTimerButton.tsx
  src/script/view_model/content/InputBarViewModel.ts
Labels: size: s, type: feature / request ✨

#11595 test: Adjust audio/video data-uies
  src/script/components/asset/AudioAsset.tsx
  src/script/components/asset/VideoAsset.tsx
  src/script/components/asset/controls/SeekBar.tsx
Labels: size: s, type: test 👷
