Repository wireapp/wire-webapp, pull requests merged in 2021-01, with the labels that each got.

#10148 refactor: Separate concerns for granting messages
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
Labels: size: m, type: refactoring 🛠

#10242 refactor: Add types for records stored in IndexedDB
  src/script/backup/BackupRepository.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/entity/Conversation.ts
  src/script/entity/message/Message.ts
  src/script/event/preprocessor/QuotedMessageMiddleware.ts
  src/script/event/preprocessor/ReceiptsMiddleware.ts
  src/script/event/preprocessor/ServiceMiddleware.ts
  src/script/message/MessageCategorization.ts
  src/script/message/MessageHasher.ts
  src/script/storage/DexieDatabase.ts
  src/script/storage/StorageService.ts
  src/script/storage/index.ts
  src/script/storage/record/AmplifyRecord.ts
  src/script/storage/record/ClientRecord.ts
  src/script/storage/record/ConversationRecord.ts
  src/script/storage/record/CryptoboxRecord.ts
  src/script/storage/record/EventRecord.ts
  src/script/storage/record/UserRecord.ts
  src/script/storage/record/index.ts
  src/script/util/DebugUtil.ts
  src/script/view_model/panel/MessageDetailsViewModel.ts
Labels: size: m, type: refactoring 🛠

#10244 runfix: Return after changing conversation access state
  src/script/conversation/ConversationStateHandler.ts
Labels: size: xs, type: bug / fix 🐞

#10089 feat: Double click to maximize speaker video, active speakers indication
  package.json
  server/dist/.ebextensions/00-environment.config
  server/dist/.ebextensions/10-log-rotation.config
  server/dist/.ebextensions/20-nginx.config
  server/dist/robots/robots-disallow.txt
  server/dist/robots/robots.txt
  server/dist/templates/error.html
  src/i18n/en-US.json
  src/page/template/list/conversations.htm
  src/page/template/list/temporary-guest.htm
  src/page/template/wire-main.htm
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
  src/script/calling/videoGridHandler.ts
  src/script/components/AvailabilityState.test.tsx
  src/script/components/AvailabilityState.tsx
  src/script/components/ButtonGroup.test.tsx
  src/script/components/ButtonGroup.tsx
  src/script/components/NamedIcon.tsx
  src/script/components/availabilityState.ts
  src/script/components/calling/DeviceToggleButton.tsx
  src/script/components/calling/Duration.test.ts
  src/script/components/calling/Duration.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGrid.test.tsx
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/ParticipantMicOnIcon.tsx
  src/script/components/calling/Video.tsx
  src/script/components/calling/deviceToggleButton.test.ts
  src/script/components/calling/deviceToggleButton.ts
  src/script/components/calling/fullscreenVideoCall.test.ts
  src/script/components/calling/fullscreenVideoCall.ts
  src/script/components/groupVideoGrid.ts
  src/script/components/list/GroupAvatar.test.ts
  src/script/components/list/GroupAvatar.tsx
  src/script/components/list/conversationListCallingCell.ts
  src/script/components/list/conversationListCell.ts
  src/script/components/list/participantItem.ts
  src/script/components/panel/userDetails.ts
  src/script/components/participantAvatar/ServiceAvatar.tsx
  src/script/hooks/useHideElement.ts
  src/script/main/globals.ts
  src/script/util/test/TestPage.tsx
  src/script/util/util.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
  src/style/components/availability-state.less
  src/style/components/group-video-grid.less
  src/style/components/list/conversation-list-calling-cell.less
  src/style/components/list/participant-item.less
  src/style/foundation/main.less
  src/style/foundation/video-calling.less
  src/style/list/group-avatar.less
  src/style/list/list.less
  test/unit_tests/calling/videoGridHandlerSpec.js
  yarn.lock
Labels: comp: calling, size: xxl, type: feature / request ✨

#10268 fix: Only show active video speakers in active speakers tab
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: size: xs, type: bug / fix 🐞

#10270 test: Add data-uie-name to DeviceToggleButton wrapper element
  src/script/components/calling/DeviceToggleButton.tsx
Labels: size: xs, type: test 👷

#10276 test: Disable flaky test cases
  test/unit_tests/calling/CallingRepositorySpec.js
  test/unit_tests/view_model/bindings/MessageListBindingsSpec.js
Labels: size: xs, type: test 👷

#10260 refactor: Replace ternary operators / promises mixtures with async/await
  src/script/assets/AssetRepository.ts
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/event/EventRepository.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/InputBarViewModel.ts
  test/unit_tests/event/EventRepositorySpec.js
Labels: comp: calling, size: xl, type: refactoring 🛠

#10283 fix: Increase minimum call log size
  src/script/view_model/content/PreferencesAVViewModel.ts
Labels: size: xs, type: bug / fix 🐞

#10282 runfix: Return undefined in mapConnection if no conversationEntity exists
  src/script/conversation/ConversationRepository.ts
Labels: size: s, type: bug / fix 🐞

#10302 refactor: Revert "Replace ternary operators / promises mixtures with async/await"
  src/script/assets/AssetRepository.ts
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/event/EventRepository.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/InputBarViewModel.ts
  test/unit_tests/event/EventRepositorySpec.js
Labels: comp: calling, size: xl

#10278 refactor: Remove url-search-params-polyfill
  package.json
  src/script/media/MediaEmbeds.ts
  src/script/util/LoggerUtil.ts
Labels: size: xs, type: refactoring 🛠

#10280 refactor: Extract AudioState
  src/script/audio/AudioRepository.ts
  src/script/audio/AudioState.ts
Labels: size: s, type: refactoring 🛠

#10306 chore: Revert "Update translations"
  src/i18n/ar-SA.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/zh-CN.json
  src/i18n/zh-TW.json
Labels: size: xxl, type: chore 🧹

#10307 refactor: Replace jQuery keydown in image lightbox
  src/script/view_model/ImageDetailViewViewModel.ts
Labels: size: s, type: refactoring 🛠

#10284 refactor: Extract ConnectionState
  package.json
  src/script/auth/page/SetHandle.test.tsx
  src/script/auth/util/test/mockStoreFactory.ts
  src/script/backup/BackupRepository.ts
  src/script/connection/ConnectionRepository.ts
  src/script/connection/ConnectionState.ts
  src/script/main/app.ts
  test/helper/TestFactory.js
  test/unit_tests/backup/BackupRepositorySpec.js
  test/unit_tests/calling/CallingRepositorySpec.js
  test/unit_tests/connection/ConnectionRepositorySpec.js
  test/unit_tests/view_model/bindings/MessageListBindingsSpec.js
  yarn.lock
Labels: size: m, type: refactoring 🛠

#10310 refactor: Migrate to Webpack 5
  package.json
  webpack.config.common.js
  webpack.config.dev.js
  yarn.lock
Labels: size: xxl, type: refactoring 🛠

#10309 chore: Ignore less dependency updates
  .github/dependabot.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#10311 refactor: Replace jQuery keydown listener
  src/script/view_model/ListViewModel.ts
  src/script/view_model/content/CollectionViewModel.ts
Labels: size: s, type: refactoring 🛠

#10281 refactor: Extract CallState
  src/script/calling/CallState.ts
  src/script/calling/CallingRepository.ts
  src/script/components/list/conversationListCallingCell.ts
  src/script/main/app.ts
  src/script/notification/NotificationRepository.ts
  src/script/util/DebugUtil.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/content/TitleBarViewModel.ts
  test/helper/TestFactory.js
  test/unit_tests/calling/CallingRepositorySpec.js
  test/unit_tests/notification/NotificationRepositorySpec.js
Labels: comp: calling, size: m, type: refactoring 🛠

#10324 fix: No active speaker tab for less than 3 participants (SQCALL-124)
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: size: s, type: bug / fix 🐞

#10325 fix: Video call remembers last speaker view (SQCALL-127)
  src/script/view_model/CallingViewModel.ts
Labels: size: xs, type: bug / fix 🐞

#10326 feat: Make recent webapps compatible with old URL configs
  src/script/Config.ts
Labels: size: xs, type: bug / fix 🐞

#10277 refactor: Migrate info-toggle to react
  package.json
  src/script/components/InfoToggle.test.tsx
  src/script/components/InfoToggle.tsx
  src/script/components/infoToggle.ts
  src/script/main/globals.ts
  src/script/util/test/TestPage.tsx
  yarn.lock
Labels: size: m, type: refactoring 🛠

#10328 refactor: Migrate loading-bar to react
  src/script/components/LoadingBar.test.tsx
  src/script/components/LoadingBar.tsx
  src/script/view_model/LoadingViewModel.ts
  src/script/view_model/content/HistoryExportViewModel.ts
  src/script/view_model/content/HistoryImportViewModel.ts
Labels: size: s, type: refactoring 🛠

#10329 refactor: Migrate legal hold dot component to React
  src/script/components/LegalHoldDot.test.tsx
  src/script/components/LegalHoldDot.tsx
  src/script/components/legalHoldDot.ts
  src/script/view_model/list/ConversationListViewModel.ts
Labels: size: m, type: refactoring 🛠

#10331 refactor: Migrate AudioSeekBar to React
  src/script/components/asset/controls/AudioSeekBar.test.ts
  src/script/components/asset/controls/AudioSeekBar.tsx
  src/script/components/asset/controls/audioSeekBar.ts
  src/script/main/globals.ts
  test/unit_tests/components/asset/controls/audioSeekBarSpec.js
Labels: size: l, type: refactoring 🛠

#10327 refactor: Migrate AssetHeader to React
  src/script/components/asset/AssetHeader.test.tsx
  src/script/components/asset/AssetHeader.tsx
  src/script/components/asset/assetHeader.ts
  src/script/main/globals.ts
  src/style/components/asset/asset-header.less
Labels: size: m, type: refactoring 🛠

#10332 feat: Add key combo to toggle debug info
  src/script/util/KeyboardUtil.ts
  src/style/foundation/debug.less
  src/style/foundation/main.less
Labels: size: s, type: feature / request ✨

#10330 refactor: Migrate MessageButton component to React
  src/script/components/asset/MessageButton.test.tsx
  src/script/components/asset/MessageButton.tsx
  src/script/components/asset/messageButton.ts
  src/script/components/message.ts
  src/style/components/asset/message-button.less
Labels: size: l, type: refactoring 🛠

#10342 runfix: Poll button loading animation
  src/script/components/asset/MessageButton.test.tsx
  src/script/components/asset/MessageButton.tsx
Labels: size: s, type: bug / fix 🐞

#10333 fix: Show same maximized video participant when switching to minimized view (SQCALL-34)
  src/page/template/list/conversations.htm
  src/page/template/list/temporary-guest.htm
  src/page/template/wire-main.htm
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGrid.test.tsx
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/list/conversationListCallingCell.ts
  src/script/view_model/CallingViewModel.ts
Labels: size: s, type: bug / fix 🐞

#10343 fix: Remove blur from video participant tile
  src/script/components/calling/GroupVideoGrid.tsx
Labels: size: xs, type: bug / fix 🐞

#10346 runfix: Use webpack sourcemap setting for terser
  webpack.config.js
Labels: size: xs, type: bug / fix 🐞

#10345 fix: Prevent 'no internet' banner after wifi switch
  src/script/event/EventRepository.ts
Labels: size: xs, type: bug / fix 🐞

#10348 feat: Enable debug menu with Ctrl + Shift + 1
  src/script/util/KeyboardUtil.ts
Labels: size: xs, type: feature / request ✨

#10347 chore: Shorten PR build times
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: s, type: chore 🧹

#10344 fix: Disable active speakers tab for now
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: size: xs, type: bug / fix 🐞

#10349 fix: Mute controls in full screen video (SQCALL-147, SQCALL-148)
  src/page/template/wire-main.htm
  src/script/calling/Call.ts
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/view_model/CallingViewModel.ts
Labels: comp: calling, size: s, type: bug / fix 🐞

#10350 fix: Call controls overlay doesn't come up (SQCALL-133)
  src/script/hooks/useHideElement.ts
Labels: size: s

#10351 chore: Disable 'detectOpenHandles' on CI
  .github/workflows/test_build_deploy.yml
  package.json
Labels: comp: infrastructure, size: xs, type: chore 🧹

#10352 test: Fix time format mock
  src/script/components/asset/AssetHeader.test.tsx
Labels: size: xs, type: test 👷

#10353 runfix: Update poll button error message
  src/script/components/asset/MessageButton.tsx
Labels: size: s, type: bug / fix 🐞

#10355 fix: Fullscreen call UI should react better
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/hooks/useHideElement.ts
Labels: size: s, type: bug / fix 🐞

#10356 runfix: Check for existing conversation before showing legal hold modal
  src/script/components/LegalHoldDot.tsx
Labels: size: xs, type: bug / fix 🐞

#10359 fix: Check for undefined self participant
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: size: xs, type: bug / fix 🐞

#10361 fix: Don't try to run user removal with an empty payload
  src/script/conversation/ClientMismatchHandler.ts
Labels: size: xs, type: bug / fix 🐞

#10272 feat: Electron app with local server (PoC) (SQCORE-369) (SQCORE-394) (SQCORE-407)
  .eslintrc.json
  .github/workflows/test_build_deploy.yml
  .gitignore
  .prettierignore
  electron/.copyconfigrc.js
  electron/.gitignore
  electron/README.md
  electron/app-config/package.json
  electron/bin/build-config.js
  electron/electron-builder.config.js
  electron/package.json
  electron/src/main.ts
  electron/tsconfig.json
  electron/yarn.lock
  tsconfig.json
Labels: comp: infrastructure, size: xxl, type: feature / request ✨

#10373 Merge dev to master for RC
  .eslintrc.json
  .github/workflows/test_build_deploy.yml
  .gitignore
  .prettierignore
  app-config/package.json
  electron/.copyconfigrc.js
  electron/.gitignore
  electron/README.md
  electron/app-config/package.json
  electron/bin/build-config.js
  electron/electron-builder.config.js
  electron/package.json
  electron/src/main.ts
  electron/tsconfig.json
  electron/yarn.lock
  src/i18n/de-DE.json
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/conversation/ClientMismatchHandler.ts
  tsconfig.json
Labels: comp: infrastructure, size: xxl

#10370 chore: Cleanup WebApp artifacts
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: s, type: chore 🧹

#10363 refactor: Migrate AssetLoader to React
  src/script/components/asset/AssetLoader.test.tsx
  src/script/components/asset/AssetLoader.tsx
  src/script/components/asset/assetLoader.ts
  src/script/components/asset/controls/mediaButton.ts
  src/script/components/asset/fileAsset.ts
  src/script/components/asset/imageAsset.ts
Labels: size: m, type: refactoring 🛠

#10371 refactor: Use @wireapp/core 17.0 (SQCORE-425)
  package.json
  src/script/broadcast/BroadcastRepository.ts
  src/script/broadcast/BroadcastService.ts
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyRepository.ts
  test/unit_tests/cryptography/CryptographyRepositorySpec.js
  yarn.lock
Labels: size: l, type: refactoring 🛠

#10387 refactor: Migrate SeekBar to React
  src/script/components/asset/controls/SeekBar.test.tsx
  src/script/components/asset/controls/SeekBar.tsx
  src/script/components/asset/controls/seekBar.ts
  src/script/main/globals.ts
Labels: size: l, type: refactoring 🛠

#10365 refactor: Migrate ChooseScreen to React
  src/script/components/calling/ChooseScreen.tsx
  src/script/components/calling/chooseScreen.test.ts
  src/script/components/calling/chooseScreen.ts
  src/script/view_model/CallingViewModel.ts
  src/style/components/calling/choose-screen.less
Labels: size: m, type: refactoring 🛠
