Repository wireapp/wire-webapp, pull requests merged in 2021-05, with the labels that each got.

#11003 fix: Cancel video download instead of upload (SQCORE-542)
  src/script/components/asset/videoAsset.ts
Labels: size: xs, type: bug / fix 🐞

#11004 chore: Commit version bumps
  bin/release_tag.ts
Labels: size: xs, type: chore 🧹

#11006 feat: Add indicator for externals, add tooltips
  app-config/package.json
  src/i18n/en-US.json
  src/page/template/content/conversation/title-bar.htm
  src/script/components/ServiceList.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/message.ts
  src/script/components/panel/UserDetails.tsx
  src/script/entity/Conversation.ts
  src/script/entity/User.ts
  src/script/page/message-list/mentionSuggestions.ts
  src/script/team/TeamRepository.ts
  src/script/user/UserRepository.ts
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/content/TitleBarViewModel.ts
  src/style/common/tooltip.less
  src/style/components/list/participant-item.less
  src/style/content/conversation/title-bar.less
Labels: size: m, type: feature / request ✨

#11009 fix: Delete failed uploads only from original sender
  src/script/cryptography/CryptographyMapper.ts
  src/script/event/EventRepository.ts
  src/script/event/EventRepositorySpec.ts
  src/script/event/EventService.ts
Labels: size: m, type: bug / fix 🐞

#11010 chore: Bump @wireapp/avs from 7.1.1 to 7.1.4
  package.json
  yarn.lock
Labels: size: s, type: chore 🧹

#11019 runfix: Mute icon should be highlighted when user is muted
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: size: xs, type: bug / fix 🐞

#11015 runfix: Align mic icons
  app-config/package.json
Labels: size: xs, type: bug / fix 🐞

#11018 refactor: Fix permissionState type
  src/script/components/panel/UserActions.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/event/EventRepository.ts
  src/script/event/EventService.ts
  src/script/event/preprocessor/QuotedMessageMiddleware.ts
  src/script/notification/NotificationRepository.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
Labels: size: m, type: refactoring 🛠

#11020 runfix: Link preview style
  src/style/components/asset/link-preview-asset.less
Labels: size: xs, type: bug / fix 🐞

#11021 chore: Bump @wireapp/avs from 7.1.4 to 7.1.5
  package.json
  yarn.lock
Labels: size: s, type: chore 🧹

#11023 runfix: Fix external indicator stylings
  src/script/components/message.ts
  src/script/view_model/content/TitleBarViewModel.ts
  src/style/components/panel-participant-details.less
  src/style/content/conversation/message-list.less
Labels: size: s, type: bug / fix 🐞

#11024 Revert "chore: Bump @wireapp/avs from 7.1.4 to 7.1.5"
  package.json
  yarn.lock
Labels: size: s

#11028 chore: Bump @wireapp/avs from 7.1.5 to 7.1.6
  package.json
  yarn.lock
Labels: size: s, type: chore 🧹

#11029 RC 2021-05-06
  app-config/package.json
Labels: size: xs

#11075 fix: Retry requests when losing connection (SQCORE-585) (SQCORE-591)
  bin/release_tag.ts
  package.json
  yarn.lock
Labels: size: m, type: bug / fix 🐞

#11076 runfix: Only show audio thumbnail when self video stream is not available (SQCALL-295)
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
Labels: size: xs, type: bug / fix 🐞

#11111 refactor: Remove prettier-ignore
  src/script/assets/AssetRepository.test.ts
  src/script/auth/util/handleUtil.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/user/UserHandleGenerator.ts
  src/script/user/UserPermission.ts
  src/script/util/DebugUtil.ts
  src/style/common/variables.less
  test/unit_tests/backup/BackupRepositorySpec.js
  test/unit_tests/calling/CallingRepositorySpec.js
  test/unit_tests/conversation/ConversationMapperSpec.js
  test/unit_tests/conversation/ConversationRepositorySpec.js
  test/unit_tests/conversation/ConversationServiceSpec.js
  test/unit_tests/conversation/EventMapperSpec.js
  test/unit_tests/entity/ConversationSpec.js
  test/unit_tests/event/EventServiceCommon.js
  test/unit_tests/message/MessageCategorizationSpec.js
  test/unit_tests/util/StringUtilSpec.js
  test/unit_tests/util/UtilSpec.js
Labels: size: xxl, type: refactoring 🛠

#11022 chore: CI change docker tag name scheme
  .github/workflows/test_build_deploy.yml
  bin/push_docker.js
Labels: comp: infrastructure, size: s, type: chore 🧹

#11112 feat: Block adding users to conversations with LH conflict (SQSERVICES-428)
  package.json
  src/i18n/en-US.json
  src/script/auth/configureClient.ts
  src/script/conversation/ConversationRepository.ts
  src/script/error/BackendClientError.ts
  src/script/service/APIClientSingleton.ts
  yarn.lock
Labels: size: m, type: feature / request ✨

#11132 feat: Handle block for legal hold reasons (SQSERVICES-429)
  package.json
  src/i18n/en-US.json
  src/page/template/modal/user-modal.htm
  src/script/Config.ts
  src/script/connection/ConnectionEntity.ts
  src/script/connection/ConnectionMapper.ts
  src/script/entity/User.ts
  src/script/entity/message/MemberMessage.ts
  src/script/main/globals.ts
  src/script/view_model/content/UserModalViewModel.ts
  yarn.lock
Labels: size: s, type: feature / request ✨

#11133 runfix: import Config correctly
  server/ServerConfig.ts
  server/config.ts
  src/script/entity/message/MemberMessage.ts
Labels: size: xs, type: bug / fix 🐞

#11135 chore: Update config
  app-config/package.json
Labels: size: xs, type: chore 🧹

#11136 feat: Update error labels (SQSERVICES-428)
  package.json
  src/i18n/en-US.json
  src/script/conversation/ConversationRepository.ts
  yarn.lock
Labels: size: s, type: feature / request ✨

#11134 feat: Add calling pagination (SQCALL-295)
  package.json
  src/script/assets/AssetMetaDataBuilder.ts
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
  src/script/calling/videoGridHandler.ts
  src/script/components/Icon.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/components/calling/Pagination.tsx
  src/script/components/calling/ParticipantMicOnIcon.tsx
  src/script/components/calling/fullscreenVideoCall.test.ts
  src/script/util/ArrayUtil.ts
  src/script/view_model/CallingViewModel.ts
  yarn.lock
Labels: comp: calling, size: m, type: feature / request ✨

#11137 feat: Handle connect error because of legal hold (SQSERVICES-429)
  src/i18n/en-US.json
  src/page/template/modal/user-modal.htm
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/entity/message/MemberMessage.ts
  src/script/util/LocalizerUtil.ts
  src/script/view_model/content/UserModalViewModel.ts
Labels: size: s, type: feature / request ✨

#11141 feat: Update client capabilities after client validation
  package.json
  setupTests.js
  src/script/client/ClientRepository.ts
  src/script/client/ClientService.ts
  yarn.lock
Labels: size: s, type: feature / request ✨

#11138 chore: Add legal hold block to DebugUtil
  src/script/connection/ConnectionMapper.ts
  src/script/util/DebugUtil.ts
Labels: size: s, type: feature / request ✨

#11139 runfix: Update legal hold copy
  src/i18n/en-US.json
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/entity/message/MemberMessage.ts
  src/script/util/LocalizerUtil.ts
  src/script/view_model/ModalsViewModel.ts
  src/script/view_model/content/UserModalViewModel.ts
Labels: size: s, type: bug / fix 🐞

#11157 runfix: Accept JSON & HTML request payloads (SQCORE-691)
  package.json
  yarn.lock
Labels: size: s, type: bug / fix 🐞

#11159 feat: Handle conversation create legal hold error (SQSERVICES-428)
  package.json
  src/script/conversation/ConversationRepository.ts
  yarn.lock
Labels: size: s, type: feature / request ✨

#11161 fix: Check if errors are backend errors
  src/script/conversation/MessageRepository.ts
  src/script/util/TypePredicateUtil.test.ts
  src/script/util/TypePredicateUtil.ts
Labels: size: s, type: bug / fix 🐞

#11162 runfix: Correctly set current page of call ui
  src/script/calling/Call.ts
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/fullscreenVideoCall.test.ts
Labels: comp: calling, size: xs, type: bug / fix 🐞

#11164 runfix: Handle correct legal hold block event (SQSERVICES-481)
  package.json
  src/script/connection/ConnectionEntity.ts
  src/script/connection/ConnectionMapper.ts
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationState.ts
  src/script/entity/User.ts
  src/script/util/DebugUtil.ts
  src/script/view_model/ContentViewModel.ts
  yarn.lock
Labels: size: s, type: bug / fix 🐞

#11165 refactor: Migrate timed messages panel to React
  src/page/template/panel/timed-messages.htm
  src/script/assets/AssetRepository.test.ts
  src/script/components/DragableClickWrapper.tsx
  src/script/ui/fadingScrollbar.ts
  src/script/util/useEffectRef.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/PanelViewModel.ts
  src/script/view_model/bindings/ReactBindings.ts
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/content/TitleBarViewModel.ts
  src/script/view_model/panel/AddParticipantsViewModel.ts
  src/script/view_model/panel/BasePanelViewModel.ts
  src/script/view_model/panel/ConversationDetailsViewModel.ts
  src/script/view_model/panel/ConversationParticipantsViewModel.ts
  src/script/view_model/panel/GroupParticipantServiceViewModel.ts
  src/script/view_model/panel/GroupParticipantUserViewModel.ts
  src/script/view_model/panel/GuestsAndServicesViewModel.ts
  src/script/view_model/panel/MessageDetailsViewModel.ts
  src/script/view_model/panel/NotificationsViewModel.ts
  src/script/view_model/panel/ParticipantDevicesViewModel.ts
  src/script/view_model/panel/TimedMessagesPanel.tsx
  src/script/view_model/panel/TimedMessagesViewModel.ts
  src/style/panel/panel.less
  test/unit_tests/backup/BackupRepositorySpec.js
  test/unit_tests/conversation/ConversationMapperSpec.js
  test/unit_tests/conversation/ConversationRepositorySpec.js
  test/unit_tests/conversation/ConversationServiceSpec.js
  test/unit_tests/conversation/EventMapperSpec.js
  test/unit_tests/view_model/panel/GroupParticipantUserViewModelSpec.js
Labels: size: xl, type: refactoring 🛠

#11166 chore: Update config repositories version
  app-config/package.json
Labels: size: xs, type: chore 🧹

#11030 refactor: Migrate MemberMessage to React
  src/script/components/message.ts
  src/script/components/message/MemberMessage.test.tsx
  src/script/components/message/MemberMessage.tsx
  src/script/components/message/memberMessage/ConnectedMessage.tsx
  src/script/entity/message/MemberMessage.ts
Labels: size: l, type: refactoring 🛠

#11197 runfix: Ensure panel entity param
  src/script/view_model/panel/BasePanelViewModel.ts
  src/script/view_model/panel/ConversationDetailsViewModel.ts
Labels: size: s, type: bug / fix 🐞

#11199 runfix: Fix issues with the panel refactor
  src/script/util/ComponentUtil.ts
  src/script/view_model/PanelViewModel.ts
  src/script/view_model/panel/ConversationParticipantsViewModel.ts
Labels: size: xs, type: bug / fix 🐞

#11158 chore(ci): Add job to update image tag in corresponding Helm chart
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: m, type: chore 🧹
