Repository wireapp/wire-webapp, pull requests merged in 2021-10, with the labels that each got.

#11945 chore: RC 2021-10-02
  .github/workflows/test_build_deploy.yml
  bin/release_tag.ts
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/conversation/ConversationMapper.ts
  src/script/media/MediaDevicesHandler.ts
Labels: comp: infrastructure, type: chore 🧹, 👕 size: M

#11928 feat(core): Remove call to old conversations endpoint for federated backends
  package.json
  src/script/conversation/ConversationService.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#11943 refactor(core): Add the qualified id matcher util
  src/script/calling/CallingRepository.ts
  src/script/client/ClientRepository.test.ts
  src/script/client/ClientRepository.ts
  src/script/components/UserDevices.tsx
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/panel/UserActions.tsx
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/ConversationCellState.ts
  src/script/conversation/ConversationFilter.test.ts
  src/script/conversation/ConversationFilter.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationRoleRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/ConversationState.ts
  src/script/conversation/ConversationVerificationStateHandler.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventInfoEntity.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/cryptography/CryptographyService.ts
  src/script/entity/Conversation.ts
  src/script/entity/User.ts
  src/script/entity/message/MemberMessage.ts
  src/script/event/preprocessor/ReceiptsMiddleware.ts
  src/script/event/preprocessor/ServiceMiddleware.ts
  src/script/main/app.ts
  src/script/notification/PreferenceNotificationRepository.ts
  src/script/search/SearchRepository.ts
  src/script/storage/record/ConversationRecord.ts
  src/script/storage/record/EventRecord.ts
  src/script/team/TeamRepository.ts
  src/script/user/UserFilter.ts
  src/script/user/UserRepository.ts
  src/script/user/UserService.ts
  src/script/util/DebugUtil.ts
  src/script/util/QualifiedId.test.ts
  src/script/util/QualifiedId.ts
  src/script/util/StorageUtil.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ImageDetailViewViewModel.ts
  src/script/view_model/content/LegalHoldModalViewModel.ts
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/content/PreferencesDeviceDetailsViewModel.ts
  src/script/view_model/content/UserModalViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/script/view_model/panel/AddParticipantsViewModel.ts
  src/script/view_model/panel/GroupParticipantServiceViewModel.ts
  test/api/payloads.js
  test/unit_tests/conversation/ConversationServiceSpec.js
Labels: comp: calling, type: refactoring 🛠, 👕 size: XXL

#11958 runfix: fix legal hold request issues
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#11960 runfix(core): Fix qualified ids setting on message entities
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
Labels: type: bug / fix 🐞, 👕 size: S

#11961 runfix(core): Guard access to previousConversation in ContentViewModel
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#11962 runfix(core): Finish migrating events to qualifiedIds
  src/script/client/ClientRepository.ts
  src/script/cryptography/CryptographyRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#11944 chore: select federation backend via parameter
  server/index.ts
Labels: type: chore 🧹, 👕 size: S

#11964 runfix(core): Fix amplify event payload with qualified ids
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/ConversationRepository.ts
  src/script/entity/Conversation.ts
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#11959 refactor(core): Improve UserEvent typings
  package.json
  src/script/client/ClientRepository.ts
  src/script/notification/PreferenceNotificationRepository.ts
  src/script/user/UserRepository.ts
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: S

#11965 runfix: Strong types in NotificationRepository
  src/script/entity/Conversation.ts
  src/script/notification/NotificationRepository.ts
  test/unit_tests/notification/NotificationRepositorySpec.js
Labels: type: bug / fix 🐞, 👕 size: S

#11975 runfix: Fix matching conversation with ids in events
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S
