Repository wireapp/wire-webapp, pull requests merged in 2021-09, with the labels that each got.

#11777 fix(call): Ignore constant bit rate feature flag on avs callback (SQCALL-409)
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#11660 refactor(services): Migrate Quote messages to React
  src/script/components/message.ts
  src/script/components/message/MessageQuote.tsx
  src/script/components/message/messageQuote.ts
  src/script/entity/message/Text.ts
  src/script/main/globals.ts
  src/style/content/conversation/message-quote.less
Labels: type: refactoring 🛠, 👕 size: XL

#11779 runfix(call): Click on mentioned user name in quoted message should open user details
  src/script/components/message/MessageQuote.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#11780 feat(services): Improve Variable Bitrate Encoding (VBR) preference description (SQSERVICES-619)
  src/i18n/en-US.json
Labels: type: feature / request ✨, 👕 size: XS

#11782 feat(services): Improved feature change & asset restriction descriptions (SQSERVICES-736)
  src/i18n/en-US.json
  src/script/components/asset/RestrictedAudio.tsx
  src/script/components/asset/RestrictedFile.tsx
  src/script/components/asset/RestrictedImage.tsx
  src/script/components/asset/RestrictedVideo.tsx
  src/script/team/TeamRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#11812 feat(services): Improve Variable Bitrate Encoding (VBR) preference description (SQSERVICES-619)
  src/i18n/en-US.json
Labels: type: feature / request ✨, 👕 size: XS

#11811 runfix(services): Correct brand name interpolation
  src/i18n/en-US.json
Labels: type: bug / fix 🐞, 👕 size: XS

#11813 chore: Create explicit Docker staging tags
  bin/push_docker.js
Labels: type: chore 🧹, 👕 size: XS

#11814 chore: Log Git tags before creating changelog
  bin/changelog.ts
Labels: type: chore 🧹, 👕 size: XS

#11815 chore: Don't crash build when changelog generation fails
  bin/changelog.ts
Labels: type: chore 🧹, 👕 size: S

#11817 feat(services): Handle conference calling feature updates (SQSERVICES-562)
  src/script/team/TeamRepository.ts
  src/script/team/TeamState.ts
Labels: type: feature / request ✨, 👕 size: S

#11816 chore: Update c-hive/gha-yarn-cache GH action
  .github/workflows/lint.yml
  .github/workflows/sync_translations.yml
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#11783 feat(services): Rename 'ephemeral/timed messages' to 'self-deleting messages' (SQSERVICES-766)
  src/i18n/en-US.json
Labels: type: feature / request ✨, 👕 size: S

#11821 chore(services): Disable conference calling feature toggle effect
  src/script/team/TeamState.ts
Labels: type: chore 🧹, 👕 size: XS

#11822 feat(call): Show audio tiles and pagination
  src/script/calling/Call.ts
  src/script/calling/videoGridHandler.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: S

#11776 refactor(core): Fix missing conversation receipt mode typings
  src/script/components/toggle/ReceiptModeToggle.test.ts
  src/script/components/toggle/ReceiptModeToggle.tsx
  src/script/properties/PropertiesRepository.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  test/unit_tests/user/UserRepositorySpec.js
Labels: type: refactoring 🛠, comp: preferences, 👕 size: S

#11823 chore: Don't set forceExit twice when testing with jest
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#11824 fix(call): New AVS version gives new stream id for updated streams
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#11825 fix(core): Names were broken in rename events
  src/script/conversation/ConversationRepository.ts
  src/script/user/UserRepository.ts
  src/script/util/StringUtil.ts
  src/style/components/list/conversation-list-calling-cell.less
Labels: type: bug / fix 🐞, 👕 size: S

#11845 chore: Remove list of feature changes in update modal
  src/i18n/en-US.json
  src/script/team/TeamRepository.ts
Labels: type: chore 🧹, 👕 size: S

#11848 runfix(call): Remember participant video state for grid sorting
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
  src/script/calling/videoGridHandler.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#11850 chore(services): Enable conference calling feature toggle effect
  src/script/team/TeamState.ts
Labels: type: chore 🧹, 👕 size: XS

#11851 feat(services): Show plan upgrade modals for team members, owners and personal accounts (SQSERVICES-562)
  src/i18n/en-US.json
  src/script/view_model/CallingViewModel.ts
Labels: type: feature / request ✨, 👕 size: S

#11849 chore: Don't fail PR title check with Dependabot
  .github/workflows/check-pr-title.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#11853 fix(core): Remove dependency on otr_muted in update data
  package.json
  src/script/client/ClientRepository.test.ts
  src/script/conversation/ConversationMapper.test.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/event/EventRepository.test.ts
  src/script/storage/SQLeetSchemata.ts
  src/script/storage/record/ConversationRecord.ts
  test/api/payloads.js
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#11855 feat(core): Create and update optimistic event when federated message is sent
  package.json
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/view_model/content/InputBarViewModel.ts
  yarn.lock
Labels: 👕 size: S

#11875 fix(call): Turn off camera after very quick on and off toggle
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#11877 fix(call): Show selfvideo preview for outgoing calls
  src/script/components/list/ConversationListCallingCell.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#11876 fix(core): Allow empty domain webapp to verify conversations with domains
  src/script/conversation/ConversationVerificationStateHandler.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#11878 fix(core): Backward compatible id parsing for cell state
  src/script/conversation/ConversationCellState.ts
  src/script/conversation/EventMapper.ts
Labels: type: bug / fix 🐞, 👕 size: S

#11887 feat(core): Set sent time when messages are actually sent
  package.json
  src/script/conversation/MessageRepository.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XS

#11890 fix(call): Request video streams for active speakers when switching tab (SQCALL-425)
  src/script/calling/CallState.ts
  src/script/calling/CallingRepository.ts
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/fullscreenVideoCall.test.ts
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/view_model/CallingViewModel.ts
  yarn.lock
Labels: type: bug / fix 🐞, comp: calling, 👕 size: M

#11886 feat(core): Stricter types for conversation events
  src/script/conversation/AbstractConversationEventHandler.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/EventBuilder.test.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/entity/Conversation.ts
  src/script/legal-hold/LegalHoldEvaluator.ts
  src/script/storage/record/EventRecord.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: L

#11889 refactor(call): Migrate WarningsViewModel to React
  src/page/template/warning.htm
  src/page/template/wire-main.htm
  src/script/calling/CallingRepository.ts
  src/script/event/EventRepository.ts
  src/script/event/WebSocketService.ts
  src/script/main/app.ts
  src/script/media/MediaStreamHandler.ts
  src/script/notification/NotificationRepository.ts
  src/script/view_model/MainViewModel.ts
  src/script/view_model/WarningsContainer.tsx
  src/script/view_model/WarningsViewModel.ts
Labels: comp: calling, type: refactoring 🛠, 👕 size: XL

#11892 runfix(call): Avoid requesting the same video streams multiple times
  src/script/calling/CallState.ts
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#11894 chore(services): Enable conference calling feature toggle effect
  src/script/team/TeamState.ts
Labels: type: chore 🧹, 👕 size: XS

#11914 runfix(services): Adjust link for 'Upgrade now' modal button
  app-config/package.json
  server/ServerConfig.ts
  server/config.ts
  src/script/Config.ts
  src/script/main/globals.ts
  src/script/view_model/CallingViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#11895 runfix(call): Correctly remove network issue warning
  src/script/view_model/WarningsContainer.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#11915 chore: Add script to generate changelogs for RC builds
  bin/changelog.ts
  package.json
Labels: type: chore 🧹, 👕 size: S

#11925 runfix(call): Correct no active speakers text (SQCALL-424)
  src/i18n/en-US.json
  src/script/components/calling/GroupVideoGrid.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#11926 fix(call): Avoid flicker in active speakers view (SQCALL-425)
  src/script/calling/CallState.ts
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#11916 feat(core): Add stricter types to conversation events
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/conversation/AbstractConversationEventHandler.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/EventBuilder.test.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/entity/Conversation.ts
  src/script/legal-hold/LegalHoldEvaluator.ts
  src/script/storage/record/EventRecord.ts
Labels: type: feature / request ✨, 👕 size: M

#11891 feat(core): Parse and handle federation conversation events
  src/script/calling/CallingRepository.ts
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/conversation/ClientMismatchHandler.test.ts
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventInfoEntity.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyRepository.test.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/entity/Conversation.ts
  src/script/event/EventRepository.ts
  src/script/storage/record/EventRecord.ts
  src/script/util/DebugUtil.ts
  src/script/util/QualifiedId.test.ts
  src/script/util/QualifiedId.ts
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/content/PreferencesDeviceDetailsViewModel.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: XL

#11931 chore: Automatically announce production releases
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#11940 runfix: Respect undefined when comparing domains
  src/script/conversation/ConversationMapper.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#11939 chore: Send GIF when announcing staging release
  .github/workflows/test_build_deploy.yml
  bin/release_tag.ts
Labels: comp: infrastructure, type: chore 🧹, 👕 size: M

#11942 fix(call): Camera toggle does not work (SQCALL-435)
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/media/MediaDevicesHandler.ts
Labels: type: bug / fix 🐞, 👕 size: XS
