Repository wireapp/wire-webapp, pull requests merged in 2021-12, with the labels that each got.

#12241 runfix(core): Send calling messages to other self devices
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12216 refactor(core): Send all delete messages with @wireapp/core
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
Labels: type: refactoring 🛠, 👕 size: M

#12232 feat(core): Enable 1:1 calling for federated env [FS-14] (#12212)
  src/page/template/list/conversations.htm
  src/script/calling/Call.ts
  src/script/calling/CallState.ts
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/fullscreenVideoCall.test.ts
  src/script/components/list/ConversationListCallingCell.test.ts
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/components/list/GroupedConversations.tsx
  src/script/components/list/GroupedConversationsFolder.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/content/TitleBarViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: XL

#12231 feat(services): Add self-hosted desktop only mode
  server/ServerConfig.ts
  server/config.ts
  src/script/auth/component/UnsupportedBrowser.test.tsx
  src/script/auth/component/UnsupportedBrowser.tsx
  src/script/auth/module/action/RuntimeAction.ts
  src/script/auth/module/selector/RuntimeSelector.ts
  src/script/auth/page/Root.tsx
  src/script/main/app.ts
  src/script/main/globals.ts
  src/script/strings.ts
Labels: type: feature / request ✨, 👕 size: M

#12166 chore: change translation
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: XS

#12242 test(services): Mapping security relevant test case
  src/script/auth/component/UnsupportedBrowser.test.tsx
Labels: type: test 👷, 👕 size: XS

#12245 fix(core): Team data gets lost
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12218 chore(core): Migrate mention suggestions to React
  src/script/main/app.ts
  src/script/page/message-list/MentionSuggestions.tsx
  src/script/page/message-list/MentionSuggestions/MentionSuggestionsItem.tsx
  src/script/page/message-list/mentionSuggestions.ts
  src/script/view_model/content/InputBarViewModel.ts
  src/style/components/mention-suggestions.less
Labels: type: chore 🧹, 👕 size: L

#12184 refactor(core): Migrate option page in preferences to React
  src/page/template/content/preferences-options.htm
  src/script/page/preferences/OptionPreferences.tsx
  src/script/page/preferences/accountPreferences/PreferencesCheckbox.tsx
  src/script/page/preferences/accountPreferences/PreferencesSection.tsx
  src/script/page/preferences/components/PreferencesRadio.tsx
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/PreferencesOptionsViewModel.ts
Labels: type: refactoring 🛠, 👕 size: L

#12246 runfix(core): Show handle on mention suggestions
  src/script/page/message-list/MentionSuggestions/MentionSuggestionsItem.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12247 fix(core): Unmount react components on dispose
  src/script/view_model/bindings/ReactBindings.ts
Labels: 👕 size: XS

#12248 chore(core): Fix typo and make hasSeparator opt in
  src/script/page/preferences/AccountPreferences.tsx
  src/script/page/preferences/OptionPreferences.tsx
  src/script/page/preferences/accountPreferences/AccountSecuritySection.tsx
  src/script/page/preferences/accountPreferences/DataUsageSection.tsx
  src/script/page/preferences/accountPreferences/HistoryBackupSection.tsx
  src/script/page/preferences/accountPreferences/PreferencesSection.tsx
  src/script/page/preferences/accountPreferences/PrivacySection.tsx
Labels: type: chore 🧹, 👕 size: S

#12249 chore(core): Clean up verification method
  src/script/components/message/VerificationMessage.tsx
Labels: type: chore 🧹, 👕 size: S

#12251 chore(core): Improve react binding
  src/script/view_model/bindings/ReactBindings.ts
Labels: type: chore 🧹, 👕 size: S

#12260 runfix: Add uie names for radio groups
  src/script/page/preferences/components/PreferencesRadio.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12261 chore(core): Add logs when a calling error happens
  src/script/calling/CallingRepository.ts
Labels: comp: calling, type: chore 🧹, 👕 size: S

#12262 runfix: Update selected mention
  src/script/page/message-list/MentionSuggestions.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12265 chore(core): Stricter string identifier for i18n
  src/script/util/LocalizerUtil.ts
  src/script/view_model/content/TitleBarViewModel.ts
Labels: type: chore 🧹, 👕 size: S

#12243 chore(core): Add sub system tag to AssetCrypto.tests.ts testcases
  src/script/assets/AssetCrypto.test.ts
Labels: type: chore 🧹, 👕 size: XS

#12264 feat(core): Send file metadata with @wireapp/core [FS-161]
  package.json
  src/script/conversation/MessageRepository.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#12268 runfix(core): Stop file sending when metadata sending is canceled by user
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12269 runfix(core): Fix few calling issues
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#12270 runfix(core): Add qualified_conversation when mapping encrypted events
  src/script/cryptography/CryptographyMapper.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12271 chore(core): Migrate AV preferences to React
  src/page/template/content/preferences-av.htm
  src/page/template/wire-main.htm
  src/script/main/globals.ts
  src/script/media/MediaStreamHandler.ts
  src/script/page/preferences/AVPreferences.tsx
  src/script/page/preferences/InputLevel.tsx
  src/script/page/preferences/avPreferences/AudioOutPreferences.tsx
  src/script/page/preferences/avPreferences/CallOptions.tsx
  src/script/page/preferences/avPreferences/CameraPreferences.tsx
  src/script/page/preferences/avPreferences/DeviceSelect.tsx
  src/script/page/preferences/avPreferences/InputLevel.test.tsx
  src/script/page/preferences/avPreferences/InputLevel.tsx
  src/script/page/preferences/avPreferences/MicrophonePreferences.tsx
  src/script/page/preferences/avPreferences/SaveCallLogs.tsx
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/PreferencesAVViewModel.ts
Labels: type: chore 🧹, 👕 size: XXL

#12272 refactor: Remove preferences-options.html
  src/page/template/content/preferences-options.htm
  src/page/template/wire-main.htm
Labels: type: refactoring 🛠, 👕 size: XS

#12273 chore(core): Upgrade @wireapp/core to v19.0.0
  package.json
  src/script/assets/AssetRepository.ts
  src/script/assets/AssetService.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#12276 chore(core): Clean up components for preferences
  src/page/template/content/preferences-account.htm
  src/page/template/wire-main.htm
  src/script/page/preferences/AccountPreferences.tsx
  src/script/page/preferences/OptionPreferences.tsx
  src/script/page/preferences/accountPreferences/AccountSecuritySection.tsx
  src/script/page/preferences/accountPreferences/DataUsageSection.tsx
  src/script/page/preferences/accountPreferences/HistoryBackupSection.tsx
  src/script/page/preferences/accountPreferences/PrivacySection.tsx
  src/script/page/preferences/avPreferences/AudioOutPreferences.tsx
  src/script/page/preferences/avPreferences/CallOptions.tsx
  src/script/page/preferences/avPreferences/CameraPreferences.tsx
  src/script/page/preferences/avPreferences/MicrophonePreferences.tsx
  src/script/page/preferences/avPreferences/SaveCallLogs.tsx
  src/script/page/preferences/components/PreferencesCheckbox.tsx
  src/script/page/preferences/components/PreferencesSection.tsx
Labels: type: chore 🧹, 👕 size: S

#12274 refactor(core): Send assets with @wireapp/core
  package.json
  src/script/assets/AssetMetaDataBuilder.ts
  src/script/assets/AssetRepository.test.ts
  src/script/assets/AssetRepository.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/event/EventService.ts
  src/script/links/LinkPreviewRepository.ts
  src/script/util/util.ts
  test/unit_tests/event/EventServiceCommon.js
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: XL

#12244 refactor(core): Send link preview with @wireapp/code
  src/script/assets/AssetRemoteData.ts
  src/script/components/asset/LinkPreviewAssetComponent.test.ts
  src/script/components/asset/LinkPreviewAssetComponent.tsx
  src/script/conversation/EventMapper.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/conversation/linkPreviews/LinkPreviewError.ts
  src/script/conversation/linkPreviews/blackList.test.ts
  src/script/conversation/linkPreviews/blackList.ts
  src/script/conversation/linkPreviews/helpers.test.ts
  src/script/conversation/linkPreviews/helpers.ts
  src/script/conversation/linkPreviews/index.test.ts
  src/script/conversation/linkPreviews/index.ts
  src/script/conversation/linkPreviews/metaDataType.ts
  src/script/entity/message/LinkPreview.ts
  src/script/entity/message/Text.ts
  src/script/links/LinkPreviewProtoBuilder.ts
  src/script/links/LinkPreviewRepository.ts
  src/script/main/app.ts
  src/script/util/DebugUtil.ts
  test/helper/TestFactory.js
  test/unit_tests/links/LinkPreviewProtoBuilderSpec.js
  test/unit_tests/links/LinkPreviewRepositorySpec.js
Labels: type: refactoring 🛠, 👕 size: XXL

#12278 fix(core): Target only specific client when reseting session
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12279 runfix(core): Show federated icon in mention suggestion
  src/script/page/message-list/MentionSuggestions/MentionSuggestionsItem.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12280 runfix(core): Check legal hold on core client mismatch
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12281 runfix(core): Check team member leave on client mismatch
  src/script/conversation/ConversationRepository.ts
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12282 runfix(core): Inject legalhold message before mismatched message
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12284 runfix(core): Handle redundant mismatch with core messages
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12285 chore(core): Migrate preferences about page to React
  src/page/template/content/preferences-about.htm
  src/page/template/wire-main.htm
  src/script/page/preferences/AVPreferences.tsx
  src/script/page/preferences/AboutPreferences.tsx
  src/script/page/preferences/AccountPreferences.tsx
  src/script/page/preferences/OptionPreferences.tsx
  src/script/page/preferences/accountPreferences/AccountSecuritySection.tsx
  src/script/page/preferences/components/PreferencesLink.tsx
  src/script/page/preferences/components/PreferencesPage.tsx
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/PreferencesAboutViewModel.ts
Labels: type: chore 🧹, 👕 size: XL

#12283 feat(core): Federation conference calls
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/components/calling/fullscreenVideoCall.test.ts
  src/script/components/list/ConversationListCallingCell.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/MessageRepository.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: L

#12295 runfix(core): Fix link previews that have no images
  src/script/conversation/MessageRepository.ts
  src/script/conversation/linkPreviews/index.test.ts
  src/script/conversation/linkPreviews/index.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12296 refactor(core): Allow partial mismatch to be given to mismatch handler
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
Labels: comp: calling, type: refactoring 🛠, 👕 size: M

#12307 fix(core): Trigger team member leave event in case of a Tier1 team
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12308 runfix(core): make sure event is injected before continuing sending
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12310 refactor(core): Send button action with @wireapp/core
  src/script/conversation/MessageRepository.ts
  src/script/entity/message/Message.ts
Labels: type: refactoring 🛠, 👕 size: S

#12312 refactor(core): send conversation clear via @wireapp/core
  src/script/conversation/MessageRepository.ts
Labels: type: refactoring 🛠, 👕 size: S

#12315 fix(core): Be sure UI is updated when injecting event
  src/script/conversation/MessageRepository.ts
  src/script/event/EventRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12314 feat(core): Adds domain config when uploading assets in a federated env
  package.json
  src/script/assets/AssetRepository.ts
  src/script/assets/AssetService.ts
  src/script/conversation/MessageRepository.ts
  src/script/user/UserRepository.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#12311 fix(core): Avoid losing data when serializing client notifications
  src/script/notification/PreferenceNotificationRepository.test.ts
  src/script/notification/PreferenceNotificationRepository.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ModalsViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12317 fix(core): Properly warn user when calling in a degraded conversation
  src/script/calling/CallingRepository.ts
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#12087 chore(call): Don't render arrow icon on participant item when not needed
  src/script/components/list/ParticipantItem.tsx
  src/style/components/list/participant-item.less
Labels: type: chore 🧹, 👕 size: S

#12319 runfix: Switching camera during call didn't work
  src/script/calling/CallingRepository.ts
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/page/preferences/AVPreferences.tsx
  src/script/page/preferences/avPreferences/CameraPreferences.tsx
  src/script/page/preferences/avPreferences/MicrophonePreferences.tsx
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#12321 refactor(core): Streamline asset upload cancelling
  src/script/assets/AssetRepository.ts
  src/script/components/asset/AbstractAssetTransferStateTracker.ts
  src/script/conversation/MessageRepository.ts
Labels: type: refactoring 🛠, 👕 size: S

#12334 fix(call): Make sure that one media device is selected by default
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/media/MediaDevicesHandler.ts
Labels: type: bug / fix 🐞, 👕 size: S
