Repository wireapp/wire-webapp, pull requests merged in 2021-08, with the labels that each got.

#11599 test: More asset data-uie attributes
  src/script/components/asset/FileAssetComponent.tsx
  src/script/components/asset/ImageAsset.tsx
Labels: size: s, type: test 👷

#11611 runfix: Audio asset collection arrangement
  src/page/template/content/collection-details.htm
  src/page/template/content/collection.htm
Labels: size: xs, type: bug / fix 🐞

#11612 refactor(core): Make ConversationMapper static
  src/script/conversation/ConversationEphemeralHandler.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationStateHandler.ts
  src/script/conversation/MessageRepository.test.ts
  test/unit_tests/conversation/ConversationEphemeralHandlerSpec.js
  test/unit_tests/conversation/ConversationMapperSpec.js
  test/unit_tests/conversation/ConversationRepositorySpec.js
  test/unit_tests/conversation/ConversationServiceSpec.js
  test/unit_tests/entity/ConversationSpec.js
  test/unit_tests/notification/NotificationRepositorySpec.js
Labels: size: m, type: refactoring 🛠

#11598 refactor: Migrate grouped-conversations to react
  src/script/components/list/ConversationListCell.tsx
  src/script/components/list/GroupedConversationHeader.tsx
  src/script/components/list/GroupedConversations.tsx
  src/script/components/list/groupedConversations.ts
  src/script/view_model/list/ConversationListViewModel.ts
Labels: size: l, type: refactoring 🛠

#11614 refactor(core): Make ConnectionMapper static
  src/script/connection/ConnectionMapper.test.ts
  src/script/connection/ConnectionMapper.ts
  src/script/connection/ConnectionRepository.ts
  test/unit_tests/entity/ConversationSpec.js
  test/unit_tests/notification/NotificationRepositorySpec.js
Labels: size: s, type: refactoring 🛠

#11596 refactor: Migrate FullSearch to react
  src/page/template/content/collection.htm
  src/script/hooks/useDebounce.ts
  src/script/hooks/useHideElement.ts
  src/script/main/globals.ts
  src/script/page/collection/FullSearch.tsx
  src/script/page/collection/fullSearch.ts
  src/script/page/collection/fullSearch/FullSearchItem.tsx
  src/script/view_model/content/CollectionViewModel.ts
  src/style/components/full-search.less
Labels: size: xl, type: refactoring 🛠

#11616 fix(core): Don't display array length 0 in container
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/components/list/ConversationListCell.tsx
Labels: size: s, type: bug / fix 🐞

#11613 fix: Allow calling after accepting a connection request (SQCORE-348)
  src/script/components/list/ConversationListCell.tsx
  src/script/connection/ConnectionMapper.ts
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationCellState.ts
  src/script/conversation/ConversationFilter.test.ts
  src/script/conversation/ConversationFilter.ts
  src/script/conversation/ConversationRepository.ts
  src/script/properties/PropertiesRepository.ts
  src/script/view_model/content/TitleBarViewModel.ts
Labels: comp: preferences, size: m, type: bug / fix 🐞

#11590 feat(core): Fetch remote conversation from backend
  src/script/conversation/ConversationService.ts
Labels: size: s, type: feature / request ✨

#11594 feat(core): Access federated conversations by URL
  src/page/template/list/conversations.htm
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/components/list/groupedConversations.ts
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationRoleRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/ConversationState.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/entity/Conversation.ts
  src/script/main/app.ts
  src/script/notification/NotificationRepository.ts
  src/script/page/start-ui/groupList/GroupListItem.tsx
  src/script/router/routeGenerator.test.ts
  src/script/router/routeGenerator.ts
  src/script/storage/record/ConversationRecord.ts
  src/script/util/TypePredicateUtil.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ImageDetailViewViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/content/GroupCreationViewModel.ts
  src/script/view_model/content/InputBarViewModel.ts
  src/script/view_model/content/LegalHoldModalViewModel.ts
  src/script/view_model/list/ArchiveViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/script/view_model/list/TakeoverViewModel.ts
  test/unit_tests/conversation/ConversationRepositorySpec.js
Labels: size: l, type: feature / request ✨

#11619 runfix: Give options param default value (SQCALL-376)
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/main/app.ts
  src/script/notification/NotificationRepository.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ImageDetailViewViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/content/GroupCreationViewModel.ts
  src/script/view_model/list/ArchiveViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/script/view_model/list/TakeoverViewModel.ts
Labels: size: s, type: bug / fix 🐞

#11622 test: FileAsset - Add file name as data-uie attribute
  src/script/components/asset/FileAssetComponent.tsx
Labels: size: xs, type: test 👷

#11299 refactor: Migrate UserDevices & ParticipantDevicesPanel to React
  src/page/template/modal/legal-hold.htm
  src/page/template/panel/participant-devices.htm
  src/script/auth/component/ClientItem.tsx
  src/script/client/ClientEntity.ts
  src/script/components/DeviceId.tsx
  src/script/components/UserDevices.tsx
  src/script/components/userDevices.ts
  src/script/components/userDevices/DeviceCard.tsx
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/components/userDevices/DeviceList.tsx
  src/script/components/userDevices/NoDevicesFound.tsx
  src/script/components/userDevices/SelfFingerprint.tsx
  src/script/cryptography/CryptographyRepository.ts
  src/script/util/ComponentUtil.ts
  src/script/util/StringUtil.ts
  src/script/view_model/PanelViewModel.ts
  src/script/view_model/content/LegalHoldModalViewModel.ts
  src/script/view_model/content/PreferencesDeviceDetailsViewModel.ts
  src/script/view_model/content/PreferencesDevicesViewModel.ts
  src/script/view_model/panel/PanelHeader.tsx
  src/script/view_model/panel/ParticipantDevicesPanel.tsx
  src/script/view_model/panel/ParticipantDevicesViewModel.ts
  src/script/view_model/panel/TimedMessagesPanel.tsx
  src/style/modal/legal-hold-modal.less
  src/style/panel/participant-devices.less
  test/unit_tests/cryptography/CryptographyRepositorySpec.js
Labels: do-not-merge, size: xxl, type: refactoring 🛠

#11625 feat(calling): Support for large conference calls and audio tiles
  package.json
  src/i18n/en-US.json
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
  src/script/calling/videoGridHandler.ts
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/Pagination.tsx
  src/script/components/calling/Video.tsx
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/conversation/ConversationFilter.test.ts
  src/style/components/list/conversation-list-calling-cell.less
  yarn.lock
Labels: comp: calling, size: m, type: feature / request ✨

#11627 runfix(services): Use binary kilobyte unit (SQSERVICES-678)
  src/script/util/util.ts
  test/unit_tests/util/UtilSpec.js
Labels: size: xs, type: bug / fix 🐞

#11630 Add tests for panels
  src/script/view_model/panel/NotificationsPanel.test.ts
  src/script/view_model/panel/NotificationsPanel.tsx
  src/script/view_model/panel/PanelHeader.test.ts
  src/script/view_model/panel/PanelHeader.tsx
Labels: size: m

#11631 runfix: Set conversation as federated if feature enabled
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, size: xs

#11632 runfix: Use string type for fingerprints (SQSERVICES-692)
  src/script/view_model/content/LegalHoldModalViewModel.ts
Labels: type: bug / fix 🐞, size: s

#11633 chore: Make T-Shirt labels more readable
  .github/labeler.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#11629 refactor: Migrate message likes to React
  src/script/components/message.ts
  src/script/components/message/MessageFooterLike.test.tsx
  src/script/components/message/MessageFooterLike.tsx
  src/script/components/message/MessageLike.tsx
Labels: type: refactoring 🛠, 👕 size: M

#11657 refactor(core): Use UserClients from core, improve types
  src/script/broadcast/BroadcastRepository.ts
  src/script/calling/CallingRepository.ts
  src/script/conversation/ClientMismatchHandler.test.ts
  src/script/conversation/ConversationEphemeralHandler.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventInfoEntity.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/event/EventRepositorySpec.ts
  src/script/links/LinkPreviewRepository.ts
  src/script/search/SearchRepository.ts
  src/script/user/UserMapper.ts
  src/script/util/Environment.ts
  src/script/view_model/PanelViewModel.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
Labels: comp: calling, type: refactoring 🛠, 👕 size: M

#11624 feat: Display qualified users in federated conversation
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/entity/Conversation.ts
  src/script/entity/message/MemberMessage.ts
  src/script/storage/record/ConversationRecord.ts
  src/script/user/UserRepository.ts
  src/script/user/UserService.ts
Labels: type: feature / request ✨, 👕 size: M

#11659 runfix: Reactivity issues with the calling grid (SQCALL-325, SQCALL-345, SQCALL-377)
  src/script/calling/videoGridHandler.ts
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/list/ConversationListCallingCell.tsx
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#11665 runfix(calling): Ignore missing participants (SQCALL-345, SQCALL-377)
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#11666 runfix: Use template for panel component to make drag handler work
  src/script/view_model/panel/NotificationsPanel.tsx
  src/script/view_model/panel/ParticipantDevicesPanel.tsx
  src/script/view_model/panel/TimedMessagesPanel.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#11667 runfix: Redirect to login when app config can not be loaded (SQSERVICES-710)
  src/script/auth/SignOutReason.ts
  src/script/auth/route.ts
  src/script/error/TeamError.ts
  src/script/main/app.ts
  src/script/strings.ts
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#11663 refactor: Extract CallDuration component
  src/script/components/calling/Duration.tsx
  src/script/components/list/ConversationListCallingCell.test.ts
  src/script/components/list/ConversationListCallingCell.tsx
Labels: type: refactoring 🛠, 👕 size: S

#11672 runfix: Support 1:1 connections in webapps that don't have Federation feature flags (SQCORE-837)
  src/script/entity/User.ts
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#11664 feat: Display qualified users in federated conversation
  src/script/components/message/MemberMessage.tsx
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/entity/Conversation.ts
  src/script/entity/User.ts
  src/script/entity/message/MemberMessage.ts
  src/script/entity/message/VerificationMessage.ts
  src/script/storage/record/ConversationRecord.ts
  src/script/user/UserRepository.ts
  src/script/user/UserService.ts
Labels: type: feature / request ✨, 👕 size: M

#11676 runfix: Correct alpha values for the fading scrollbar
  src/script/ui/fadingScrollbar.ts
Labels: type: bug / fix 🐞, 👕 size: S

#11677 runfix: Hide pagination when maximizing a participant tile
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#11681 runfix: Show self preview
  src/script/calling/videoGridHandler.ts
  src/script/components/calling/GroupVideoGrid.tsx
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#11680 runfix: Enable message sending to federated conversations
  package.json
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/view_model/content/InputBarViewModel.ts
  webpack.config.common.js
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#11682 runfix: Show either grid OR no camera warning
  src/script/components/list/ConversationListCallingCell.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#11683 runfix: Allow new participant on updateVideoStream for 1to1
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#11703 runfix(calling): Sort grid when video activity changes (SQCALL-387)
  src/script/calling/videoGridHandler.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#11704 feat(calling): Hide pagination and audio tiles
  src/script/calling/Call.ts
  src/script/calling/videoGridHandler.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: S

#11707 runfix: Check for grid existence
  src/script/calling/videoGridHandler.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#11710 runfix: Enable default feature set on legacy backends
  package.json
  src/script/team/TeamRepository.ts
  src/script/team/TeamService.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#11621 refactor: Migrate grouped-conversations to react
  src/script/components/list/ConversationListCell.tsx
  src/script/components/list/GroupedConversationHeader.tsx
  src/script/components/list/GroupedConversations.tsx
  src/script/components/list/groupedConversations.ts
  src/script/view_model/list/ConversationListViewModel.ts
Labels: type: refactoring 🛠, 👕 size: L

#11711 runfix: Handle states where there is no active conversation
  src/script/conversation/ConversationState.ts
  src/script/view_model/content/InputBarViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#11712 runfix: Fix folders reactivity issues
  src/script/components/list/GroupedConversations.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#11713 runfix(calling): Stop camera when switching to screen share
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
  src/script/components/calling/GroupVideoGrid.test.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#11714 runfix: Use conversationState in GroupedConversations
  src/script/components/list/GroupedConversations.tsx
  src/script/components/list/GroupedConversationsFolder.tsx
  src/script/conversation/ConversationLabelRepository.ts
Labels: type: bug / fix 🐞, 👕 size: M

#11716 runfix: Update badge in folder view
  src/script/components/list/GroupedConversationHeader.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#11717 feat(core): Save domain in session ID for remote sessions
  src/script/client/ClientEntity.ts
  src/script/client/ClientRepository.test.ts
  src/script/client/ClientRepository.ts
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/cryptography/CryptographyService.ts
  src/script/entity/message/DecryptErrorMessage.ts
  src/script/storage/record/ClientRecord.ts
  src/script/user/UserRepository.ts
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/content/PreferencesDeviceDetailsViewModel.ts
Labels: type: feature / request ✨, 👕 size: M

#11736 runfix: Folders should react to changes
  src/script/components/list/GroupedConversations.tsx
  src/script/util/ComponentUtil.ts
Labels: type: bug / fix 🐞, 👕 size: S

#11738 test: Add tests for ComponentUtil.ts
  jest.config.js
  package.json
  src/script/util/ComponentUtil.test.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: M

#11737 feat(core): Show domain in account preferences
  src/i18n/en-US.json
  src/script/components/panel/EnrichedFields.test.ts
  src/script/components/panel/EnrichedFields.tsx
Labels: type: feature / request ✨, 👕 size: S

#11739 runfix: Join button not visible in folder view
  src/script/components/list/GroupedConversations.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#11740 Concise use label hook
  src/script/components/list/GroupedConversations.tsx
Labels: 👕 size: S

#11742 fix: Show double click to maximize text only for calls with more than 3 participants
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#11741 feature(core): Map domain from conversation creation event
  src/script/conversation/ConversationRepository.ts
  test/unit_tests/conversation/ConversationRepositorySpec.js
Labels: type: refactoring 🛠, 👕 size: M

#11744 runfix: More sensible deps for useVideoGrid
  src/script/calling/videoGridHandler.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#11746 feat: Show correct context menu
  src/i18n/en-US.json
  src/script/components/list/ConversationListCallingCell.tsx
Labels: type: feature / request ✨, 👕 size: S

#11745 runfix: Allow maximizing tile only with more than one participants
  src/script/components/calling/GroupVideoGrid.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#11755 docs: Mention to compile code before creating Docker image
  bin/push_docker.js
Labels: type: documentation 📋, 👕 size: XS

#11774 chore: Check PR titles for semantic commit messages
  .github/pr-title-checker-config.json
  .github/workflows/check-pr-title.yml
Labels: type: bug / fix 🐞, comp: infrastructure, 👕 size: S
