Repository wireapp/wire-webapp, pull requests merged in 2021-06, with the labels that each got.

#11201 runfix: Fix panel errors from nightly run
  src/script/view_model/PanelViewModel.ts
Labels: size: s, type: bug / fix 🐞

#11203 fix: Handle view switching more hesitantly
  src/script/view_model/ContentViewModel.ts
Labels: size: xs, type: bug / fix 🐞

#11202 feat: Announce production deployments in official release chat
  bin/release_tag.ts
Labels: size: s, type: feature / request ✨

#11209 chore: Run codecov also on merges
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#11208 refactor: Migrate read receipts to React
  src/script/components/message.ts
  src/script/components/message/ReadReceiptStatus.test.tsx
  src/script/components/message/ReadReceiptStatus.tsx
  src/style/content/conversation/message-list.less
Labels: size: l, type: refactoring 🛠

#11211 Add participant count to 'all'-button, refactor
  src/i18n/en-US.json
  src/script/calling/Call.ts
  src/script/components/avatar/AvatarImage.tsx
  src/script/components/calling/ButtonGroup.test.ts
  src/script/components/calling/ButtonGroup.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGrid.test.ts
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/components/list/conversationListCallingCell.ts
  src/script/util/ComponentUtil.ts
  src/script/view_model/CallingViewModel.ts
Labels: comp: calling, size: m

#11234 runfix: Unwrap `is1to1Conversation` in ReadReceiptStatus
  src/script/components/message/ReadReceiptStatus.tsx
Labels: size: xs, type: bug / fix 🐞

#11232 runfix: Checkout repository before detecting semver range
  .github/workflows/merge-dependencies.yml
Labels: comp: infrastructure, size: xs, type: bug / fix 🐞

#11206 refactor: Migrate MessageTimerButton to React
  src/script/components/Icon.tsx
  src/script/components/VerifiedIcon.tsx
  src/script/main/globals.ts
  src/script/page/message-list/MessageTimerButton.test.ts
  src/script/page/message-list/MessageTimerButton.tsx
  src/script/page/message-list/messageTimerButton.ts
  src/script/ui/ContextMenu.ts
Labels: size: l, type: refactoring 🛠

#11236 fix: useKoSubscribableChildren might not return correct new state
  src/script/util/ComponentUtil.ts
Labels: size: xs, type: bug / fix 🐞

#11240 chore: UserInput cleanup
  src/page/template/list/start-ui.htm
  src/page/template/panel/add-participants.htm
  src/page/template/panel/conversation-participants.htm
  src/script/components/UserInput.tsx
Labels: size: s, type: chore 🧹

#11243 fix: Incoming call maximizes ongoing call (SQCALL-73)
  src/script/components/list/conversationListCallingCell.ts
Labels: size: xs, type: bug / fix 🐞

#11237 fix: Keep read receipt status for edited messages (SQCORE-732)
  src/script/conversation/MessageRepository.ts
  src/script/event/EventRepository.ts
  src/script/event/EventRepositorySpec.ts
  src/script/event/EventService.ts
  src/script/event/preprocessor/ReceiptsMiddleware.ts
Labels: size: m, type: bug / fix 🐞

#11276 runfix: Display read receipt indicator on hover (SQCORE-772)
  src/script/components/message/ReadReceiptStatus.tsx
Labels: size: s, type: bug / fix 🐞

#11241 refactor: Remove the `optional` param in `registerReactComponent`
  src/script/components/AvailabilityState.tsx
  src/script/components/Avatar.tsx
  src/script/components/Image.tsx
  src/script/components/LegalHoldDot.tsx
  src/script/components/ServiceList.tsx
  src/script/components/UserInput.tsx
  src/script/components/asset/AssetLoader.tsx
  src/script/components/asset/FileAssetComponent.tsx
  src/script/components/asset/LinkPreviewAssetComponent.tsx
  src/script/components/asset/MessageButton.tsx
  src/script/components/asset/controls/MediaButton.tsx
  src/script/components/asset/controls/SeekBar.tsx
  src/script/components/avatar/GroupAvatar.tsx
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/ParticipantMicOnIcon.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/panel/EnrichedFields.tsx
  src/script/components/panel/PanelActions.tsx
  src/script/components/panel/UserActions.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/components/toggle/GuestModeToggle.tsx
  src/script/components/userDevices/DeviceCard.tsx
  src/script/page/start-ui/TopPeople.tsx
  src/script/util/ComponentUtil.ts
Labels: size: s, type: refactoring 🛠

#11281 feat: Improve invalid code error message when verifying new account
  src/script/strings.ts
Labels: size: xs, type: feature / request ✨

#11282 chore: Merge dependencies at 2AM (Berlin time)
  .github/dependabot.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#11291 chore: Revert @wireapp/avs from 7.2.3 to 7.2.2
  package.json
  yarn.lock
Labels: size: s, type: chore 🧹

#11242 chore: Add comment to explain why Helm chart update job might throw an error
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#11292 runfix: Roll back to avs v7.1.6
  package.json
  yarn.lock
Labels: size: s, type: bug / fix 🐞

#11293 chore: Turn web chapter into code owners
  .github/CODEOWNERS
Labels: comp: infrastructure, size: xs, type: chore 🧹

#11294 chore: Merge dependency updates at 4 PM
  .github/dependabot.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#11238 chore: Remove references of non-existing keys in app-config
  bin/push_docker.js
Labels: size: s, type: chore 🧹

#11167 feat: Add calling pagination (SQCALL-295)
  app-config/package.json
  package.json
  src/i18n/en-US.json
  src/page/template/wire-main.htm
  src/script/assets/AssetMetaDataBuilder.ts
  src/script/assets/AssetRepository.test.ts
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
  src/script/calling/videoGridHandler.ts
  src/script/components/Icon.tsx
  src/script/components/avatar/AvatarImage.tsx
  src/script/components/calling/ButtonGroup.test.ts
  src/script/components/calling/ButtonGroup.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGrid.test.ts
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/components/calling/Pagination.tsx
  src/script/components/calling/ParticipantMicOnIcon.tsx
  src/script/components/calling/fullscreenVideoCall.test.ts
  src/script/components/list/conversationListCallingCell.ts
  src/script/notification/NotificationRepository.ts
  src/script/util/ArrayUtil.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/MainViewModel.ts
  src/style/components/group-video-grid.less
  src/style/foundation/video-calling.less
  test/unit_tests/calling/videoGridHandlerSpec.js
  test/unit_tests/conversation/EventMapperSpec.js
  yarn.lock
Labels: comp: calling, size: xl, type: feature / request ✨

#11280 refactor: Migrate CallingCell to React
  src/page/template/list/conversations.htm
  src/page/template/list/temporary-guest.htm
  src/script/components/list/ConversationListCallingCell.test.ts
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/components/list/conversationListCallingCell.ts
  src/script/components/userList.ts
  src/script/main/globals.ts
  src/script/notification/NotificationRepository.ts
  src/script/router/routerBindings.ts
  src/script/team/TeamRepository.ts
  src/script/team/TeamState.ts
  src/script/ui/fadingScrollbar.ts
  src/script/util/ComponentUtil.ts
  src/style/components/list/conversation-list-calling-cell.less
  test/unit_tests/components/list/conversationListCallingCellSpec.js
Labels: size: xxl, type: refactoring 🛠

#11278 refactor: Add calling container
  src/page/template/list/conversations.htm
  src/page/template/list/temporary-guest.htm
  src/page/template/wire-main.htm
  src/script/calling/Call.ts
  src/script/calling/CallState.ts
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/fullscreenVideoCall.test.ts
  src/script/components/list/ConversationListCallingCell.test.ts
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/main/app.ts
  src/script/view_model/CallingViewModel.ts
Labels: comp: calling, size: l, type: refactoring 🛠

#11300 feat: Accept desktop conversation join events
  src/i18n/en-US.json
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
Labels: size: m, type: feature / request ✨

#11314 runfix: Subscribe to maximizedParticipant of the current call
  src/script/components/calling/CallingOverlayContainer.tsx
Labels: size: xs, type: bug / fix 🐞

#11315 runfix: Remove videoInput prop of FullscreenVideoCall
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/fullscreenVideoCall.test.ts
Labels: size: s, type: bug / fix 🐞

#11316 runfix: Fullscreen video call reactivity issues
  src/script/calling/videoGridHandler.ts
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/view_model/CallingViewModel.ts
  test/unit_tests/calling/videoGridHandlerSpec.js
Labels: comp: calling, size: m, type: bug / fix 🐞

#11319 runfix: Keep maximized participant when switching from fullscreen
  src/page/template/list/conversations.htm
  src/page/template/list/temporary-guest.htm
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGrid.test.ts
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/components/list/ConversationListCallingCell.test.ts
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/view_model/CallingViewModel.ts
Labels: size: s, type: bug / fix 🐞

#11212 feat: Support joining public conversations on mobiles (SQSERVICES-502)
  src/script/conversation/ConversationMapper.ts
Labels: size: xs, type: refactoring 🛠

#11322 chore: Ignore codecov patch check
  codecov.yml
Labels: size: xs, type: chore 🧹

#11321 chore: Merge dependency updates at 4 PM
  .github/dependabot.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#11320 chore: Adjust corporate language for guest rooms
  src/i18n/en-US.json
  src/script/auth/component/UnsupportedBrowser.tsx
  src/script/auth/page/ConversationJoin.tsx
  src/script/auth/page/ConversationJoinInvalid.tsx
  src/script/strings.ts
Labels: size: m, type: chore 🧹

#11332 fix: Assume element is overlayed if getBoundingClientRect fails
  src/script/ui/overlayedObserver.ts
Labels: size: xs, type: bug / fix 🐞

#11333 runfix: Remove grid observable for calls
  src/page/template/list/conversations.htm
  src/page/template/list/temporary-guest.htm
  src/script/calling/videoGridHandler.ts
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/view_model/CallingViewModel.ts
  test/unit_tests/calling/videoGridHandlerSpec.js
Labels: comp: calling, size: s, type: bug / fix 🐞

#11334 fix: Show self video preview when starting a video call (SQCALL-307)
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/view_model/MainViewModel.ts
Labels: size: s, type: bug / fix 🐞

#11337 runfix: Reset isMinimized on end call
  src/script/components/calling/CallingOverlayContainer.tsx
Labels: size: xs, type: bug / fix 🐞

#11338 chore: Return typed values from useKoSubscribableChildren
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/components/message/EphemeralTimer.tsx
  src/script/util/ComponentUtil.ts
Labels: size: s, type: chore 🧹

#11339 refactor: Migrate PingMessage to React
  src/script/components/message.ts
  src/script/components/message/PingMessage.test.tsx
  src/script/components/message/PingMessage.tsx
Labels: size: m, type: refactoring 🛠
