Repository wireapp/wire-webapp, pull requests merged in 2021-02, with the labels that each got.

#10393 chore: Revert "refactor: Use @wireapp/core 17.0 (#10371)"
  package.json
  src/script/broadcast/BroadcastRepository.ts
  src/script/broadcast/BroadcastService.ts
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyRepository.ts
  test/unit_tests/cryptography/CryptographyRepositorySpec.js
  yarn.lock
Labels: size: l, type: chore 🧹

#10394 runfix: Mark optional params in seek bar
  src/script/components/asset/controls/SeekBar.tsx
Labels: size: xs, type: bug / fix 🐞

#10396 fix: Simpler (and more stable) useHideElement hook
  src/script/hooks/useHideElement.ts
Labels: size: s, type: bug / fix 🐞

#10398 chore: Use webworker AVS
  package.json
  server/config.ts
  test/unit_tests/calling/CallingRepositorySpec.js
  yarn.lock
Labels: size: s, type: chore 🧹

#10400 fix: Mock client prekey request in tests
  test/unit_tests/cryptography/CryptographyRepositorySpec.js
Labels: size: xs, type: bug / fix 🐞

#10434 runfix: AssetLoader size
  src/script/components/asset/AssetLoader.tsx
Labels: size: xs, type: bug / fix 🐞

#10364 refactor: GuestModeToggle to React
  src/script/components/GuestModeToggle.test.tsx
  src/script/components/GuestModeToggle.tsx
  src/script/components/InfoToggle.tsx
  src/script/components/guestModeToggle.ts
  src/script/components/modal.ts
  src/script/main/globals.ts
  src/style/common/modal.less
  src/style/components/info-toggle.less
Labels: size: m, type: refactoring 🛠

#10437 refactor: Migrate input level audiometer to React
  src/script/components/InputLevel.test.tsx
  src/script/components/InputLevel.tsx
  src/script/components/inputLevel.ts
  src/script/main/globals.ts
Labels: size: m, type: refactoring 🛠

#10436 refactor: Migrate device-card to react
  src/script/components/DeviceCard.test.tsx
  src/script/components/DeviceCard.tsx
  src/script/components/LegalHoldDot.tsx
  src/script/components/VerifiedIcon.tsx
  src/script/components/deviceCard.ts
  src/script/components/userDevices.ts
  src/style/components/device-card.less
Labels: size: l, type: refactoring 🛠

#10438 fix: Hide call UI more reliably on the desktop client
  src/script/hooks/useHideElement.ts
Labels: size: xs, type: bug / fix 🐞

#10439 chore: Move data-uies back to the guest toggle label
  src/script/components/GuestModeToggle.test.tsx
  src/script/components/GuestModeToggle.tsx
Labels: size: xs, type: chore 🧹

#10435 refactor: Migrate PanelActions to React
  src/script/components/panel/PanelActions.test.ts
  src/script/components/panel/PanelActions.tsx
  src/script/components/panel/panelActions.ts
  src/script/components/panel/userActions.ts
  src/script/view_model/panel/ConversationDetailsViewModel.ts
  test/unit_tests/components/panel/userActionsSpec.js
  test/unit_tests/components/panelActionsSpec.js
Labels: size: m, type: refactoring 🛠

#10442 fix: Increase user handle limit to 256
  src/page/template/content/preferences-account.htm
  src/script/user/UserRepository.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  test/unit_tests/user/UserRepositorySpec.js
Labels: size: s, type: bug / fix 🐞

#10441 chore: Use distribution keyword in env variable
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#10372 refactor: Migrate GroupedConversationHeader to React
  src/page/template/panel/conversation-details.htm
  src/page/template/panel/group-participant-user.htm
  src/script/components/list/GroupedConversationHeader.test.ts
  src/script/components/list/GroupedConversationHeader.tsx
  src/script/components/list/groupedConversationHeader.ts
  src/script/components/list/groupedConversations.ts
  src/script/components/list/participantItem.ts
  src/script/components/messageQuote.ts
  src/style/components/list/participant-item.less
  src/style/content/conversation/message-quote.less
  src/style/list/conversations.less
  src/style/panel/panel.less
Labels: size: m, type: refactoring 🛠

#9994 feat: Add AppLock feature
  server/ServerConfig.ts
  server/config.ts
  src/i18n/en-US.json
  src/page/template/modal/applock.htm
  src/page/template/wire-main.htm
  src/script/auth/route.ts
  src/script/components/AppLock.test.tsx
  src/script/components/AppLock.tsx
  src/script/components/ModalComponent.tsx
  src/script/main/app.ts
  src/script/main/globals.ts
  src/script/team/TeamRepository.ts
  src/script/team/TeamService.ts
  src/script/team/TeamState.ts
  src/script/util/test/mock/mutationObserverMock.ts
  src/script/view_model/content/AppLockViewModel.test.ts
  src/script/view_model/content/AppLockViewModel.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  src/style/common/modal.less
Labels: size: xxl, type: feature / request ✨

#10440 style: Use BEM in InputLevelComponent
  src/script/components/InputLevel.test.tsx
  src/script/components/InputLevel.tsx
  src/style/components/input-level.less
Labels: size: s

#10455 runfix: Set default size for panel items to 16
  src/script/components/panel/PanelActions.tsx
Labels: size: xs, type: bug / fix 🐞

#10457 chore: Fix spelling mistakes
  .cspell.json
  src/script/assets/AssetRepository.test.ts
  src/script/components/AppLock.test.tsx
  src/script/components/DeviceCard.test.tsx
  src/script/components/ParticipantAvatar.test.tsx
  src/script/components/message.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/user/AvailabilityModal.ts
  src/script/util/FileTypeUtil.ts
  src/script/view_model/CallingViewModel.ts
Labels: size: s, type: chore 🧹

#10459 fix: Check .key existence before lowerCase
  src/script/util/KeyboardUtil.ts
Labels: size: xs, type: bug / fix 🐞

#10454 chore: Build portable Windows app
  .github/workflows/test_build_deploy.yml
  electron/bin/zip.js
  electron/electron-builder.config.js
  electron/package.json
  electron/yarn.lock
Labels: comp: infrastructure, size: s, type: chore 🧹

#10465 refactor: Use component's props as generic for optional params
  src/script/components/ParticipantAvatar.tsx
  src/script/util/ComponentUtil.ts
Labels: size: s, type: refactoring 🛠

#10464 refactor: Migrate LocationAsset to React
  src/script/components/asset/LocationAsset.test.ts
  src/script/components/asset/LocationAsset.tsx
  src/script/components/asset/locationAsset.ts
  src/script/components/message.ts
Labels: size: m, type: refactoring 🛠

#10466 runfix: Rename clickHandler to use it in the optionalParams
  src/script/components/ParticipantAvatar.test.tsx
  src/script/components/ParticipantAvatar.tsx
  src/script/components/message.ts
  src/script/util/ComponentUtil.ts
Labels: size: s, type: bug / fix 🐞

#10467 fix: SeekBar component not working properly
  src/script/components/asset/controls/SeekBar.tsx
  src/style/components/asset/controls/seek-bar.less
Labels: size: m, type: bug / fix 🐞

#10458 refactor: Extract & Migrate VerificationMessage to React
  src/script/components/message.ts
  src/script/components/message/VerificationMessage.test.tsx
  src/script/components/message/VerificationMessage.tsx
  src/script/entity/message/VerificationMessage.ts
  test/unit_tests/client/ClientMapperSpec.js
Labels: size: l, type: refactoring 🛠

#10471 refactor: Remove unused knockout device-remove component
  src/script/components/deviceRemove.ts
  src/style/components/device-remove.less
  src/style/foundation/main.less
Labels: size: m, type: refactoring 🛠

#10473 refactor: Remove extra import of device-remove
  src/script/main/globals.ts
Labels: size: xs, type: refactoring 🛠

#10470 chore: Bump husky from 4.3.8 to 5.0.9 (SQCORE-465)
  .husky/.gitignore
  .husky/common.sh
  .husky/pre-commit
  .huskyrc.js
  package.json
  yarn.lock
Labels: size: m, type: chore 🧹

#10476 feat: Set app lock if it's not set yet
  src/i18n/en-US.json
  src/page/template/content/preferences-account.htm
  src/script/components/AppLock.tsx
  src/script/view_model/content/PreferencesAccountViewModel.ts
Labels: size: s, type: feature / request ✨

#10477 refactor: Convert to function hasAppLockPassphrase
  src/page/template/content/preferences-account.htm
  src/script/view_model/content/PreferencesAccountViewModel.ts
Labels: size: xs, type: chore 🧹

#10478 chore: Revert "chore: Bump husky from 4.3.8 to 5.0.9 (SQCORE-465) (#10470)"
  .husky/.gitignore
  .husky/common.sh
  .husky/pre-commit
  .huskyrc.js
  package.json
  yarn.lock
Labels: size: m, type: chore 🧹

#10480 fix: Enable rate limiting for file access on the server
  server/Server.ts
  server/package.json
  server/yarn.lock
Labels: size: s, type: bug / fix 🐞

#10395 refactor: Use @wireapp/core 17
  package.json
  src/script/broadcast/BroadcastRepository.ts
  src/script/broadcast/BroadcastService.ts
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/event/preprocessor/QuotedMessageMiddleware.ts
  src/script/links/LinkPreviewRepository.ts
  src/script/storage/StorageSchemata.ts
  src/script/util/util.ts
  test/unit_tests/conversation/EventMapperSpec.js
  test/unit_tests/cryptography/CryptographyMapperSpec.js
  test/unit_tests/cryptography/CryptographyRepositorySpec.js
  test/unit_tests/event/preprocessor/QuotedMessageMiddlewareSpec.js
  test/unit_tests/message/MentionEntitySpec.js
  test/unit_tests/util/UtilSpec.js
  yarn.lock
Labels: size: l, type: refactoring 🛠

#10474 refactor: Extract & Migrate CallMessage component to React
  src/script/components/message.ts
  src/script/components/message/CallMessage.test.tsx
  src/script/components/message/CallMessage.tsx
Labels: size: m, type: refactoring 🛠

#10483 refactor: Migrate MediaButtonComponent to React
  src/script/components/LegalHoldDot.tsx
  src/script/components/asset/audioAsset.ts
  src/script/components/asset/controls/MediaButton.test.tsx
  src/script/components/asset/controls/MediaButton.tsx
  src/script/components/asset/controls/SeekBar.tsx
  src/script/components/asset/controls/mediaButton.ts
  src/script/main/globals.ts
  test/unit_tests/components/asset/controls/mediaButtonSpec.js
Labels: size: l, type: refactoring 🛠

#10484 refactor: Custom hook for Knockout subscribables
  src/script/components/asset/MessageButton.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/message/VerificationMessage.tsx
  src/script/util/ComponentUtil.ts
Labels: size: s, type: refactoring 🛠

#10517 runfix: First message was not sent properly
  src/script/broadcast/BroadcastRepository.ts
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyRepository.ts
  test/unit_tests/cryptography/CryptographyRepositorySpec.js
Labels: size: s, type: bug / fix 🐞

#10521 refactor: Map domain to user entities (SQCORE-472)
  package.json
  src/script/components/list/participantItem.ts
  src/script/components/mentionSuggestions.ts
  src/script/components/panel/userDetails.ts
  src/script/conversation/ConversationCellState.ts
  src/script/entity/User.ts
  src/script/user/UserMapper.ts
  src/style/common/label.less
  src/style/components/mention-suggestions.less
  src/style/components/panel-participant-details.less
  yarn.lock
Labels: size: s, type: refactoring 🛠

#10468 refactor: Migrate ReceiptModeToggle to React
  src/page/template/panel/conversation-details.htm
  src/script/components/ReceiptModeToggle.test.ts
  src/script/components/ReceiptModeToggle.tsx
  src/script/components/receiptModeToggle.ts
  src/script/view_model/panel/ConversationDetailsViewModel.ts
  test/unit_tests/components/receiptModeToggleSpec.js
Labels: size: m, type: refactoring 🛠

#10520 refactor: Migrate EphemeralTimer to React
  src/script/components/EphemeralTimer.test.ts
  src/script/components/EphemeralTimer.tsx
  src/script/components/ephemeralTimer.ts
  src/script/main/globals.ts
Labels: size: m, type: refactoring 🛠

#10469 refactor: Migrate participant-item to react
  src/script/components/AvailabilityState.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/list/conversationListCallingCell.ts
  src/script/components/list/participantItem.ts
  src/script/components/serviceList.ts
  src/script/components/userList.ts
  src/script/ui/viewportObserver.ts
  src/style/components/list/conversation-list-calling-cell.less
  src/style/components/list/participant-item.less
Labels: size: xl, type: refactoring 🛠

#10481 refactor: Replace require with import and add more types
  bin/changelog.ts
  bin/translations_upload.ts
  package.json
  server/Server.ts
  server/routes/RedirectRoutes.ts
  server/routes/Root.ts
  server/routes/appleassociation/AppleAssociationRoute.ts
  server/routes/googlewebmaster/GoogleWebmasterRoute.ts
  yarn.lock
Labels: size: s, type: refactoring 🛠

#10518 chore: Specify allowed extensions for desktop builds
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#10527 chore: Fix typos in translation file and tests
  .cspell.json
  package.json
  src/i18n/en-US.json
  src/script/components/message/VerificationMessage.test.tsx
Labels: size: s, type: chore 🧹

#10523 refactor: Allow optionalParams only for optional keys
  package.json
  src/script/components/AvailabilityState.tsx
  src/script/components/asset/controls/MediaButton.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/util/ComponentUtil.ts
  yarn.lock
Labels: size: s, type: refactoring 🛠

#10529 chore: Ignore husky v5
  .github/dependabot.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#10528 chore: Update translation actions
  .github/workflows/sync_translations.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#10531 runfix: Use handle in 1-to-1 connection message
  src/script/components/message.ts
Labels: size: xs, type: bug / fix 🐞

#10536 feat: Add option to disable autoGainControl
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/page/template/content/preferences-av.htm
  src/script/media/MediaConstraintsHandler.test.ts
  src/script/media/MediaConstraintsHandler.ts
  src/script/view_model/content/PreferencesAVViewModel.ts
  src/style/content/preferences.less
  test/unit_tests/media/MediaStreamHandlerSpec.js
Labels: size: m, type: feature / request ✨

#10540 chore: Call observable for timestamp in CallMessage
  src/script/components/message/CallMessage.test.tsx
  src/script/components/message/CallMessage.tsx
Labels: size: xs, type: chore 🧹

#10539 fix: Add missing data-uie-name to availability-state
  src/page/template/content/preferences-account.htm
  src/page/template/list/conversations.htm
  src/script/components/AvailabilityState.test.tsx
  src/script/components/AvailabilityState.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/list/conversationListCell.ts
  src/script/components/panel/userDetails.ts
Labels: size: s, type: bug / fix 🐞

#10541 runfix: Adjust participant item styles
  src/script/components/AvailabilityState.tsx
  src/script/components/list/ParticipantItem.tsx
Labels: size: xs, type: bug / fix 🐞

#10543 feat: Allow dashes and dots in user handle (SQCORE-482)
  src/script/view_model/content/PreferencesAccountViewModel.ts
Labels: size: s, type: feature / request ✨

#10542 feat: Active speaker view toggle
  src/script/components/ButtonGroup.test.tsx
  src/script/components/ButtonGroup.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/fullscreenVideoCall.test.ts
Labels: size: m, type: feature / request ✨

#10544 runfix: Adjust availability-state overflow
  src/script/components/AvailabilityState.tsx
Labels: size: xs, type: bug / fix 🐞

#10545 chore: Hide proxy server version
  server/.ebextensions/20-nginx.config
Labels: size: xs, type: chore 🧹

#10546 chore: useKoSubscribable hook in CallMessage
  src/script/components/message/CallMessage.tsx
Labels: size: s, type: chore 🧹

#10547 chore: useKoSubscribable in VerificationMessage
  src/script/components/message/VerificationMessage.tsx
Labels: size: s, type: chore 🧹

#10548 runfix: Guard check for ID array length in VerificationMessage
  src/script/entity/message/VerificationMessage.ts
Labels: size: xs, type: bug / fix 🐞

#10549 chore: Make fallback observed values more explicit in participant-item
  src/script/components/list/ParticipantItem.tsx
Labels: size: s, type: chore 🧹

#10551 fix: useViewportObserver wouldn't register ref changes
  src/script/components/list/ParticipantItem.tsx
  src/script/ui/viewportObserver.ts
Labels: size: s, type: bug / fix 🐞

#10576 chore: Pull latest commit before releasing
  package.json
Labels: size: xs, type: chore 🧹

#10579 fix: Stabilize active speaker view
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: comp: calling, size: s, type: bug / fix 🐞

#10580 runfix: Adapt to new AVS version
  package.json
  src/script/calling/Call.ts
  yarn.lock
Labels: comp: calling, size: s, type: bug / fix 🐞

#10578 refactor: Migrate image-component to react
  src/page/template/content/collection-details.htm
  src/page/template/content/collection.htm
  src/script/components/Image.tsx
  src/script/components/asset/linkPreviewAsset.ts
  src/script/components/image.ts
  src/script/main/globals.ts
  src/style/components/image.less
Labels: size: m, type: refactoring 🛠

#10550 refactor: Migrate ServiceList to React
  src/script/components/ServiceList.test.ts
  src/script/components/ServiceList.tsx
  src/script/components/serviceList.ts
  src/script/main/globals.ts
Labels: size: m, type: refactoring 🛠

#10598 chore: Bump @wireapp/avs from 6.7.13 to 6.7.14
  package.json
  src/script/calling/Call.ts
  yarn.lock
Labels: comp: calling, size: s, type: chore 🧹

#10599 fix: Handle ko observables in video grid
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
Labels: size: m, type: bug / fix 🐞

#10601 chore: Ignore husky v5 update
  .github/dependabot.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#10577 refactor: Migrate TopPeople to React
  src/page/template/list/start-ui.htm
  src/script/components/ParticipantAvatar.test.tsx
  src/script/components/ParticipantAvatar.tsx
  src/script/components/TopPeople.test.tsx
  src/script/components/TopPeople.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/participantAvatar/AvatarImage.test.tsx
  src/script/components/participantAvatar/AvatarImage.tsx
  src/script/components/participantAvatar/AvatarInitials.tsx
  src/script/components/participantAvatar/AvatarWrapper.tsx
  src/script/components/participantAvatar/ServiceAvatar.test.tsx
  src/script/components/participantAvatar/ServiceAvatar.tsx
  src/script/components/participantAvatar/TemporaryGuest.test.tsx
  src/script/components/participantAvatar/TemporaryGuestAvatar.tsx
  src/script/components/participantAvatar/UserAvatar.test.tsx
  src/script/components/participantAvatar/UserAvatar.tsx
  src/script/components/topPeople.ts
  src/script/main/globals.ts
Labels: size: l, type: refactoring 🛠

#10522 refactor: Add "connect with" text (SQCORE-476)
  src/i18n/en-US.json
  src/page/template/list/start-ui.htm
  src/script/components/asset/linkPreviewAsset.ts
  src/script/util/UrlUtil.ts
  src/script/view_model/list/StartUIViewModel.ts
  test/unit_tests/util/UrlUtilSpec.js
Labels: size: s, type: refactoring 🛠

#10602 fix: Show thumbnail in video grid
  package.json
  src/script/components/calling/GroupVideoGrid.tsx
  yarn.lock
Labels: size: s, type: bug / fix 🐞

#10606 feat: Show icon for user on federated backend (SQCORE-476)
  src/script/components/list/ParticipantItem.tsx
  src/script/entity/User.ts
Labels: size: s, type: feature / request ✨

#10607 Revert "refactor: Migrate TopPeople to React"
  src/page/template/list/start-ui.htm
  src/script/components/ParticipantAvatar.test.tsx
  src/script/components/ParticipantAvatar.tsx
  src/script/components/TopPeople.test.tsx
  src/script/components/TopPeople.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/participantAvatar/AvatarImage.test.tsx
  src/script/components/participantAvatar/AvatarImage.tsx
  src/script/components/participantAvatar/AvatarInitials.tsx
  src/script/components/participantAvatar/AvatarWrapper.tsx
  src/script/components/participantAvatar/ServiceAvatar.test.tsx
  src/script/components/participantAvatar/ServiceAvatar.tsx
  src/script/components/participantAvatar/TemporaryGuest.test.tsx
  src/script/components/participantAvatar/TemporaryGuestAvatar.tsx
  src/script/components/participantAvatar/UserAvatar.test.tsx
  src/script/components/participantAvatar/UserAvatar.tsx
  src/script/components/topPeople.ts
  src/script/main/globals.ts
Labels: size: l

#10609 runfix: Do not show participants as selected when creating a group
  src/script/components/list/ParticipantItem.tsx
Labels: size: xs, type: bug / fix 🐞

#10611 runfix: Update thumbnail video properly in calling grid
  src/script/components/calling/GroupVideoGrid.tsx
Labels: size: xs, type: bug / fix 🐞

#10610 refactor: Rename "size" to "avatarSize" to avoid conflicts with HTML tag attributes
  src/script/components/ParticipantAvatar.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/participantAvatar/AvatarImage.test.tsx
  src/script/components/participantAvatar/AvatarImage.tsx
  src/script/components/participantAvatar/AvatarInitials.tsx
  src/script/components/participantAvatar/AvatarWrapper.tsx
  src/script/components/participantAvatar/ServiceAvatar.test.tsx
  src/script/components/participantAvatar/ServiceAvatar.tsx
  src/script/components/participantAvatar/TemporaryGuest.test.tsx
  src/script/components/participantAvatar/TemporaryGuestAvatar.tsx
  src/script/components/participantAvatar/UserAvatar.test.tsx
  src/script/components/participantAvatar/UserAvatar.tsx
Labels: size: m, type: refactoring 🛠

#10612 runfix: Have only active speakers with video
  src/script/calling/Call.ts
  src/script/components/calling/GroupVideoGrid.tsx
Labels: comp: calling, size: xs, type: bug / fix 🐞

#10552 refactor: Migrate MissedMessage & FileTypeRestrictedMessage to React
  src/script/components/message.ts
  src/script/components/message/FileTypeRestrictedMessage.test.tsx
  src/script/components/message/FileTypeRestrictedMessage.tsx
  src/script/components/message/MissedMessage.tsx
  src/script/entity/message/FileTypeRestrictedMessage.ts
Labels: size: m, type: refactoring 🛠

#10613 fix: Avoid double entries in the active speakers list
  src/script/calling/Call.ts
  src/script/components/calling/GroupVideoGrid.tsx
Labels: comp: calling, size: s, type: bug / fix 🐞

#10614 refactor: Rename "onClick" to "onAvatarClick" to avoid conflicts with HTML tags
  src/page/template/list/start-ui.htm
  src/script/components/ParticipantAvatar.test.tsx
  src/script/components/ParticipantAvatar.tsx
  src/script/components/message.ts
  src/script/components/participantAvatar/ServiceAvatar.tsx
  src/script/components/participantAvatar/TemporaryGuestAvatar.tsx
  src/script/components/participantAvatar/UserAvatar.tsx
  src/script/components/topPeople.ts
Labels: size: s, type: refactoring 🛠

#10615 refactor: Migrate TopPeople to React
  src/script/components/TopContact.tsx
  src/script/components/TopPeople.tsx
  src/script/components/topPeople.ts
  src/script/main/globals.ts
Labels: size: m, type: refactoring 🛠

#10617 chore: Remove active speaker, set AGC default to disabled for RC
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/fullscreenVideoCall.test.ts
  src/script/media/MediaConstraintsHandler.test.ts
  src/script/media/MediaConstraintsHandler.ts
  test/unit_tests/media/MediaStreamHandlerSpec.js
Labels: size: s, type: chore 🧹

#10616 fix: Types for ServiceEntity
  src/script/components/ParticipantAvatar.test.tsx
  src/script/components/ParticipantAvatar.tsx
  src/script/components/participantAvatar/ServiceAvatar.test.tsx
  src/script/components/participantAvatar/ServiceAvatar.tsx
  src/script/integration/ServiceEntity.ts
Labels: size: m, type: bug / fix 🐞

#10475 refactor: Migrate groupList to React
  src/script/components/GroupList.test.tsx
  src/script/components/GroupList.tsx
  src/script/components/GroupListItem.tsx
  src/script/components/groupList.ts
  src/script/main/app.ts
  src/script/main/globals.ts
  src/script/router/Router.ts
  src/script/router/routeGenerator.ts
Labels: size: m, type: refactoring 🛠

#10619 refactor: Extract and migrate DeleteMessage & extract MessageTime component
  src/script/components/Avatar.test.tsx
  src/script/components/Avatar.tsx
  src/script/components/avatar/AvatarImage.tsx
  src/script/components/avatar/ServiceAvatar.test.tsx
  src/script/components/avatar/ServiceAvatar.tsx
  src/script/components/avatar/TemporaryGuest.test.tsx
  src/script/components/avatar/UserAvatar.test.tsx
  src/script/components/avatar/UserAvatar.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/message.ts
  src/script/components/message/CallMessage.tsx
  src/script/components/message/DeleteMessage.test.tsx
  src/script/components/message/DeleteMessage.tsx
  src/script/components/message/MessageTime.tsx
  src/script/entity/message/DeleteMessage.ts
  src/script/page/start-ui/groupList/GroupListItem.tsx
  src/script/page/start-ui/topPeople/TopContact.tsx
Labels: size: l, type: refactoring 🛠

#10624 runfix: Show domain only when webapp allows it
  server/ServerConfig.ts
  server/config.ts
  src/page/template/list/start-ui.htm
  src/script/components/list/ParticipantItem.tsx
  src/script/entity/User.ts
  src/script/main/globals.ts
  src/script/view_model/list/StartUIViewModel.ts
Labels: size: s, type: bug / fix 🐞
