Repository wireapp/wire-webapp, pull requests merged in 2021-03, with the labels that each got.

#10647 fix: Add missing sender's client ID
  src/script/client/ClientRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/MessageRepository.ts
  test/helper/TestFactory.js
Labels: size: s, type: bug / fix 🐞

#10649 refactor: Extend logging for notification stream fetching
  src/script/event/EventRepository.ts
  src/script/event/EventValidator.ts
  src/script/event/NotificationService.ts
  src/script/event/WebSocketService.ts
Labels: size: s, type: refactoring 🛠

#10648 refactor: Check TestFactory with TS
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/lifecycle/newVersionHandler.ts
  test/helper/TestFactory.js
Labels: size: m, type: refactoring 🛠

#10650 chore: Use filesystem caching with webpack 5
  webpack.config.common.js
Labels: size: xs, type: chore 🧹

#10651 chore: Add active speakers
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/fullscreenVideoCall.test.ts
Labels: size: s, type: chore 🧹

#10652 fix: Service avatars for message and conversation details (SQCORE-520)
  src/script/components/Avatar.test.tsx
  src/script/components/Avatar.tsx
Labels: size: s, type: bug / fix 🐞

#10622 refactor: useKoSubscribable in Avatar component
  src/script/components/Avatar.tsx
  src/script/components/avatar/TemporaryGuestAvatar.tsx
  src/script/components/avatar/UserAvatar.tsx
Labels: size: s, type: refactoring 🛠

#10273 refactor: Remove auto minimize in FullscreenVideoCall
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
Labels: do-not-merge, size: s, type: refactoring 🛠

#10658 refactor: Update placeholder in search input bar (SQCORE-469)
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/page/template/list/start-ui.htm
  src/script/components/userInput.ts
  src/style/components/user-input.less
Labels: size: m, type: refactoring 🛠

#10660 fix: Correct type for notifications payload on 404 response (SQCORE-270)
  src/script/event/EventRepository.ts
Labels: size: s, type: bug / fix 🐞

#10703 fix: Throttle pulsing mic animation
  src/script/components/calling/ParticipantMicOnIcon.tsx
Labels: size: xs, type: bug / fix 🐞

#10704 fix: Force focus on input elements in applock modals
  src/script/page/AppLock.tsx
Labels: size: s, type: bug / fix 🐞

#10657 chore: Adapt to avs 7 to enable large audio calls
  package.json
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
  src/script/components/calling/fullscreenVideoCall.test.ts
  src/script/main/app.ts
  src/script/view_model/CallingViewModel.ts
  test/helper/TestFactory.js
  test/unit_tests/calling/CallingRepositorySpec.js
  test/unit_tests/calling/videoGridHandlerSpec.js
  test/unit_tests/components/list/conversationListCallingCellSpec.js
  yarn.lock
Labels: comp: calling, size: l, type: chore 🧹

#10621 refactor: Migrate enrichedFields to React
  .eslintrc.json
  src/script/components/panel/EnrichedFields.test.ts
  src/script/components/panel/EnrichedFields.tsx
  src/script/components/panel/enrichedFields.ts
  src/script/user/RichProfileRepository.ts
  src/script/view_model/panel/GroupParticipantUserViewModel.ts
  test/unit_tests/components/panel/enrichedFieldsSpec.js
Labels: size: l, type: refactoring 🛠

#10707 refactor: Migrate UserActions to TS
  src/script/components/panel/UserActions.test.ts
  src/script/components/panel/UserActions.tsx
  src/script/components/panel/userActions.ts
  src/script/view_model/content/UserModalViewModel.ts
  src/script/view_model/panel/GroupParticipantUserViewModel.ts
  test/unit_tests/components/panel/userActionsSpec.js
Labels: size: xl, type: refactoring 🛠

#10708 runfix: Avoid undefined in UserModal
  src/script/components/panel/EnrichedFields.tsx
  src/script/components/panel/UserActions.tsx
Labels: size: xs, type: bug / fix 🐞

#10706 refactor: Extract & migrate DecryptErrorMessage to React
  src/script/components/DeviceId.test.ts
  src/script/components/DeviceId.tsx
  src/script/components/message.ts
  src/script/components/message/DecryptErrorMessage.test.tsx
  src/script/components/message/DecryptErrorMessage.tsx
  src/script/components/userDevices/DeviceCard.test.ts
  src/script/components/userDevices/DeviceCard.tsx
  src/script/entity/message/DecryptErrorMessage.ts
  src/script/util/util.ts
  test/unit_tests/util/UtilSpec.js
Labels: size: l, type: refactoring 🛠

#10653 refactor: Simplify event validation (SQCORE-270)
  src/script/event/EventRepository.ts
  src/script/event/EventValidator.test.ts
  src/script/event/EventValidator.ts
Labels: size: s, type: refactoring 🛠

#10710 fix: Use `undefined` for optional parameters, so default params work
  src/script/util/ComponentUtil.ts
Labels: size: xs, type: bug / fix 🐞

#10711 chore: Skip coverage table in CI builds
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: xs, type: chore 🧹

#10725 runfix: Handle empty stream id from avs
  src/script/calling/Call.ts
Labels: comp: calling, size: xs, type: bug / fix 🐞

#10728 chore: Bump @wireapp/avs from 7.0.4 to 7.0.5
  package.json
  yarn.lock
Labels: size: s, type: chore 🧹

#10654 refactor: Better typings, simplify
  src/script/backup/BackupService.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
  src/script/event/EventRepository.ts
  src/script/event/EventService.ts
  src/script/externalRoute.ts
  src/script/media/MediaConstraintsHandler.ts
  src/script/team/TeamRepository.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/Helpers.ts
  src/script/util/ArrayUtil.ts
  src/script/view_model/PanelViewModel.ts
  src/script/view_model/content/CollectionViewModel.ts
Labels: size: m, type: refactoring 🛠

#10729 fix: Fetch paged missed notifications on 404 error (SQCORE-270)
  src/script/event/EventRepository.ts
Labels: size: s, type: bug / fix 🐞

#10732 chore: Remove obsolete ErrorMessage center property
  src/script/auth/component/AccountForm.test.tsx
  src/script/auth/page/Index.tsx
  src/script/auth/page/SingleSignOnForm.tsx
Labels: size: s, type: chore 🧹

#10733 runfix: Prevent multiple error icons when logging in
  src/script/auth/page/Login.tsx
Labels: size: xs, type: bug / fix 🐞

#10734 runfix: Fix time out leave message not being added to conversation
  src/script/conversation/ConversationRepository.ts
Labels: size: xs, type: bug / fix 🐞

#10731 chore: Add debug util to reprocess OTR messages (SQCORE-250)
  src/script/event/EventRepository.ts
  src/script/event/EventValidator.ts
  src/script/util/DebugUtil.ts
Labels: size: s, type: chore 🧹

#10735 chore: Change active speakers title (SQCALL-197)
  src/i18n/en-US.json
  src/script/components/calling/GroupVideoGrid.tsx
Labels: size: xs, type: chore 🧹

#10736 refactor: Migrate EventRepository tests to TypeScript
  src/script/event/EventRepository.ts
  src/script/event/EventRepositorySpec.ts
Labels: size: l, type: refactoring 🛠

#10756 fix: Link preview images don't fill whole square
  src/script/components/Image.tsx
Labels: size: xs, type: bug / fix 🐞

#10757 fix(electron): Use correct fs types
  electron/package.json
  electron/yarn.lock
  package.json
Labels: size: s, type: bug / fix 🐞

#10758 fix: Use team settings for AppLock (SQSERVICES-295, SQSERVICES-356)
  src/i18n/en-US.json
  src/page/template/content/preferences-account.htm
  src/script/entity/message/Message.ts
  src/script/main/app.ts
  src/script/page/AppLock.test.ts
  src/script/page/AppLock.tsx
  src/script/user/AppLockRepository.ts
  src/script/user/AppLockState.ts
  src/script/util/TimeUtil.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  test/unit_tests/util/TimeUtilSpec.js
Labels: size: l, type: bug / fix 🐞

#10759 fix: Continue to process events when one event fails to decrypt
  src/script/event/EventRepository.ts
  src/script/event/EventRepositorySpec.ts
Labels: size: s, type: bug / fix 🐞

#10761 runfix: Show passphrase setup when starting app
  src/script/auth/route.ts
  src/script/page/AppLock.test.ts
  src/script/page/AppLock.tsx
Labels: size: s, type: bug / fix 🐞

#10762 runfix: Catch error of setSinkId
  src/script/calling/Call.ts
Labels: comp: calling, size: xs, type: bug / fix 🐞

#10765 chore: Add UIE names for applock
  src/script/page/AppLock.tsx
Labels: size: s, type: chore 🧹

#10766 docs: Add detailed development instructions and badges
  README.md
Labels: size: s, type: documentation 📋

#10767 refactor: Migrate ServiceDetails to React
  src/script/components/panel/ServiceDetails.test.ts
  src/script/components/panel/ServiceDetails.tsx
  src/script/components/panel/serviceDetails.ts
  src/script/main/globals.ts
  src/style/components/panel-participant-details.less
Labels: size: m, type: refactoring 🛠

#10769 refactor: Migrate UserDetails to React
  src/script/components/panel/ServiceDetails.tsx
  src/script/components/panel/UserDetails.test.ts
  src/script/components/panel/UserDetails.tsx
  src/script/components/panel/userDetails.ts
  src/script/main/globals.ts
  src/script/view_model/panel/GroupParticipantUserViewModel.ts
Labels: size: l, type: refactoring 🛠

#10804 runfix: Make `isGroupAdmin` optional in UserDetails
  src/script/components/panel/UserDetails.tsx
Labels: size: xs, type: bug / fix 🐞

#10806 runfix: Catch errors when handle is not found
  src/script/event/EventRepository.ts
  src/script/user/UserRepository.ts
  src/script/util/isAxiosError.ts
Labels: size: s, type: bug / fix 🐞

#10808 runfix: Update UserDetails correctly
  src/script/components/panel/UserDetails.tsx
Labels: size: s, type: bug / fix 🐞

#10810 runfix: Use child observables properly for user details and avatar
  src/script/components/Avatar.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/util/ComponentUtil.ts
Labels: size: m, type: bug / fix 🐞

#10813 runfix: Catch backend error when searching users
  src/script/auth/page/Login.test.tsx
  src/script/auth/page/Login.tsx
  src/script/calling/CallingRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/event/EventRepository.ts
  src/script/user/UserRepository.ts
  src/script/util/TypePredicateUtil.ts
Labels: comp: calling, size: s, type: bug / fix 🐞

#10768 chore: Upload assets to drafts
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: s, type: chore 🧹

#10815 runfix: Catch errors when handle is not found
  src/script/user/UserRepository.ts
  src/script/util/TypePredicateUtil.ts
Labels: size: s, type: bug / fix 🐞

#10831 chore: Check for DISTRIBUTION_0 in GitHub Actions
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, size: s, type: chore 🧹

#10805 feat: Find users by handle and domain (SQCORE-473)
  package.json
  src/script/search/SearchRepository.ts
  src/script/user/UserHandleGenerator.ts
  src/script/user/UserRepository.ts
  src/script/user/UserService.ts
  yarn.lock
Labels: size: m, type: feature / request ✨
