Repository wireapp/wire-webapp, pull requests merged in 2021-11, with the labels that each got.

#12089 feat(core): Add federated users to guest rooms badge (#12086)
  src/i18n/en-US.json
  src/script/entity/Conversation.ts
  src/script/entity/User.ts
  src/script/view_model/content/TitleBarViewModel.test.ts
  src/script/view_model/content/TitleBarViewModel.ts
Labels: type: feature / request ✨, 👕 size: M

#12091 refactor(core): Use only core's cryptobox
  src/script/cryptography/CryptographyRepository.test.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/main/app.ts
  test/helper/TestFactory.js
Labels: type: refactoring 🛠, 👕 size: S

#11977 feat(services): Handle self-deleting message feature config updates (SQSERVICES-556)
  src/i18n/en-US.json
  src/script/entity/Conversation.ts
  src/script/page/message-list/MessageTimerButton.test.ts
  src/script/page/message-list/MessageTimerButton.tsx
  src/script/team/TeamRepository.ts
  src/script/team/TeamState.ts
  src/script/view_model/content/InputBarViewModel.ts
  src/script/view_model/panel/ConversationDetailsViewModel.ts
Labels: type: feature / request ✨, 👕 size: M

#12114 runfix(services): Self-deleting message translation keys
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12116 feat(core): Generate explicit UserClients for federated messages
  package.json
  src/script/conversation/MessageRepository.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#12117 runfix(core): Avoid logging error when federated search fails [FS-70]
  package.json
  src/script/view_model/list/StartUIViewModel.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#12118 runfix(services): Show correct message timer in conversation settings
  src/script/view_model/panel/ConversationDetailsViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12115 fix(core): Always generate fully qualified sessionIds in federated env [FS-110]
  src/script/cryptography/CryptographyRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12120 test(core): Allow breaking federated sessions
  src/script/util/DebugUtil.ts
Labels: type: test 👷, 👕 size: XS

#12121 runfix(core): Fix reset session system message for federation
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/conversation/MessageRepository.ts
  src/script/view_model/content/MessageListViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12079 feat(core): handle client mismatch with core
  package.json
  src/script/client/ClientRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/conversation/userClientsUtils.test.ts
  src/script/conversation/userClientsUtils.ts
  src/script/main/app.ts
  src/script/user/UserRepository.ts
  src/script/util/ArrayUtil.ts
  test/helper/TestFactory.js
  yarn.lock
Labels: type: feature / request ✨, 👕 size: L

#12124 runfix(services): Show self-deleting conversation timeout even when the feature is disabled for the team (SQSERVICES-969)
  src/script/view_model/panel/ConversationDetailsViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12119 feat(core): Consider domain when checking if a user is in the same team as the user (fs-106)
  src/script/conversation/ConversationFilter.ts
  src/script/conversation/ConversationRepository.test.ts
Labels: type: feature / request ✨, 👕 size: XS

#12136 chore: Adjust translations
  src/i18n/en-US.json
  src/script/strings.ts
Labels: type: chore 🧹, 👕 size: XS

#12137 fix(core): Do not log error when searching for a user on a forbidden backend (FS-123)
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12138 feat(core): Get federation domain from selfUser instead of FEDERATION_DOMAIN [FS-173]
  server/ServerConfig.ts
  server/config.ts
  server/index.ts
  src/page/template/panel/group-participant-user.htm
  src/script/components/list/ParticipantItem.tsx
  src/script/components/message.ts
  src/script/components/panel/UserActions.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/cryptography/CryptographyService.ts
  src/script/entity/Conversation.ts
  src/script/entity/User.ts
  src/script/main/app.ts
  src/script/main/globals.ts
  src/script/page/message-list/mentionSuggestions.ts
  src/script/team/TeamEntity.ts
  src/script/team/TeamRepository.ts
  src/script/team/TeamState.ts
  src/script/user/UserMapper.ts
  src/script/user/UserRepository.ts
  src/script/view_model/content/TitleBarViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/script/view_model/panel/GroupParticipantUserViewModel.ts
  test/unit_tests/user/UserMapperSpec.js
Labels: type: feature / request ✨, 👕 size: M

#12123 refactor(core): cleanup CryptographyRepository
  src/script/client/ClientRepository.ts
  src/script/cryptography/CryptographyRepository.test.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/main/app.ts
  test/helper/TestFactory.js
Labels: type: refactoring 🛠, 👕 size: M

#12140 feat(core): Send likes in federated envs [FS-233]
  src/script/conversation/MessageRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#12141 runfix(core): Send right reaction
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12122 feat(core): new account preferences page (FS-81)
  src/i18n/en-US.json
  src/page/template/content/preferences-account.htm
  src/script/components/AvailabilityState.tsx
  src/script/components/panel/EnrichedFields.tsx
  src/script/page/AccentColorPicker.tsx
  src/script/page/preferences/AccountPreferences.tsx
  src/script/page/preferences/accountPreferences/AccountInput.tsx
  src/script/page/preferences/accountPreferences/AccountSecuritySection.tsx
  src/script/page/preferences/accountPreferences/AvailabilityInput.tsx
  src/script/page/preferences/accountPreferences/AvatarInput.tsx
  src/script/page/preferences/accountPreferences/DataUsageSection.tsx
  src/script/page/preferences/accountPreferences/EmailInput.tsx
  src/script/page/preferences/accountPreferences/FileInput.tsx
  src/script/page/preferences/accountPreferences/HistoryBackupSection.tsx
  src/script/page/preferences/accountPreferences/LogoutSection.tsx
  src/script/page/preferences/accountPreferences/NameInput.tsx
  src/script/page/preferences/accountPreferences/PreferencesCheckbox.tsx
  src/script/page/preferences/accountPreferences/PreferencesSection.tsx
  src/script/page/preferences/accountPreferences/PrivacySection.tsx
  src/script/page/preferences/accountPreferences/UsernameInput.tsx
  src/script/properties/PropertiesRepository.ts
  src/script/util/useIsMounted.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
  src/style/content/preferences.less
  src/style/content/preferences/account.less
Labels: type: feature / request ✨, comp: preferences, 👕 size: XXL

#12143 chore: Revert enabled self-deleting message modal text
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: XS

#12144 runfix(core): Read domain from client when encrypting with legacy CryptoRepo [FS-110]
  package.json
  src/script/cryptography/CryptographyRepository.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#12145 chore: RC 2021-11-11
  package.json
  server/ServerConfig.ts
  server/config.ts
  server/index.ts
  server/package.json
  server/yarn.lock
  src/i18n/en-US.json
  src/page/template/panel/group-participant-user.htm
  src/script/client/ClientRepository.ts
  src/script/components/list/ParticipantItem.tsx
  src/script/components/message.ts
  src/script/components/panel/UserActions.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/ConversationFilter.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/conversation/MessageRepository.ts
  src/script/conversation/userClientsUtils.test.ts
  src/script/conversation/userClientsUtils.ts
  src/script/cryptography/CryptographyRepository.test.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/cryptography/CryptographyService.ts
  src/script/entity/Conversation.ts
  src/script/entity/User.ts
  src/script/main/app.ts
  src/script/main/globals.ts
  src/script/page/message-list/MessageTimerButton.test.ts
  src/script/page/message-list/MessageTimerButton.tsx
  src/script/page/message-list/mentionSuggestions.ts
  src/script/strings.ts
  src/script/team/TeamEntity.ts
  src/script/team/TeamRepository.ts
  src/script/team/TeamState.ts
  src/script/user/UserMapper.ts
  src/script/user/UserRepository.ts
  src/script/util/ArrayUtil.ts
  src/script/util/DebugUtil.ts
  src/script/util/StorageUtil.ts
  src/script/view_model/content/InputBarViewModel.ts
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/content/TitleBarViewModel.test.ts
  src/script/view_model/content/TitleBarViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/script/view_model/panel/ConversationDetailsViewModel.ts
  src/script/view_model/panel/GroupParticipantUserViewModel.ts
  test/helper/TestFactory.js
  test/unit_tests/user/UserMapperSpec.js
  yarn.lock
Labels: type: chore 🧹, 👕 size: XXL

#12146 runfix: Respect dark theme for input color
  src/script/page/preferences/accountPreferences/AccountInput.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12148 runfix: Show new device modal when preferences are opened (FS-234)
  src/page/template/content/preferences-account.htm
  src/script/page/preferences/AccountPreferences.tsx
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12149 runfix: Don't show domain for non-federated users (FS-237)
  src/script/page/preferences/AccountPreferences.tsx
  src/script/page/preferences/accountPreferences/UsernameInput.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12147 runfix(core): Add uie names for rich info
  src/script/page/preferences/AccountPreferences.tsx
  src/script/page/preferences/accountPreferences/AccountInput.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12150 runfix(services): Handle message timer removal after first render when feature gets disabled (SQSERVICES-991)
  src/script/page/message-list/MessageTimerButton.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12142 feat(core): Disable syncly for federated env [FS-256]
  src/script/conversation/MessageRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#12164 runfix: Add uie name for displayed value of account input component
  src/script/page/preferences/accountPreferences/AccountInput.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12139 feat(core): Show conversation degradation warning for core messages [FS-134]
  package.json
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#12165 runfix(core): Fix how array difference is computed with custom matcher [FS-259]
  src/script/util/ArrayUtil.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12168 feat(core): Debounce search queries
  src/script/components/userList.ts
Labels: type: feature / request ✨, 👕 size: XS

#12169 fix(core): Add domain to user search requests [FS-225]
  package.json
  src/script/search/SearchRepository.ts
  src/script/search/SearchService.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#12170 runfix(core): Do not send domain search request on non-federated env
  src/script/search/SearchRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12171 feat(core): Send pings with core
  src/script/conversation/MessageRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#12173 runfix(core): Do not send domain search request if domain is not valid
  src/script/search/SearchRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12177 runfix(core): Max name length includes domain
  src/script/page/preferences/accountPreferences/UsernameInput.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12174 runfix(core): Strip domain when searching for local users
  src/script/view_model/list/StartUIViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12178 feat(core): Enable message timer for federated environments [FS-229]
  src/page/template/content/conversation/input-bar.htm
  src/script/page/message-list/MessageTimerButton.tsx
Labels: type: feature / request ✨, 👕 size: XS

#12175 chore(ci): Remove check-pr-title workflow SQPIT-769
  .github/workflows/check-pr-title.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#12172 chore: Add Jira Link workflow SQPIT-768
  .github/workflows/jira-lint-and-link.yml
Labels: comp: infrastructure, 👕 size: S

#12179 fix(services): Disable app lock if disabled team wide (SQSERVICES-356)
  src/script/page/AppLock.tsx
  src/script/team/TeamRepository.ts
  src/script/user/AppLockRepository.ts
  src/script/user/AppLockState.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12180 runfix(core): Add user fully qualified handle in federated icon [FS-272]
  src/script/components/message.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12182 refactor(core): Send session reset message with @wireapp/core
  src/script/conversation/MessageRepository.ts
Labels: type: refactoring 🛠, 👕 size: S

#12176 chore(ci): Add semantic commit linter workflow SQPIT-769
  .github/workflows/semantic-commit-lint.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#12185 fix(core): Send simple userId when reseting sessions on non-federated env
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS, Fix PR Title 🤦‍♂️

#12186 chore: Add runfix to semantic commit linter
  .github/workflows/semantic-commit-lint.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#12206 runfix(core): Do not show federated badge for connection requests [FS-276]
  src/script/view_model/content/TitleBarViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12208 refactor(core): Add getters for conversationService and messageBuilder in MessageRepository
  src/script/conversation/MessageRepository.ts
Labels: type: refactoring 🛠, 👕 size: S

#12209 feat: Redirect team registration to new flow
  src/script/auth/page/SetAccountType.test.tsx
  src/script/auth/page/SetAccountType.tsx
  src/script/externalRoute.ts
Labels: type: feature / request ✨, 👕 size: S

#12207 feat(core): Send confirmation messages with @wireapp/core
  package.json
  src/script/conversation/MessageRepository.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#12210 runfix(core): Add tracking for core messages
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12211 refactor(core): Send calling message with @wireapp/core
  package.json
  src/script/calling/CallingRepository.ts
  src/script/conversation/MessageRepository.ts
  yarn.lock
Labels: comp: calling, type: refactoring 🛠, 👕 size: M

#12213 runfix(core): Abort call if message sending was cancelled
  package.json
  src/script/calling/CallingRepository.ts
  src/script/conversation/MessageRepository.ts
  yarn.lock
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#12214 runfix(core): Do not use exception for message cancelling
  src/script/calling/CallingRepository.ts
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#12215 runfix(core): Silent degradation warning when sending confirmation message
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12217 runfix(core): Do not silent degradation warning for read-receipt in unverified conversations
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12212 feat(core): Enable 1:1 calling for federated env [FS-14]
  src/page/template/list/conversations.htm
  src/script/calling/Call.ts
  src/script/calling/CallState.ts
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/fullscreenVideoCall.test.ts
  src/script/components/list/ConversationListCallingCell.test.ts
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/components/list/GroupedConversations.tsx
  src/script/components/list/GroupedConversationsFolder.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/content/TitleBarViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: XL

#12230 runfix(core): Consume and send qualified ids in mentions [FS-290]
  src/page/template/content/conversation/message-list.htm
  src/script/components/message.ts
  src/script/components/message/MessageQuote.tsx
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
  src/script/entity/message/ContentMessage.ts
  src/script/entity/message/Text.ts
  src/script/message/MentionEntity.ts
  src/script/notification/NotificationRepository.ts
  src/script/util/messageRenderer.ts
  test/unit_tests/notification/NotificationRepositorySpec.js
  test/unit_tests/util/messageRendererSpec.js
Labels: type: bug / fix 🐞, 👕 size: S

#12233 runfix(core): Do match mentions when message is rendered without userId
  src/script/util/messageRenderer.ts
  test/unit_tests/util/messageRendererSpec.js
Labels: type: bug / fix 🐞, 👕 size: S
