Repository wireapp/wire-webapp, pull requests merged in 2021-04, with the labels that each got.

#10832 runfix: Prevent multiple error icons when removing a device
  src/script/auth/component/ClientItem.tsx
Labels: size: xs, type: bug / fix 🐞

#10834 runfix: Revert error-prone type checks
  src/script/auth/page/Login.test.tsx
  src/script/auth/page/Login.tsx
  src/script/calling/CallingRepository.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/user/UserRepository.ts
  src/script/util/TypePredicateUtil.ts
Labels: comp: calling, size: s, type: bug / fix 🐞

#10770 refactor: Migrate FileAsset to React
  src/script/components/asset/FileAssetComponent.test.tsx
  src/script/components/asset/FileAssetComponent.tsx
  src/script/components/asset/fileAsset.ts
  src/script/components/message.ts
Labels: size: l, type: refactoring 🛠

#10853 runfix: Remove knockout from FileAssetComponent
  src/script/components/asset/AssetHeader.tsx
  src/script/components/asset/FileAssetComponent.tsx
  src/style/components/asset/asset-header.less
Labels: size: m, type: bug / fix 🐞

#10854 chore: Replace code coverage action to avoid using GitHub secrets
  .github/workflows/test_build_deploy.yml
  codecov.yml
Labels: comp: infrastructure, size: s, type: chore 🧹

#10867 fix: Show download video asset spinner (SQCORE-593)
  src/script/components/asset/controls/MediaButton.test.tsx
  src/script/components/asset/controls/MediaButton.tsx
Labels: size: s, type: bug / fix 🐞

#10816 feat: Add explainer to contact list when no results are found (SQCORE-475)
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/page/template/list/start-ui.htm
  src/style/list/start-ui.less
Labels: size: m, type: feature / request ✨

#10814 refactor: Await functions when returning to catch them
  src/script/conversation/MessageRepository.ts
  src/script/user/UserRepository.ts
Labels: size: xs, type: refactoring 🛠

#10855 feat: Add microphone and title to self thumbnail video
  .github/workflows/test_build_deploy.yml
  src/script/components/calling/GroupVideoGrid.test.tsx
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/fullscreenVideoCall.test.ts
Labels: comp: infrastructure, size: s, type: feature / request ✨

#10870 refactor: Migrate LegalHoldMessage to React
  src/script/components/message.ts
  src/script/components/message/LegalHoldMessage.test.tsx
  src/script/components/message/LegalHoldMessage.tsx
Labels: size: m, type: refactoring 🛠

#10874 runfix: Import LegalHoldMessage
  src/script/components/message.ts
  src/script/components/message/LegalHoldMessage.tsx
Labels: size: xs, type: bug / fix 🐞

#10900 chore: Bump avs from 7.0.5 to 7.0.6
  package.json
  yarn.lock
Labels: size: s, type: chore 🧹

#10869 feat: Show error message if federated domain is unavailable (SQCORE-597)
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/page/template/list/start-ui.htm
  src/script/view_model/content/CollectionViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/style/list/start-ui.less
Labels: size: m, type: feature / request ✨

#10907 refactor: Make use of QualifiedPublicClients and get clients by multiple user IDs
  src/script/client/ClientRepository.test.ts
  src/script/client/ClientRepository.ts
  src/script/client/ClientService.ts
  src/script/components/userDevices.ts
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/user/UserRepository.ts
  test/unit_tests/conversation/ClientMismatchHandlerSpec.js
  test/unit_tests/conversation/ConversationRepositorySpec.js
Labels: size: m, type: feature / request ✨

#10925 feat: Allow display names up to 128 characters
  src/page/template/content/preferences-account.htm
  src/script/user/UserRepository.ts
  src/script/view_model/content/PreferencesAccountViewModel.ts
Labels: size: s, type: feature / request ✨

#10871 chore: Execute tests in parallel
  package.json
Labels: size: xs, type: chore 🧹

#10924 test: Use ISO date when using `EventInfoEntity.setTimestamp()`
  src/script/conversation/EventInfoEntity.ts
  src/script/conversation/MessageRepository.ts
  src/script/storage/record/EventRecord.ts
  test/unit_tests/conversation/ClientMismatchHandlerSpec.js
Labels: size: s, type: test 👷

#10940 runfix: Always show federated domain when searching for it
  src/page/template/list/start-ui.htm
  src/script/util/ValidationUtil.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/style/list/start-ui.less
Labels: size: s, type: bug / fix 🐞

#10928 refactor: Migrate copyToClipboard to react
  src/script/components/CopyToClipboard.test.ts
  src/script/components/CopyToClipboard.tsx
  src/script/components/Image.tsx
  src/script/components/copyToClipboard.ts
  src/script/components/panel/PanelActions.tsx
  src/script/components/panel/ServiceDetails.tsx
  src/script/components/panel/UserActions.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/main/globals.ts
  src/script/util/ComponentUtil.ts
  src/script/view_model/bindings/CommonBindings.ts
  test/unit_tests/components/copyToClipboardSpec.js
Labels: size: m, type: refactoring 🛠

#10923 refactor: Use UserEntities to get clients by user
  src/script/client/ClientRepository.test.ts
  src/script/client/ClientRepository.ts
  src/script/client/ClientService.ts
  src/script/components/userDevices.ts
  src/script/conversation/ClientMismatchHandler.test.ts
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/MessageRepository.ts
  src/script/entity/User.ts
  src/script/user/UserRepository.ts
  src/script/user/UserService.ts
Labels: size: l, type: refactoring 🛠

#10946 runfix: Update @wireapp packages
  package.json
  src/script/auth/module/action/AuthAction.ts
  yarn.lock
Labels: size: s, type: bug / fix 🐞

#10947 refactor: Convert getObjectUrl to async and fix logger names
  src/script/assets/AssetRepository.ts
  src/script/assets/AssetURLCache.ts
  src/script/auth/page/VerifyEmailCode.tsx
  src/script/components/userDevices.ts
  src/script/conversation/ConversationRoleRepository.ts
  src/script/event/preprocessor/ReceiptsMiddleware.ts
  src/script/storage/DexieDatabase.ts
Labels: size: s, type: refactoring 🛠

#10948 runfix: Await user mapping when getting clients
  src/script/client/ClientRepository.ts
Labels: size: s, type: bug / fix 🐞

#10949 refactor: Improve react-binding
  src/script/main/globals.ts
  src/script/view_model/bindings/CommonBindings.ts
  src/script/view_model/bindings/ReactBindings.ts
Labels: size: s, type: refactoring 🛠

#10951 runfix: Add spacing between uploader and upload time in collections view
  src/style/components/asset/asset-header.less
Labels: size: xs, type: bug / fix 🐞

#10950 fix: AudioSeekBar on Firefox is sometimes not rendered correctly
  src/script/components/asset/controls/AudioSeekBar.test.ts
  src/script/components/asset/controls/AudioSeekBar.tsx
  src/style/components/asset/controls/audio-seek-bar.less
Labels: size: s, type: bug / fix 🐞

#10969 runfix: Adjust new calling icons
  app-config/package.json
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/list/ParticipantItem.tsx
  src/style/components/list/conversation-list-calling-cell.less
Labels: size: s, type: bug / fix 🐞

#10975 feat: Add call ui icons inactive state
  src/i18n/en-US.json
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/list/conversationListCallingCell.ts
Labels: size: s, type: feature / request ✨

#10977 runfix: Vice-verse microphone icon color
  src/script/components/list/conversationListCallingCell.ts
Labels: size: xs, type: bug / fix 🐞

#10972 chore: Use target "es2017" to preserve native async / await
  server/tsconfig.json
  tsconfig.json
Labels: size: xs, type: chore 🧹

#10978 chore: Revert new calling icons
  app-config/package.json
  src/i18n/en-US.json
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/list/conversationListCallingCell.ts
  src/style/components/list/conversation-list-calling-cell.less
Labels: size: s, type: chore 🧹

#10941 refactor: Migrate LinkPreviewAsset to TypeScript
  src/script/components/asset/AssetHeader.tsx
  src/script/components/asset/LinkPreviewAssetComponent.test.ts
  src/script/components/asset/LinkPreviewAssetComponent.tsx
  src/script/components/asset/linkPreviewAsset.ts
  src/script/components/message.ts
  src/script/util/UrlUtil.ts
  src/style/components/asset/link-preview-asset.less
Labels: size: l, type: refactoring 🛠

#10979 runfix: Fix broken mute functionality
  src/script/components/list/conversationListCallingCell.ts
Labels: size: xs, type: bug / fix 🐞

#10980 runfix: Fix titles of full screen calling ui tooltips
  src/i18n/en-US.json
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: size: xs, type: bug / fix 🐞

#10982 refactor: Icon components
  src/script/components/AvailabilityState.tsx
  src/script/components/Icon.tsx
  src/script/components/LegalHoldDot.tsx
  src/script/components/ModalComponent.tsx
  src/script/components/NamedIcon.tsx
  src/script/components/VerifiedIcon.tsx
  src/script/components/asset/AssetLoader.tsx
  src/script/components/asset/MessageButton.tsx
  src/script/components/avatar/ServiceAvatar.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/components/list/GroupedConversationHeader.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/message/CallMessage.test.tsx
  src/script/components/message/CallMessage.tsx
  src/script/components/message/CallTimeoutMessage.tsx
  src/script/components/message/DecryptErrorMessage.tsx
  src/script/components/message/SystemMessage.test.tsx
  src/script/components/message/SystemMessage.tsx
  src/script/components/panel/PanelActions.tsx
  src/script/components/panel/UserActions.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/components/toggle/ReceiptModeToggle.tsx
  src/script/components/userDevices/DeviceCard.tsx
  src/script/util/test/TestPage.tsx
  src/script/util/test/mock/SVGProviderMock.ts
Labels: size: l, type: refactoring 🛠

#10983 chore: Bump @wireapp/avs from 7.0.6 to 7.1.1
  package.json
  yarn.lock
Labels: size: s, type: chore 🧹
