Repository wireapp/wire-webapp, pull requests merged in 2022-09, with the labels that each got.

#13579 runfix: add pseudo class styles to toggle dot acc-81
  src/script/components/calling/DeviceToggleButton.tsx
  src/script/components/calling/Pagination.tsx
  src/style/common/accent-color.less
  src/style/common/mixins.less
  src/style/foundation/themes.less
Labels: type: bug / fix 🐞, 👕 size: S

#13581 chore: update localization strings
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: XS

#13582 runfix: correct focus states of toggle dots acc-81
  .betterer.results
  src/script/components/calling/DeviceToggleButton.tsx
  src/script/components/calling/Pagination.tsx
  src/script/components/calling/deviceToggleButton.test.ts
  src/style/common/mixins.less
  src/style/foundation/themes.less
Labels: type: bug / fix 🐞, 👕 size: M

#13600 feat: incoming MLS proposals and conversation member removal
  .betterer.results
  package.json
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/script/components/ModalComponent.tsx
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/calling/fullscreenVideoCall.test.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/guards/Protocol.ts
  src/script/storage/StorageSchemata.ts
  src/script/view_model/ActionsViewModel.ts
  src/style/components/info-toggle.less
  src/style/modal/group-creation.less
  yarn.lock
Labels: 👕 size: XL

#13601 chore: bump core to 30.0.3
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13583 runfix: apply correct styles to status buttons and bump ui-kit acc-79
  package.json
  src/style/common/button.less
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13551 chore: Fix Message components type errors
  .betterer.results
  src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/AbstractAssetTransferStateTracker.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/AudioAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/VideoAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/index.tsx
  src/script/ui/viewportObserver.ts
  src/script/util/conversationMessages.ts
Labels: type: chore 🧹, 👕 size: L

#13612 chore: Align node version requirement
  package.json
Labels: type: chore 🧹, 👕 size: XS

#13605 chore: Cleanup unneeded koReact components
  .betterer.results
  src/script/components/MessagesList/Message/ContentMessage/asset/LinkPreviewAssetComponent.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/VideoAsset.tsx
  src/script/components/TextInput/TextInput.tsx
  src/script/components/asset/RestrictedFile.tsx
  src/script/components/calling/ParticipantMicOnIcon.tsx
  src/script/components/list/ParticipantItem.tsx
Labels: type: chore 🧹, 👕 size: S

#13616 feat: use core logout when logging out
  .betterer.results
  package.json
  src/script/main/app.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#13617 refactor: Avoid rerendering when using fadingScrollbars
  .betterer.results
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/page/LeftSidebar/panels/ListWrapper.tsx
  src/script/page/MainContent/panels/Collection/CollectionDetails.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.tsx
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.tsx
  src/script/page/message-list/MentionSuggestions/MentionSuggestions.tsx
  src/script/ui/fadingScrollbar.ts
  src/script/view_model/panel/NotificationsPanel.tsx
  src/script/view_model/panel/ParticipantDevicesPanel.tsx
  src/script/view_model/panel/TimedMessagesPanel.tsx
Labels: type: refactoring 🛠, 👕 size: M

#13259 refactor: remove last guests and services mapping
  .betterer.results
  src/script/conversation/ConversationRepository.ts
Labels: type: refactoring 🛠, 👕 size: M

#13584 fix: webapp screen reader accessibility improvements
  .betterer.results
  src/i18n/en-US.json
  src/page/template/modals.htm
  src/page/template/panel/add-participants.htm
  src/page/template/panel/conversation-participants.htm
  src/page/template/panel/group-participant-user.htm
  src/script/calling/CallingRepository.ts
  src/script/components/Avatar.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.tsx
  src/script/components/SearchInput.tsx
  src/script/components/TextInput/TextInput.tsx
  src/script/conversation/ConversationLabelRepository.ts
  src/script/page/AppLock.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationHeader.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationsFolder.tsx
  src/script/page/MainContent/panels/Collection/Collection.tsx
  src/script/page/MainContent/panels/Collection/FullSearch.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountInput.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AvatarInput.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/SaveCallLogs.tsx
  src/script/page/MainContent/panels/preferences/devices/DeviceDetailsPreferences.tsx
  src/script/page/message-list/InputBarControls/ControlButtons.tsx
  src/script/util/KeyboardUtil.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/ModalsViewModel.ts
  src/script/view_model/panel/GuestsAndServicesViewModel.ts
  src/script/view_model/panel/NotificationsPanel.tsx
  src/script/view_model/panel/PanelHeader.tsx
  src/script/view_model/panel/ParticipantDevicesPanel.tsx
Labels: type: bug / fix 🐞, comp: calling, 👕 size: M

#13486 feat: Integrate MLS with AVS library
  .betterer.results
  package.json
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/calling/enum/CallMessageType.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
  src/script/util/DebugUtil.ts
  yarn.lock
Labels: type: feature / request ✨, comp: calling, 👕 size: XL

#13620 chore: Remove betterer
  .betterer.results
  .betterer.ts
  .github/workflows/betterer.yml
  .gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XXL

#13621 runfix: Improve registration validation error handling
  src/script/auth/component/AccountForm.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13608 chore: move acc changes to dev
  src/i18n/en-US.json
  src/page/template/modals.htm
  src/page/template/panel/add-participants.htm
  src/page/template/panel/conversation-participants.htm
  src/page/template/panel/group-participant-user.htm
  src/script/auth/page/Root.tsx
  src/script/calling/CallingRepository.ts
  src/script/components/Avatar.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.tsx
  src/script/components/SearchInput.tsx
  src/script/components/TextInput/TextInput.tsx
  src/script/components/calling/DeviceToggleButton.tsx
  src/script/components/calling/Pagination.tsx
  src/script/components/calling/deviceToggleButton.test.ts
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/conversation/ConversationLabelRepository.ts
  src/script/page/AccentColorPicker.tsx
  src/script/page/AppLock.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationHeader.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationsFolder.tsx
  src/script/page/MainContent/panels/Collection/Collection.tsx
  src/script/page/MainContent/panels/Collection/FullSearch.tsx
  src/script/page/MainContent/panels/preferences/AboutPreferences.tsx
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountInput.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountLink.test.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountLink.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountSecuritySection.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AvatarInput.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/HistoryBackupSection.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/LogoutSection.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/SaveCallLogs.tsx
  src/script/page/MainContent/panels/preferences/devices/DeviceDetailsPreferences.test.tsx
  src/script/page/MainContent/panels/preferences/devices/DeviceDetailsPreferences.tsx
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.tsx
  src/script/page/message-list/InputBarControls/ControlButtons.tsx
  src/script/util/KeyboardUtil.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/ModalsViewModel.ts
  src/script/view_model/panel/GuestsAndServicesViewModel.ts
  src/script/view_model/panel/NotificationsPanel.tsx
  src/script/view_model/panel/PanelHeader.tsx
  src/script/view_model/panel/ParticipantDevicesPanel.tsx
  src/style/common/accent-color.less
  src/style/common/button.less
  src/style/common/mixins.less
  src/style/common/slider.less
  src/style/components/list/participant-item.less
  src/style/content/preferences.less
  src/style/content/preferences/devices.less
  src/style/foundation/base.less
  src/style/foundation/themes.less
  src/style/list/list.less
Labels: comp: calling, type: chore 🧹, 👕 size: XL

#13623 runfix: Broader error handling for registration errors
  src/script/auth/component/AccountForm.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13624 runfix: address left sidebar design review acc-78
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationHeader.tsx
  src/script/page/LeftSidebar/panels/StartUI/PeopleTab.tsx
  src/style/foundation/normalize.less
  src/style/list/conversations.less
  src/style/list/start-ui.less
  src/style/modal/group-creation.less
Labels: type: bug / fix 🐞, 👕 size: M

#13626 feat: Always send proteus messages as protobuf
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#13627 feat: update Entropy UI text: FS-951
  src/i18n/de-DE.json
  src/i18n/en-US.json
Labels: type: feature / request ✨, 👕 size: S

#13625 runfix: correct text selection and avatar bg colors acc-77
  src/script/components/avatar/GroupAvatar.tsx
  src/style/common/accent-color.less
Labels: type: bug / fix 🐞, 👕 size: S

#13607 feat: update keys periodically (FS-562)
  package.json
  server/ServerConfig.ts
  server/config.ts
  src/script/service/CoreSingleton.ts
  src/script/storage/StorageSchemata.ts
  src/types/window.d.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#13619 chore: update localization strings and add semantic html in preferences acc-79
  src/i18n/en-US.json
  src/script/page/MainContent/panels/preferences/AboutPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AvailabilityButtons.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/DataUsageSection.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/PrivacySection.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/CallOptions.tsx
  src/script/page/MainContent/panels/preferences/devices/DeviceDetailsPreferences.tsx
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.tsx
  src/script/page/MainContent/panels/preferences/devices/components/DetailedDevice.tsx
  src/script/page/MainContent/panels/preferences/devices/components/FormattedId.tsx
  src/style/components/device-card.less
Labels: type: chore 🧹, 👕 size: S

#13628 runfix: Revert Always send proteus messages as protobuf
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13648 runfix: Fix tracking calling events
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#13649 chore: bump core version
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13650 chore: deploy dev build to edge environment
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#13653 feat: update Entropy UI text: FS-951
  src/script/auth/page/EntropyContainer.test.tsx
  src/script/strings.ts
Labels: type: feature / request ✨, 👕 size: XS

#13657 feat: add entropy translations for hotfix
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
Labels: type: feature / request ✨, 👕 size: L

#13656 runfix: Improve updating local clients list from backend
  package.json
  src/script/calling/CallingRepository.ts
  yarn.lock
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#13611 feat: Send external proposal to join conversations for a new device [FS-689]
  src/script/conversation/ConversationFilter.test.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/entity/Conversation.ts
  src/script/main/app.ts
  src/script/mls/mlsConversationState/conversationStateStorage.ts
  src/script/mls/mlsConversationState/index.ts
  src/script/mls/mlsConversationState/mlsConversationState.test.ts
  src/script/mls/mlsConversationState/mlsConversationState.ts
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/storage/record/ConversationRecord.ts
  test/helper/TestFactory.js
Labels: type: feature / request ✨, 👕 size: L

#13658 runfix: address input bar design review acc-77
  src/script/components/InputBar/index.tsx
  src/script/page/message-list/InputBarControls/ControlButtons.tsx
  src/script/page/message-list/InputBarControls/InputBarControls.test.tsx
  src/style/common/button.less
  src/style/content/conversation/input-bar.less
Labels: type: bug / fix 🐞, 👕 size: M

#13660 runfix: Ensure conversation is MLS before checking it is established
  src/script/conversation/ConversationRepository.ts
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13661 feat: bump core version to enable key packages syncing with backend (FS-655)
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#13629 refactor: Avoid using effectRef when possible
  src/script/components/Image.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset.tsx
  src/script/components/MessagesList/Message/MemberMessage.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/ServiceList.test.tsx
  src/script/components/UserList.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/list/ConversationListCallingCell.test.tsx
  src/script/components/list/ConversationListCell.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/utils/InViewport.tsx
  src/script/hooks/useHideElement.ts
  src/script/page/MainContent/panels/preferences/avPreferences/CameraPreferences.tsx
  src/script/page/message-list/MentionSuggestions/MentionSuggestions.tsx
  src/script/ui/viewportObserver.ts
  src/script/util/useDisposableRef/index.ts
  src/script/util/useDisposableRef/useDisposableRef.test.tsx
  src/script/util/useDisposableRef/useDisposableRef.ts
  src/style/foundation/main.less
Labels: type: refactoring 🛠, 👕 size: L

#13662 runfix: display camera switcher at all time acc-81
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13663 chore: upgrade @wireapp/core
  package.json
  webpack.config.common.js
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13666 chore: upgrade @wireapp/core version
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13665 feat: add mic switcher to call ui acc-81
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/fullscreenVideoCall.test.tsx
Labels: type: feature / request ✨, 👕 size: S

#13668 chore: bump core version to use LS for storing last keys update dates
  package.json
  src/script/storage/StorageSchemata.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13669 runfix: don't try sending external proposals for proteus
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13673 refactor: correct wrong font sizes acc-60
  src/style/components/search-list.less
  src/style/list/conversations.less
  src/style/list/list.less
  src/style/panel/panel.less
Labels: type: refactoring 🛠, 👕 size: S

#13671 feat: mls protocol creation modal
  src/i18n/en-US.json
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
Labels: type: feature / request ✨, 👕 size: S

#13674 fix: reorder people tab for group button
  src/script/page/LeftSidebar/panels/StartUI/PeopleTab.tsx
  src/style/list/start-ui.less
Labels: type: bug / fix 🐞, 👕 size: S

#13677 fix: federation buttons hiding
  src/script/page/LeftSidebar/panels/StartUI/PeopleTab.tsx
  src/style/list/start-ui.less
Labels: type: bug / fix 🐞, 👕 size: S

#13694 feat: Add conversation protocol details (FS-881)
  package.json
  src/i18n/en-US.json
  src/page/template/panel/conversation-details.htm
  src/script/components/panel/ConversationProtocolDetails/ConversationProtocolDetails.test.tsx
  src/script/components/panel/ConversationProtocolDetails/ConversationProtocolDetails.tsx
  src/script/conversation/ConversationFilter.test.ts
  src/script/conversation/ConversationMapper.ts
  src/script/entity/Conversation.ts
  src/script/main/globals.ts
  src/script/storage/record/ConversationRecord.ts
  src/script/view_model/panel/ConversationDetailsViewModel.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#13699 chore: mock @wireapp/core-crypto
  src/__mocks__/@wireapp/core-crypto.js
Labels: type: chore 🧹, 👕 size: S

#13655 chore: update strings according to ux team suggestions
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: S

#13693 runfix: use accent color for self mention acc-155
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#13701 fix: mls should be enabled when BE and flag are set
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13692 feat: leave mls conversation (FS-683)
  package.json
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#13702 chore: Enable full debug log in dev mode
  src/script/util/LoggerUtil.ts
  test/unit_tests/util/LoggerUtilSpec.js
Labels: type: chore 🧹, 👕 size: XS

#13695 feat: Handle incoming external proposals
  package.json
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationState.ts
  src/script/main/app.ts
  src/script/mls/mlsConversationState/mlsConversationState.test.ts
  src/script/mls/mlsConversationState/mlsConversationState.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#13705 runfix: client list errors
  src/script/auth/component/ClientItem.tsx
  src/script/auth/component/ClientList.tsx
  src/script/auth/module/reducer/clientReducer.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13703 feat: Deleting messages in MLS conversations [FS-972]
  package.json
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#13707 fix: mls should be enabled on a user level, not a team level (FS-988)
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/team/TeamState.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13708 fix: Show expiration message when logout is detected [SQCORE-1272]
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13709 fix: address ts errors in link preview generation [SQCORE-1270]
  src/script/conversation/linkPreviews/index.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13672 chore: update core.js
  babel.config.js
  package.json
  setupTests.js
  src/script/auth/main.tsx
  src/script/main/app.ts
  test/helper/TestFactory.js
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13456 fix: remove binding teams references
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/SelfAction.test.ts
  src/script/auth/module/action/SelfAction.ts
  src/script/auth/module/selector/AuthSelector.ts
  src/script/auth/page/TeamName.tsx
  src/script/team/TeamRepository.ts
  src/script/team/TeamService.ts
  test/unit_tests/team/TeamRepositorySpec.js
Labels: type: bug / fix 🐞, 👕 size: S

#13711 fix: Avoid account data failure when image could not be loaded [FS-996]
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13712 runfix: Avoid crashing when accessing localStorage with cookies disabled
  src/script/mls/mlsConversationState/conversationStateStorage.ts
  src/script/util/LoggerUtil.ts
  src/script/util/localStorage.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13710 feat: add media queries breakpoint to preferences content acc-64
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/DeviceSelect.tsx
  src/script/page/MainContent/panels/preferences/devices/components/DetailedDevice.tsx
  src/style/common/variables.less
  src/style/content/preferences.less
  src/style/content/preferences/devices.less
  src/style/foundation/framework.less
Labels: type: feature / request ✨, 👕 size: S

#13716 feat: add new failure states for decryption failure cases (SQCORE-653)
  src/i18n/en-US.json
  src/script/assets/AssetRepository.ts
  src/script/assets/AssetTransferState.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAssetComponent.tsx
Labels: type: feature / request ✨, 👕 size: S

#13715 runfix: remove unsplash and fix some ts errors (SQPIT-1182)
  server/config.ts
  src/script/components/Giphy/GifImage.test.tsx
  src/script/externalRoute.ts
  src/script/main/app.ts
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13713 fix: Delete ephemeral messages even when connectivity is down [SEC-198]
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13737 fix: Use team domain when generating team icon [FS-996]
  src/script/team/TeamEntity.ts
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13736 chore: Fix React warnings
  package.json
  src/script/auth/component/UnsupportedBrowser.test.tsx
  src/script/auth/util/test/TestUtil.tsx
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/TextInput/TextInput.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountInput.tsx
  test/helper/UserGenerator.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: M

#13739 feat: Always try to map asset v4 when possible [FS-1001]
  src/script/assets/AssetMapper.ts
  src/script/assets/AssetRemoteData.ts
  src/script/conversation/EventMapper.ts
  src/script/team/TeamEntity.ts
Labels: type: feature / request ✨, 👕 size: M

#13457 fix: rendering of 404 page (SQCORE-1347)
  server/templates/error.html
  src/style/support.less
Labels: type: bug / fix 🐞, 👕 size: S

#13741 chore: cleanup PING shortcut
  src/script/ui/ShortcutType.ts
Labels: type: chore 🧹, 👕 size: XS

#13738 chore: remove superfluous question marks
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: S

#13742 runfix: ts strict errors and migrate some tests to testing-library
  src/script/components/avatar/AvatarImage.test.tsx
  src/script/components/avatar/GroupAvatar.test.ts
  src/script/components/avatar/TemporaryGuest.test.tsx
  src/script/components/avatar/UserAvatar.test.tsx
  src/script/components/calling/ButtonGroup.test.ts
  src/script/components/calling/ButtonGroup.test.tsx
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGrid.test.tsx
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/chooseScreen.test.tsx
  src/script/components/calling/deviceToggleButton.test.tsx
  src/script/components/calling/fullscreenVideoCall.test.tsx
  src/script/components/input/ClassifiedBar.test.tsx
  src/script/components/list/ConversationListCallingCell.test.tsx
  src/script/components/list/ConversationListCallingCell.tsx
Labels: type: bug / fix 🐞, 👕 size: L

#13745 chore: add react hooks plugin to eslint config
  .eslintrc.json
Labels: type: chore 🧹, 👕 size: XS

#13746 runfix: Avoid handling MLS protocol messages [FS-1003]
  package.json
  src/script/conversation/ConversationRepository.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13747 runfix: align assets lifetime (FS-1011)
  src/script/assets/AssetRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13750 chore: update @wireapp/core
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13754 runfix: use proteus as default protocol when user can't choose (FS-1026)
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13753 feat: remove device 'reset session' button for mls conversations (FS-881)
  src/script/components/userDevices/DeviceDetails.tsx
Labels: type: feature / request ✨, 👕 size: S

#13751 runfix: ts strict errors
  src/script/components/MessagesList/Message/ContentMessage/MessageFooterLike.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/AssetHeader.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/AssetLoader.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAssetComponent.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/LinkPreviewAssetComponent.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/LocationAsset.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MessageButton.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.tsx
  src/script/components/calling/GroupVideoGrid.test.tsx
  src/script/util/conversationMessages.ts
Labels: type: bug / fix 🐞, 👕 size: L

#13427 chore(csp): cleanup default CSP values (SQCORE-527)
  server/config.ts
Labels: type: chore 🧹, 👕 size: S
