Repository wireapp/wire-webapp, pull requests merged in 2022-12, with the labels that each got.

#14235 runfix: address code review
  src/script/page/AppMain.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14183 feat: add font size selection to the preferences [ACC-302]
  package.json
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/CallMessage.tsx
  src/script/components/MessagesList/Message/CallTimeoutMessage.tsx
  src/script/components/MessagesList/Message/DecryptErrorMessage.tsx
  src/script/components/MessagesList/Message/DeleteMessage.tsx
  src/script/components/MessagesList/Message/MemberMessage.tsx
  src/script/components/MessagesList/Message/SystemMessage.tsx
  src/script/components/MessagesList/Message/VerificationMessage.tsx
  src/script/hooks/useRootFontSize.ts
  src/script/page/AppMain.tsx
  src/script/page/MainContent/panels/preferences/OptionPreferences.tsx
  src/script/page/RightSidebar/ConversationDetails/components/ConversationDetailsOptions/ConversationDetailsOption.tsx
  src/script/page/RightSidebar/GroupParticipantUser/GroupParticipantUser.tsx
  src/script/storage/StorageKey.ts
  src/style/components/asset/link-preview-asset.less
  src/style/components/list/participant-item.less
  src/style/components/search-input.less
  src/style/content/conversation/input-bar.less
  src/style/content/conversation/message-list.less
  src/style/content/preferences.less
  src/style/foundation/video-calling.less
  src/style/list/conversations.less
  src/style/modal/group-creation.less
  src/style/panel/panel.less
  src/style/panel/participant-devices.less
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#14234 feat: Handle reset session messages
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/event/EventRepository.ts
  src/script/main/app.ts
Labels: type: feature / request ✨, 👕 size: S

#14190 feat: trigger corecrypto migration script [FS-1095]
  src/script/main/app.ts
  src/script/storage/StorageSchemata.ts
  src/script/util/dbMigrationStateStore/dbMigrationStateStore.test.ts
  src/script/util/dbMigrationStateStore/dbMigrationStateStore.ts
  src/script/util/dbMigrationStateStore/index.ts
Labels: type: feature / request ✨, 👕 size: M

#14221 feat: Implement new full search design
  src/i18n/en-US.json
  src/script/page/MainContent/panels/Collection/Collection.test.tsx
  src/script/page/MainContent/panels/Collection/FullSearch.tsx
  src/style/components/asset/common/common.less
  src/style/components/full-search.less
  src/style/content/collection.less
Labels: type: feature / request ✨, 👕 size: M

#14237 runfix: add responsiveness to full search
  src/script/page/MainContent/panels/Collection/FullSearch.tsx
  src/style/components/full-search.less
  src/style/content/collection.less
Labels: type: bug / fix 🐞, 👕 size: S

#14238 refactor: change div to p tag in message renderer [ACC-24]
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer.tsx
Labels: type: refactoring 🛠, 👕 size: XS

#14236 refactor: Cleanup usage of core
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/assets/AssetRepository.test.ts
  src/script/client/ClientEntity.ts
  src/script/client/ClientIdUtil.test.ts
  src/script/client/ClientIdUtil.ts
  src/script/client/ClientMapper.test.ts
  src/script/client/ClientMapper.ts
  src/script/client/ClientRepository.test.ts
  src/script/client/ClientRepository.ts
  src/script/client/index.ts
  src/script/components/MessagesList/Message/DecryptErrorMessage.test.tsx
  src/script/components/MessagesList/Message/DecryptErrorMessage.tsx
  src/script/components/Modals/LegalHoldModal/LegalHoldModal.test.tsx
  src/script/components/Modals/LegalHoldModal/LegalHoldModal.tsx
  src/script/components/UserDevices.tsx
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/conversation/MessageRepository.test.ts
  src/script/entity/Conversation.ts
  src/script/entity/message/DecryptErrorMessage.ts
  src/script/main/app.ts
  src/script/mls/MLSConversations.test.ts
  src/script/page/AppLock/AppLock.test.tsx
  src/script/page/AppLock/AppLock.tsx
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/LogoutSection.tsx
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.test.tsx
  src/script/user/AppLockRepository.ts
  src/script/user/UserRepository.ts
  src/script/util/DebugUtil.ts
  src/script/util/TypePredicateUtil.test.ts
  src/script/util/TypePredicateUtil.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/MainViewModel.ts
  test/helper/TestFactory.js
  test/unit_tests/client/ClientEntitySpec.js
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: L

#14255 fix: Secondary button right click needs to fall back to browser default right click[chat message markdown click](ACC-316)
  src/script/components/Conversation/Conversation.tsx
  src/script/guards/Mouse.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14254 feat: Send self device sync message through MLS and proteus conversations [FS-1208]
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/conversation/ConversationState.test.ts
  src/script/conversation/ConversationState.ts
  src/script/conversation/MessageRepository.ts
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.tsx
Labels: type: feature / request ✨, 👕 size: M

#14259 refactor: change div to p tag in right sidebar [ACC-24]
  src/script/components/panel/ConversationProtocolDetails/ConversationProtocolDetails.tsx
  src/script/components/panel/ServiceDetails.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/components/userDevices/DeviceCard.tsx
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/components/userDevices/DeviceList.tsx
  src/script/components/userDevices/NoDevicesFound.tsx
  src/script/page/RightSidebar/ConversationDetails/components/GroupDetails/GroupDetails.tsx
  src/script/page/RightSidebar/GroupParticipantUser/GroupParticipantUser.tsx
  src/script/page/RightSidebar/Notifications/Notifications.tsx
  src/script/page/RightSidebar/TimedMessages/TimedMessages.tsx
Labels: type: refactoring 🛠, 👕 size: S

#14253 feat: api v3 access_role change [FS-1192]
  package.json
  src/script/conversation/ConversationAccessPermission.test.ts
  src/script/conversation/ConversationAccessPermission.ts
  src/script/conversation/ConversationFilter.test.ts
  src/script/conversation/ConversationMapper.test.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/ConversationStateHandler.ts
  src/script/entity/Conversation.ts
  src/script/storage/record/ConversationRecord.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#14264 feat: add api v3 support [FS-1268]
  package.json
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/ConversationStateHandler.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#14266 runfix: address design review of the font size slider [ACC-302]
  package.json
  src/style/common/accent-color.less
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#14268 runfix: old images missing domain (FS-1001)
  src/script/conversation/EventMapper.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14267 runfix: correct mention font-size and edit icon in replies
  src/script/components/InputBar/ReplyBar.tsx
  src/style/content/conversation/input-bar.less
  src/style/content/conversation/message-quote.less
Labels: type: bug / fix 🐞, 👕 size: S

#14269 fix: Avoid double file pasting trigger [FS-1306]
  src/script/components/InputBar/InputBar.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14272 chore: Remove antiscroll
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: XS

#14271 fix: user not able to send multiple files [FS-1276]
  src/script/hooks/useDropFiles.tsx
  src/script/page/message-list/AssetUploadButton/AssetUploadButton.tsx
  src/script/page/message-list/ImageUploadButton/ImageUploadButton.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14270 refactor: Cleanup file dropping/pasting in InputBar
  src/script/components/InputBar/InputBar.tsx
  src/script/components/InputBar/hooks/useDropFiles.ts
  src/script/components/InputBar/hooks/useFilePaste.test.ts
  src/script/components/InputBar/hooks/useFilePaste.ts
  src/script/components/InputBar/hooks/useResizeTarget.ts
  src/script/components/InputBar/hooks/useScrollSync.ts
  src/script/components/InputBar/hooks/useTextAreaFocus.ts
Labels: 👕 size: M

#14274 feat: api v3 support for typing endpoint [FS-1311]
  package.json
  src/script/conversation/ConversationRepository.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#14273 feat: Typing Indicator settings - Turn on or Off(ACC-307)
  src/i18n/en-US.json
  src/script/components/InputBar/InputBar.test.tsx
  src/script/components/InputBar/InputBar.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/PrivacySection.tsx
  src/script/properties/PropertiesRepository.ts
  src/script/user/TypingIndicatorMode.ts
Labels: type: feature / request ✨, comp: preferences, 👕 size: M

#14275 refactor: Improve file tree structure
  src/script/components/InputBar/InputBar.tsx
  src/script/components/InputBar/components/AssetUploadButton/AssetUploadButton.test.tsx
  src/script/components/InputBar/components/AssetUploadButton/AssetUploadButton.tsx
  src/script/components/InputBar/components/AssetUploadButton/index.ts
  src/script/components/InputBar/components/ImageUploadButton/ImageUploadButton.test.tsx
  src/script/components/InputBar/components/ImageUploadButton/ImageUploadButton.tsx
  src/script/components/InputBar/components/ImageUploadButton/index.ts
  src/script/components/InputBar/components/InputBarControls/ControlButtons.test.tsx
  src/script/components/InputBar/components/InputBarControls/ControlButtons.tsx
  src/script/components/InputBar/components/InputBarControls/GiphyButton.tsx
  src/script/components/InputBar/components/MentionSuggestions/MentionSuggestions.test.tsx
  src/script/components/InputBar/components/MentionSuggestions/MentionSuggestions.tsx
  src/script/components/InputBar/components/MentionSuggestions/MentionSuggestionsItem.tsx
  src/script/components/InputBar/components/MentionSuggestions/index.ts
  src/script/components/InputBar/components/MessageTimerButton/MessageTimerButton.test.tsx
  src/script/components/InputBar/components/MessageTimerButton/MessageTimerButton.tsx
  src/script/components/InputBar/components/MessageTimerButton/index.ts
  src/script/components/InputBar/components/PastedFileControls.tsx
  src/script/components/InputBar/components/ReplyBar.tsx
  src/script/components/InputBar/components/TypingIndicator/TypingIndicator.state.tsx
  src/script/components/InputBar/components/TypingIndicator/TypingIndicator.styles.ts
  src/script/components/InputBar/components/TypingIndicator/TypingIndicator.test.tsx
  src/script/components/InputBar/components/TypingIndicator/TypingIndicator.tsx
  src/script/components/InputBar/components/TypingIndicator/index.ts
  src/script/components/MessagesList/MessageList.tsx
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/calling/CallingCell.tsx
  src/script/components/panel/EnrichedFields.test.tsx
  src/script/components/utils/InViewport.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/page/LeftSidebar/panels/ListWrapper.tsx
  src/script/page/MainContent/panels/Collection/CollectionDetails.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.tsx
  src/script/page/RightSidebar/AddParticipants/AddParticipants.tsx
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/ConversationParticipants/ConversationParticipants.tsx
  src/script/page/RightSidebar/GroupParticipantService/GroupParticipantService.tsx
  src/script/page/RightSidebar/GroupParticipantUser/GroupParticipantUser.tsx
  src/script/page/RightSidebar/GuestServicesOptions/GuestServicesOptions.tsx
  src/script/page/RightSidebar/MessageDetails/MessageDetails.tsx
  src/script/page/RightSidebar/Notifications/Notifications.tsx
  src/script/page/RightSidebar/ParticipantDevices/ParticipantDevices.tsx
  src/script/page/RightSidebar/TimedMessages/TimedMessages.tsx
  src/script/util/DOM/fadingScrollbar.ts
  src/script/util/DOM/onHitTopOrBottom.ts
  src/script/util/DOM/overlayedObserver.test.ts
  src/script/util/DOM/overlayedObserver.ts
  src/script/util/DOM/resizeObserver.ts
  src/script/util/DOM/viewportObserver.ts
Labels: type: refactoring 🛠, 👕 size: M

#14278 runfix: prevent call button to stay on screen in responsive view [ACC-324]
  src/script/components/TitleBar/TitleBar.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14280 fix: Remove scrollbar artifacts
  src/style/foundation/base.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14281 chore: Remove deprecated styling for context menu
  src/style/common/bubble.less
  src/style/components/context-menu.less
  src/style/foundation/main.less
Labels: type: chore 🧹, 👕 size: S

#14279 refactor: Make FadingScrollbar a react component
  src/script/components/FadingScrollbar.tsx
  src/script/components/InputBar/components/MentionSuggestions/MentionSuggestions.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/calling/CallingCell.tsx
  src/script/page/LeftSidebar/panels/ListWrapper.tsx
  src/script/page/MainContent/panels/Collection/CollectionDetails.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.tsx
  src/script/page/RightSidebar/AddParticipants/AddParticipants.tsx
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/ConversationParticipants/ConversationParticipants.tsx
  src/script/page/RightSidebar/GroupParticipantService/GroupParticipantService.tsx
  src/script/page/RightSidebar/GroupParticipantUser/GroupParticipantUser.tsx
  src/script/page/RightSidebar/GuestServicesOptions/GuestServicesOptions.tsx
  src/script/page/RightSidebar/MessageDetails/MessageDetails.tsx
  src/script/page/RightSidebar/Notifications/Notifications.tsx
  src/script/page/RightSidebar/ParticipantDevices/ParticipantDevices.tsx
  src/script/page/RightSidebar/TimedMessages/TimedMessages.tsx
  src/script/util/DOM/fadingScrollbar.ts
Labels: type: refactoring 🛠, 👕 size: L

#14282 refactor: rename the property WIRE_TYPING_MODE to WIRE_TYPING_INDICATOR_MODE
  src/script/components/InputBar/InputBar.test.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/PrivacySection.tsx
  src/script/properties/PropertiesRepository.ts
Labels: type: refactoring 🛠, comp: preferences, 👕 size: S

#14303 fix: Do not store accessToken on login [FS-1309]
  src/script/auth/module/action/AuthAction.test.ts
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/LocalStorageAction.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14302 refactor: use disposable ref hook
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer.tsx
  src/script/components/MessagesList/Message/MemberMessage.tsx
  src/script/util/useDisposableRef/index.ts
  src/script/util/useDisposableRef/useDisposableRef.test.tsx
  src/script/util/useDisposableRef/useDisposableRef.ts
Labels: type: refactoring 🛠, 👕 size: M

#14283 runfix: correct missing paragraph tags [ACC-321]
  src/script/components/ModalComponent.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/UserSearchableList.tsx
  src/script/page/AppLock/AppLock.tsx
  src/script/page/MainContent/panels/preferences/OptionPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountLink.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/UsernameInput.tsx
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.tsx
  src/script/page/MainContent/panels/preferences/devices/components/DetailedDevice.tsx
  src/script/page/RightSidebar/MessageDetails/MessageDetails.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14305 feat: Screen Reader announcement for Typing Indicator (ACC-304)
  src/script/components/InputBar/InputBar.tsx
  src/script/components/InputBar/components/TypingIndicator/TypingIndicator.tsx
Labels: type: feature / request ✨, 👕 size: XS

#14306 refactor: Use delegate event handlers for message clicks
  src/script/components/Conversation/Conversation.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/guards/Event.ts
Labels: type: refactoring 🛠, 👕 size: M

#14307 refactor: Improve quote long text detection
  src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer/ShowMoreButton.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer/ShowMoreButton.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer/TextMessageRenderer.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer/TextMessageRenderer.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer/index.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
Labels: type: refactoring 🛠, 👕 size: M

#14309 runfix: Address displaying conversation details when there a no participants
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14311 runfix: Handle middle click for markdown links
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer/TextMessageRenderer.tsx
  src/script/guards/Mouse.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14314 runfix: conversation component infinite rerender
  src/script/components/Conversation/Conversation.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14316 refactor: Avoid state in FadingScrollbar
  src/script/components/FadingScrollbar.tsx
  src/script/components/FadingScrollbar/FadingScrollbar.test.tsx
  src/script/components/FadingScrollbar/FadingScrollbar.tsx
  src/script/components/FadingScrollbar/index.ts
Labels: type: refactoring 🛠, 👕 size: L

#14317 refactor: create drop file area component
  src/script/components/Conversation/Conversation.tsx
  src/script/components/DropFileArea/DropFileArea.test.tsx
  src/script/components/DropFileArea/DropFileArea.tsx
  src/script/components/DropFileArea/index.ts
Labels: type: refactoring 🛠, 👕 size: M

#14318 runfix: update config version for website failures
  app-config/package.json
Labels: type: bug / fix 🐞, 👕 size: XS

#14319 fix: Firefox chat area accessibility issues, stop infinite loop for chat messages using arrow keys(last-first and vice versa), focus on non content messages interactive elements(ACC-268)
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/VideoAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/controls/SeekBar.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/hooks/useRoveFocus.ts
  src/style/components/asset/controls/media-button.less
  src/style/components/asset/controls/seek-bar.less
  src/style/content/conversation/message-quote.less
Labels: type: bug / fix 🐞, 👕 size: S

#14312 fix: Open sidebar when pressing enter on conversation title
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/RightSidebar.tsx
Labels: type: bug / fix 🐞, 👕 size: XL

#14321 refactor: rename isConversationFocused and focusConversation(ACC-268)
  src/script/components/MessagesList/Message/ContentMessage/MessageFooterLike.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageFooterLike.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageLike.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/AudioAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAssetComponent.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer/ShowMoreButton.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer/ShowMoreButton.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer/TextMessageRenderer.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer/TextMessageRenderer.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/VideoAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/controls/MediaButton.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/controls/SeekBar.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/Message/PingMessage.test.tsx
  src/script/components/MessagesList/Message/PingMessage.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.test.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/util/focusUtil.ts
Labels: type: refactoring 🛠, 👕 size: M

#14325 fix: send message with cursor at the beginning
  src/script/components/Emoji/useEmoji.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14326 refactor: avoid state in text renderer component
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer/TextMessageRenderer.tsx
Labels: type: refactoring 🛠, 👕 size: S

#14320 feat: Adjust styling of typing indicator (ACC-318)
  src/script/components/InputBar/components/TypingIndicator/TypingIndicator.styles.ts
  src/script/components/InputBar/components/TypingIndicator/TypingIndicator.tsx
  src/style/content/conversation/message-list.less
Labels: type: feature / request ✨, 👕 size: XS

#14332 refactor: remove lru-cache lib in favour of Map
  src/script/assets/AssetURLCache.ts
Labels: type: refactoring 🛠, 👕 size: S

#14330 fix: make sidebar radios keyboard accessible [ACC-332]
  src/script/components/Radio/RadioGroup.styles.ts
  src/script/components/Radio/RadioGroup.tsx
  src/script/components/Radio/index.ts
  src/script/page/MainContent/panels/preferences/OptionPreferences.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesRadio.tsx
  src/script/page/RightSidebar/Notifications/Notifications.tsx
  src/script/page/RightSidebar/TimedMessages/TimedMessages.tsx
  src/style/common/variables.less
  src/style/content/preferences/options.less
  src/style/foundation/base.less
  src/style/foundation/main.less
  src/style/panel/panel.less
Labels: type: bug / fix 🐞, 👕 size: XL

#14337 fix: resetting mentions when replying to a message
  src/script/components/InputBar/InputBar.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14354 refactor: Move singleInstance to react Hook
  src/script/auth/component/AppAlreadyOpen.tsx
  src/script/auth/module/action/AuthAction.test.ts
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/CookieAction.ts
  src/script/auth/module/action/RuntimeAction.ts
  src/script/auth/module/action/creator/CookieActionCreator.ts
  src/script/auth/module/action/creator/index.ts
  src/script/auth/module/action/index.ts
  src/script/auth/module/reducer/cookieReducer.ts
  src/script/auth/module/reducer/index.ts
  src/script/auth/module/selector/CookieSelector.ts
  src/script/auth/page/Root.tsx
  src/script/components/AppContainer/AppContainer.tsx
  src/script/hooks/useSingleInstance.test.ts
  src/script/hooks/useSingleInstance.ts
  src/script/main/SingleInstanceHandler.ts
  src/script/main/app.ts
  test/unit_tests/main/SingleInstanceHandlerSpec.js
Labels: type: refactoring 🛠, 👕 size: XXL

#14356 fix: Change background color of title bar icon button (ACC-61)
  src/style/common/button.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14335 fix: make user modal close button keyboard accessible [ACC-334]
  src/script/components/Modals/UserModal/UserModal.tsx
  src/script/util/KeyboardUtil.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14360 refactor: Remove traces of cookie store
  src/script/auth/main.tsx
  src/script/auth/page/Root.tsx
  src/script/auth/util/test/mockStoreFactory.ts
Labels: type: refactoring 🛠, 👕 size: S

#14357 feat: Use new buttons in giphy modal (ACC-71)
  src/script/components/Giphy/Giphy.test.tsx
  src/script/components/Giphy/Giphy.tsx
  src/style/common/modal.less
Labels: type: feature / request ✨, 👕 size: S

#14359 refactor: improve migration logic
  src/script/main/app.ts
  src/script/storage/StorageSchemata.ts
  src/script/util/dbMigrationStateStore/dbMigrationStateStore.test.ts
  src/script/util/dbMigrationStateStore/dbMigrationStateStore.ts
  src/script/util/dbMigrationStateStore/index.ts
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: M

#14363 refactor: Remove deprecated access token event
  src/script/main/app.ts
Labels: type: refactoring 🛠, 👕 size: S

#14362 fix: prevent deletion of draft messages [ACC-351]
  src/script/router/routerBindings.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14364 refactor: Remove amplify call for app reload
  src/script/main/app.ts
  src/script/page/AppMain.tsx
  src/script/view_model/WarningsContainer/WarningsContainer.test.tsx
  src/script/view_model/WarningsContainer/WarningsContainer.tsx
Labels: type: refactoring 🛠, 👕 size: S

#14365 feat: Allow breaking session for debug and testing purposes
  src/script/util/DebugUtil.ts
Labels: type: feature / request ✨, 👕 size: S

#14189 feat: Use coreCrypto for cryptographic operations (#14188)
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/assets/AssetRepository.test.ts
  src/script/client/ClientEntity.ts
  src/script/client/ClientIdUtil.test.ts
  src/script/client/ClientIdUtil.ts
  src/script/client/ClientMapper.test.ts
  src/script/client/ClientMapper.ts
  src/script/client/ClientRepository.test.ts
  src/script/client/ClientRepository.ts
  src/script/client/index.ts
  src/script/components/MessagesList/Message/DecryptErrorMessage.test.tsx
  src/script/components/MessagesList/Message/DecryptErrorMessage.tsx
  src/script/components/Modals/LegalHoldModal/LegalHoldModal.test.tsx
  src/script/components/Modals/LegalHoldModal/LegalHoldModal.tsx
  src/script/components/UserDevices.tsx
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/components/userDevices/SelfFingerprint.tsx
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/entity/Conversation.ts
  src/script/entity/message/DecryptErrorMessage.ts
  src/script/event/EventRepository.ts
  src/script/main/app.ts
  src/script/mls/MLSConversations.test.ts
  src/script/page/AppLock/AppLock.test.tsx
  src/script/page/AppLock/AppLock.tsx
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/LogoutSection.tsx
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.test.tsx
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.tsx
  src/script/storage/StorageSchemata.ts
  src/script/user/AppLockRepository.ts
  src/script/user/UserRepository.ts
  src/script/util/DebugUtil.ts
  src/script/util/TypePredicateUtil.test.ts
  src/script/util/TypePredicateUtil.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/MainViewModel.ts
  test/helper/TestFactory.js
  test/unit_tests/client/ClientEntitySpec.js
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XL

#14366 runfix: update legal privacy link
  app-config/package.json
Labels: type: bug / fix 🐞, 👕 size: XS

#14367 fix: Change font size of seach placeholder (ACC-327)
  src/style/components/search-input.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14368 fix: Change start ui input placeholder
  src/i18n/en-US.json
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14369 runfix: hash entropy to 32 bytes
  src/script/auth/page/EntropyContainer.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14371 fix: Change constant bit rate title to avoid breaking calling ui in large font sizes (ACC-326)
  src/script/components/calling/CallingCell.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14372 runfix: align group header [ACC-372]
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14373 feat: add debug util to break lastNotificationId
  src/script/util/DebugUtil.ts
  src/script/util/util.ts
Labels: type: feature / request ✨, 👕 size: S

#14374 refactor: rename last/first message to oldest/newest
  src/script/components/MessagesList/MessageList.tsx
  src/script/conversation/ConversationCellState.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.test.ts
  src/script/entity/Conversation.ts
Labels: type: refactoring 🛠, 👕 size: S

#14376 fix: prevent no search result text from overflowing
  src/style/list/start-ui.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14377 runfix: assign correct margin to no search result text [ACC-381]
  src/style/list/start-ui.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14375 refactor: Remove deprecated properties of mainViewModel
  src/script/components/AppContainer/AppContainer.tsx
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/MainViewModel.ts
Labels: type: refactoring 🛠, 👕 size: S

#14392 fix: Reset input value when canceling message edit
  src/script/components/InputBar/InputBar.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14393 test: fix missing act on React tests
  src/script/auth/page/SetEmail.test.tsx
  src/script/auth/page/SetHandle.test.tsx
  src/script/components/Giphy/Giphy.test.tsx
  src/script/components/InputBar/InputBar.test.tsx
  src/script/components/Modals/UserModal/UserModal.test.tsx
  src/script/page/MainContent/panels/Collection/Collection.test.tsx
Labels: type: test 👷, 👕 size: S

#14394 runfix: Add title to constant bit rate label (ACC-326)
  src/script/components/calling/CallingCell.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14395 fix: Migrate to coreCrypto on login and app load
  package.json
  src/script/auth/module/action/AuthAction.test.ts
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/ClientAction.ts
  src/script/auth/module/action/creator/AuthActionCreator.ts
  src/script/auth/module/action/creator/ClientActionCreator.ts
  src/script/auth/module/reducer/clientReducer.ts
  src/script/main/app.ts
  src/script/main/sessionIdMigrator.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#14396 chore: Fix first-child emotion warning
  src/script/components/InputBar/components/TypingIndicator/TypingIndicator.styles.ts
Labels: type: chore 🧹, 👕 size: XS

#14397 refactor: cleanup unneeded websocket action
  src/script/auth/module/action/ClientAction.ts
  src/script/auth/module/action/WebSocketAction.ts
  src/script/auth/module/action/index.ts
  src/script/auth/module/selector/ClientSelector.ts
Labels: type: refactoring 🛠, 👕 size: S

#14398 refactor: Only load client list where needed
  src/i18n/en-US.json
  src/script/auth/module/action/ClientAction.ts
  src/script/auth/module/action/NotificationAction.ts
  src/script/auth/module/action/creator/NotificationActionCreator.ts
  src/script/auth/module/action/creator/index.ts
  src/script/auth/module/reducer/clientReducer.ts
  src/script/auth/module/selector/ClientSelector.ts
  src/script/auth/page/HistoryInfo.tsx
  src/script/auth/page/SingleSignOnForm.tsx
  src/script/strings.ts
Labels: type: refactoring 🛠, 👕 size: M

#14399 test: unit test for useRoveFocus hook
  src/script/hooks/useRoveFocus.test.tsx
Labels: type: test 👷, 👕 size: M

#14401 chore(qa): Add a debug tool to reset the device identity
  src/script/util/DebugUtil.ts
Labels: type: chore 🧹, 👕 size: XS

#14400 fix: Enable session reset even for unknown error codes
  src/script/entity/message/DecryptErrorMessage.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14403 runfix: Show history page for temporary devices
  src/script/auth/page/HistoryInfo.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14404 fix: Improve user-facing decryption errors
  package.json
  src/script/components/Conversation/Conversation.tsx
  src/script/components/MessagesList/Message/DecryptErrorMessage.test.tsx
  src/script/components/MessagesList/Message/DecryptErrorMessage.tsx
  src/script/conversation/EventMapper.ts
  src/script/entity/message/DecryptErrorMessage.ts
  test/unit_tests/conversation/EventMapperSpec.js
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M
