Repository wireapp/wire-webapp, pull requests merged in 2022-04, with the labels that each got.

#12755 test: gh mobile fix
  .github/workflows/test_build_deploy.yml
  yarn.lock
Labels: comp: infrastructure, type: test 👷, 👕 size: S

#12756 fix(build): add mobile deploy
  .github/workflows/test_build_deploy.yml
Labels: type: bug / fix 🐞, comp: infrastructure, 👕 size: S

#12754 fix(accessibility): re-design to use missing lists elements #ACC-26
  src/page/template/content/conversation/input-bar.htm
  src/page/template/content/conversation/title-bar.htm
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/page/preferences/AboutPreferences.tsx
  src/style/components/list/conversation-list-calling-cell.less
  src/style/content/conversation.less
  src/style/content/conversation/input-bar.less
  src/style/content/preferences.less
  src/style/foundation/video-calling.less
Labels: type: bug / fix 🐞, 👕 size: XL

#12758 fix: chrome audio mobile os
  src/script/audio/AudioRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12759 feat: mobile send button
  src/page/template/content/conversation/input-bar.htm
  src/style/content/conversation/input-bar.less
Labels: type: feature / request ✨, 👕 size: S

#12760 test: ios debug
  src/script/main/SingleInstanceHandler.ts
Labels: type: test 👷, 👕 size: XS

#12761 fix: vh setup mobile
  src/script/page/preferences/components/PreferencesPage.tsx
  src/script/view_model/MainViewModel.ts
  src/style/foundation/framework.less
Labels: type: bug / fix 🐞, 👕 size: XS

#12762 fix: messages spacing
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#12763 feat: ios open keyboard hack
  src/script/view_model/content/InputBarViewModel.ts
  src/style/content/conversation.less
Labels: type: feature / request ✨, 👕 size: S

#12752 fix: update translation for code
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/script/strings.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12764 fix: update 2fa error style
  src/script/auth/page/Login.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12749 feat: Autofocus collection search input
  src/script/page/collection/FullSearch.tsx
Labels: type: feature / request ✨, 👕 size: S

#12779 fix(accessibility): missing form fieldsets/legends added where necessary #ACC-27
  src/script/page/preferences/avPreferences/AudioOutPreferences.tsx
  src/script/page/preferences/avPreferences/CameraPreferences.tsx
  src/script/page/preferences/avPreferences/DeviceSelect.tsx
  src/script/page/preferences/avPreferences/MicrophonePreferences.tsx
  src/script/page/preferences/components/PreferencesSection.tsx
  src/script/page/preferences/devices/DeviceDetailsPreferences.tsx
  src/script/page/preferences/devices/DevicesPreferences.tsx
  src/style/common/input.less
  src/style/content/preferences.less
Labels: type: bug / fix 🐞, 👕 size: S

#12718 chore: Bump @wireapp/avs from 8.0.13 to 8.1.7
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#12780 runfix: Update active call UI when call changed
  src/script/calling/CallState.ts
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/view_model/CallingViewModel.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#12781 fix: hide guest link in scenario 1
  src/script/view_model/panel/GuestsAndServicesViewModel.ts
  src/style/panel/panel.less
Labels: type: bug / fix 🐞, 👕 size: XS

#11210 refactor(call): Migrate userlist to react
  src/script/components/ServiceList.tsx
  src/script/components/UserList.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/userList.ts
  src/script/view_model/list/StartUIViewModel.ts
Labels: type: refactoring 🛠, 👕 size: XL

#12784 runfix: Correctly pass users to user-list
  src/page/template/list/start-ui.htm
  src/page/template/modal/group-creation.htm
  src/page/template/modal/legal-hold.htm
  src/page/template/panel/add-participants.htm
  src/page/template/panel/conversation-details.htm
  src/page/template/panel/conversation-participants.htm
  src/page/template/panel/message-details.htm
  src/script/components/UserList.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12786 fix: update soundless calls copy text
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
Labels: type: bug / fix 🐞, 👕 size: M

#12785 fix(accessibility): meta and smaller parsing html issues #ACC-30
  package.json
  src/page/template/meta.htm
  src/script/components/MessagesList/Message/MessageTime.tsx
  src/script/components/ModalComponent.tsx
  src/style/common/checkbox.less
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#12787 fix(accessibility): conversation list item valid html structure #ACC-19 #ACC-28
  src/i18n/en-US.json
  src/script/components/avatar/GroupAvatar.tsx
  src/script/components/list/ConversationListCell.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/message-list/MessageTimerButton.tsx
  src/style/list/conversation-list-cell.less
Labels: type: bug / fix 🐞, 👕 size: M

#12790 runfix: conversation-automation
  src/script/components/list/ConversationListCell.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12791 fix(accessibility): base toggle component updates #ACC-12
  src/script/components/toggle/BaseToggle.tsx
  src/style/common/slider.less
  src/style/components/info-toggle.less
Labels: type: bug / fix 🐞, 👕 size: S

#12792 fix(accessibility): show focus only when element selected by keyboard
  src/style/common/modal.less
  src/style/content/conversation/message-list.less
  src/style/foundation/base.less
Labels: type: bug / fix 🐞, 👕 size: XS

#12794 fix(accessibility): fieldset issue in chrome 85 fixed
  src/script/page/AccentColorPicker.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#12797 runfix(accessibility): slider input missing styles
  src/style/common/slider.less
Labels: type: bug / fix 🐞, 👕 size: XS

#12798 fix(accessibility): html parsing part 2 #ACC-29
  src/page/template/content/conversation/input-bar.htm
  src/page/template/content/conversation/title-bar.htm
  src/page/template/modal/group-creation.htm
  src/page/template/modal/invite-modal.htm
  src/page/template/modal/legal-hold.htm
  src/page/template/modal/service-modal.htm
  src/page/template/modal/user-modal.htm
  src/page/template/modals.htm
  src/script/components/modal.ts
  src/script/view_model/content/InputBarViewModel.ts
  src/style/common/checkbox.less
Labels: type: bug / fix 🐞, 👕 size: S

#12799 fix(accessibility): new colors and typings #ACC-60
  src/style/common/colors.less
  src/style/common/mixins.less
  src/style/common/typing.less
  src/style/common/variables.less
  src/style/foundation/main.less
  src/style/foundation/themes.less
Labels: type: bug / fix 🐞, 👕 size: M

#12800 fix(accessibility-translations): add accesisbility prefix
  src/i18n/en-US.json
  src/page/template/detail-view.htm
  src/page/template/modal/group-creation.htm
  src/page/template/wire-main.htm
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.tsx
  src/script/components/list/ConversationListCell.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#12821 fix(accessibility): colors and typings #ACC-60
  src/style/common/typing.less
Labels: 👕 size: S

#12822 runfix: Rrestore classified domains on calling cells
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12793 refactor: migrate Start UI to React
  src/i18n/en-US.json
  src/page/template/list/start-ui.htm
  src/page/template/modal/legal-hold.htm
  src/page/template/panel/conversation-details.htm
  src/page/template/panel/conversation-participants.htm
  src/page/template/wire-main.htm
  src/script/components/ServiceList.tsx
  src/script/components/UserInput.tsx
  src/script/components/UserList.tsx
  src/script/components/UserSearchableList.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/integration/IntegrationRepository.ts
  src/script/main/globals.ts
  src/script/page/LeftSidebar/LeftSidebar.tsx
  src/script/page/LeftSidebar/panels/ListWrapper.tsx
  src/script/page/LeftSidebar/panels/StartUI/PeopleTab.tsx
  src/script/page/LeftSidebar/panels/StartUI/ServicesTab.tsx
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/GroupList.test.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/GroupList.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/TopPeople.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/groupList/GroupListItem.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/topPeople/TopContact.tsx
  src/script/page/LeftSidebar/panels/StartUI/index.ts
  src/script/search/SearchRepository.ts
  src/script/user/UserPermission.ts
  src/script/user/UserState.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/style/components/search-list.less
  src/style/components/user-input.less
  src/style/list/start-ui.less
Labels: type: refactoring 🛠, 👕 size: XXL

#12824 fix(accessibility): grouped buttons #ACC-83
  src/style/common/button.less
  src/style/common/typing.less
Labels: type: bug / fix 🐞, 👕 size: S

#12826 runfix: Improve user-input style in dark background
  src/script/components/UserInput.tsx
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
  src/style/components/user-input.less
Labels: type: bug / fix 🐞, 👕 size: XS

#12828 runfix: Tigger user list lazy load when last element is in view
  src/script/components/UserList.tsx
  src/script/components/utils/InViewport.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12830 runfix: Improve end of user list detection
  src/script/components/UserList.tsx
  src/script/components/utils/InViewport.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12829 chore(accessibility): update translations
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset.tsx
  src/script/components/list/ConversationListCell.tsx
Labels: type: chore 🧹, 👕 size: S

#12831 feat: Show entropy form when logging in to a new device [SQSERVICES-1450, SQSERVICES-1450]
  src/i18n/en-US.json
  src/script/auth/component/ClientList.tsx
  src/script/auth/component/EntropyCanvas.test.tsx
  src/script/auth/component/EntropyCanvas.tsx
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/LocalStorageAction.ts
  src/script/auth/page/ClientManager.tsx
  src/script/auth/page/EntropyContainer.tsx
  src/script/auth/page/Login.test.tsx
  src/script/auth/page/Login.tsx
Labels: type: feature / request ✨, 👕 size: L

#12832 feat: limit entropy generator only to windows machines [SQSERVICES-1478]
  src/script/Config.ts
Labels: type: feature / request ✨, 👕 size: XS

#12833 fix(accessibility): add missing translations
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/ContentMessage/MessageLike.tsx
  src/script/page/AccentColorPicker.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12835 fix(accessibility): don't focus main input while pressing functions keys
  src/script/view_model/bindings/MessageListBindings.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12857 chore: Update crowdin/github-action to 1.4.8
  .github/workflows/sync_translations.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#12858 chore: remove unused and outdated dependency react-intl-po
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#12859 chore: Move deployment doc to internal wiki
  README.md
Labels: type: chore 🧹, 👕 size: S

#12860 chore: Remove electron PoC
  .eslintrc.json
  .gitignore
  .prettierignore
  electron/.copyconfigrc.js
  electron/.gitignore
  electron/README.md
  electron/bin/build-config.js
  electron/electron-builder.config.js
  electron/package.json
  electron/src/main.ts
  electron/tsconfig.json
  electron/yarn.lock
  package.json
  tsconfig.json
Labels: type: chore 🧹, 👕 size: XXL

#12861 chore: Configure dependabot to upgrade github actions
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/semantic-commit-lint.yml
  .github/workflows/sync_translations.yml
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#12862 chore: Clear react/typescript linting warning from eslint
  .eslintrc.json
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: M

#12834 feat(accessibility): new design buttons and accent colors
  src/script/Config.ts
  src/script/entity/User.ts
  src/script/page/AccentColorPicker.tsx
  src/style/common/accent-color.less
  src/style/common/button.less
  src/style/common/mixins.less
  src/style/content/conversation/message-list.less
  src/style/foundation/themes.less
Labels: type: feature / request ✨, 👕 size: L

#12877 chore: Align react-router and react-router-dom versions
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#12878 chore: Upgrade react to v17
  jest.config.js
  package.json
  setupTests.js
  test/index.test.js
  test/main.test.js
  yarn.lock
Labels: type: chore 🧹, 👕 size: M

#12855 fix(accessibility): input component's new design #ACC-83
  src/script/components/TextInput/TextInput.styles.ts
  src/script/components/TextInput/TextInput.tsx
  src/script/components/TextInput/index.ts
  src/style/common/mixins.less
  src/style/common/typing.less
  src/style/foundation/themes.less
Labels: type: bug / fix 🐞, 👕 size: M

#12823 fix(accessibility-design): left sidebar updates #ACC-77
  src/i18n/en-US.json
  src/script/components/AvailabilityState.tsx
  src/script/components/avatar/GroupAvatar.tsx
  src/script/components/list/ConversationListCell.tsx
  src/script/page/LeftSidebar/Background.tsx
  src/script/page/LeftSidebar/LeftSidebar.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/ListWrapper.tsx
  src/style/common/accent-color.less
  src/style/common/badge.less
  src/style/common/mixins.less
  src/style/common/typing.less
  src/style/common/variables.less
  src/style/components/user-input.less
  src/style/content/conversation/input-bar.less
  src/style/content/conversation/title-bar.less
  src/style/foundation/framework.less
  src/style/foundation/themes.less
  src/style/list/conversation-list-cell.less
  src/style/list/conversations.less
  src/style/list/list.less
  src/style/list/start-ui.less
Labels: type: bug / fix 🐞, 👕 size: L

#12880 runfix: Restore conversation cell option locator
  src/script/components/list/ConversationListCell.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12881 runfix: Subscribe to avatar ko updates [SQCORE-1284]
  src/script/components/avatar/UserAvatar.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12885 runfix: Add new locator for active conversation cell
  src/script/components/list/ConversationListCell.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12883 runfix: Subscribe to accent color changes
  src/script/page/AccentColorPicker.test.tsx
  src/script/page/AccentColorPicker.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12882 chore: remove unused and outdated dependency node-sass
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: XL

#12886 test(services): Add data-uie-names for 2fa login
  src/script/auth/page/Login.tsx
Labels: type: test 👷, 👕 size: XS

#12887 refactor(core): replace deprecated String.prototype.substr()
  Gruntfile.js
  src/script/localization/Localizer.ts
  src/script/media/MediaEmbeds.ts
  src/script/page/MainContent/panels/preferences/avPreferences/SaveCallLogs.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesCheckbox.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesRadio.tsx
  src/script/util/StringUtil.ts
  src/script/view_model/content/EmojiInputViewModel.ts
  src/script/view_model/content/InputBarViewModel.ts
  test/unit_tests/util/StringUtilSpec.js
Labels: 👕 size: S

#12891 fix(accessibility): newly designed checkbox component #ACC-83
  app-config/package.json
  src/script/components/Checkbox/Checkbox.styles.ts
  src/script/components/Checkbox/Checkbox.tsx
  src/script/components/Checkbox/index.ts
  src/script/components/TextInput/TextInput.styles.ts
  src/style/common/mixins.less
  src/style/common/typing.less
  src/style/foundation/themes.less
Labels: type: bug / fix 🐞, 👕 size: M

#12893 runfix: Make message keys unique in the message list
  src/script/components/MessagesList/index.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12889 chore(deps): Bump several server dependencies
  server/package.json
  server/yarn.lock
Labels: type: chore 🧹, 👕 size: XXL

#12890 chore(deps): replace wrtc with @koush/wrtc
  package.json
  src/script/util/test/mock/WebRTCMock.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: XL

#12895 runfix: Fix video call ui teardown for react18
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/hooks/useHideElement.ts
  src/script/util/useEffectRef.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12896 chore: Upgrade minor dependencies
  .eslintrc.json
  .husky/pre-commit
  .huskyrc.js
  babel.config.js
  package.json
  server/ServerConfig.ts
  server/util/BrowserUtil.test.ts
  server/util/TimeUtil.test.ts
  src/script/auth/component/EntropyCanvas.tsx
  src/script/auth/component/ProgressBar.tsx
  src/script/components/Checkbox/Checkbox.styles.ts
  src/script/components/Checkbox/index.ts
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/index.tsx
  src/script/components/TextInput/TextInput.styles.ts
  src/script/components/TextInput/index.ts
  src/script/components/input/ClassifiedBar.test.ts
  src/script/components/panel/UserActions.test.ts
  src/script/components/userDevices/DeviceList.tsx
  src/script/components/utils/InViewport.tsx
  src/script/conversation/ClientMismatchUtil.ts
  src/script/conversation/ConversationFilter.test.ts
  src/script/error/NoAudioInputError.ts
  src/script/hooks/useRelativeTimestamp.test.tsx
  src/script/hooks/useRelativeTimestamp.tsx
  src/script/main/sessionIdMigrator.ts
  src/script/page/AppLock.tsx
  src/script/page/MainContent/panels/Collection/CollectionSection.tsx
  src/script/page/MainContent/panels/Collection/utils.tsx
  src/script/page/MainContent/panels/preferences/devices/components/FormattedId.tsx
  src/script/storage/record/AmplifyRecord.ts
  src/script/storage/record/ConversationRecord.ts
  src/script/storage/record/CryptoboxRecord.ts
  src/script/storage/record/UserRecord.ts
  src/script/storage/record/index.ts
  src/script/strings.ts
  src/script/user/AppLockRepository.ts
  src/script/user/UserFilter.ts
  src/script/util/QualifiedId.test.ts
  src/script/util/QualifiedId.ts
  src/script/util/test/env/JSDomEnvironment.js
  src/script/util/test/mock/resizeObserver.mock.ts
  test/unit_tests/util/LoggerUtilSpec.js
  yarn.lock
Labels: type: chore 🧹, 👕 size: XXL

#12892 fix(accessibility-design): conversations center view #ACC-77
  src/i18n/en-US.json
  src/page/template/content/conversation/input-bar.htm
  src/page/template/content/conversation/title-bar.htm
  src/page/template/panel/conversation-details.htm
  src/script/components/UserList.tsx
  src/script/components/panel/PanelActions.test.ts
  src/script/components/panel/PanelActions.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/message-list/MessageTimerButton.tsx
  src/style/common/accent-color.less
  src/style/common/button.less
  src/style/common/like.less
  src/style/common/mixins.less
  src/style/common/variables.less
  src/style/components/list/participant-item.less
  src/style/content/conversation.less
  src/style/content/conversation/input-bar.less
  src/style/content/conversation/message-list.less
  src/style/content/conversation/title-bar.less
  src/style/list/conversations.less
  src/style/panel/conversation-details.less
  src/style/panel/panel.less
Labels: type: bug / fix 🐞, 👕 size: XL

#12912 fix(accessibility): account preferences page new design #ACC-79
  src/i18n/en-US.json
  src/script/components/Checkbox/Checkbox.styles.ts
  src/script/components/Checkbox/Checkbox.tsx
  src/script/components/TextInput/TextInput.styles.ts
  src/script/components/TextInput/TextInput.tsx
  src/script/page/AccentColorPicker.tsx
  src/script/page/LeftSidebar/panels/Preferences.tsx
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountInput.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountLink.test.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountLink.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountSecuritySection.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AvailabilityButtons.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AvailabilityInput.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/HistoryBackupSection.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/LogoutSection.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/UsernameInput.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/SaveCallLogs.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesCheckbox.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesSection.tsx
  src/script/ui/ContextMenu.tsx
  src/style/common/button.less
  src/style/content/preferences.less
  src/style/content/preferences/account.less
  src/style/list/list.less
Labels: type: bug / fix 🐞, 👕 size: XL

#12898 feat: right panel new design updates #ACC-77
  src/i18n/en-US.json
  src/page/template/modal/group-creation.htm
  src/page/template/modals.htm
  src/page/template/panel/conversation-details.htm
  src/page/template/panel/guest-options.htm
  src/script/components/list/ParticipantItem.tsx
  src/script/components/panel/EnrichedFields.tsx
  src/script/components/toggle/ReceiptModeToggle.tsx
  src/script/components/userDevices/DeviceCard.tsx
  src/style/common/checkbox.less
  src/style/common/modal.less
  src/style/common/slider.less
  src/style/components/enriched-fields.less
  src/style/components/info-toggle.less
  src/style/components/list/participant-item.less
  src/style/components/panel-participant-details.less
  src/style/components/search-list.less
  src/style/components/user-input.less
  src/style/fonts/zeta-neue.css
  src/style/panel/conversation-details.less
  src/style/panel/guest-options.less
  src/style/panel/panel.less
  src/style/panel/timed-messages-notifications.less
Labels: type: feature / request ✨, 👕 size: L

#12913 chore: Remove mutli distribution release process
  .github/workflows/test_build_deploy.yml
  app-config/package.json
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#12918 runfix: Update entropy copy
  src/i18n/en-US.json
Labels: type: bug / fix 🐞, 👕 size: XS

#12917 fix(accessibility-design): calling ui minimize view #ACC-80
  src/i18n/en-US.json
  src/page/template/modals.htm
  src/page/template/panel/conversation-details.htm
  src/page/template/panel/conversation-participants.htm
  src/page/template/panel/guest-options.htm
  src/page/template/panel/message-details.htm
  src/page/template/panel/services-options.htm
  src/script/components/list/ConversationListCallingCell.tsx
  src/style/common/button.less
  src/style/common/colors.less
  src/style/components/group-video-grid.less
  src/style/components/list/conversation-list-calling-cell.less
  src/style/components/list/participant-item.less
  src/style/foundation/themes.less
  src/style/panel/panel.less
Labels: type: bug / fix 🐞, 👕 size: M

#12921 chore: Simplify semantic commit linting
  .github/workflows/semantic-commit-lint.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#12919 chore(accessibility): update translations
  src/i18n/en-US.json
  src/script/components/list/ConversationListCallingCell.tsx
Labels: type: chore 🧹, 👕 size: S

#12924 chore: Fix semantic commit check
  .github/workflows/semantic-commit-lint.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#12925 fix(call): Ignore soundless incoming calls if not in a call (SQCALL-540)
  src/script/view_model/CallingViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12928 fix(accessibility): new design other preferences pages - part II #ACC-79
  src/script/Config.ts
  src/script/components/Checkbox/Checkbox.styles.ts
  src/script/components/Checkbox/Checkbox.tsx
  src/script/entity/User.ts
  src/script/page/AccentColorPicker.tsx
  src/script/page/MainContent/panels/preferences/OptionPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AvailabilityButtons.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/DeviceSelect.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/SaveCallLogs.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesCheckbox.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesRadio.tsx
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.tsx
  src/script/page/MainContent/panels/preferences/devices/components/DetailedDevice.tsx
  src/script/user/UserMapper.test.ts
  src/style/common/button.less
  src/style/content/preferences.less
  src/style/content/preferences/av.less
  src/style/content/preferences/devices.less
  src/style/content/preferences/options.less
  test/api/payloads.js
Labels: type: bug / fix 🐞, 👕 size: M

#12923 fix(accessibility): main view issues improve
  src/i18n/en-US.json
  src/page/template/content/conversation/input-bar.htm
  src/page/template/content/conversation/title-bar.htm
  src/page/template/meta.htm
  src/page/template/modal/invite-modal.htm
  src/page/template/modals.htm
  src/page/template/panel/conversation-participants.htm
  src/page/template/wire-main.htm
  src/script/components/LegalHoldDot.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageFooterLike.tsx
  src/script/components/ModalComponent.tsx
  src/script/components/list/ConversationListCell.tsx
  src/script/components/toggle/BaseToggle.tsx
  src/script/components/toggle/ReceiptModeToggle.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/view_model/content/InputBarViewModel.ts
  src/style/common/button.less
  src/style/components/list/participant-item.less
  src/style/content/conversation/input-bar.less
  src/style/content/conversation/message-list.less
  src/style/panel/panel.less
Labels: type: bug / fix 🐞, 👕 size: M

#12932 fix(services): Do not double escape links in open link modal (SQSERVICES-1491)
  src/script/view_model/content/MessageListViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12930 fix(accessibility): hide svg icons for screen readers
  src/page/template/content/conversation/input-bar.htm
  src/page/template/content/conversation/title-bar.htm
  src/page/template/content/history-import.htm
  src/page/template/detail-view.htm
  src/page/template/modal/group-creation.htm
  src/page/template/modal/service-modal.htm
  src/page/template/modal/user-modal.htm
  src/page/template/modals.htm
  src/page/template/panel/add-participants.htm
  src/page/template/panel/conversation-details.htm
  src/page/template/panel/group-participant-service.htm
  src/page/template/panel/group-participant-user.htm
  src/page/template/panel/guest-options.htm
  src/page/template/panel/message-details.htm
  src/page/template/panel/services-options.htm
  src/script/components/modal.ts
  src/script/page/LeftSidebar/panels/Archive.tsx
  src/style/list/conversations.less
  src/style/list/start-ui.less
Labels: type: bug / fix 🐞, 👕 size: M

#12933 fix(accessibility): add missing label in auth #ACC-21
  src/i18n/en-US.json
  src/script/auth/page/CreatePersonalAccount.tsx
  src/script/strings.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12934 fix(accessibility): add missing attributes #ACC-20
  src/script/auth/component/AcceptNewsModal.tsx
  src/script/auth/component/AppAlreadyOpen.tsx
  src/script/auth/component/ClientItem.tsx
  src/script/auth/component/LinkButton.tsx
  src/script/auth/component/WirelessContainer.tsx
  src/script/auth/page/CheckPassword.tsx
  src/script/auth/page/ConversationJoin.tsx
  src/script/auth/page/CustomEnvironmentRedirect.tsx
  src/script/auth/page/EntropyContainer.tsx
  src/script/auth/page/HistoryInfo.tsx
  src/script/auth/page/Index.tsx
  src/script/auth/page/InitialInvite.tsx
  src/script/auth/page/SetEmail.tsx
  src/script/auth/page/SetPassword.tsx
  src/script/auth/page/SingleSignOnForm.tsx
  src/script/auth/page/TeamName.tsx
  src/script/components/Checkbox/Checkbox.tsx
  src/script/components/Icon.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/AssetLoader.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/controls/AudioSeekBar.tsx
  src/script/components/MessagesList/Message/EphemeralTimer.tsx
  src/script/components/TextInput/TextInput.tsx
  src/script/components/avatar/GroupAvatar.tsx
  src/script/components/avatar/TemporaryGuestAvatar.tsx
  src/script/components/calling/ChooseScreen.tsx
  src/script/components/panel/PanelActions.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/ui/ContextMenu.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12937 fix(accessibility): participant item label improve #ACC-19
  src/script/components/list/ParticipantItem.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12936 fix(accessibility): wrong ko attributes #ACC-21
  src/page/template/panel/add-participants.htm
  src/page/template/panel/conversation-details.htm
  src/page/template/panel/conversation-participants.htm
  src/page/template/panel/group-participant-service.htm
  src/page/template/panel/group-participant-user.htm
  src/page/template/panel/guest-options.htm
  src/page/template/panel/message-details.htm
  src/page/template/panel/services-options.htm
Labels: type: bug / fix 🐞, 👕 size: S

#12938 runfix(call): Use joined call for silence calls option instead of active calls (SQCALL-540)
  src/script/view_model/CallingViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12939 fix(accessibility): contacts panel general redesign #ACC-78
  src/page/template/modal/group-creation.htm
  src/script/components/SearchInput.test.tsx
  src/script/components/SearchInput.tsx
  src/script/components/TextInput/TextInput.tsx
  src/script/main/globals.ts
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
  src/script/view_model/content/GroupCreationViewModel.ts
  src/style/common/modal.less
  src/style/components/info-toggle.less
  src/style/components/list/participant-item.less
  src/style/components/search-input.less
  src/style/foundation/main.less
  src/style/list/list.less
  src/style/list/start-ui.less
  src/style/modal/group-creation.less
Labels: type: bug / fix 🐞, 👕 size: L

#12940 runfix(accessibility): call accept hover
  src/style/components/list/conversation-list-calling-cell.less
Labels: type: bug / fix 🐞, 👕 size: XS

#12941 fix: Remove last ReactDom.render call
  src/script/ui/ContextMenu.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12942 fix(search): padding cutting off text
  src/style/components/search-input.less
Labels: type: bug / fix 🐞, 👕 size: XS

#12943 feat: disable guest toggle on external conversations (SQSERVICES-1471)
  src/i18n/en-US.json
  src/page/template/panel/guest-options.htm
  src/script/view_model/panel/GuestsAndServicesViewModel.ts
Labels: type: feature / request ✨, 👕 size: XS
