Repository wireapp/wire-webapp, pull requests merged in 2022-03, with the labels that each got.

#12607 feat(core): Add conversation domain to guest urls [FS-397]
  src/script/conversation/ConversationMapper.ts
Labels: type: feature / request ✨, 👕 size: XS

#12583 fix: Subscribe to active speakers in minimized call view (SQCALL-477)
  src/script/calling/Call.ts
  src/script/components/list/ConversationListCallingCell.tsx
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#12608 feat(call): Improve AVS call_reason mapping
  src/script/calling/CallingRepository.ts
  src/script/tracking/Segmentation.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: S

#12606 runfix(core): Fully support api version 1 for non-federated envs
  package.json
  src/script/Config.ts
  src/script/calling/CallingRepository.ts
  src/script/conversation/ClientMismatchUtil.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/main/app.ts
  yarn.lock
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#12631 chore(dev): add required node version
  package.json
Labels: type: chore 🧹, 👕 size: XS

#12635 fix(accessibility): sidebar panels switching #ACC-5
  src/page/template/list/archive.htm
  src/page/template/list/conversations.htm
  src/page/template/list/preferences.htm
  src/page/template/list/start-ui.htm
  src/page/template/list/temporary-guest.htm
  src/script/view_model/ListViewModel.ts
  src/script/view_model/list/ArchiveViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
  src/script/view_model/list/PreferencesListViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  src/script/view_model/list/TemporaryGuestViewModel.ts
  src/style/common/animations.less
Labels: type: bug / fix 🐞, 👕 size: S

#12642 fix(accessibility): options menu structure #ACC-6
  src/page/template/list/preferences.htm
  src/style/list/list.less
Labels: type: bug / fix 🐞, 👕 size: S

#12637 fix(accessibility): create group modal #ACC-12
  src/i18n/en-US.json
  src/page/template/modal/group-creation.htm
  src/page/template/wire-main.htm
  src/script/components/modal.ts
  src/script/components/toggle/BaseToggle.tsx
  src/script/components/userList.ts
  src/script/util/KeyboardUtil.ts
  src/script/view_model/bindings/MessageListBindings.ts
  src/style/common/button.less
  src/style/common/modal.less
  src/style/common/slider.less
  src/style/components/info-toggle.less
  src/style/components/search-list.less
  src/style/modal/group-creation.less
  tsconfig.json
Labels: type: bug / fix 🐞, 👕 size: M

#12646 chore: Bump @wireapp/core from 24.2.0 to 24.2.2
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#12647 fix: make translations auto merge
  .github/workflows/dependabot-auto-merge.yml
Labels: type: bug / fix 🐞, comp: infrastructure, 👕 size: XS

#12663 fix(accessibility): contact panel html structure #ACC-7
  src/page/template/list/start-ui.htm
  src/page/template/modal/service-modal.htm
  src/script/components/ServiceList.tsx
  src/script/view_model/bindings/MessageListBindings.ts
  src/style/common/modal.less
  src/style/components/search-list.less
  src/style/list/start-ui.less
Labels: type: bug / fix 🐞, 👕 size: M

#12643 refactor(core): Migrate preferences list to React
  src/page/template/list/preferences.htm
  src/page/template/wire-main.htm
  src/script/page/preferences/Preferences.test.tsx
  src/script/page/preferences/Preferences.tsx
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/list/PreferencesListViewModel.ts
  src/style/list/list.less
Labels: type: refactoring 🛠, 👕 size: L

#12645 fix(accessibility): account settings links #ACC-13
  src/script/page/preferences/AccountPreferences.tsx
  src/script/page/preferences/accountPreferences/AccountSecuritySection.tsx
  src/script/page/preferences/accountPreferences/HistoryBackupSection.tsx
  src/script/page/preferences/accountPreferences/LogoutSection.tsx
  src/script/page/preferences/avPreferences/SaveCallLogs.tsx
  src/style/content/preferences.less
Labels: type: bug / fix 🐞, 👕 size: S

#12640 refactor(core): Migrate preferences devices to React
  src/page/template/content/preferences-device-details.htm
  src/page/template/content/preferences-devices.htm
  src/page/template/wire-main.htm
  src/script/page/preferences/devices/DeviceDetailsPreferences.test.tsx
  src/script/page/preferences/devices/DeviceDetailsPreferences.tsx
  src/script/page/preferences/devices/DevicesPreferences.test.tsx
  src/script/page/preferences/devices/DevicesPreferences.tsx
  src/script/page/preferences/devices/components/DetailedDevice.tsx
  src/script/page/preferences/devices/components/FormattedId.tsx
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/content/PreferencesDeviceDetailsViewModel.ts
  src/script/view_model/content/PreferencesDevicesViewModel.ts
  src/style/content/preferences/devices.less
Labels: type: refactoring 🛠, 👕 size: XL

#12665 runfix: Fix preferences uie names
  src/script/page/preferences/Preferences.test.tsx
  src/script/page/preferences/Preferences.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12664 fix(accessibility): voice/video call component focusing #ACC-10
  src/i18n/en-US.json
  src/script/components/avatar/AvatarImage.test.tsx
  src/script/components/avatar/AvatarImage.tsx
  src/script/components/avatar/ServiceAvatar.tsx
  src/script/components/avatar/UserAvatar.tsx
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/router/routerBindings.ts
  src/style/components/list/conversation-list-calling-cell.less
  src/style/components/list/participant-item.less
  src/style/list/conversation-list-cell.less
Labels: type: bug / fix 🐞, 👕 size: M

#12668 fix(core): show preferences for temporary guests
  src/page/template/wire-main.htm
  src/script/page/preferences/Preferences.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12667 fix(accessibility): modal focus on open #ACC-14
  src/page/template/modal/group-creation.htm
  src/page/template/modals.htm
  src/script/components/modal.ts
  src/style/common/modal.less
Labels: type: bug / fix 🐞, 👕 size: S

#12671 runfix(core): Fix displaying domain in conversation detail
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/MainViewModel.ts
  src/script/view_model/PanelViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12673 fix(accessibility): conversations panel html structure #ACC-8
  src/page/template/list/conversations.htm
  src/script/components/list/ConversationListCell.tsx
  src/script/ui/ContextMenu.tsx
  src/script/view_model/list/ConversationListViewModel.ts
  src/style/common/context.less
  src/style/list/conversation-list-cell.less
  src/style/list/conversations.less
  src/style/list/list.less
Labels: type: bug / fix 🐞, 👕 size: M

#12674 refactor(core): Migrate top level sidebar to React
  src/page/template/list/background.htm
  src/page/template/wire-main.htm
  src/script/main/globals.ts
  src/script/page/left-sidebar/Background.tsx
  src/script/page/left-sidebar/LeftSidebar.tsx
  src/script/page/left-sidebar/panels/Archive.tsx
  src/script/page/left-sidebar/panels/ListWrapper.tsx
  src/script/page/left-sidebar/panels/Preferences.test.tsx
  src/script/page/left-sidebar/panels/Preferences.tsx
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/bindings/ListBackgroundBindings.ts
  src/style/common/animations.less
Labels: type: refactoring 🛠, 👕 size: L

#12675 fix(accessibility): folder html structure #ACC-9
  src/page/template/list/conversations.htm
  src/page/template/list/start-ui.htm
  src/script/components/list/GroupedConversationHeader.tsx
  src/script/components/list/GroupedConversations.tsx
  src/script/components/list/GroupedConversationsFolder.tsx
  src/script/view_model/list/ConversationListViewModel.ts
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: M

#12701 fix(accessibility): broken "move to" context menu fixed
  src/style/common/context.less
Labels: type: bug / fix 🐞, 👕 size: XS

#12679 feat: add mobile deploy
  .github/workflows/lint.yml
  .github/workflows/test_build_deploy.yml
Labels: type: feature / request ✨, comp: infrastructure, 👕 size: S

#12702 refactor: Harmonize conversation cell locators
  src/page/template/list/conversations.htm
  src/script/components/list/ConversationListCell.tsx
Labels: type: refactoring 🛠, 👕 size: XS

#12703 fix: Avoid loading undefined image on user background [FS-505]
  src/script/page/left-sidebar/Background.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12680 fix(accessibility): Video/Audio call fullscreen view #ACC17
  src/script/components/calling/ButtonGroup.test.ts
  src/script/components/calling/ButtonGroup.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/Pagination.tsx
  src/script/components/modal.ts
  src/script/hooks/useHideElement.ts
  src/script/util/util.ts
  src/style/foundation/video-calling.less
Labels: type: bug / fix 🐞, 👕 size: M

#12682 fix(accessibility): conversation list items improve structure and labels #ACC-19
  src/i18n/en-US.json
  src/script/components/list/ConversationListCell.tsx
  src/style/list/conversation-list-cell.less
Labels: type: bug / fix 🐞, 👕 size: S

#12707 runfix: Load missing events when loading the archive page
  src/script/page/left-sidebar/panels/Archive.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12681 feat(services): Add support for two factor authentication (SQSERVICES-1165)
  package.json
  src/i18n/en-US.json
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/BackendError.ts
  src/script/auth/module/action/ClientAction.ts
  src/script/auth/module/action/creator/AuthActionCreator.ts
  src/script/auth/module/reducer/authReducer.ts
  src/script/auth/module/selector/AuthSelector.ts
  src/script/auth/page/Login.tsx
  src/script/strings.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#12676 refactor(core): Migrate home conversations list to React
  package.json
  src/i18n/en-US.json
  src/page/template/wire-main.htm
  src/script/components/AvailabilityState.tsx
  src/script/components/LegalHoldDot.test.tsx
  src/script/components/LegalHoldDot.tsx
  src/script/components/avatar/GroupAvatar.tsx
  src/script/components/list/ConversationListCallingCell.test.ts
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/components/list/ConversationListCell.tsx
  src/script/conversation/ConversationLabelRepository.ts
  src/script/main/globals.ts
  src/script/page/LeftSidebar/Background.tsx
  src/script/page/LeftSidebar/LeftSidebar.tsx
  src/script/page/LeftSidebar/index.ts
  src/script/page/LeftSidebar/panels/Archive.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationHeader.test.ts
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationHeader.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationsFolder.tsx
  src/script/page/LeftSidebar/panels/Conversations/index.ts
  src/script/page/LeftSidebar/panels/Conversations/state.ts
  src/script/page/LeftSidebar/panels/ListWrapper.tsx
  src/script/page/LeftSidebar/panels/Preferences.test.tsx
  src/script/page/LeftSidebar/panels/Preferences.tsx
  src/script/page/LeftSidebar/panels/TemporatyGuestConversations.tsx
  src/script/util/TypedEventTarget.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/list/ConversationListViewModel.ts
  src/style/common/button.less
  src/style/components/legal-hold-dot.less
  src/style/list/conversations.less
  src/style/list/list.less
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: XXL

#12709 fix(accessibility): long name issue in the calling component
  src/script/components/list/ConversationListCallingCell.tsx
  src/style/list/conversation-list-cell.less
Labels: type: bug / fix 🐞, 👕 size: XS

#12711 fix: handle missing access role v2
  src/script/conversation/ConversationMapper.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12710 refactor: Retire Takeover panel
  src/page/template/list/takeover.htm
  src/page/template/wire-main.htm
  src/script/main/app.ts
  src/script/page/preferences/accountPreferences/UsernameInput.tsx
  src/script/user/UserRepository.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/list/TakeoverViewModel.ts
  src/style/foundation/main.less
  src/style/list/takeover.less
  test/unit_tests/user/UserRepositorySpec.js
Labels: type: refactoring 🛠, 👕 size: M

#12649 feat: additional entropy for client generation
  package.json
  server/ServerConfig.ts
  server/config.ts
  src/i18n/en-US.json
  src/script/auth/component/EntropyCanvas.test.tsx
  src/script/auth/component/EntropyCanvas.tsx
  src/script/auth/component/ProgressBar.tsx
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/ClientAction.ts
  src/script/auth/module/action/creator/AuthActionCreator.ts
  src/script/auth/module/reducer/authReducer.ts
  src/script/auth/module/selector/AuthSelector.ts
  src/script/auth/page/ConversationJoin.tsx
  src/script/auth/page/CreateAccount.tsx
  src/script/auth/page/CreatePersonalAccount.tsx
  src/script/auth/page/EntropyContainer.test.tsx
  src/script/auth/page/EntropyContainer.tsx
  src/script/auth/page/Root.tsx
  src/script/auth/page/SetEntropyPage.tsx
  src/script/auth/page/VerifyEmailCode.tsx
  src/script/auth/route.ts
  src/script/conversation/ConversationStateHandler.ts
  src/script/hooks/usePausableInterval.ts
  src/script/hooks/usePausableTimeout.ts
  src/script/main/globals.ts
  src/script/strings.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XL

#12714 runfix: Do not apply dark theme on call ui
  src/page/template/list/conversations.htm
  src/script/components/list/ConversationListCallingCell.tsx
  src/style/components/list/conversation-list-calling-cell.less
  src/style/foundation/themes.less
Labels: type: bug / fix 🐞, 👕 size: M

#12712 fix(accessibilty): user account page fixes #ACC-18
  src/i18n/en-US.json
  src/script/components/AvailabilityState.tsx
  src/script/page/AccentColorPicker.tsx
  src/script/page/preferences/accountPreferences/AccountInput.tsx
  src/script/page/preferences/accountPreferences/AccountLink.tsx
  src/script/page/preferences/accountPreferences/AvailabilityInput.tsx
  src/script/page/preferences/accountPreferences/AvatarInput.tsx
  src/script/page/preferences/accountPreferences/FileInput.tsx
  src/script/page/preferences/accountPreferences/HistoryBackupSection.tsx
  src/script/util/KeyboardUtil.ts
  src/style/content/preferences.less
  src/style/foundation/base.less
Labels: type: bug / fix 🐞, 👕 size: L

#12708 fix(accessibility): non-text content on control elements #ACC-21
  .eslintrc.json
  src/i18n/en-US.json
  src/script/auth/component/LoginForm.tsx
  src/script/auth/page/Login.tsx
  src/script/auth/page/SetAccountType.tsx
  src/script/components/Image.tsx
  src/script/components/calling/ChooseScreen.tsx
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/strings.ts
  src/style/components/calling/choose-screen.less
Labels: type: bug / fix 🐞, 👕 size: S

#12737 test: Fix date related tests on CollectionDetails
  src/script/page/collection/CollectionDetails.test.tsx
Labels: type: test 👷, 👕 size: XS

#12736 fix: Revoke access code when disabling guest [SQSERVICES-1398]
  src/script/conversation/ConversationStateHandler.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12738 fix(accessibility): other tabbing fixes on the sidebar #ACC-75
  src/script/components/ServiceList.tsx
  src/script/components/list/ConversationListCell.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/userList.ts
  src/script/page/start-ui/topPeople/TopContact.tsx
  src/style/list/list.less
Labels: type: bug / fix 🐞, 👕 size: S

#12743 fix: missing QA locators added
  src/script/page/AccentColorPicker.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12746 chore: Cleanup experimental binaries build job
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: M

#12745 runfix: Update team info when opening preferences
  src/script/page/LeftSidebar/LeftSidebar.tsx
  src/script/page/LeftSidebar/panels/Preferences.test.tsx
  src/script/page/LeftSidebar/panels/Preferences.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12744 runfix: Restore arrow button click to change status
  src/script/components/AvailabilityState.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12747 runfix: Handle access denied when joining a conversation [SQSERVICES-1398]
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12750 chore: Cleanup unused templates
  src/page/template/wire-main.htm
Labels: type: chore 🧹, 👕 size: XS

#12751 fix(accessibility): fix missing headers elements #ACC-25
  src/i18n/en-US.json
  src/page/template/content/conversation/title-bar.htm
  src/page/template/content/history-export.htm
  src/page/template/content/history-import.htm
  src/page/template/modal/invite-modal.htm
  src/page/template/modal/legal-hold.htm
  src/page/template/modal/service-modal.htm
  src/page/template/modal/user-modal.htm
  src/page/template/modals.htm
  src/page/template/wire-main.htm
  src/script/components/MessagesList/Message/MemberMessage.tsx
  src/script/components/MessagesList/Message/memberMessage/ConnectedMessage.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/page/AppLock.tsx
  src/script/page/collection/Collection.tsx
  src/script/page/preferences/components/PreferencesPage.tsx
  src/script/page/preferences/devices/DeviceDetailsPreferences.tsx
  src/script/page/preferences/devices/DevicesPreferences.tsx
  src/style/common/content.less
  src/style/common/mixins.less
  src/style/common/modal.less
  src/style/components/panel-participant-details.less
  src/style/content/conversation/message-list.less
  src/style/content/history-export-import.less
  src/style/content/preferences.less
  src/style/modal/service-modal.less
Labels: type: bug / fix 🐞, 👕 size: M

#12753 fix: force mobile branch ci upgrade
  package.json
Labels: 👕 size: XS
