Repository wireapp/wire-webapp, pull requests merged in 2022-06, with the labels that each got.

#13117 fix(call): Set AVS to mute false when start a call (SQCALL-551)
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#13119 chore: Remove electron config build
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#13120 chore: Improve dev documentation and default env config
  .env.localhost
  README.md
Labels: type: chore 🧹, 👕 size: S

#13087 feat: Use @wireapp/core to decrypt incoming messages [FS-651]
  package.json
  src/script/auth/module/action/WebSocketAction.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/cryptography/CryptographyRepository.test.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/entity/message/DecryptErrorMessage.ts
  src/script/event/EventRepository.test.ts
  src/script/event/EventRepository.ts
  src/script/event/EventService.ts
  src/script/event/EventSource.ts
  src/script/event/EventValidator.test.ts
  src/script/event/EventValidator.ts
  src/script/event/NotificationService.ts
  src/script/event/WebSocketService.ts
  src/script/main/app.ts
  src/script/storage/record/EventRecord.ts
  src/script/team/TeamRepository.ts
  src/script/util/DebugUtil.ts
  src/script/view_model/LoadingViewModel.ts
  test/helper/TestFactory.js
  test/unit_tests/conversation/EventMapperSpec.js
  webpack.config.dev.js
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XXL

#13127 fix: keyboard trapping at conversation title(ACC-75)
  src/script/view_model/content/TitleBarViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13129 runfix: Do not decrypt or store notification id when logging in
  package.json
  src/script/auth/module/action/WebSocketAction.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13130 chore(call): Bump @wireapp/avs from 8.1.13 to 8.1.17
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13131 feat(core): Add MLS team feature config (fs-653)
  package.json
  src/script/team/TeamService.ts
  src/script/team/TeamState.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#13132 chore: change petrol to turquoise
  src/i18n/en-US.json
  src/script/Config.ts
  src/script/entity/User.ts
  src/style/common/accent-color.less
Labels: type: chore 🧹, 👕 size: S

#13121 feat: federation backends login when one is down
  package.json
  src/i18n/en-US.json
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationMapper.test.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/main/app.ts
  src/script/user/UserMapper.ts
  src/script/user/UserRepository.ts
  yarn.lock
Labels: blocked: do-not-merge, type: feature / request ✨, comp: markdown, 👕 size: S

#13153 runfix: Dismiss reconnection warning when notification stream is parsed [SQCORE-1312]
  src/script/event/EventRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13150 refactor: Migrate Group Creation to React
  src/page/template/modal/group-creation.htm
  src/page/template/wire-main.htm
  src/script/components/ModalComponent.tsx
  src/script/components/UserList.tsx
  src/script/components/UserSearchableList.tsx
  src/script/components/toggle/BaseToggle.tsx
  src/script/components/toggle/InfoToggle.tsx
  src/script/main/app.ts
  src/script/page/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/GroupCreationViewModel.ts
  src/style/components/search-input.less
  src/style/modal/group-creation.less
Labels: type: refactoring 🛠, 👕 size: XL

#13156 chore: upgrade @wireapp/core
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13158 runfix: Add a wrapper to group creation component to fix broken styles
  src/script/components/UserSearchableList.tsx
  src/style/components/user-list.less
  src/style/modal/legal-hold-modal.less
Labels: type: bug / fix 🐞, 👕 size: S

#13159 refactor: Remove ternary rendering of no results ui in UserSearchableList
  src/script/components/UserSearchableList.tsx
Labels: type: refactoring 🛠, 👕 size: S

#13160 runfix: Use length equals to zero in UserSearchableList
  src/script/components/UserSearchableList.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13161 refactor: migrate CallingContainer to registerReactComponent
  src/page/template/wire-main.htm
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/main/app.ts
  src/script/main/globals.ts
Labels: type: refactoring 🛠, 👕 size: S

#13164 refactor: migrate AppLock to registerReactComponent
  src/page/template/wire-main.htm
  src/script/main/app.ts
  src/script/main/globals.ts
  src/script/page/AppLock.test.ts
  src/script/page/AppLock.tsx
Labels: type: refactoring 🛠, 👕 size: S

#13165 fix: add saml flags to account preferences
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13166 feat(core): Add support for creating mls based conversations (FS-554)
  package.json
  src/i18n/en-US.json
  src/script/components/ModalComponent.tsx
  src/script/page/Modals/GroupCreation/GroupCreationModal.tsx
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#13167 runfix: Show correct error message for searching in group creation
  src/script/components/UserSearchableList.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13169 runfix: Align content messages and replies
  src/style/content/conversation/message-quote.less
Labels: type: bug / fix 🐞, 👕 size: XS

#13157 fix: replace avselect with UI toolkit acc-173 acc-79
  package.json
  src/script/auth/component/AccountForm.test.tsx
  src/script/auth/component/LoginForm.tsx
  src/script/auth/component/PhoneLoginForm.tsx
  src/script/auth/page/Index.tsx
  src/script/auth/page/SingleSignOnForm.tsx
  src/script/page/MainContent/MainContent.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/DeviceSelect.tsx
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: L

#13187 refactor: Migrate UserModal to React
  src/page/template/modal/user-modal.htm
  src/page/template/wire-main.htm
  src/script/main/app.ts
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
  src/script/page/Modals/UserModal/UserModal.test.tsx
  src/script/page/Modals/UserModal/UserModal.tsx
  src/script/util/test/TestPage.tsx
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/UserModalViewModel.ts
Labels: type: refactoring 🛠, 👕 size: L

#13191 fix: correct button alignment in HistoryInfo
  src/script/auth/page/HistoryInfo.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13188 fix: timeout device manager
  src/i18n/en-US.json
  src/script/auth/component/ClientList.tsx
  src/script/auth/page/ClientManager.tsx
  src/script/auth/page/InitialInvite.tsx
  src/script/auth/page/Login.tsx
  src/script/strings.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13192 runfix: Show user actions when user is not blocked by legal hold
  src/script/page/Modals/UserModal/UserModal.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13193 fix: adjust color of active panel items in dark mode
  src/style/common/mixins.less
  src/style/list/conversation-list-cell.less
  src/style/list/conversations.less
  src/style/list/list.less
Labels: type: bug / fix 🐞, 👕 size: S

#13198 chore: upgrade @wireapp/core
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13195 runfix: correct active panel button colors acc-175
  src/style/common/mixins.less
  src/style/content/conversation/title-bar.less
  src/style/list/conversations.less
  src/style/list/list.less
  src/style/list/start-ui.less
Labels: type: bug / fix 🐞, 👕 size: S

#13200 runfix: Move fileupload locators to buttons
  src/script/page/message-list/InputBarControls/ControlButtons.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13196 runfix: fix broken inputs
  src/script/auth/component/ClientItem.tsx
  src/script/auth/component/PhoneLoginForm.tsx
  src/script/auth/page/CheckPassword.tsx
  src/script/auth/page/ConversationJoin.tsx
  src/script/auth/page/InitialInvite.tsx
  src/script/auth/page/SetHandle.tsx
  src/script/auth/page/SingleSignOnForm.tsx
  src/script/auth/page/TeamName.tsx
Labels: type: bug / fix 🐞, 👕 size: L

#13201 runfix: Print legal hold warning as html
  src/script/page/Modals/UserModal/UserModal.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13203 runfix: Restore disabled style of ping button
  src/style/common/button.less
Labels: type: bug / fix 🐞, 👕 size: XS

#13202 runfix: checkbox and radio inconsistency acc-158
  src/script/components/Checkbox/Checkbox.tsx
  src/style/content/preferences/options.less
  src/style/panel/panel.less
Labels: type: bug / fix 🐞, 👕 size: S

#13204 fix: active heart icon is grey, make it red(ACC-160)
  src/style/common/like.less
Labels: type: bug / fix 🐞, 👕 size: XS

#13206 fix: ignore outdated decryption errors
  src/script/event/EventRepository.ts
Labels: 👕 size: S

#13199 feat: Meaningful document title for all auth screens(ACC-42)
  src/i18n/en-US.json
  src/script/auth/page/Root.tsx
Labels: type: feature / request ✨, 👕 size: S

#13226 runfix: ignore and copy wasm import
  package.json
  webpack.config.common.js
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13227 runfix: remove capitalization of preference's titlebars
  src/style/content/preferences.less
Labels: type: bug / fix 🐞, 👕 size: XS

#13228 runfix: remove close button from locked state acc-172
  src/script/page/AppLock.tsx
  src/style/common/modal.less
Labels: type: bug / fix 🐞, 👕 size: XS

#13229 runfix: prevent user handle cut-off in sidebars acc-177
  src/style/components/list/participant-item.less
Labels: type: bug / fix 🐞, 👕 size: XS

#13230 refactor: Migrate ServiceModal to React
  src/page/template/modal/service-modal.htm
  src/page/template/wire-main.htm
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
  src/script/page/Modals/ServiceModal/ServiceModal.tsx
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/ServiceModalViewModel.ts
Labels: type: refactoring 🛠, 👕 size: M

#13235 runfix: Add data-uie-name to service modal
  src/script/components/Modals/ServiceModal/ServiceModal.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13236 runfix: add outline to join button when the cell is active acc-156
  src/style/list/conversation-list-cell.less
Labels: type: bug / fix 🐞, 👕 size: XS

#13238 runfix: reposition user handle under the username acc-177
  src/script/components/list/ParticipantItem.tsx
  src/style/components/list/participant-item.less
Labels: type: bug / fix 🐞, 👕 size: S

#13240 feat: declare a theme object directly in MainContent
  .gitignore
  package.json
  src/script/page/MainContent/MainContent.tsx
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#13244 chore: Put eslint jsx-a11y/interactive-supports-focus rule to error
  .eslintrc.json
Labels: type: chore 🧹, 👕 size: XS

#13257 fix: displayname translation
  src/i18n/en-US.json
Labels: type: bug / fix 🐞, 👕 size: XS

#13261 runfix: allow autofocus on group creation's text input acc-178
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/TextInput/TextInput.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13262 refactor: rewrite key handler to not accept spacebar acc-178
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/util/KeyboardUtil.ts
Labels: type: refactoring 🛠, 👕 size: S

#13242 fix: conversation action hover states, like button color on dark and light mode, send button positioning(ACC-160)
  src/script/page/message-list/InputBarControls/ControlButtons.tsx
  src/style/common/button.less
  src/style/common/like.less
  src/style/content/conversation/input-bar.less
Labels: type: bug / fix 🐞, 👕 size: S

#13263 chore: RC 2022-06-27_2
  src/i18n/en-US.json
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/TextInput/TextInput.tsx
  src/script/page/message-list/InputBarControls/ControlButtons.tsx
  src/script/util/KeyboardUtil.ts
  src/style/common/button.less
  src/style/common/like.less
  src/style/content/conversation/input-bar.less
Labels: type: chore 🧹, 👕 size: S

#13265 runfix: address eslint jsx-a11y warnings (#ACC-183 and #ACC-184)
  .eslintrc.json
  src/script/components/CopyToClipboard.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageFooterLike.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/AssetLoader.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/LinkPreviewAssetComponent.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MessageButton.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/controls/MediaButton.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
  src/script/components/MessagesList/Message/DecryptErrorMessage.tsx
  src/script/components/MessagesList/Message/LegalHoldMessage.tsx
  src/script/components/MessagesList/Message/MemberMessage.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.test.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.tsx
  src/script/components/MessagesList/Message/VerificationMessage.tsx
  src/script/components/MessagesList/Message/memberMessage/ConnectedMessage.tsx
  src/script/components/calling/DeviceToggleButton.tsx
  src/script/components/userDevices/DeviceCard.tsx
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/components/userDevices/SelfFingerprint.tsx
  src/script/page/AccentColorPicker.tsx
  src/script/page/AppLock.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/groupList/GroupListItem.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/CameraPreferences.tsx
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.tsx
  src/script/page/message-list/MentionSuggestions/MentionSuggestionsItem.tsx
  src/script/view_model/WarningsContainer.tsx
  src/style/content/conversation/message-list.less
  src/style/content/conversation/message-quote.less
  src/style/foundation/warnings.less
  src/style/panel/participant-devices.less
Labels: type: bug / fix 🐞, 👕 size: L

#13267 runfix: Avoid triggering close event on modal first render [SQCORE-1327]
  src/script/components/ModalComponent.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13269 runfix: Correctly display federated handle in conversation title [ACC-190]
  src/style/content/conversation/title-bar.less
Labels: type: bug / fix 🐞, 👕 size: XS

#13268 fix: keep selected mention suggestion in sync with mention list (#ACC-185)
  src/script/page/message-list/MentionSuggestions/MentionSuggestions.test.tsx
  src/script/page/message-list/MentionSuggestions/MentionSuggestions.tsx
  src/script/page/message-list/MentionSuggestions/index.ts
Labels: type: bug / fix 🐞, 👕 size: M

#13266 runfix: adjust theming of a-v preferences
  src/script/page/MainContent/MainContent.tsx
  src/style/common/typing.less
  src/style/content/preferences.less
  src/style/content/preferences/av.less
Labels: 👕 size: S

#13273 runfix: add focus trap to modals acc-178
  src/script/components/ModalComponent.tsx
  src/script/util/util.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13276 feat: Give external crypto primitives to core when available [FS-566]
  package.json
  src/script/service/CoreSingleton.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S
