Repository wireapp/wire-webapp, pull requests merged in 2022-05, with the labels that each got.

#12970 runfix: Restore account field uie-names
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountInput.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12968 refactor: share core and app db initialization between auth page and app
  package.json
  src/script/assets/AssetRepository.test.ts
  src/script/auth/configureClient.ts
  src/script/auth/configureCore.ts
  src/script/auth/main.tsx
  src/script/auth/module/action/AuthAction.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/main/app.ts
  src/script/service/APIClientSingleton.ts
  src/script/service/CoreSingleton.ts
  src/script/service/StoreEngineProvider.ts
  src/script/storage/StorageService.ts
  test/helper/TestFactory.js
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: L

#12972 refactor: share core and app db initialization between auth page and app
  package.json
  src/script/assets/AssetRepository.test.ts
  src/script/auth/configureClient.ts
  src/script/auth/configureCore.ts
  src/script/auth/main.tsx
  src/script/auth/module/action/AuthAction.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/main/app.ts
  src/script/service/APIClientSingleton.ts
  src/script/service/CoreSingleton.ts
  src/script/service/StoreEngineProvider.ts
  src/script/storage/StorageService.ts
  test/helper/TestFactory.js
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: L

#12974 refactor: Use @wireapp/core for conversations creation
  package.json
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: S

#12973 fix: join desktop conversations
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/LocalStorageAction.ts
  src/script/auth/page/ConversationJoin.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: M

#12977 fix: Improve message rendering
  src/script/util/messageRenderer.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12975 fix: missing data-uie-names in profile (ACC-103)
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountInput.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/EmailInput.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/NameInput.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/UsernameInput.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12976 fix: cannot add spaces in group name (ACC-105)
  src/page/template/modal/group-creation.htm
  src/script/view_model/content/GroupCreationViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12979 fix: checkbox inverted state (ACC-104)
  src/script/components/Checkbox/Checkbox.tsx
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/PrivacySection.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesCheckbox.tsx
  src/style/content/preferences.less
Labels: type: bug / fix 🐞, 👕 size: S

#12998 fix: very long display and usernames are not truncated (ACC-113)
  src/script/components/AvailabilityState.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountInput.tsx
  src/style/components/panel-participant-details.less
Labels: type: bug / fix 🐞, 👕 size: S

#12982 fix: verify device toggle has clipped text (ACC-112)
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/page/MainContent/panels/preferences/devices/DeviceDetailsPreferences.tsx
  src/style/common/slider.less
Labels: type: bug / fix 🐞, 👕 size: S

#12981 fix: copying guest link has message in wrong location (ACC-114)
  src/style/panel/panel.less
Labels: type: bug / fix 🐞, 👕 size: XS

#12980 fix: participant details do not update (ACC-107)
  src/script/components/avatar/UserAvatar.tsx
  src/script/components/panel/UserActions.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13003 fix: toggles have bad css (ACC-119)
  src/script/components/toggle/BaseToggle.tsx
  src/script/components/toggle/InfoToggle.tsx
  src/script/components/toggle/ReceiptModeToggle.tsx
  src/style/common/slider.less
Labels: type: bug / fix 🐞, 👕 size: S

#13006 fix: prevent batched state updates for entropy (SQSERVICES-1539)
  src/script/auth/component/EntropyCanvas.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12999 fix: browser error when downloading files
  src/script/components/MessagesList/Message/ContentMessage/asset/AudioAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/VideoAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13002 fix: disable ability to create a group without a name or with a very long name (ACC-115)
  src/script/view_model/content/GroupCreationViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13005 fix: overlapping buttons in legal hold device list (ACC-109)
  src/page/template/modal/legal-hold.htm
  src/style/components/device-card.less
Labels: type: bug / fix 🐞, 👕 size: XS

#13007 fix: alternative texts for controls (ACC-21)
  src/page/template/content/conversation/input-bar.htm
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/view_model/panel/PanelHeader.test.ts
  src/script/view_model/panel/PanelHeader.tsx
  src/style/content/conversation/input-bar.less
Labels: type: bug / fix 🐞, 👕 size: S

#13022 refactor: Use @wireapp/core to delete clients [FS-552]
  package.json
  src/script/client/ClientRepository.ts
  src/script/client/ClientService.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13008 fix: Missing locator for error message for invalid name during group creation
  src/page/template/modal/group-creation.htm
  src/script/components/TextInput/TextInput.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12969 fix(call): Fix broken ability to mute participants in a call as an admin (SQCALL-541)
  src/script/calling/CallingRepository.ts
  src/script/components/list/ConversationListCallingCell.tsx
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#13004 fix: legal hold indicators are misaligned (ACC-110)
  src/page/template/content/conversation/title-bar.htm
  src/script/components/LegalHoldDot.tsx
  src/script/components/MessagesList/Message/LegalHoldMessage.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/style/components/legal-hold-dot.less
Labels: type: bug / fix 🐞, 👕 size: S

#13021 fix: escape constants in tests before using them in a regex
  src/script/conversation/ConversationRepository.test.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13023 fix: Target lastRead and Countly messages
  package.json
  src/script/conversation/MessageRepository.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13026 fix: Use @wireapp/core to delete temporary devices [FS-647]
  package.json
  src/script/client/ClientRepository.ts
  src/script/client/ClientService.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13027 chore: update copy and translations
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
Labels: type: chore 🧹, 👕 size: L

#13029 fix: broken translation fix
  src/i18n/lv-LV.json
Labels: type: bug / fix 🐞, 👕 size: XS

#13028 fix: Allow applock to be canceled when set from preferences [SQSERVICES-1544]
  src/script/page/AppLock.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13031 fix: Restore "client removed" warning message when user is being logged out
  src/script/error/ClientError.ts
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13032 fix: missing code in too many devices login(SQSERVICES-1524)
  src/script/auth/page/Login.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13034 runfix: Add uiename to applock cancel button
  src/script/page/AppLock.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13036 fix: update base-toggle data-id values
  src/page/template/panel/guest-options.htm
  src/page/template/panel/services-options.htm
  src/script/components/toggle/BaseToggle.test.tsx
  src/script/components/toggle/BaseToggle.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13038 runfix: Avoid creating default device on SSO first login
  src/script/auth/module/action/AuthAction.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13041 runfix: Avoid creating default device when login with entropy
  src/script/auth/module/action/AuthAction.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13043 fix: add missing locator to toggle
  src/page/template/modal/group-creation.htm
Labels: type: bug / fix 🐞, 👕 size: XS

#13042 chore: Make sure federation endpoints are added to CSP headers
  server/config.ts
  server/index.ts
Labels: type: chore 🧹, 👕 size: S

#13045 chore: Fix translation download job
  .github/workflows/sync_translations.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#13048 feat(services): Support new screen sharing api on electron 18 (SQSERVICES-1568)
  src/script/media/MediaDevicesHandler.ts
Labels: type: feature / request ✨, 👕 size: XS

#13078 runfix: Align react-router and react-router-dom versions
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13080 runfix: Add close button on AppLock modal [SQSERVICES-1562]
  src/script/page/AppLock.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13081 runfix: Use base-toggle component for admin toggle [ACC-118]
  src/page/template/panel/group-participant-user.htm
  src/style/panel/conversation-details.less
Labels: type: bug / fix 🐞, 👕 size: S

#13083 fix: services bitmap issue
  src/i18n/en-US.json
  src/script/view_model/panel/GuestsAndServicesViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13086 fix: small content/ naming update
  src/i18n/en-US.json
  src/script/view_model/panel/GuestsAndServicesViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13112 fix: change sso selector to fail if sso subject is missing
  src/script/auth/component/ClientList.tsx
  src/script/auth/module/selector/SelfSelector.ts
  src/script/entity/User.ts
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountSecuritySection.tsx
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.tsx
  src/script/user/UserMapper.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/content/LegalHoldModalViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13113 fix(services): Remove extra dot indicator next to guest and services badge (SQSERVICES-1513)
  src/style/content/conversation/title-bar.less
Labels: type: bug / fix 🐞, 👕 size: XS

#13116 runfix: Display back button on legal hold modal device page
  src/page/template/modal/legal-hold.htm
  src/style/common/modal.less
Labels: type: bug / fix 🐞, 👕 size: S
