Repository wireapp/wire-webapp, pull requests merged in 2022-01, with the labels that each got.

#12365 feat: Improved error messages for domain blocked (SQSERVICES-928)
  src/script/auth/component/AccountForm.tsx
  src/script/auth/module/action/BackendError.ts
  src/script/error/BackendClientError.ts
  src/script/strings.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#12275 feat: Use feature config to enable/disable guest links (SQSERVICES-547)
  src/i18n/en-US.json
  src/page/template/panel/guest-options.htm
  src/script/team/TeamRepository.ts
  src/script/team/TeamState.ts
  src/script/view_model/panel/ConversationDetailsViewModel.ts
  src/script/view_model/panel/GuestsAndServicesViewModel.ts
  src/style/panel/panel.less
Labels: type: feature / request ✨, 👕 size: S

#12374 fix(call): Handle qualified ids correctly in calling messages
  src/script/calling/CallingRepository.ts
  src/script/conversation/EventInfoEntity.ts
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#12322 feat(core): Download assets using @wireapp/core
  package.json
  src/page/template/content/conversation/input-bar.htm
  src/script/assets/AssetMapper.ts
  src/script/assets/AssetRemoteData.ts
  src/script/assets/AssetRepository.ts
  src/script/components/asset/FileAssetComponent.test.tsx
  src/script/components/asset/FileAssetComponent.tsx
  src/script/conversation/EventMapper.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/entity/message/FileAsset.ts
  src/script/storage/record/EventRecord.ts
  src/script/view_model/content/InputBarViewModel.ts
  test/unit_tests/conversation/EventMapperSpec.js
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#12386 feat(core): Map asset message domain
  package.json
  src/script/cryptography/CryptographyMapper.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#12387 runfix: Change backend label error
  src/script/error/BackendClientError.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12388 fix(core): Always place next timestamp after last known timestamp
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12389 feat(core): Make link preview asset compatible with federation [FS-299]
  package.json
  src/script/conversation/MessageRepository.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#12390 refactor(core): Remove deprecated domain when uploading assets
  package.json
  src/script/assets/AssetRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/user/UserMapper.ts
  src/script/user/UserRepository.ts
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: S

#12391 runfix(call): Use correct ID for video requests in federated calls
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#12297 runfix(core): Fix tweet link previews
  src/script/components/asset/LinkPreviewAssetComponent.test.ts
  src/script/components/asset/LinkPreviewAssetComponent.tsx
  src/script/conversation/EventMapper.ts
  src/script/conversation/linkPreviews/index.test.ts
  src/script/conversation/linkPreviews/index.ts
  src/script/conversation/linkPreviews/metaDataType.ts
  src/script/entity/message/LinkPreview.ts
Labels: type: bug / fix 🐞, 👕 size: M

#12396 runfix: Fix guest link modal issue (SQSERVICES-1230)
  src/page/template/panel/guest-options.htm
  src/script/view_model/panel/ConversationDetailsViewModel.ts
  src/script/view_model/panel/GuestsAndServicesViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12399 runfix: Let antiscroll react to component resize (SQCALL-432)
  src/script/view_model/bindings/CommonBindings.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12400 fix: Don't automatically open links in replies
  src/script/view_model/content/MessageListViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12414 fix(core): Fix video participant mapping
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#12415 runfix(core): Correctly parse asset domain for video preview image
  src/script/cryptography/CryptographyMapper.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12416 fix: Bind mute state to call, change only for active calls (SQCALL-440)
  src/script/calling/Call.ts
  src/script/calling/CallState.ts
  src/script/calling/CallingRepository.ts
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/list/ConversationListCallingCell.tsx
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#12417 fix(core): Inject team member leave event before last sent message
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12424 fix(core): Avoid handling known clients when mismatch happens
  src/script/calling/CallingRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#12425 chore(core): Upgrade @wireapp/avs to 8.0.10
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#12427 fix: Remove leaving participants from activeSpeaker view (SQCALL-455)
  src/script/calling/Call.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#12449 fix(core): Be sure to await team member leave events before sending message
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12428 fix: Disable applock when feature is not enforced in the team anymore (SQSERVICES-1064)
  src/script/page/AppLock.tsx
  src/script/user/AppLockRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12451 fix(services): Revert "Disable applock when feature is not enforced in the team anymore (SQSERVICES-1064)"
  src/script/page/AppLock.tsx
  src/script/user/AppLockRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12457 runfix(call): Center video (screenshare) in thumbnail
  src/style/components/group-video-grid.less
Labels: type: bug / fix 🐞, 👕 size: XS

#12462 chore(core): Use babel for typescript tests
  jest.config.js
  package.json
  src/script/conversation/linkPreviews/index.test.ts
  src/script/util/test/mock/SVGProviderMock.ts
  test/helper/knockoutHelpers.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: XXL

#12426 fix(core): Map self device correctly
  src/script/client/ClientRepository.ts
Labels: blocked: do-not-merge, type: bug / fix 🐞, 👕 size: XS

#12459 fix(core): Avoid displaying domain twice in the Account preferences [SQSERVICES-1245]
  src/script/page/preferences/AccountPreferences.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12456 refactor(core): Improve types for the MessageRepository [FS-418]
  src/script/components/message/MessageQuote.tsx
  src/script/conversation/MessageRepository.ts
  src/script/entity/message/CompositeMessage.ts
  src/script/view_model/content/InputBarViewModel.ts
Labels: blocked: do-not-merge, type: refactoring 🛠, 👕 size: M

#12452 refactor(core): Send last_read with @wireapp/core
  src/script/conversation/MessageRepository.ts
Labels: blocked: do-not-merge, type: refactoring 🛠, 👕 size: S

#12320 refactor(core): Send broadcast message with @wireapp/core
  src/script/broadcast/BroadcastRepository.ts
  src/script/broadcast/BroadcastService.ts
  src/script/main/app.ts
  src/script/user/UserRepository.ts
Labels: type: refactoring 🛠, 👕 size: M

#12450 refactor(core): Extract client mismatch logic to a standalone module
  src/script/client/ClientEntity.ts
  src/script/conversation/ClientMismatchUtil.test.ts
  src/script/conversation/ClientMismatchUtil.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
Labels: type: refactoring 🛠, 👕 size: XL

#12454 refactor(core): Send countly message via @wireapp/core
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/main/app.ts
  test/helper/TestFactory.js
Labels: type: refactoring 🛠, 👕 size: XL

#12481 feat: Electron 13 with sso fix
  src/script/auth/page/SingleSignOn.tsx
  src/script/auth/page/SingleSignOnForm.tsx
Labels: type: feature / request ✨, 👕 size: S

#12482 runfix(core): Init core with qualifiedIds depending on federation feature flag
  package.json
  src/script/service/CoreSingleton.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: XS

#12480 refactor(core): Remove deprecated classes [FS-418]
  src/script/calling/CallingRepository.ts
  src/script/conversation/ClientMismatchHandler.test.ts
  src/script/conversation/ClientMismatchHandler.ts
  src/script/conversation/EventInfoEntity.ts
  src/script/conversation/MessageRepository.ts
Labels: comp: calling, type: refactoring 🛠, 👕 size: XL
