Repository wireapp/wire-webapp, pull requests merged in 2022-07, with the labels that each got.

#13277 chore: add 'betterer' to prevent ts strict regressions (#WEBAPP-7144)
  .betterer.results
  .betterer.ts
  .github/workflows/betterer.yml
  .gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XXL

#13282 runfix: Use core new mls config object
  package.json
  src/script/service/CoreSingleton.ts
  webpack.config.common.js
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13285 chore: strict ts errors
  .betterer.results
  src/script/components/AvailabilityState.tsx
  src/script/components/CopyToClipboard.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageFooterLike.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/AssetLoader.tsx
  src/script/components/MessagesList/Message/MemberMessage.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.tsx
  src/script/components/Modals/ServiceModal/ServiceModal.tsx
  src/script/components/SearchInput.tsx
  src/script/components/TextInput/TextInput.styles.ts
  src/script/components/TextInput/TextInput.tsx
  src/script/components/calling/DeviceToggleButton.tsx
  src/script/components/panel/EnrichedFields.tsx
  src/script/components/panel/PanelActions/PanelActions.tsx
  src/script/components/toggle/BaseToggle.tsx
  src/script/components/toggle/ReceiptModeToggle.tsx
  src/script/components/userDevices/DeviceCard.test.ts
  src/script/components/userDevices/DeviceCard.tsx
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/page/message-list/MentionSuggestions/MentionSuggestionsItem.tsx
  src/script/page/message-list/MessageTimerButton.tsx
  src/script/ui/fadingScrollbar.ts
  src/script/view_model/WarningsContainer.tsx
Labels: 👕 size: L

#13305 feat: Use backend api v2
  .betterer.results
  src/script/Config.ts
Labels: type: feature / request ✨, 👕 size: XS

#13304 chore: fix strict ts errors
  .betterer.results
  src/script/auth/component/AppAlreadyOpen.tsx
  src/script/auth/component/PhoneLoginForm.tsx
  src/script/auth/component/WirelessContainer.tsx
  src/script/auth/page/CustomEnvironmentRedirect.tsx
  src/script/auth/page/EntropyContainer.tsx
  src/script/components/Avatar.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAssetComponent.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/controls/MediaButton.tsx
  src/script/components/asset/RestrictedFile.tsx
  src/script/hooks/useRelativeTimestamp.tsx
  src/script/page/AccentColorPicker.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversations.tsx
  src/script/page/LeftSidebar/panels/ListWrapper.tsx
  src/script/page/LeftSidebar/panels/StartUI/ServicesTab.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/TopPeople.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/topPeople/TopContact.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AvailabilityButtons.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/DataUsageSection.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/FileInput.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/HistoryBackupSection.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/UsernameInput.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/DeviceSelect.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesCheckbox.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesRadio.tsx
  src/script/page/MainContent/panels/preferences/devices/components/DetailedDevice.tsx
  src/script/page/message-list/InputBarControls/ControlButtons.tsx
Labels: type: chore 🧹, 👕 size: L

#13306 chore: upgrade @wireapp/core
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13281 feat: Add mls group creation
  .betterer.results
  src/script/conversation/ConversationRepository.ts
Labels: type: feature / request ✨, 👕 size: M

#13241 feat: add custom theming to ui kit acc-195
  .betterer.results
  .gitignore
  package.json
  src/script/auth/page/Root.tsx
  src/script/auth/util/test/TestUtil.tsx
  src/script/page/MainContent/MainContent.tsx
  src/script/page/MainContent/panels/preferences/OptionPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/DataUsageSection.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/PrivacySection.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/CallOptions.tsx
  src/style/common/mixins.less
  src/style/common/typing.less
  src/style/content/preferences.less
  src/style/content/preferences/av.less
  src/style/foundation/themes.less
  yarn.lock
Labels: type: feature / request ✨, 👕 size: L

#13307 runfix: Give fallback domain when showing user modal
  .betterer.results
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13309 runfix: Always pass qualified id to postMembers method
  .betterer.results
  package.json
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/main/app.ts
  src/script/team/TeamService.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13310 runfix: Use asset API v2 for services
  .betterer.results
  src/script/assets/AssetMapper.test.ts
  src/script/assets/AssetMapper.ts
  src/script/integration/IntegrationMapper.ts
  src/script/integration/IntegrationRepository.ts
  src/script/integration/IntegrationService.ts
  src/script/team/TeamRepository.ts
  src/script/user/UserMapper.ts
  src/script/view_model/panel/ConversationDetailsViewModel.ts
  src/script/view_model/panel/GroupParticipantServiceViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: M

#13308 refactor: migrate title-bar to react (#ACC-198)
  .betterer.results
  src/page/template/content/conversation.htm
  src/page/template/content/conversation/title-bar.htm
  src/script/components/TitleBar/index.test.tsx
  src/script/components/TitleBar/index.tsx
  src/script/main/globals.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/content/TitleBarViewModel.test.ts
  src/script/view_model/content/TitleBarViewModel.ts
  src/style/content/conversation/title-bar.less
Labels: type: refactoring 🛠, 👕 size: XXL

#13312 fix: dark mode checkbox border colour(ACC-194)
  package.json
  src/style/foundation/themes.less
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13317 chore: Bump @wireapp/avs from 8.1.17 to 8.2.2
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13316 runfix: add hover state to radios acc-79
  src/style/common/variables.less
  src/style/content/preferences/options.less
  src/style/panel/panel.less
Labels: type: bug / fix 🐞, 👕 size: S

#13318 runfix: render modals in main instead of body acc-201
  .betterer.results
  src/script/util/renderModal.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13319 runfix: restore removed data-uie-name
  .betterer.results
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountInput.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13311 feat: Send MLS messages (FS-560)
  .betterer.results
  package.json
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
  src/script/team/TeamState.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XL

#13332 fix: add conditional federated option
  src/script/components/TitleBar/index.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13338 fix: messages bigger than viewport not being read (#SQSERVICES-1558)
  .betterer.results
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/UserList.tsx
  src/script/components/utils/InViewport.tsx
  src/script/ui/viewportObserver.ts
  src/script/view_model/bindings/CommonBindings.ts
Labels: type: bug / fix 🐞, 👕 size: M

#13339 fix: hardcode 'how to verify fingerprint' article's url (#SQSERVICES-1570)
  .betterer.results
  server/ServerConfig.ts
  server/config.ts
  src/script/Config.ts
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/main/globals.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13336 runfix: remove applock keyboard trap acc-75
  .betterer.results
  src/script/page/AppLock.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13345 runfix: Block input to main component when applock is active (SQCORE-1338)
  .betterer.results
  src/script/page/AppLock.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13344 fix: centre align auth screen checkbox(ACC-207)
  .betterer.results
  package.json
  src/script/auth/component/AccountForm.tsx
  src/script/auth/page/Login.tsx
  src/script/auth/page/PhoneLogin.tsx
  src/script/auth/page/SingleSignOnForm.tsx
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13337 feat: Receive incoming MLS messages
  .betterer.results
  package.json
  src/script/conversation/ConversationRepository.ts
  src/script/legal-hold/LegalHoldEvaluator.ts
  src/script/main/app.ts
  src/script/storage/DexieDatabase.ts
  src/script/storage/StorageSchemata.ts
  src/script/storage/record/GroupIdRecord.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#13346 chore: Fix betterer results
  .betterer.results
Labels: type: chore 🧹, 👕 size: XS

#13349 runfix: tweak modals style issues acc-77
  .betterer.results
  src/page/template/modals.htm
  src/script/page/AppLock.tsx
  src/style/common/checkbox.less
  src/style/common/modal.less
Labels: type: bug / fix 🐞, 👕 size: S

#13363 runfix: tweak service modal style acc-201
  .betterer.results
  src/script/components/Modals/ServiceModal/ServiceModal.tsx
  src/style/modal/service-modal.less
Labels: type: bug / fix 🐞, 👕 size: S

#13364 runfix: Do not enable mls group creation based on environment variable
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13366 chore: Bump @wireapp/core from 28.5.1 to 28.6.1
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13341 runfix: address broken inputs when removing devices acc-210
  .betterer.results
  src/script/auth/component/ClientItem.tsx
  src/script/auth/page/ClientManager.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#13368 chore: Bump @wireapp/core from 28.6.1 to 28.6.3
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13372 feat: improve tsconfig, betterer workflow to reduce betterer problems
  .betterer.results
  .betterer.ts
  .eslintrc.json
  .husky/pre-commit
  package.json
  server/package.json
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/util/test/mockStoreFactory.ts
  src/script/main/globals.ts
  src/types/window.d.ts
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: L

#13369 fix(login): handle verification code error (SQSERVICES-1666)
  .betterer.results
  .husky/pre-commit
  src/i18n/en-US.json
  src/script/auth/module/action/BackendError.ts
  src/script/auth/page/Login.tsx
  src/script/strings.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13375 feat: remove implementation of conversation.addMember() and use the core function addUsers() instead (FS-851)
  .betterer.results
  package.json
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/view_model/panel/AddParticipantsViewModel.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#13391 refactor: replace css variable *background* by *main-color* acc-60
  src/script/components/calling/ParticipantMicOnIcon.tsx
  src/style/common/checkbox.less
  src/style/components/list/participant-item.less
  src/style/foundation/base.less
  src/style/foundation/themes.less
  src/style/list/conversation-list-cell.less
Labels: type: refactoring 🛠, 👕 size: S

#13367 fix(entropy): Improve UX of entropy creation process (SQSERVICES-1674)
  .betterer.results
  server/ServerConfig.ts
  server/config.ts
  src/i18n/de-DE.json
  src/i18n/en-US.json
  src/script/Config.ts
  src/script/auth/component/EntropyCanvas.test.tsx
  src/script/auth/component/EntropyCanvas.tsx
  src/script/auth/component/ProgressBar.tsx
  src/script/auth/page/ConversationJoin.tsx
  src/script/auth/page/EntropyContainer.test.tsx
  src/script/auth/page/EntropyContainer.tsx
  src/script/auth/page/Login.tsx
  src/script/auth/page/SetEntropyPage.tsx
  src/script/strings.ts
  src/script/util/Entropy.test.ts
  src/script/util/Entropy.ts
  src/types/window.d.ts
Labels: type: bug / fix 🐞, 👕 size: L

#13394 runfix: Correctly save group id to database after group creation
  .betterer.results
  package.json
  src/script/conversation/ConversationFilter.test.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/entity/Conversation.ts
  src/script/storage/record/ConversationRecord.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: L

#13396 runfix: missing modal for add-users error case
  .betterer.results
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13393 feat: add users to MLS conversation (FS-851)
  .betterer.results
  package.json
  src/script/conversation/ConversationFilter.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/entity/Conversation.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#13399 feat: not announcing member leave/join updates(SQSERVICES-1634)
  .betterer.results
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/event/EventService.ts
  src/script/storage/StorageService.ts
Labels: type: feature / request ✨, 👕 size: S
