Repository wireapp/wire-webapp, pull requests merged in 2022-11, with the labels that each got.

#14025 runfix: improve logging for notifications
  src/script/notification/NotificationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14028 chore: fine tune sourcemap generation for dev
  tsconfig.json
  webpack.config.common.js
  webpack.config.dev.js
Labels: type: chore 🧹, 👕 size: S

#14029 chore: Remove nyc (replaced by jest)
  .gitignore
  .prettierignore
  server/.nycrc.json
  server/package.json
  server/yarn.lock
Labels: type: chore 🧹, 👕 size: L

#14030 chore: bump hosted-git-info from 3.0.7 to 3.0.8
  yarn.lock
Labels: type: chore 🧹, 👕 size: XS

#14031 runfix: correct input bar background color for replies and pasted files
  src/style/content/conversation/input-bar.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14034 runfix: correct left sidebar width
  src/script/components/ConnectRequests/index.tsx
  src/script/components/Conversation/Conversation.tsx
  src/script/components/TitleBar/TitleBar.tsx
  src/script/page/AppMain.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.tsx
  src/style/common/variables.less
  src/style/foundation/framework.less
Labels: type: bug / fix 🐞, 👕 size: S

#14037 runfix: Address emoji picker styles
  src/script/components/Emoji/EmojiItem.styles.ts
  src/script/components/Emoji/EmojiItem.tsx
  src/style/content/conversation/input-bar.less
Labels: type: bug / fix 🐞, 👕 size: S

#14036 runfix: show full call ui in sidebar for temporary guests
  src/script/page/LeftSidebar/panels/TemporatyGuestConversations.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14038 runfix: prevent horizontal scrolling on left sidebar
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14039 runfix: prevent av select overflow in between breakpoints
  src/style/common/variables.less
  src/style/components/input-level.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14024 feat: Send external commits to join conversation from new device
  package.json
  src/__mocks__/@wireapp/core-crypto.ts
  src/script/Config.ts
  src/script/main/app.ts
  src/script/mls/mlsConversationState/mlsConversationState.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#14040 feat: add api v3 support for notifications endpoint [FS-1139]
  package.json
  src/script/event/EventRepository.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#14067 runfix: Do not crash when device date is invalid
  src/script/components/Modals/PrimaryModal/PrimaryModalState.ts
  src/script/page/MainContent/panels/preferences/devices/components/DetailedDevice.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14070 runfix: reset audio after pausing [FS-1116]
  src/script/audio/AudioRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14075 runfix: mls device not able to logout [FS-1163]
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14076 fix: load polyfills on top
  src/script/auth/main.tsx
  src/script/main/app.ts
  src/script/main/index.tsx
  test/helper/TestFactory.js
Labels: type: bug / fix 🐞, 👕 size: S

#14079 feat: bump core version to enable client to session association [FS-1137]
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#14082 refactor: cleanup the conversationState
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/conversation/ConversationLabelRepository.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationState.ts
  src/script/conversation/ConversationVerificationStateHandler.ts
  src/script/conversation/MessageRepository.ts
  src/script/main/app.ts
  src/script/page/LeftSidebar/panels/Archive.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversations.tsx
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.tsx
  src/script/page/useWindowTitle.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
Labels: type: refactoring 🛠, 👕 size: M

#14083 runfix: Do not display selfConversation in conversation list
  src/script/conversation/ConversationState.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14085 runfix: Always use sorted/filtered conversations for conversation list
  src/script/conversation/ConversationLabelRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationState.ts
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversations.tsx
  src/script/page/useWindowTitle.ts
  src/script/view_model/ListViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14086 refactor: make the Router a simple es module
  src/script/components/calling/CallingCell.tsx
  src/script/page/AppMain.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationsFolder.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/GroupList.test.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/GroupList.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/groupList/GroupListItem.tsx
  src/script/page/MainContent/panels/Collection/Collection.tsx
  src/script/router/Router.test.ts
  src/script/router/Router.ts
  src/script/router/routeGenerator.test.ts
  src/script/router/routeGenerator.ts
  src/script/router/routerBindings.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: refactoring 🛠, 👕 size: M

#14087 runfix: cleanup releasing the loaded conversation
  src/script/components/MessagesList/MessageList.tsx
  src/script/conversation/ConversationState.ts
  src/script/page/useAppState.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14088 runfix: Reset active conversation state when leave conversation view
  src/script/components/Conversation/Conversation.tsx
  src/script/page/MainContent/MainContent.tsx
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14101 runfix: Avoid releasing active conversation for conversation states
  src/script/components/Conversation/Conversation.tsx
  src/script/page/MainContent/MainContent.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14102 runfix: Display new device modal on preference device page
  src/script/page/AppMain.tsx
  src/script/page/LeftSidebar/LeftSidebar.tsx
  src/script/page/LeftSidebar/panels/Preferences.test.tsx
  src/script/page/LeftSidebar/panels/Preferences.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#14103 runfix: redirect to conversations when group creation fails
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14104 feat: Focus to right panel when switching between panels (ACC-295)
  src/i18n/en-US.json
  src/script/components/InputBar/TypingIndicator/TypingIndicator.styles.ts
  src/script/page/LeftSidebar/panels/Preferences.tsx
  src/script/page/MainContent/panels/preferences/OptionPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AvatarInput.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesRadio.tsx
Labels: type: feature / request ✨, 👕 size: S

#14106 runfix: Improve list/content state sync
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.tsx
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14107 runfix: Fix typo for preferences tabs tooltip
  src/i18n/en-US.json
Labels: type: bug / fix 🐞, 👕 size: XS

#14108 runfix: Load base conversation when temporary guest leaves preferences
  src/script/view_model/ListViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14109 runfix: Only load recent conversation in a conversation view state
  src/script/components/InputBar/InputBar.test.tsx
  src/script/page/AppMain.tsx
  src/script/page/MainContent/MainContent.tsx
  src/script/page/useAppState.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14110 runfix: Do not send typing event for draft messages
  src/script/components/InputBar/InputBar.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14112 feat: Focus on first focusable element when opening right menu (ACC-296)
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.tsx
  src/script/page/RightSidebar/RightSidebar.tsx
  src/script/util/util.ts
Labels: type: feature / request ✨, 👕 size: S

#14114 runfix: Disable typing indicator for federated environments
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14115 runfix: Avoid double logging out flow
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14116 feat: use streamlined Decryption Error from core
  package.json
  src/script/conversation/EventBuilder.ts
  src/script/event/EventRepository.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#14117 runfix: solve stale isFederated value issue
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/MainViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14119 runfix: Show legal hold request modal when view mounts
  src/script/page/MainContent/MainContent.tsx
  src/script/team/TeamRepository.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14122 runfix: Fix hidding conversation when legal hold is enabled
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14126 runfix: allow scrolling of right sidebar
  src/script/page/RightSidebar/RightSidebar.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14081 feat: Focus order for chat content area(ACC-268)
  src/i18n/en-US.json
  src/script/components/Conversation/Conversation.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageFooterLike.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageFooterLike.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageLike.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/RenderShowMsgBtn.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/RenderShowMsgBtn.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/controls/MediaButton.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/Message/PingMessage.test.tsx
  src/script/components/MessagesList/Message/PingMessage.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.test.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/components/list/ConversationListCell.tsx
  src/script/entity/message/Asset.ts
  src/script/guards/Mouse.ts
  src/script/hooks/useRoveFocus.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationsFolder.tsx
  src/script/router/Router.ts
  src/script/router/routerBindings.ts
  src/script/util/conversationMessages.test.ts
  src/script/util/conversationMessages.ts
  src/script/util/useDisposableRef/useDisposableRef.ts
  src/style/content/conversation/message-list.less
Labels: type: feature / request ✨, 👕 size: XXL

#14127 refactor: extract mls init function to module
  src/script/conversation/ConversationRepository.ts
  src/script/main/app.ts
  src/script/mls/MLSConversations.ts
  src/script/mls/index.ts
Labels: type: refactoring 🛠, 👕 size: M

#14128 runfix: Correctly send stop typing on blur
  src/script/components/InputBar/InputBar.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14129 runfix: Do not send is typing event on conversation load
  src/script/components/InputBar/InputBar.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14132 runfix: Reset scroll position when switching conversations
  src/script/components/MessagesList/MessageList.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14133 fix: open conversation from folder view
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationsFolder.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14136 runfix: Fix sending gifs when not replying to a message
  src/script/components/InputBar/InputBar.tsx
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14137 runfix: Force React to reset MessageList when conversation are switched
  src/script/components/Conversation/Conversation.tsx
  src/script/components/MessagesList/MessageList.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14135 runfix: display read status separator at correct screen width
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: S

#14140 runfix: showing device date in device details
  src/script/components/Modals/PrimaryModal/PrimaryModalState.ts
  src/script/page/MainContent/panels/preferences/devices/components/DetailedDevice.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14139 runfix: prevent sidebar's search field from cutting off
  src/style/components/search-input.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14143 runfix: Make sure input is escaped before rendering
  src/script/components/InputBar/getRichTextInput.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14146 runfix: revert changes to keyboard navigation for RC-2022-11-18
  src/i18n/en-US.json
  src/script/components/Conversation/Conversation.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageFooterLike.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageFooterLike.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageLike.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/RenderShowMsgBtn.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/RenderShowMsgBtn.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/controls/MediaButton.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/Message/PingMessage.test.tsx
  src/script/components/MessagesList/Message/PingMessage.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.test.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/components/list/ConversationListCell.tsx
  src/script/entity/message/Asset.ts
  src/script/guards/Mouse.ts
  src/script/hooks/useRoveFocus.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationsFolder.tsx
  src/script/router/Router.ts
  src/script/router/routerBindings.ts
  src/script/util/conversationMessages.test.ts
  src/script/util/conversationMessages.ts
  src/script/util/useDisposableRef/useDisposableRef.ts
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XXL

#14147 chore: RC 2022-11-18
  src/i18n/en-US.json
  src/script/components/Conversation/Conversation.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageFooterLike.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageFooterLike.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageLike.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/RenderShowMsgBtn.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/RenderShowMsgBtn.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/controls/MediaButton.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/Message/PingMessage.test.tsx
  src/script/components/MessagesList/Message/PingMessage.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.test.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/components/list/ConversationListCell.tsx
  src/script/entity/message/Asset.ts
  src/script/guards/Mouse.ts
  src/script/hooks/useRoveFocus.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationsFolder.tsx
  src/script/router/Router.ts
  src/script/router/routerBindings.ts
  src/script/util/conversationMessages.test.ts
  src/script/util/conversationMessages.ts
  src/script/util/useDisposableRef/useDisposableRef.ts
  src/style/content/conversation/message-list.less
Labels: type: chore 🧹, 👕 size: XXL

#14151 feat: Focus order for chat content area [ACC-268]
  src/i18n/en-US.json
  src/script/components/Conversation/Conversation.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageFooterLike.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageFooterLike.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageLike.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/RenderShowMsgBtn.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/RenderShowMsgBtn.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/controls/MediaButton.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/Message/PingMessage.test.tsx
  src/script/components/MessagesList/Message/PingMessage.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.test.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/components/list/ConversationListCell.tsx
  src/script/entity/message/Asset.ts
  src/script/guards/Mouse.ts
  src/script/hooks/useRoveFocus.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationsFolder.tsx
  src/script/router/Router.ts
  src/script/router/routerBindings.ts
  src/script/util/conversationMessages.test.ts
  src/script/util/conversationMessages.ts
  src/script/util/useDisposableRef/useDisposableRef.ts
  src/style/content/conversation/message-list.less
Labels: type: feature / request ✨, 👕 size: XXL

#14157 runfix: Retrict image asset height
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14153 feat: refactoring of text message renderer, fix interactive elements focus order, make chat user avatar keyboard accessible
  src/script/components/Avatar.tsx
  src/script/components/Conversation/Conversation.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/AudioAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAssetComponent.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/VideoAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/controls/MediaButton.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/components/avatar/UserAvatar.tsx
  src/script/util/focusUtil.ts
  src/script/util/messageRenderer.ts
  src/style/content/conversation/message-list.less
  test/unit_tests/util/messageRendererSpec.js
Labels: type: feature / request ✨, 👕 size: L

#14159 runfix: Correct focus order in preferences (ACC-303)
  src/script/page/LeftSidebar/panels/Preferences.tsx
  src/script/page/MainContent/MainContent.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14130 feat: Register Self and Team MLS conversations on app load [FS-1007 FS-1006]
  package.json
  src/script/conversation/ConversationSelectors.ts
  src/script/conversation/ConversationState.ts
  src/script/entity/Conversation.ts
  src/script/main/app.ts
  src/script/mls/MLSConversations.test.ts
  src/script/mls/MLSConversations.ts
  src/script/properties/PropertiesRepository.ts
  yarn.lock
Labels: blocked: do-not-merge, type: feature / request ✨, comp: preferences, 👕 size: M

#14161 refactor: Improve ConversationState API for selfConversation
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationState.test.ts
  src/script/conversation/ConversationState.ts
  src/script/conversation/MessageRepository.ts
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.tsx
Labels: type: feature / request ✨, 👕 size: M

#14160 feat: Adjust styles for typing indicator (ACC-309)
  src/script/components/InputBar/TypingIndicator/TypingIndicator.styles.ts
  src/script/components/InputBar/TypingIndicator/TypingIndicator.tsx
Labels: type: feature / request ✨, 👕 size: S

#14162 chore: Add debug function for sending status
  package.json
  src/script/util/DebugUtil.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#14163 feat: add a font size slider to the preferences [ACC-302]
  src/script/page/AppMain.tsx
  src/script/page/MainContent/panels/preferences/OptionPreferences.tsx
  src/script/page/state.ts
  src/style/content/conversation/message-list.less
Labels: type: feature / request ✨, 👕 size: S

#14165 fix: Discard typing events after 1 minute
  src/script/components/InputBar/InputBar.tsx
  src/script/components/InputBar/TypingIndicator/TypingIndicator.state.tsx
  src/script/components/InputBar/TypingIndicator/TypingIndicator.test.tsx
  src/script/components/InputBar/TypingIndicator/index.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14167 chore: Upgrade @wireapp/core to improve mapping
  package.json
  src/script/auth/module/action/WebSocketAction.ts
  src/script/calling/CallingRepository.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/event/EventRepository.ts
  src/script/event/EventSource.ts
  yarn.lock
Labels: comp: calling, type: chore 🧹, 👕 size: S

#14168 runfix: Update window title live as unread conversations change
  src/script/conversation/ConversationState.ts
  src/script/page/useWindowTitle.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14169 runfix: correct visual bugs at font size of 24px [ACC-302]
  src/script/page/RightSidebar/GroupParticipantUser/GroupParticipantUser.tsx
  src/style/content/preferences.less
  src/style/modal/group-creation.less
  src/style/panel/panel.less
  src/style/panel/participant-devices.less
Labels: type: bug / fix 🐞, 👕 size: S

#14170 runfix: add forgotten semi colon
  src/style/panel/panel.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14171 feat: save root font size choice in local storage [ACC-302]
  package.json
  src/script/hooks/useRootFontSize.ts
  src/script/page/AppMain.tsx
  src/script/page/MainContent/panels/preferences/OptionPreferences.tsx
  src/script/page/state.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#14172 fix: use correct type for InternalErrorRoute
  server/routes/error/ErrorRoutes.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14174 runfix: prevent overlapping added users
  src/script/components/SearchInput.tsx
  src/style/components/search-input.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14176 runfix: Avoid setting fixed height to images
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14178 runfix: show typing indicator on different input bar height
  src/script/components/InputBar/TypingIndicator/TypingIndicator.styles.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14182 runfix: Avoid sending legal hold update to self conversations
  src/script/conversation/ConversationState.ts
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14184 chore: update localization strings
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: S

#14154 runfix: adjust width of conversation elements in responsive view
  src/script/components/MessagesList/Message/CallMessage.tsx
  src/script/components/MessagesList/Message/CallTimeoutMessage.tsx
  src/script/components/MessagesList/Message/DecryptErrorMessage.tsx
  src/script/components/MessagesList/Message/DeleteMessage.tsx
  src/script/components/MessagesList/Message/MemberMessage.tsx
  src/script/components/MessagesList/Message/SystemMessage.tsx
  src/script/components/MessagesList/Message/VerificationMessage.tsx
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: S

#14186 feat: shift+tab from message input bar should set the entire message focusable(ACC-268)
  src/script/components/Conversation/Conversation.tsx
  src/script/components/InputBar/InputBar.test.tsx
  src/script/components/InputBar/InputBar.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/index.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.test.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/components/avatar/AvatarWrapper.tsx
  src/style/content/conversation/message-list.less
Labels: type: feature / request ✨, 👕 size: S

#14188 feat: Use new core endpoints to generate fingerprints
  src/script/components/userDevices/SelfFingerprint.tsx
  src/script/cryptography/CryptographyRepository.ts
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.tsx
  src/script/util/DebugUtil.ts
Labels: type: feature / request ✨, 👕 size: S

#14179 runfix: Adjust avatar styles in typing indicator
  src/script/components/InputBar/TypingIndicator/TypingIndicator.tsx
  src/script/media/MediaDevicesHandler.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14192 feat: Add hover state to people & services tabs
  src/style/list/start-ui.less
Labels: type: feature / request ✨, 👕 size: S

#14191 feat: Use new buttons in guest links creation and add participants panels
  src/script/page/RightSidebar/AddParticipants/AddParticipants.tsx
  src/script/page/RightSidebar/GuestServicesOptions/components/GuestOptions/GuestOptions.tsx
  src/style/panel/add-participants.less
Labels: type: feature / request ✨, 👕 size: S

#14194 fix: Use correct color in dark mode for update banner button
  src/style/foundation/warnings.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14155 feat(entropy): improve entropy estimation (SQSERVICES-1799)
  package.json
  src/script/auth/component/EntropyCanvas.tsx
  src/script/util/Entropy.test.ts
  src/script/util/Entropy.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: L

#14196 fix: Remove title from conversation list cell, announce the message for screen reader only(ACC-314)
  src/script/components/list/ConversationListCell.tsx
Labels: type: bug / fix 🐞, 👕 size: XS
