Repository wireapp/wire-webapp, pull requests merged in 2022-10, with the labels that each got.

#13757 chore: Bump @wireapp/avs from 8.2.8 to 8.2.16
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13782 refactor: cleanup team image
  src/script/team/TeamRepository.ts
Labels: type: refactoring 🛠, 👕 size: XS

#13748 refactor: Migrate WarningsViewModel to React
  src/i18n/en-US.json
  src/page/template/modals.htm
  src/page/template/wire-main.htm
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/client/ClientRepository.ts
  src/script/components/InputBar/index.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.test.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalState.ts
  src/script/components/Modals/PrimaryModal/PrimaryModalTypes.ts
  src/script/components/Modals/PrimaryModal/index.ts
  src/script/components/Modals/UserModal/UserModal.test.tsx
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationLabelRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationStateHandler.ts
  src/script/conversation/MessageRepository.ts
  src/script/integration/IntegrationRepository.ts
  src/script/legal-hold/LegalHoldWarning.ts
  src/script/main/app.ts
  src/script/page/AppLock.tsx
  src/script/page/LeftSidebar/panels/TemporatyGuestConversations.tsx
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountSecuritySection.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AvatarInput.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/EmailInput.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/SaveCallLogs.tsx
  src/script/properties/PropertiesRepository.ts
  src/script/team/TeamRepository.ts
  src/script/user/AvailabilityModal.ts
  src/script/util/isHittingUploadLimit.ts
  src/script/util/renderElement.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/MainViewModel.ts
  src/script/view_model/ModalsViewModel.ts
  src/script/view_model/WarningsContainer.tsx
  src/script/view_model/content/MessageListViewModel.ts
  src/script/view_model/panel/GuestsAndServicesViewModel.ts
Labels: comp: calling, type: refactoring 🛠, comp: preferences, 👕 size: XXL

#13781 runfix: refactor tests and fix ts strict errors
  src/script/components/MessagesList/Message/CallMessage.test.tsx
  src/script/components/MessagesList/Message/CallTimeoutMessage.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/controls/AudioSeekBar.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/controls/MediaButton.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/controls/SeekBar.test.tsx
  src/script/components/MessagesList/Message/DecryptErrorMessage.test.tsx
  src/script/components/MessagesList/Message/DecryptErrorMessage.tsx
  src/script/components/MessagesList/Message/DeleteMessage.test.tsx
  src/script/components/MessagesList/Message/DeleteMessage.tsx
  src/script/components/MessagesList/Message/EphemeralTimer.test.tsx
  src/script/components/MessagesList/Message/FileTypeRestrictedMessage.test.tsx
  src/script/components/MessagesList/Message/LegalHoldMessage.test.tsx
  src/script/components/MessagesList/Message/MemberMessage.test.tsx
  src/script/components/MessagesList/Message/PingMessage.test.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.test.tsx
  src/script/components/MessagesList/Message/SystemMessage.test.tsx
  src/script/components/MessagesList/Message/VerificationMessage.test.tsx
Labels: type: bug / fix 🐞, 👕 size: XL

#13789 runfix: Targets ephemeral message deletion to the sender of the message [FS-1023]
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13784 runfix: Do not use usePrimaryModalState hook in a function
  src/script/view_model/ActionsViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13755 feat: Focus order for Left sidebar, context menu, conversation list and footer menu(ACC-267)
  src/i18n/en-US.json
  src/script/components/list/ConversationListCell.tsx
  src/script/hooks/useRoveFocus.ts
  src/script/page/LeftSidebar/panels/Archive.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationHeader.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationsFolder.tsx
  src/script/page/LeftSidebar/panels/ListWrapper.tsx
  src/script/ui/ContextMenu.tsx
  src/script/ui/LabelContextMenu.ts
  src/script/util/KeyboardUtil.ts
  src/script/view_model/ListViewModel.ts
  src/style/list/conversation-list-cell.less
  src/style/list/conversations.less
  src/style/list/list.less
Labels: type: feature / request ✨, 👕 size: L

#13794 runfix: Fix conversation join url redirection
  server/routes/RedirectRoutes.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13795 chore: upgrade @wireapp/react-ui-kit
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13797 runfix: refactor tests and fix ts strict errors
  src/script/components/Modals/UserModal/UserModal.test.tsx
  src/script/components/panel/ConversationProtocolDetails/ConversationProtocolDetails.test.tsx
  src/script/components/panel/EnrichedFields.test.tsx
  src/script/components/panel/PanelActions/PanelActions.test.tsx
  src/script/components/panel/ServiceDetails.test.tsx
  src/script/components/panel/UserActions.test.tsx
  src/script/components/panel/UserActions.tsx
  src/script/components/panel/UserDetails.test.ts
  src/script/components/panel/UserDetails.test.tsx
  src/script/components/toggle/BaseToggle.test.tsx
  src/script/components/toggle/InfoToggle.test.tsx
  src/script/components/toggle/ReceiptModeToggle.test.tsx
Labels: type: bug / fix 🐞, 👕 size: XL

#13799 runfix: Support hash url without initial slash
  src/script/auth/page/Root.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13801 chore: Upgrade to latest `dev` branch
  src/script/auth/page/Root.tsx
  src/script/components/Modals/UserModal/UserModal.test.tsx
  src/script/components/panel/ConversationProtocolDetails/ConversationProtocolDetails.test.tsx
  src/script/components/panel/EnrichedFields.test.tsx
  src/script/components/panel/PanelActions/PanelActions.test.tsx
  src/script/components/panel/ServiceDetails.test.tsx
  src/script/components/panel/UserActions.test.tsx
  src/script/components/panel/UserActions.tsx
  src/script/components/panel/UserDetails.test.ts
  src/script/components/panel/UserDetails.test.tsx
  src/script/components/toggle/BaseToggle.test.tsx
  src/script/components/toggle/InfoToggle.test.tsx
  src/script/components/toggle/ReceiptModeToggle.test.tsx
Labels: type: chore 🧹, 👕 size: XL

#13805 fix: Use avs to parse incoming call events [SQCALL-583]
  src/script/calling/CallingRepository.ts
  src/script/event/EventRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: M

#13810 fix: Improve handling of member messages targeted at wrong conversation
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13811 runfix: Correctly handle primary modals secondary action
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalState.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13809 refactor: Clean usage of react router in auth page
  src/script/auth/page/Index.test.tsx
  src/script/auth/page/Index.tsx
Labels: type: refactoring 🛠, 👕 size: S

#13814 fix: [Web] Spacebar does not work on checkboxes while adding particip…
  package.json
  src/script/components/Modals/UserModal/UserModal.test.tsx
  src/script/components/UserList.tsx
  src/script/components/list/ParticipantItem.tsx
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13813 refactor: factorize login buttons
  src/script/auth/page/Index.tsx
Labels: type: refactoring 🛠, 👕 size: M

#13834 runfix: Improve csp headers when object-src is defined
  server/config.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13815 fix: issue with ui during 2fa too many clients flow
  src/script/auth/component/ClientItem.tsx
  src/script/auth/component/ClientList.tsx
  src/script/auth/module/action/ClientAction.ts
  src/script/auth/page/ClientManager.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13839 runfix: Add onChange handler to inputs in primary modal
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13841 chore: Simplify version generation
  Gruntfile.js
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13836 chore: bump node-getobject to version 1.1.0
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13840 runfix: minor issue with breaking json parse for non2fa users
  src/script/auth/page/ClientManager.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13842 feat: Catch and log failures to sft server calls
  src/script/calling/CallingRepository.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: S

#13843 chore: refine wire configuration - type
  src/types/Wire.types.ts
  src/types/window.d.ts
Labels: type: chore 🧹, 👕 size: M

#13845 refactor: migrate knockout wire-main to react
  src/page/index.html
  src/page/template/wire-main.htm
  src/script/components/ConnectRequests/index.tsx
  src/script/components/Conversation/Conversation.tsx
  src/script/components/HistoryExport/index.tsx
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/TitleBar/TitleBar.test.tsx
  src/script/components/TitleBar/TitleBar.tsx
  src/script/components/TitleBar/index.tsx
  src/script/components/UserDevices.tsx
  src/script/components/asset/RestrictedImage.tsx
  src/script/components/asset/RestrictedVideo.tsx
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/input/ClassifiedBar.tsx
  src/script/components/list/ConversationListCallingCell.test.tsx
  src/script/components/panel/PanelActions/PanelActions.tsx
  src/script/components/panel/UserActions.tsx
  src/script/components/toggle/ReceiptModeToggle.tsx
  src/script/main/globals.ts
  src/script/page/AppLock.tsx
  src/script/page/AppMain.tsx
  src/script/page/LeftSidebar/LeftSidebar.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/LeftSidebar/panels/Conversations/GroupedConversationsFolder.tsx
  src/script/page/LeftSidebar/panels/Preferences.test.tsx
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
  src/script/page/MainContent/MainContent.test.tsx
  src/script/page/MainContent/MainContent.tsx
  src/script/page/RightSidebar/PanelHeader/PanelHeader.tsx
  src/script/page/RightSidebar/RightSidebar.tsx
  src/script/page/RightSidebar/index.ts
  src/script/page/RightSidebar/utils/toggleRightPanel.tsx
  src/script/page/RightSidebar/utils/usePanelHistory.ts
  src/script/page/RootProvider.tsx
  src/script/page/message-list/MentionSuggestions/MentionSuggestions.tsx
  src/script/page/state.ts
  src/script/router/routerBindings.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/MainViewModel.ts
  src/script/view_model/WarningsContainer/WarningsContainer.tsx
  test/unit_tests/notification/NotificationRepositorySpec.js
  test/unit_tests/router/routerBindingsSpec.js
  test/unit_tests/view_model/WindowTitleViewModelSpec.js
Labels: type: refactoring 🛠, 👕 size: XXL

#13846 runfix: Use primary modals directly in jsx
  src/script/components/Modals/PrimaryModal/PrimaryModalState.ts
  src/script/components/Modals/PrimaryModal/index.ts
  src/script/page/AppMain.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13838 refactor: Streamline message sending process
  package.json
  src/script/calling/CallingRepository.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/event/EventRepository.ts
  src/script/main/app.ts
  src/script/message/MessageSender.ts
  test/helper/TestFactory.js
  test/unit_tests/message/MessageSenderSpec.js
  yarn.lock
Labels: comp: calling, type: refactoring 🛠, 👕 size: XL

#13847 runfix: Correctly show error message in delete device modal
  src/script/client/ClientRepository.ts
  src/script/view_model/ActionsViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13853 runfix: Enable ephemeral for pings
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13854 chore: Upgrade @wireapp/core
  package.json
  src/script/event/EventRepository.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13857 runfix: fix codeblock link parsing (FS-1066)
  src/script/util/messageRenderer.ts
  test/unit_tests/util/messageRendererSpec.js
Labels: type: bug / fix 🐞, 👕 size: S

#13855 chore: cleanup deprecated dependencies
  package.json
  setupTests.js
  src/script/util/test/TestUtil.tsx
  yarn.lock
Labels: type: chore 🧹, 👕 size: L

#13791 feat: implement collapsing left sidebar acc-62
  src/script/components/InputBar/index.test.tsx
  src/script/components/InputBar/index.tsx
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/TitleBar/TitleBar.test.tsx
  src/script/components/TitleBar/TitleBar.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/page/AppMain.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/ListWrapper.tsx
  src/script/page/LeftSidebar/panels/Preferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountLink.test.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.tsx
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.tsx
  src/script/page/state.ts
  src/script/router/routerBindings.ts
  src/style/foundation/framework.less
  src/style/list/conversations.less
  src/style/list/list.less
Labels: type: feature / request ✨, 👕 size: XXL

#13887 chore: Upgrade @wireapp/core
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13889 runfix: prevent sidebar header to overlap with button
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/style/components/legal-hold-dot.less
  src/style/list/conversations.less
  src/style/list/list.less
Labels: type: bug / fix 🐞, 👕 size: S

#13892 fix: update core to get rid of the missing messages message bug
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13893 chore: Cleanup unused dependencies
  Gruntfile.js
  grunt/config/aws_s3.js
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: M

#13894 runfix: address responsive design in authentication screen [ACC-66]
  src/script/auth/component/LoginForm.tsx
  src/script/auth/page/Login.tsx
  src/script/auth/page/SetAccountType.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13895 chore: replace discontinued postcss-cssnext with postcss-preset-env
  package.json
  postcss.config.js
  yarn.lock
Labels: type: chore 🧹, 👕 size: XXL

#13896 fix: use hasOwnProperty instead of direct object access
  src/worker/sw-value-store.js
Labels: type: bug / fix 🐞, 👕 size: XS

#13881 feat: scaled down view for call-ui [ACC-65]
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/fullscreenVideoCall.test.tsx
  src/style/foundation/video-calling.less
Labels: type: feature / request ✨, 👕 size: M

#13899 chore: merge dev
  .github/workflows/semantic-commit-lint.yml
  .github/workflows/sync_translations.yml
  Gruntfile.js
  grunt/config/aws_s3.js
  package.json
  postcss.config.js
  src/worker/sw-value-store.js
  yarn.lock
Labels: comp: calling, comp: preferences, type: chore 🧹, 👕 size: XXL

#13897 feat: Get Sender client ID from CoreCrypto to pass to AVS (FS-1045)
  package.json
  src/script/calling/CallingRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/storage/record/EventRecord.ts
  yarn.lock
Labels: type: feature / request ✨, comp: calling, 👕 size: M

#13904 runfix: allow scrolling of right sidebar at maximum zoom [ACC-63]
  src/style/common/variables.less
  src/style/components/list/participant-item.less
  src/style/panel/panel.less
Labels: type: bug / fix 🐞, 👕 size: XS

#13912 feat: add ENABLE_DEV_BACKEND_API env variable [FS-1051]
  .env.localhost
  package.json
  server/ServerConfig.ts
  server/config.ts
  src/script/Config.ts
  src/script/auth/module/action/AuthAction.ts
  src/script/main/app.ts
  src/script/service/CoreSingleton.ts
  src/types/window.d.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#13905 refactor: Move cryptobox hooks into @wireapp/core
  package.json
  src/script/cryptography/CryptographyRepository.test.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/main/app.ts
  test/helper/TestFactory.js
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: M

#13913 runfix: Prevent default behavior of forms in primary modal
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13898 feat: activate mls for client via mls feature config [FS-1088]
  src/script/main/app.ts
  src/script/service/CoreSingleton.ts
  src/script/util/util.ts
Labels: type: feature / request ✨, 👕 size: S

#13914 runfix: tweak auth page visuals
  src/script/auth/component/AccountForm.tsx
  src/script/auth/component/LoginForm.tsx
  src/script/auth/component/PhoneLoginForm.tsx
  src/script/auth/page/CreateAccount.tsx
  src/script/auth/page/CreatePersonalAccount.tsx
  src/script/auth/page/Login.tsx
  src/script/auth/page/PhoneLogin.tsx
  src/script/auth/page/SingleSignOn.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#13919 runfix: fix for firefox ephemeral message progress icon [FS-1022]
  src/style/components/ephemeral-timer.less
Labels: type: bug / fix 🐞, 👕 size: XS

#13920 runfix: correct issues related to responsive view in left sidebar [ACC-62]
  src/script/components/ConnectRequests/index.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/style/content/connect-requests.less
  src/style/list/conversations.less
  src/style/list/list.less
Labels: type: bug / fix 🐞, 👕 size: S

#13923 runfix: display group creation modal in responsive view
  src/script/page/AppMain.tsx
  src/script/page/MainContent/MainContent.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13924 runfix: prevent right sidebar from squishing input and titlebar
  src/style/foundation/framework.less
Labels: type: bug / fix 🐞, 👕 size: XS

#13921 runfix: show expand option for collections over limit [FS-1025]
  src/script/page/MainContent/panels/Collection/Collection.test.tsx
  src/script/page/MainContent/panels/Collection/CollectionSection.test.tsx
  src/script/page/MainContent/panels/Collection/CollectionSection.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13951 chore: Upgrade @wireapp/core
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13952 chore: bump used versions of minimatch
  server/yarn.lock
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13918 refactor: Use @wireapp/core for generating fingerprints [FS-1101]
  src/script/components/userDevices/SelfFingerprint.tsx
  src/script/cryptography/CryptographyRepository.test.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/cryptography/CryptographyService.ts
  src/script/main/app.ts
  src/script/page/MainContent/panels/preferences/devices/DeviceDetailsPreferences.tsx
  src/script/util/DebugUtil.ts
  test/helper/TestFactory.js
Labels: type: refactoring 🛠, 👕 size: M

#13953 chore: Fix cakeinpanic/jira-description-action version
  .github/workflows/jira-lint-and-link.yml
Labels: comp: infrastructure, 👕 size: XS

#13956 runfix: Automatically focus on primary action button of primary modal
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13958 runfix: audio file previews don't match on sender and receiver side [FS-1021]
  src/script/cryptography/CryptographyMapper.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13960 runfix: Do not go for next modal in queue if a modal is already open
  src/script/components/Modals/PrimaryModal/PrimaryModalState.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13961 runfix: Pass messageId when creating message edit [FS-1110]
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13962 chore: upgrade @wireapp/core [FS-1109]
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#13963 chore: Simplify babel config
  babel.config.js
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: XXL

#13967 fix: update react-ui-kit to apply font weight fix (FS-1081)
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13675 refactor: correct colors in dark mode [ACC-61]
  src/style/common/mixins.less
  src/style/content/conversation/input-bar.less
  src/style/foundation/themes.less
  src/style/foundation/warnings.less
Labels: type: refactoring 🛠, 👕 size: S

#13966 runfix: enable sending the same asset multiple times in a row
  src/script/page/message-list/AssetUploadButton.test.tsx
  src/script/page/message-list/AssetUploadButton.tsx
  src/script/page/message-list/InputBarControls/ControlButtons.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#13969 runfix: upload same image multiple times
  src/script/page/AccentColorPicker/AccentColorPicker.test.tsx
  src/script/page/AccentColorPicker/AccentColorPicker.tsx
  src/script/page/AccentColorPicker/index.ts
  src/script/page/AppLock/AppLock.test.tsx
  src/script/page/AppLock/AppLock.tsx
  src/script/page/AppLock/index.ts
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  src/script/page/message-list/AssetUploadButton/AssetUploadButton.test.tsx
  src/script/page/message-list/AssetUploadButton/AssetUploadButton.tsx
  src/script/page/message-list/AssetUploadButton/index.ts
  src/script/page/message-list/ImageUploadButton/ImageUploadButton.test.tsx
  src/script/page/message-list/ImageUploadButton/ImageUploadButton.tsx
  src/script/page/message-list/ImageUploadButton/index.ts
  src/script/page/message-list/InputBarControls/ControlButtons.tsx
  src/script/page/message-list/MessageTimerButton/MessageTimerButton.test.tsx
  src/script/page/message-list/MessageTimerButton/MessageTimerButton.tsx
  src/script/page/message-list/MessageTimerButton/index.ts
Labels: type: bug / fix 🐞, 👕 size: L

#13970 chore: Improve jest-github integration
  jest.config.ts
  src/script/auth/component/AccountForm.test.tsx
  src/script/auth/page/EntropyContainer.test.tsx
  src/script/components/avatar/AvatarImage.test.tsx
Labels: type: chore 🧹, 👕 size: S

#13973 fix: Upgrade @wireapp/core
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: L

#13974 runfix: use accent colors in ui-kit secondary buttons
  package.json
  src/style/common/accent-color.less
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#13977 runfix: Correctly open user modal container
  src/page/index.html
  src/script/page/AppMain.tsx
  src/script/util/renderElement.ts
Labels: type: bug / fix 🐞, 👕 size: S

#13978 runfix: reset audioElement media after stopping [FS-1116]
  src/script/audio/AudioRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#13980 runfix: Closing right sidebar
  src/script/components/Conversation/Conversation.tsx
  src/script/components/TitleBar/TitleBar.tsx
  src/script/page/AppMain.tsx
  src/script/page/MainContent/MainContent.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13981 runfix: Scroll to new elements when switching conversation
  src/script/components/MessagesList/MessageList.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13982 chore: sync with dev branch
  jest.config.ts
Labels: type: chore 🧹, 👕 size: XS

#13983 runfix: Gracefully handle account suspended errors
  src/script/auth/page/Login.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13848 runfix: Remove observables in user list
  src/script/components/UserSearchableList.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#13985 refactor: cleanup deprecated demo page
  Gruntfile.js
  grunt/config/includereplace.js
  server/Server.ts
  server/routes/Root.ts
  src/demo/demo.html
  src/demo/template/avatars.htm
  src/demo/template/buttons.htm
  src/demo/template/checkbox.htm
  src/demo/template/colors.htm
  src/demo/template/dots.htm
  src/demo/template/icons.htm
  src/demo/template/media-controls.htm
  src/demo/template/microbar.htm
  src/demo/template/modal.htm
  src/demo/template/popovers.htm
Labels: type: refactoring 🛠, 👕 size: XXL

#13987 runfix: place user modal container in app context
  src/page/index.html
  src/script/page/AppMain.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13989 refactor: Migrate UserModal to zustand
  src/script/components/Modals/UserModal/UserModal.state.ts
  src/script/components/Modals/UserModal/UserModal.test.tsx
  src/script/components/Modals/UserModal/UserModal.tsx
  src/script/components/Modals/UserModal/index.ts
  src/script/main/app.ts
  src/script/page/AppMain.tsx
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
Labels: type: refactoring 🛠, 👕 size: M

#13992 chore: update dependabot.yml
  .github/dependabot.yml
Labels: comp: infrastructure, 👕 size: XS

#14006 chore: Cleanup grunt config
  Gruntfile.js
  grunt/config/clean.js
  grunt/config/open.js
  grunt/config/shell.js
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: M

#14007 runfix: Fix userList display when not selectable
  src/script/components/UserSearchableList.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14008 chore: Use webpack to copy static files
  Gruntfile.js
  grunt/config/copy.js
  package.json
  server/bin/copy_server_assets.js
  webpack.config.common.js
  yarn.lock
Labels: type: chore 🧹, 👕 size: M

#13957 feat: show call buttons in scaled down conversation view [ACC-33]
  src/script/components/Conversation/Conversation.tsx
  src/script/components/calling/CallingCell.test.tsx
  src/script/components/calling/CallingCell.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/TemporatyGuestConversations.tsx
  src/style/common/variables.less
  src/style/components/group-video-grid.less
  src/style/components/list/conversation-list-calling-cell.less
  src/style/foundation/video-calling.less
Labels: type: feature / request ✨, 👕 size: L

#14009 runfix: address design review of preferences margins [ACC-64]
  src/style/content/preferences.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14020 runfix: add convo protocol details back
  src/script/components/panel/ConversationProtocolDetails/ConversationProtocolDetails.test.tsx
  src/script/components/panel/ConversationProtocolDetails/ConversationProtocolDetails.tsx
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
Labels: 👕 size: S
