Repository wireapp/wire-webapp, pull requests merged in 2022-02, with the labels that each got.

#12484 runfix(core): Handle mismatch when sending broadcast messages
  package.json
  src/script/broadcast/BroadcastRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/user/UserRepository.ts
  src/script/view_model/MainViewModel.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#12486 feat(core): Restore message sending queueing [FS-418]
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#12485 refactor(core): Remove unused encryption primitives [FS-418]
  src/script/cryptography/CryptographyRepository.test.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/cryptography/CryptographyService.ts
Labels: type: refactoring 🛠, 👕 size: M

#12488 fix: Fix environment setup by using env instead of >> $GITHUB_ENV
  .github/workflows/semantic-commit-lint.yml
Labels: type: bug / fix 🐞, comp: infrastructure, 👕 size: XS

#12489 runfix(core): Fix helmet default config from images with V5
  server/Server.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12492 runfix(core): Fix cookies setting for singleInstance
  src/script/auth/main.tsx
  src/script/auth/module/action/CookieAction.ts
  src/script/main/SingleInstanceHandler.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12493 fix(core): Do not send link preview when message was canceled
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12494 runfix(core): Lighter log level when promise queue times out
  src/script/util/PromiseQueue.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12394 chore(core): Enable useKoSubscribableChildren everywhere
  src/script/assets/AssetRepository.ts
  src/script/components/Avatar.test.tsx
  src/script/components/asset/AbstractAssetTransferStateTracker.ts
  src/script/components/asset/LinkPreviewAssetComponent.tsx
  src/script/components/asset/MessageButton.tsx
  src/script/components/avatar/ServiceAvatar.test.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/list/ParticipantItem.tsx
  src/script/components/message/CallMessage.tsx
  src/script/components/message/CallTimeoutMessage.tsx
  src/script/components/message/DecryptErrorMessage.tsx
  src/script/components/message/DeleteMessage.tsx
  src/script/components/message/SystemMessage.tsx
  src/script/components/panel/ServiceDetails.tsx
  src/script/entity/message/DeleteConversationMessage.ts
  src/script/integration/IntegrationMapper.ts
  src/script/integration/IntegrationRepository.ts
  src/script/integration/ServiceEntity.ts
  src/script/notification/NotificationRepository.ts
  src/script/page/start-ui/groupList/GroupListItem.tsx
  src/script/page/start-ui/topPeople/TopContact.tsx
  src/script/util/ComponentUtil.test.ts
  src/script/util/ComponentUtil.ts
  src/script/view_model/panel/NotificationsPanel.tsx
  src/script/view_model/panel/TimedMessagesPanel.tsx
Labels: type: chore 🧹, 👕 size: L

#12458 feat(core): Conversation security clearance level bar [FS-386]
  src/i18n/de-DE.json
  src/i18n/en-US.json
  src/page/template/content/conversation/input-bar.htm
  src/script/components/input/ClassifiedBar.test.ts
  src/script/components/input/ClassifiedBar.tsx
  src/script/team/TeamState.ts
  src/script/view_model/content/InputBarViewModel.ts
Labels: type: feature / request ✨, 👕 size: M

#12495 runfix(core): Make sure customInfo is unwrapped before given to React
  src/script/components/list/ParticipantItem.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12491 feat: Upgrade to Electron 13
  package.json
  src/script/auth/page/SingleSignOn.tsx
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#12522 feat(core): Update team feature config every 24h [FS-428]
  src/script/team/TeamRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#12524 fix: enable default guests and services for group creation
  src/script/view_model/content/GroupCreationViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12526 fix: add redirect for user links
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12545 feat(core): Add classified bar on connection requests and calls [FS-386]
  src/i18n/en-US.json
  src/page/template/content/connect-requests.htm
  src/page/template/content/conversation/input-bar.htm
  src/page/template/content/conversation/title-bar.htm
  src/page/template/list/conversations.htm
  src/page/template/modal/user-modal.htm
  src/page/template/panel/conversation-details.htm
  src/page/template/panel/group-participant-user.htm
  src/script/components/input/ClassifiedBar.tsx
  src/script/components/list/ConversationListCallingCell.tsx
  src/script/components/message.ts
  src/script/components/message/MemberMessage.tsx
  src/script/components/message/memberMessage/ConnectedMessage.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/view_model/content/InputBarViewModel.ts
  src/script/view_model/content/TitleBarViewModel.ts
  src/script/view_model/content/UserModalViewModel.ts
  src/script/view_model/panel/ConversationDetailsViewModel.ts
  src/style/common/modal.less
  src/style/components/group-video-grid.less
  src/style/components/list/conversation-list-calling-cell.less
  src/style/components/panel-participant-details.less
  src/style/content/conversation/message-list.less
  src/style/modal/user-modal.less
Labels: type: feature / request ✨, 👕 size: M

#12547 runfix(core): Restore dynamic binding of conversationListCell component
  src/script/components/list/ConversationListCell.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12546 fix(translations): updating applock disabled modal translations
  src/i18n/en-US.json
  src/script/page/AppLock.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12550 runfix(core): Fix ko binding for connection request page
  src/page/template/content/connect-requests.htm
  src/script/view_model/content/ConnectRequestsViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12548 fix: separating and fixing add participants panel
  src/script/view_model/panel/AddParticipantsViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12549 fix: Update sink ids in AudioRepository and use correct audio device in AudioOutPreferences (SQCALL-491)
  src/script/audio/AudioRepository.ts
  src/script/main/app.ts
  src/script/page/preferences/avPreferences/AudioOutPreferences.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12551 fix(login): only save location if not signed in and user redirect
  src/script/main/app.ts
Labels: type: chore 🧹, 👕 size: XS

#12552 runfix(core): Add classified bar for Call UI and user profile [FS-386]
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/panel/UserDetails.tsx
Labels: 👕 size: S

#12555 runfix(core): Subscribe to participant changes when displaying classified banner
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/list/ConversationListCallingCell.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12556 fix(core): Do not update message timestamp when link preview is sent
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12557 runfix(core): Revert hiding title bar on connection requests
  src/page/template/content/conversation/title-bar.htm
Labels: type: bug / fix 🐞, 👕 size: XS

#12577 runfix(core): Do not open connection conversation if a conversation is already opened
  src/script/components/panel/UserActions.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12560 fix(services): remove extra alert when removing services (SQSERVICES-1298)
  src/script/view_model/panel/GuestsAndServicesViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12579 feat(core): Migrate existing session id in a federated env [FS-471]
  src/script/main/app.ts
  src/script/main/sessionIdMigrator.ts
Labels: type: feature / request ✨, 👕 size: S

#12580 fix(services): fix issue with api guest links not appearing (SQSERVICES-1295)
  src/script/conversation/ConversationFilter.test.ts
  src/script/conversation/ConversationMapper.ts
  src/script/entity/Conversation.ts
  src/script/storage/record/ConversationRecord.ts
  src/script/view_model/panel/GuestsAndServicesViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#12581 chore(core): Upgrade @wireapp/core to 23.0.0
  package.json
  src/script/assets/AssetService.ts
  src/script/auth/AuthRepository.ts
  src/script/auth/module/action/AuthAction.test.ts
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/ClientAction.test.ts
  src/script/auth/module/action/ClientAction.ts
  src/script/auth/module/action/ConversationAction.test.ts
  src/script/auth/module/action/ConversationAction.ts
  src/script/auth/module/action/InvitationAction.test.ts
  src/script/auth/module/action/InvitationAction.ts
  src/script/auth/module/action/SelfAction.test.ts
  src/script/auth/module/action/SelfAction.ts
  src/script/auth/module/action/UserAction.test.ts
  src/script/auth/module/action/UserAction.ts
  src/script/calling/CallingRepository.ts
  src/script/client/ClientService.ts
  src/script/connection/ConnectionService.ts
  src/script/conversation/ConversationService.ts
  src/script/cryptography/CryptographyService.ts
  src/script/event/NotificationService.ts
  src/script/extension/GiphyService.ts
  src/script/integration/IntegrationService.ts
  src/script/properties/PropertiesService.ts
  src/script/search/SearchService.ts
  src/script/self/SelfService.ts
  src/script/team/TeamService.ts
  src/script/user/RichProfileRepository.ts
  src/script/user/UserService.ts
  test/unit_tests/user/RichProfileRepositorySpec.js
  yarn.lock
Labels: comp: calling, comp: preferences, type: chore 🧹, 👕 size: L

#12559 fix(call): Avoid memory leak on camera switch (SQCALL-436)
  src/script/calling/CallingRepository.ts
  src/script/page/preferences/AVPreferences.tsx
  src/script/page/preferences/avPreferences/CameraPreferences.tsx
  src/script/view_model/CallingViewModel.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#12584 fix: make messages invite link update correctly
  src/script/components/MessagesList/index.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#12586 runfix(core): Trigger message click handler when middle clicks happen
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#12585 runfix(core): Avoid checking accessRole when undefined
  src/script/conversation/ConversationMapper.ts
Labels: 👕 size: XS

#12587 chore: Replace node-webcrypto-ossl by std node crypto lib
  .github/workflows/test_build_deploy.yml
  package.json
  src/script/util/test/mock/cryptoMock.ts
  yarn.lock
Labels: comp: infrastructure, type: chore 🧹, 👕 size: M

#12589 fix(core): Do not update original message timestamp when assets are uploaded
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12582 feat(core): Initialize APIClient with supported version [FS-423]
  package.json
  server/ServerConfig.ts
  server/config.ts
  server/index.ts
  src/page/template/list/start-ui.htm
  src/page/template/modal/user-modal.htm
  src/page/template/panel/conversation-details.htm
  src/page/template/panel/group-participant-user.htm
  src/page/template/wire-main.htm
  src/script/Config.ts
  src/script/calling/CallingRepository.ts
  src/script/client/ClientRepository.ts
  src/script/components/panel/EnrichedFields.test.ts
  src/script/components/panel/EnrichedFields.tsx
  src/script/connection/ConnectionRepository.ts
  src/script/connection/ConnectionService.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyRepository.test.ts
  src/script/cryptography/CryptographyRepository.ts
  src/script/cryptography/CryptographyService.ts
  src/script/entity/Conversation.test.ts
  src/script/entity/Conversation.ts
  src/script/event/EventRepository.test.ts
  src/script/main/app.ts
  src/script/main/globals.ts
  src/script/page/message-list/MessageTimerButton.test.ts
  src/script/page/preferences/AccountPreferences.tsx
  src/script/search/SearchRepository.ts
  src/script/service/CoreSingleton.ts
  src/script/user/UserMapper.ts
  src/script/user/UserRepository.ts
  src/script/user/UserService.ts
  src/script/util/DebugUtil.ts
  src/script/util/StorageUtil.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/list/StartUIViewModel.ts
  yarn.lock
Labels: type: feature / request ✨, comp: calling, 👕 size: L

#12490 fix(readme): Manual deployment part
  README.md
Labels: type: bug / fix 🐞, 👕 size: XS

#12590 runfix(core): Query the right endpoint when getting user clients
  package.json
  src/script/Config.ts
  src/script/client/ClientRepository.test.ts
  src/script/client/ClientRepository.ts
  src/script/client/ClientService.ts
  src/script/components/UserDevices.tsx
  src/script/main/app.ts
  src/script/page/preferences/AccountPreferences.tsx
  src/script/user/UserRepository.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#12593 runfix(core): Fix creating conversation payload
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12592 runfix(core): Do not store domain for clients in non-fed env
  src/script/client/ClientRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#12591 feat(call): Add new option for soundless incoming calls (SQCALL-471)
  package.json
  src/i18n/en-US.json
  src/script/page/preferences/avPreferences/CallOptions.tsx
  src/script/properties/PropertiesRepository.ts
  src/script/properties/PropertiesType.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/MainViewModel.ts
  yarn.lock
Labels: type: feature / request ✨, comp: preferences, 👕 size: S
