Repository wireapp/wire-webapp, pull requests merged in 2023-04, with the labels that each got.

#14960 fix: Do not cut reply preview when it contains a mention [SQSERVICES-1992]
  src/script/util/messageRenderer.ts
  src/style/content/conversation/message-list.less
  test/unit_tests/util/messageRendererSpec.js
Labels: type: bug / fix 🐞, 👕 size: S

#14961 feat: add button for 2fa submit [SQSERVICES-1991/ SQSERVICES-1940]
  src/i18n/en-US.json
  src/script/auth/page/Login.tsx
  src/script/strings.ts
Labels: type: feature / request ✨, 👕 size: S

#14963 fix: Make avatar lazy load and avoid flickering of userList
  src/script/components/UserList/components/UserListItem/UserListItem.tsx
  src/script/components/avatar/AvatarImage.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#14728 fix: Add error boundaries (SQSERVICES-1920)
  package.json
  src/i18n/en-US.json
  src/script/components/ErrorFallback.test.tsx
  src/script/components/ErrorFallback.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/page/AppMain.tsx
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#14965 chore: Align failed_to_send signature with backend
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#14967 refactor: Use PlaceholderAvatar everywhere it is needed
  src/script/components/Avatar/Avatar.test.tsx
  src/script/components/Avatar/Avatar.tsx
  src/script/components/Avatar/AvatarBackground.tsx
  src/script/components/Avatar/AvatarBadge.tsx
  src/script/components/Avatar/AvatarBorder.tsx
  src/script/components/Avatar/AvatarImage.test.tsx
  src/script/components/Avatar/AvatarImage.tsx
  src/script/components/Avatar/AvatarInitials.tsx
  src/script/components/Avatar/AvatarWrapper.tsx
  src/script/components/Avatar/GroupAvatar.test.tsx
  src/script/components/Avatar/GroupAvatar.tsx
  src/script/components/Avatar/PlaceholderAvatar/DefaultAvatarImage.tsx
  src/script/components/Avatar/PlaceholderAvatar/PlaceholderAvatar.tsx
  src/script/components/Avatar/PlaceholderAvatar/index.ts
  src/script/components/Avatar/ServiceAvatar.test.tsx
  src/script/components/Avatar/ServiceAvatar.tsx
  src/script/components/Avatar/TemporaryGuest.test.tsx
  src/script/components/Avatar/TemporaryGuestAvatar.tsx
  src/script/components/Avatar/UserAvatar.test.tsx
  src/script/components/Avatar/UserAvatar.tsx
  src/script/components/Avatar/index.ts
  src/script/components/InputBar/InputBar.test.tsx
  src/script/components/InputBar/components/TypingIndicator/TypingIndicator.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageHeader.tsx
  src/script/components/calling/CallParticipantsListItem/CallParticipantsListItem.test.tsx
  src/script/components/calling/CallingCell.tsx
  src/script/components/list/ConversationListCell.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/groupList/GroupListItem.tsx
Labels: type: refactoring 🛠, 👕 size: M

#14969 runfix: conditional rendering for self user
  src/script/components/calling/CallParticipantsListItem/CallParticipantItemContent/CallParticipantItemContent.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14935 feat: Display placeholder users on the user details panel
  src/script/components/Avatar/Avatar.tsx
  src/script/components/Avatar/PlaceholderAvatar/PlaceholderAvatar.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageHeader.tsx
  src/script/components/panel/UserDetails.test.tsx
  src/script/components/panel/UserDetails.tsx
Labels: type: feature / request ✨, 👕 size: S

#14970 chore: Bump config repos versions
  app-config/package.json
Labels: type: chore 🧹, 👕 size: XS

#14973 runfix: include info about highlighted users in data attributes
  src/script/components/UserList/components/UserListItem/UserListItem.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14977 fix: Only allow remote user search on group creation and add participants [SQSERVICES-2001]
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/UserSearchableList.tsx
  src/script/page/RightSidebar/AddParticipants/AddParticipants.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15001 chore(deps): revert Bump maxmind from 4.3.9 to 4.3.10 in /server
  server/package.json
  server/yarn.lock
Labels: type: chore 🧹, 👕 size: S

#14865 feat: indicate unestablished call participant [FS-1644]
  src/i18n/en-US.json
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
  src/script/components/calling/CallParticipantsListItem/CallParticipantItemContent/CallParticipantItemContent.styles.ts
  src/script/components/calling/CallParticipantsListItem/CallParticipantItemContent/CallParticipantItemContent.tsx
  src/script/components/calling/CallParticipantsListItem/CallParticipantsListItem.styles.ts
  src/script/components/calling/CallParticipantsListItem/CallParticipantsListItem.test.tsx
  src/script/components/calling/CallParticipantsListItem/CallParticipantsListItem.tsx
  src/script/components/calling/CallingCell.tsx
  src/script/components/calling/GroupVideoGrid.test.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
  src/style/common/mixins.less
  src/style/foundation/themes.less
Labels: type: feature / request ✨, comp: calling, 👕 size: L

#15003 fix: Fix detection of prekeys backend response
  package.json
  src/script/auth/module/reducer/selfReducer.ts
  src/script/auth/module/selector/SelfSelector.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#15004 runfix: Avoid loading self user twice
  src/script/main/app.ts
  src/script/user/UserRepository.test.ts
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15005 runfix: Migrate previously stored availability to new stored users
  src/script/user/UserMapper.ts
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15008 runfix: Remove self user from team members list
  src/script/team/TeamState.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15011 runfix: reset default button background on dropdown button
  src/script/components/calling/CallParticipantsListItem/CallParticipantItemContent/CallParticipantItemContent.styles.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14917 feat: add new design for message timestamp, read receipt and integrate floating action menu inside image details modal
  server/ServerConfig.ts
  server/config.ts
  src/i18n/en-US.json
  src/script/components/Conversation/Conversation.tsx
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageActions.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageActions.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiImg.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPicker.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactions.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactions.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactions.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/ReplyButton.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageLike.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/Message/PingMessage.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.test.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.test.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/components/Modals/DetailViewModal/DetailViewModalFooter.tsx
  src/script/components/Modals/DetailViewModal/index.tsx
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyMapper.test.ts
  src/script/page/MainContent/MainContent.tsx
  src/script/page/MainContent/panels/Collection/Collection.test.tsx
  src/script/page/MainContent/panels/Collection/Collection.tsx
  src/script/ui/ContextMenu.tsx
  src/style/common/accent-color.less
  src/style/common/variables.less
  src/style/content/conversation/message-list.less
  src/types/Wire.types.ts
Labels: type: feature / request ✨, 👕 size: XXL

#15010 refactor: Streamline backup export process
  src/script/backup/BackupRepository.test.ts
  src/script/backup/BackupRepository.ts
  src/script/backup/BackupService.ts
  src/script/backup/recordPreprocessors.ts
  src/script/components/HistoryExport/index.tsx
  src/script/components/HistoryImport/index.tsx
  src/script/page/MainContent/MainContent.tsx
  src/script/storage/record/UserRecord.ts
  src/script/user/UserGuards.ts
  src/script/user/UserMapper.ts
  src/script/user/UserRepository.ts
  src/script/user/UserService.ts
  test/helper/TestFactory.js
Labels: type: refactoring 🛠, 👕 size: L

#15013 fix: ensure fetching users is backward compatible (core bump) [FS-1784]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#15032 runfix: Improve Backup canceling error logging
  src/script/backup/BackupRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15035 runfix: Make sure conversation users are loaded at app load time
  src/script/conversation/ConversationRepository.ts
  src/script/main/app.ts
  src/script/user/UserRepository.test.ts
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15036 runfix: Avoid downloading users twice
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15037 test: Add tests for duplicated users load
  src/script/user/UserRepository.test.ts
Labels: type: test 👷, 👕 size: S

#15034 fix: Filter URL schemes (SQSERVICES-1945)
  src/script/util/messageRenderer.ts
  test/unit_tests/util/messageRendererSpec.js
Labels: type: bug / fix 🐞, 👕 size: S

#15033 fix: add port to link preview, if defined (SQSERVICES-2018)
  src/script/util/UrlUtil.ts
  test/unit_tests/util/UrlUtilSpec.js
Labels: type: bug / fix 🐞, 👕 size: XS

#15040 runfix: attach app version to datadog logs
  src/script/util/DataDog.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15041 runfix: Avoid trying to load deleted users when initially loading conversations
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: M

#15042 runfix: Sensible default for datadog tracking
  src/script/util/DataDog.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15043 runfix: Make sure fetched users are added to the state
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15044 runfix: fix wire md deeplink
  src/script/message/MentionEntity.ts
  src/script/util/messageRenderer.test.ts
  src/script/util/messageRenderer.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15045 runfix: Remove url info from datadog tracking
  src/script/conversation/ConversationRepository.ts
  src/script/main/app.ts
  src/script/util/DataDog.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15046 runfix: Fix sync between live self user and DB data
  src/script/entity/message/MessageTimerUpdateMessage.ts
  src/script/notification/NotificationRepository.test.ts
  src/script/notification/NotificationRepository.ts
  src/script/user/UserMapper.ts
  src/script/user/UserRepository.ts
  src/script/user/UserService.ts
  test/helper/TestFactory.js
  test/unit_tests/notification/NotificationRepositorySpec.js
Labels: type: bug / fix 🐞, 👕 size: XXL

#15048 refactor: Make self user a reactive property
  src/script/components/Conversation/Conversation.tsx
  src/script/components/InputBar/InputBar.test.tsx
  src/script/components/InputBar/InputBar.tsx
  src/script/components/Modals/InviteModal/InviteModal.test.tsx
  src/script/components/Modals/InviteModal/InviteModal.tsx
  src/script/components/Modals/LegalHoldModal/LegalHoldModal.test.tsx
  src/script/components/Modals/LegalHoldModal/LegalHoldModal.tsx
  src/script/components/UserList/UserList.test.tsx
  src/script/conversation/MessageRepository.test.ts
  src/script/entity/message/MessageTimerUpdateMessage.ts
  src/script/event/EventRepository.test.ts
  src/script/media/MediaConstraintsHandler.test.ts
  src/script/notification/NotificationRepository.test.ts
  src/script/notification/NotificationRepository.ts
  src/script/notification/PreferenceNotificationRepository.ts
  src/script/page/AppMain.tsx
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
  src/script/page/MainContent/MainContent.test.tsx
  src/script/page/MainContent/MainContent.tsx
  src/script/user/UserMapper.ts
  src/script/user/UserRepository.ts
  src/script/user/UserService.ts
  src/script/user/UserState.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/ListViewModel.ts
  test/helper/TestFactory.js
  test/unit_tests/notification/NotificationRepositorySpec.js
  test/unit_tests/team/TeamRepositorySpec.js
Labels: type: refactoring 🛠, 👕 size: XXL

#15073 refactor: Remove dependency between UserMapper and UserState
  src/script/notification/NotificationRepository.test.ts
  src/script/user/UserMapper.test.ts
  src/script/user/UserMapper.ts
  src/script/user/UserRepository.test.ts
  src/script/user/UserRepository.ts
  test/helper/UserGenerator.ts
Labels: type: refactoring 🛠, 👕 size: M

#15074 runfix: Do not reset user availability when value is undefined
  src/script/user/UserMapper.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15077 chore: Fix automation locator
  src/script/audio/AudioRepository.ts
  src/script/components/calling/GroupVideoGridTile.tsx
Labels: type: chore 🧹, 👕 size: XS

#15076 runfix: Avoid having double user entries in DB
  src/script/user/UserRepository.ts
  src/script/user/UserService.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15079 refactor: cleanup backup repository types
  src/script/backup/BackupRepository.test.ts
  src/script/backup/BackupRepository.ts
Labels: type: refactoring 🛠, 👕 size: M

#15072 feat: Export users in backups
  src/script/backup/BackupRepository.test.ts
  src/script/backup/BackupRepository.ts
  src/script/backup/BackupService.ts
Labels: type: feature / request ✨, 👕 size: M

#15080 refactor: Migrate to api-client BackendError
  package.json
  src/script/auth/component/AccountForm.tsx
  src/script/auth/module/action/AuthAction.test.ts
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/BackendError.ts
  src/script/auth/module/action/InvitationAction.ts
  src/script/auth/page/CheckPassword.test.tsx
  src/script/auth/page/ConversationJoin.tsx
  src/script/auth/page/InitialInvite.tsx
  src/script/auth/page/Login.test.tsx
  src/script/auth/page/Login.tsx
  src/script/auth/page/SetHandle.tsx
  src/script/auth/page/SingleSignOn.tsx
  src/script/auth/page/SingleSignOnForm.tsx
  src/script/auth/page/VerifyPhoneCode.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/error/BackendClientError.ts
  src/script/strings.ts
  src/script/view_model/ActionsViewModel.ts
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: XL

#15085 runfix: Do not add duplicate events when restoring backup
  src/script/backup/BackupRepository.test.ts
  src/script/backup/BackupRepository.ts
  src/script/backup/BackupService.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15086 runfix: Improve detection of users that are in the same team
  src/script/components/Modals/LegalHoldModal/LegalHoldModal.tsx
  src/script/entity/Conversation.test.ts
  src/script/user/UserMapper.test.ts
  src/script/user/UserMapper.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15087 runfix: Filter conversation creation events when importing backup
  src/script/backup/BackupRepository.ts
  src/script/backup/BackupService.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15089 chore: Statically create version and commit hash at build time
  server/bin/generateVersionFile.js
  server/config/index.ts
  server/package.json
Labels: type: chore 🧹, 👕 size: S

#15084 chore: Add types to env variables
  server/config/client.config.ts
  server/config/env.ts
  server/config/index.ts
  server/config/server.config.ts
  src/script/view_model/CallingViewModel.ts
Labels: type: chore 🧹, 👕 size: L

#15090 runfix: Always map user team ID even when from different team
  src/script/user/UserMapper.ts
Labels: type: bug / fix 🐞, 👕 size: XS
