Repository wireapp/wire-webapp, pull requests merged in 2023-01, with the labels that each got.

#14421 runfix: Handle Auth error at app load
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14329 feat: Send REJECT message through the self MLS conversation [FS-1327]
  package.json
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationState.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyMapper.ts
  yarn.lock
Labels: type: feature / request ✨, comp: calling, 👕 size: S

#14424 test: Fix duplicated React ids and render state update errors
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset.test.tsx
  src/script/components/ServiceList.test.tsx
  src/script/components/calling/CallingCell.test.tsx
  src/script/components/calling/GroupVideoGrid.test.tsx
Labels: type: test 👷, 👕 size: S

#14423 runfix: address conversation view design review [ACC-77]
  src/script/components/Giphy/Giphy.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/style/common/modal.less
Labels: type: bug / fix 🐞, 👕 size: S

#14426 runfix: remove nested paragraph in ping component
  src/script/components/MessagesList/Message/PingMessage.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14427 runfix: add keyboard navigation to device removal [ACC-210]
  src/script/auth/component/ClientItem.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14428 refactor: login page state
  src/script/auth/component/LoginForm.tsx
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/creator/AuthActionCreator.ts
  src/script/auth/module/reducer/authReducer.ts
  src/script/auth/page/Login.test.tsx
  src/script/auth/page/Login.tsx
  src/script/auth/page/SingleSignOnForm.tsx
  src/script/auth/page/VerifyPhoneCode.tsx
Labels: type: refactoring 🛠, 👕 size: M

#14430 fix: Avoid sending exponential number of read-receipts
  src/script/components/Conversation/Conversation.tsx
  src/script/components/Conversation/hooks/useReadReceipt.test.ts
  src/script/components/Conversation/hooks/useReadReceipt.ts
Labels: type: bug / fix 🐞, 👕 size: M

#14429 test: debounce hook test
  src/script/hooks/useDebounce.test.tsx
Labels: type: test 👷, 👕 size: S

#14435 runfix: Listen for email validation when using phone registration
  src/script/auth/module/action/SelfAction.test.ts
  src/script/auth/module/action/SelfAction.ts
  src/script/auth/module/action/WebSocketAction.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14431 runfix: make typing indicator responsive with font scaling [ACC-353]
  src/script/components/Avatar.tsx
  src/script/components/InputBar/components/TypingIndicator/TypingIndicator.styles.ts
  src/script/components/InputBar/components/TypingIndicator/TypingIndicator.tsx
  src/script/components/avatar/AvatarInitials.tsx
  src/script/components/avatar/AvatarWrapper.tsx
  src/script/components/avatar/TemporaryGuestAvatar.tsx
  src/script/components/avatar/UserAvatar.tsx
  src/style/common/variables.less
Labels: type: bug / fix 🐞, 👕 size: M

#14437 runfix: use device primary key to update device as verified [FS-1407]
  src/script/client/ClientRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14439 fix: Stop handling team events when team is deleted
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14438 fix: [Web] Heart icon is very close to user image(ACC-354)
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14440 runfix: use different shade for self-mentions and selection [ACC-155]
  src/style/common/accent-color.less
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14447 chore: Add workflow to deploy branch to testing env
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#14448 runfix: correct video tiles background color in dark mode
  src/style/components/group-video-grid.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14450 chore: fix manual deploy script
  .github/workflows/deploy-to-test-env.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#14451 fix: set default font weight to 400 in dark mode [ACC-290]
  src/style/foundation/base.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14455 chore: bump json5 from 2.2.1 to 2.2.3
  yarn.lock
Labels: type: chore 🧹, 👕 size: XS

#14453 fix: issue with ping button hiding (SQSERVICES-1816)
  src/script/page/message-list/InputBarControls/ControlButtons.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14454 fix: issue with ping on current dev (SQSERVICES-1816)
  src/script/components/InputBar/components/InputBarControls/ControlButtons.test.tsx
  src/script/components/InputBar/components/InputBarControls/ControlButtons.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14456 runfix: Allow toggeling video when starting a video call
  package.json
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  yarn.lock
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#14473 runfix: Avoid race condition upon coreCrypto migration
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#14472 chore: add eslint warning for floating promises
  .eslintrc.json
Labels: type: chore 🧹, 👕 size: XS

#14452 fix: address latest accessibility issues [ACC-394], [ACC-395], [ACC-326]
  src/script/components/calling/GroupVideoGrid.tsx
  src/style/common/context.less
  src/style/components/list/conversation-list-calling-cell.less
Labels: type: bug / fix 🐞, 👕 size: S

#14471 fix: Typing indicator announcement with assertive mode (ACC-304)
  src/script/components/InputBar/InputBar.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14469 fix: Adjust styling for windows high contrast mode (ACC-35)
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountSecuritySection.tsx
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14476 runfix: address latest accessibility issues [ACC-22], [ACC-354], [ACC-398]
  package.json
  src/i18n/en-US.json
  src/script/components/Avatar.tsx
  src/script/components/avatar/UserAvatar.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/InputLevel.tsx
  src/style/content/conversation/message-list.less
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#14479 runfix: correct icon color in light mode
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14478 fix: Allow user to choose cryptobox or CoreCrypto
  package.json
  src/script/auth/main.tsx
  src/script/service/CoreSingleton.ts
  src/script/util/DebugUtil.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#14480 runfix: Restore identity resetting
  package.json
  src/script/util/DebugUtil.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#14482 chore: bump core to fix proteus not initialised error
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#14504 chore: Fix zustand imports
  src/script/components/InputBar/components/TypingIndicator/TypingIndicator.state.tsx
  src/script/components/Modals/LegalHoldModal/LegalHoldModal.state.ts
  src/script/components/Modals/PrimaryModal/PrimaryModalState.ts
  src/script/components/Modals/UserModal/UserModal.state.ts
  src/script/conversation/ConversationRepository.ts
  src/script/mls/MLSConversations.test.ts
  src/script/mls/MLSConversations.ts
  src/script/mls/mlsConversationState/mlsConversationState.test.ts
  src/script/mls/mlsConversationState/mlsConversationState.ts
  src/script/page/LeftSidebar/panels/Conversations/state.ts
  src/script/page/state.ts
  src/script/page/useAppState.ts
  src/script/view_model/WarningsContainer/WarningsState.ts
Labels: type: chore 🧹, 👕 size: S

#14481 runfix: address shadow input scrolling issue
  src/script/components/InputBar/hooks/useResizeTarget.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14506 runfix: Avoid crashing when localStorage is not available
  src/script/service/CoreSingleton.ts
  src/script/util/localStorage.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14505 feat: Implement new design for menu bar (ACC-420)
  app-config/package.json
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/style/list/conversations.less
Labels: type: feature / request ✨, 👕 size: S

#14512 runfix: Make session migration resumable
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#14515 feat: Display username in paused video tile (ACC-274)
  src/script/components/calling/GroupVideoGridTile.tsx
Labels: type: feature / request ✨, 👕 size: S

#14514 fix: message not found on quotes of your own messages [SQSERVICES-1834]
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
  src/script/event/EventService.ts
  src/script/event/preprocessor/QuotedMessageMiddleware.ts
  src/script/message/QuoteEntity.ts
  src/script/notification/NotificationRepository.ts
  test/unit_tests/event/preprocessor/QuotedMessageMiddlewareSpec.js
Labels: type: bug / fix 🐞, 👕 size: M

#14517 fix: possible missing key on event data
  src/script/event/EventService.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14518 fix: Link preview focus and right panel focus on open
  src/script/components/MessagesList/Message/ContentMessage/asset/LinkPreviewAssetComponent.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
  src/script/page/RightSidebar/PanelHeader/PanelHeader.tsx
  src/script/page/RightSidebar/TimedMessages/TimedMessages.tsx
  src/style/common/button.less
Labels: type: bug / fix 🐞, 👕 size: S

#14519 runfix: apply sanity check on correct object
  src/script/event/EventRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14521 fix: use correct scrollbar color [ACC-211]
  src/style/foundation/base.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14522 runfix: Adjust styles for menubar (ACC-420)
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14540 runfix: Adjust styles for paused video tile (ACC-274)
  src/style/components/group-video-grid.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14542 chore: Run Github Actions on a more powerful machine
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#14543 chore: Replace deprecated gha-yarn-cache with native setup-node cache
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/lint.yml
  .github/workflows/sync_translations.yml
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#14546 chore: Upgrade build machine to 8cpu
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#14548 chore: Migrate util tests to typescript
  src/script/util/util.test.ts
  src/script/util/util.ts
  test/unit_tests/util/UtilSpec.js
Labels: type: chore 🧹, 👕 size: XL

#14549 test: Fix React warning
  src/script/auth/page/CheckPassword.tsx
Labels: type: test 👷, 👕 size: XS

#14508 fix: cyclic dependency between LocalizerUtil and SanitizationUtil
  src/script/entity/message/MemberMessage.ts
  src/script/entity/message/Message.ts
  src/script/notification/NotificationRepository.ts
  src/script/util/LocalizerUtil/LocalizerUtil.ts
  src/script/util/LocalizerUtil/LocalizerUtil.types.ts
  src/script/util/LocalizerUtil/index.ts
  src/script/util/SanitizationUtil.test.ts
  src/script/util/SanitizationUtil.ts
Labels: type: bug / fix 🐞, 👕 size: M

#14552 feat: unsubscribe from mls service events after call ends
  src/script/calling/CallingRepository.ts
  src/script/calling/callingSubscriptionsHandler.ts
  src/script/view_model/CallingViewModel.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: M

#14553 refactor: Make CallingRepository a little more stateless
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/view_model/CallingViewModel.test.ts
  src/script/view_model/CallingViewModel.ts
Labels: comp: calling, type: refactoring 🛠, 👕 size: L

#14556 feat: Open user details from message views flow in right sidebar and focus on panel header after opening right panel(ACC-254, ACC-426)
  src/script/page/AppMain.tsx
  src/script/page/RightSidebar/MessageDetails/MessageDetails.test.tsx
  src/script/page/RightSidebar/MessageDetails/MessageDetails.tsx
  src/script/page/RightSidebar/PanelHeader/PanelHeader.tsx
  src/script/page/RightSidebar/RightSidebar.tsx
  src/script/page/state.ts
Labels: type: feature / request ✨, 👕 size: S

#14557 fix: [Web] Improve aria-labels on search fields(ACC-439)
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
  src/script/page/MainContent/panels/Collection/FullSearch.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14582 chore: update core and use string in wipe mls conversation
  package.json
  src/script/conversation/ConversationRepository.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#14584 refactor: exclude mls-related conference logic to separate module
  src/script/calling/CallingRepository.ts
  src/script/calling/mlsConference.ts
  src/script/view_model/CallingViewModel.ts
Labels: comp: calling, type: refactoring 🛠, 👕 size: M

#14446 feat: answer mls conference call [FS-1285]
  src/script/calling/CallingRepository.ts
  src/script/calling/callingSubscriptionsHandler.ts
  src/script/calling/mlsConference.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/ListViewModel.ts
  yarn.lock
Labels: type: feature / request ✨, comp: calling, 👕 size: L

#14559 feat: Add title on conversation with a status on the conversation list (ACC-444)
  src/i18n/en-US.json
  src/script/components/AvailabilityState.tsx
  src/script/components/list/ConversationListCell.tsx
Labels: type: feature / request ✨, 👕 size: S

#14558 feat: Do not show user status in input bar placeholder (ACC-443)
  src/i18n/en-US.json
  src/script/components/InputBar/InputBar.tsx
Labels: type: feature / request ✨, 👕 size: S

#14586 fix: close sidebar instead of closing window when opening conversation [SQSERVICES-1882]
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/groupList/GroupListItem.tsx
  src/script/view_model/ActionsViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14587 feat: respect my_clients_only param in sendh callback
  src/script/calling/CallingRepository.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: S

#14406 feat: New design for adding people
  src/i18n/en-US.json
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/SearchInput.test.tsx
  src/script/components/SearchInput.tsx
  src/script/components/UserList/UserList.styles.tsx
  src/script/components/UserList/UserList.test.tsx
  src/script/components/UserList/UserList.tsx
  src/script/components/UserList/index.ts
  src/script/page/RightSidebar/AddParticipants/AddParticipants.tsx
Labels: type: feature / request ✨, 👕 size: L

#14590 chore: Avoid bumping version upon release tagging
  bin/release_tag.ts
Labels: type: chore 🧹, 👕 size: XS

#14591 chore: merge master to dev
  package.json
Labels: type: chore 🧹, 👕 size: XS
