Repository wireapp/wire-webapp, pull requests merged in 2023-05, with the labels that each got.

#15115 runfix: display placeholder user correctly in participant list [FS-1877]
  src/script/components/Avatar/Avatar.tsx
  src/script/components/UserList/components/UserListItem/UserListItem.tsx
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15152 chore: Bump @wireapp/core from 40.2.1 to 40.2.2
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15030 feat: re-fetch conversations on opening search-ui [FS-1689]
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/ConversationState.ts
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
Labels: type: feature / request ✨, 👕 size: M

#15158 feat: Retry fetching missing user/conversation metadata every 3h (FS-1691)
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: feature / request ✨, 👕 size: M

#15160 feat: Confirmation when initiating a call in a large group(SQSERVICES-1923)
  src/i18n/en-US.json
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalState.ts
  src/script/components/Modals/PrimaryModal/PrimaryModalTypes.ts
  src/script/view_model/CallingViewModel.ts
  src/style/content/conversation/title-bar.less
Labels: type: feature / request ✨, 👕 size: S

#15162 refactor: exclude logic to merge single conversation
  src/script/conversation/ConversationMapper.test.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: refactoring 🛠, 👕 size: M

#15179 chore: Bump @wireapp/core from 40.2.2 to 40.2.4
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15180 Revert "chore: Bump @wireapp/core from 40.2.2 to 40.2.4"
  package.json
  yarn.lock
Labels: 👕 size: S

#15181 chore: Bump @wireapp/core from 40.2.2 to 40.2.4
  package.json
  src/i18n/en-US.json
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/conversation/ConversationRepository.test.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15184 chore: remove prefetch [SQCORE-1386]
  server/config/env.ts
  server/config/server.config.ts
Labels: type: chore 🧹, 👕 size: XS

#15163 runfix: prevent storage of duplicate missing conversations [FS-1689]
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15189 feat: Filter unavailable users in conversation creation (FS-1965)
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
Labels: type: feature / request ✨, 👕 size: XS

#15190 runfix: close create group modal on failure
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15192 runfix: log only unhandled errors in group creation flow
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15193 fix: showClose functionality of primaryModal component
  src/script/components/Modals/PrimaryModal/PrimaryModal.test.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalState.ts
  src/script/components/Modals/PrimaryModal/PrimaryModalTypes.ts
  src/script/legal-hold/LegalHoldWarning.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15194 feat: filter unavailable users from contact list [FS-1971]
  src/script/page/LeftSidebar/panels/StartUI/PeopleTab.tsx
Labels: type: feature / request ✨, 👕 size: S

#15224 fix: remove popup windows when status arent updated [SQSERVICES-2008]
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15229 fix: Do not show conversation with temporary users as classified (FS-1983)
  src/script/components/input/ClassifiedBar.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15233 runfix: include file extension when pasting file to input bar [SQSERVICES-2064]
  src/script/components/InputBar/InputBar.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15236 chore: bump core
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15230 fix: Consider conversation domain for classified banner (FS-1980)
  src/script/components/InputBar/InputBar.tsx
  src/script/components/calling/CallingCell.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/input/ClassifiedBar.test.tsx
  src/script/components/input/ClassifiedBar.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/GroupParticipantUser/GroupParticipantUser.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15261 chore: Bump @wireapp/core from 40.2.8 to 40.3.0
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15265 runfix: duplicate system messages
  src/script/components/MessagesList/MessageList.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15231 feat: display warning for failure to send a message to an offline back-end [FS-1989]
  server/config/client.config.ts
  server/config/env.ts
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/ContentMessage/Warnings/CompleteFailureToSend/CompleteFailureToSend.tsx
  src/script/components/MessagesList/Message/ContentMessage/Warnings/PartialFailureToSend/PartialFailureToSend.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/Warnings/PartialFailureToSend/PartialFailureToSend.tsx
  src/script/components/MessagesList/Message/ContentMessage/Warnings/Warnings.styles.ts
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.test.tsx
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/conversation/MessageRepository.ts
  src/script/message/StatusType.ts
Labels: type: feature / request ✨, 👕 size: M
