Repository wireapp/wire-webapp, pull requests merged in 2023-11, with the labels that each got.

#16137 runfix: Only replace emojies for currently edited editor node
  src/script/components/RichTextEditor/plugins/InlineEmojiReplacementPlugin/InlineEmojiReplacementPlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16135 refactor: Move exact handle search logic to SearchRepository
  src/script/components/UserSearchableList.tsx
  src/script/page/LeftSidebar/panels/StartUI/PeopleTab.tsx
  src/script/search/SearchRepository.test.ts
  src/script/search/SearchRepository.ts
Labels: type: refactoring 🛠, 👕 size: M

#16138 fix: Use qualified Ids when matching users for search filtering [WPB-4823]
  src/script/components/UserSearchableList.tsx
  src/script/conversation/ConversationState.ts
  src/script/page/LeftSidebar/panels/StartUI/PeopleTab.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16148 chore: Cleanup unused methods and exports
  package.json
  src/script/assets/AssetService.ts
  src/script/auth/module/action/creator/LanguageActionCreator.ts
  src/script/calling/Call.ts
  src/script/calling/CallState.ts
  src/script/client/ClientService.ts
  src/script/components/Modals/ServiceModal/ServiceModal.tsx
  src/script/components/RichTextEditor/plugins/GlobalEventsPlugin.tsx
  src/script/conversation/ConversationLabelRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
  src/script/entity/message/Message.ts
  src/script/event/EventService.ts
  src/script/util/ValidationUtil.ts
  src/script/util/focusUtil.ts
  test/helper/TestFactory.js
  test/unit_tests/event/EventServiceCommon.js
  test/unit_tests/util/ValidationUtilSpec.js
  yarn.lock
Labels: comp: calling, type: chore 🧹, 👕 size: M

#16149 fix: add missing undefined/null check to e2ei typeguards
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/E2EIdentity.ts
  src/script/page/components/FeatureConfigChange/guards.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16151 refactor: is mls conversation checks
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/entity/Conversation.ts
  src/script/view_model/CallingViewModel.ts
Labels: comp: calling, 👕 size: S

#16128 fix: Conversation details of archived conversation still show 'Archive' option
  src/script/page/RightSidebar/ConversationDetails/utils/getConversationActions.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/MainViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16161 runfix: Fix checking self user team when call starts
  src/script/view_model/CallingViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16160 feat: Do not load all team members on app load [WPB-4553 WPB-4548 WPB-1912]
  src/script/components/UserSearchableList.tsx
  src/script/main/app.ts
  src/script/page/LeftSidebar/panels/StartUI/PeopleTab.tsx
  src/script/search/SearchRepository.test.ts
  src/script/search/SearchRepository.ts
  src/script/team/TeamRepository.test.ts
  src/script/team/TeamRepository.ts
  src/script/user/UserRepository.test.ts
  src/script/user/UserRepository.ts
  test/helper/UserGenerator.ts
Labels: type: feature / request ✨, 👕 size: L

#16162 runfix: enable video on mls conference calls
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.ts
  src/script/components/calling/CallingCell.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/view_model/CallingViewModel.mocks.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/ListViewModel.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#16166 fix: automatically map user roles when team user list changes [WPB-1912]
  src/script/main/app.ts
  src/script/team/TeamEntity.ts
  src/script/team/TeamMapper.ts
  src/script/team/TeamRepository.ts
  src/script/team/TeamState.ts
Labels: type: bug / fix 🐞, 👕 size: M

#16167 runfix: Handle mention deletion edge cases
  src/script/components/RichTextEditor/nodes/Mention.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16168 test: Improve UserRepository tests
  src/script/user/UserRepository.test.ts
Labels: type: test 👷, 👕 size: M

#15988 feat: MLS 1:1 conversations
  src/__mocks__/@wireapp/core.ts
  src/i18n/en-US.json
  src/script/backup/BackupRepository.test.ts
  src/script/backup/BackupRepository.ts
  src/script/components/ConnectRequests/ConnectionRequests.tsx
  src/script/components/Conversation/Conversation.tsx
  src/script/components/Conversation/ReadOnlyConversationMessage.tsx
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/TitleBar/TitleBar.tsx
  src/script/conversation/ConversationFilter.test.ts
  src/script/conversation/ConversationFilter.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationSelectors.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/ConversationState.ts
  src/script/entity/Conversation.ts
  src/script/event/EventService.ts
  src/script/main/app.ts
  src/script/page/AppMain.tsx
  src/script/page/MainContent/MainContent.test.tsx
  src/script/page/MainContent/MainContent.tsx
  src/script/self/SelfRepository.test.ts
  src/script/self/SelfRepository.ts
  src/script/self/SelfService.ts
  src/script/storage/record/ConversationRecord.ts
  src/script/user/UserRepository.test.ts
  src/script/user/UserRepository.ts
  src/script/user/UserService.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/ContentViewModel.ts
  src/style/content/conversation.less
  test/helper/ConversationGenerator.ts
  test/helper/TestFactory.js
  test/unit_tests/event/EventServiceCommon.js
Labels: blocked: do-not-merge, type: feature / request ✨, 👕 size: XXL

#16214 refactor: Remove duplicated state entry for self user devices
  src/script/client/ClientRepository.ts
  src/script/client/ClientState.ts
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.test.tsx
  src/script/page/MainContent/panels/preferences/devices/DevicesPreferences.tsx
Labels: type: refactoring 🛠, 👕 size: S

#16215 runfix: team supported protocols
  src/script/team/TeamRepository.test.ts
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16216 refactor: move all mls conference logic to calling repo
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/view_model/CallingViewModel.mocks.ts
  src/script/view_model/CallingViewModel.test.ts
  src/script/view_model/CallingViewModel.ts
Labels: comp: calling, type: refactoring 🛠, 👕 size: L

#16171 feat: apply new design to connection modal (WPB-4802)
  src/script/components/Modals/UserModal/UserModal.tsx
  src/script/components/panel/SingleAction/SingleAction.tsx
  src/script/components/panel/SingleAction/index.ts
  src/script/components/panel/UserActions.test.tsx
  src/script/components/panel/UserActions.tsx
Labels: type: feature / request ✨, 👕 size: M

#16220 refactor: Use corecrypto to get devices verification state
  src/script/E2EIdentity/E2EIdentity.ts
  src/script/components/UserDevices.tsx
  src/script/components/VerificationBadge/VerificationBadges.tsx
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/DevicesPreference.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/DetailedDevice.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/Device/Device.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/DeviceDetailsPreferences/DeviceDetailsPreferences.test.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/DeviceDetailsPreferences/DeviceDetailsPreferences.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/MLSDeviceDetails/MLSDeviceDetails.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/ProteusDeviceDetails.tsx
Labels: type: refactoring 🛠, 👕 size: M

#16222 fix: Do not show current device proteus verification state
  src/script/page/MainContent/panels/preferences/DevicesPreferences/DevicesPreference.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/DetailedDevice.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/DeviceDetailsPreferences/DeviceDetailsPreferences.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/ProteusDeviceDetails.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16226 chore: Setup user verification badges
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/E2EIdentityVerification.ts
  src/script/E2EIdentity/index.ts
  src/script/components/VerificationBadge/VerificationBadges.tsx
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
Labels: type: chore 🧹, 👕 size: S

#16247 fix: do not hide conversation when its content is cleared
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationState.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16225 runfix: tweak media queries in call ui
  src/script/components/calling/FullscreenVideoCall.tsx
  src/style/foundation/video-calling.less
Labels: type: bug / fix 🐞, 👕 size: S

#16252 runfix: cleared conversation visible
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationState.ts
  src/script/main/app.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: M

#16254 feat: use backend provided idp
  package.json
  src/script/E2EIdentity/OIDCService/OIDCService.ts
  src/script/E2EIdentity/OIDCService/OIDCService.types.ts
  src/script/E2EIdentity/OIDCService/OIDCServiceStorage.ts
  src/script/E2EIdentity/OIDCService/index.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#16255 runfix: calls in mls 1:1 conversations
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationSelectors.ts
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#16253 runfix: Correctly show user/devices verification state
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/E2EIdentity/E2EIdentityVerification.ts
  src/script/E2EIdentity/certificateDetails.ts
  src/script/components/UserDevices.tsx
  src/script/components/UserSearchableList.tsx
  src/script/components/VerificationBadge/VerificationBadges.test.tsx
  src/script/components/VerificationBadge/VerificationBadges.tsx
  src/script/components/userDevices/DeviceCard.tsx
  src/script/components/userDevices/DeviceList.tsx
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  src/script/hooks/useDeviceIdentities.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/DevicesPreference.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/DetailedDevice.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/Device/Device.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/DeviceDetailsPreferences/DeviceDetailsPreferences.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.styles.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.test.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/MLSDeviceDetails/MLSDeviceDetails.tsx
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/GroupParticipantUser/GroupParticipantUser.tsx
  src/script/page/RightSidebar/ParticipantDevices/ParticipantDevices.tsx
  src/script/page/RightSidebar/RightSidebar.tsx
  src/script/util/certificateDetails.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: L

#15247 feat: mls migration
  server/config/client.config.ts
  server/config/env.ts
  src/__mocks__/@wireapp/core.ts
  src/i18n/en-US.json
  src/script/backup/BackupRepository.test.ts
  src/script/calling/Call.ts
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/Message/ProtocolUpdateMessage/ProtocolUpdateMessage.tsx
  src/script/components/MessagesList/Message/ProtocolUpdateMessage/index.ts
  src/script/components/MessagesList/Message/SystemMessage/SystemMessage.tsx
  src/script/components/MessagesList/Message/SystemMessage/SystemMessageBase.tsx
  src/script/conversation/ConversationFilter.test.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
  src/script/entity/message/JoinedAfterMLSMigrationFinalisationMessage.ts
  src/script/entity/message/MLSMigrationFinalisationOngoingCallMessage.ts
  src/script/entity/message/ProtocolUpdateMessage.ts
  src/script/event/Client.ts
  src/script/event/EventRepository.ts
  src/script/event/EventTypeHandling.ts
  src/script/main/app.ts
  src/script/message/SystemMessageType.ts
  src/script/mls/MLSConversations.test.ts
  src/script/mls/MLSConversations.ts
  src/script/mls/MLSMigration/MLSMigration.ts
  src/script/mls/MLSMigration/MLSMigrationLogger.ts
  src/script/mls/MLSMigration/index.ts
  src/script/mls/MLSMigration/migrationFinaliser/index.ts
  src/script/mls/MLSMigration/migrationFinaliser/joinConversationsAfterMigrationFinalisation/index.ts
  src/script/mls/MLSMigration/migrationFinaliser/joinConversationsAfterMigrationFinalisation/joinConversationsAfterMigrationFinalisation.test.ts
  src/script/mls/MLSMigration/migrationFinaliser/joinConversationsAfterMigrationFinalisation/joinConversationsAfterMigrationFinalisation.ts
  src/script/mls/MLSMigration/migrationFinaliser/migrationFinaliser.test.ts
  src/script/mls/MLSMigration/migrationFinaliser/migrationFinaliser.ts
  src/script/mls/MLSMigration/migrationInitialiser/index.ts
  src/script/mls/MLSMigration/migrationInitialiser/joinUnestablishedMixedConversations/index.ts
  src/script/mls/MLSMigration/migrationInitialiser/joinUnestablishedMixedConversations/joinUnestablishedMixedConversations.test.ts
  src/script/mls/MLSMigration/migrationInitialiser/joinUnestablishedMixedConversations/joinUnestablishedMixedConversations.ts
  src/script/mls/MLSMigration/migrationInitialiser/migrationInitialiser.test.ts
  src/script/mls/MLSMigration/migrationInitialiser/migrationInitialiser.ts
  src/script/page/AppMain.tsx
  src/script/storage/StorageSchemata.ts
  src/script/storage/record/ConversationRecord.ts
  src/script/team/TeamRepository.ts
  src/script/user/UserRepository.ts
  src/script/util/messagesFilterUtil.ts
  src/style/content/conversation/message-list.less
  test/helper/ConversationGenerator.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: XXL

#16282 chore: Remove deprecated encrypted DB PoC
  .env.localhost
  package.json
  server/config/client.config.ts
  server/config/env.ts
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/page/InitialInvite.tsx
  src/script/auth/route.ts
  src/script/auth/util/test/mockStoreFactory.ts
  src/script/event/EventService.ts
  src/script/main/app.ts
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  src/script/service/CoreSingleton.ts
  src/script/service/StoreEngineProvider.ts
  src/script/storage/SQLeetSchemata.ts
  src/script/storage/StorageService.ts
  src/script/util/ephemeralValueStore.test.ts
  src/script/util/ephemeralValueStore.ts
  src/script/util/util.ts
  src/worker/sqleet-worker.js
  src/worker/sw-value-store.js
  webpack.config.common.js
  yarn.lock
Labels: type: chore 🧹, 👕 size: XL

#16223 feat: improve calling audio/video settings
  src/i18n/en-US.json
  src/script/auth/component/ClientList.tsx
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/components/calling/fullscreenVideoCall.test.tsx
  src/script/view_model/CallingViewModel.ts
  src/style/components/group-video-grid.less
  src/style/foundation/video-calling.less
Labels: type: feature / request ✨, 👕 size: L

#16289 style: improvements for video call and select menu
  package.json
  src/style/foundation/video-calling.less
  yarn.lock
Labels: 👕 size: S

#16292 runfix: Do not crash when self mls conversation does not exist
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16293 runfix: join mls groups one by one
  src/script/backup/BackupRepository.test.ts
  src/script/backup/BackupRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/main/app.ts
  src/script/mls/MLSConversations.test.ts
  src/script/mls/MLSConversations.ts
  src/script/mls/MLSMigration/migrationFinaliser/joinConversationsAfterMigrationFinalisation/joinConversationsAfterMigrationFinalisation.ts
  src/script/mls/MLSMigration/migrationInitialiser/joinUnestablishedMixedConversations/joinUnestablishedMixedConversations.ts
  test/helper/TestFactory.js
Labels: type: bug / fix 🐞, 👕 size: M

#16296 runfix: Streamline how user info (name + availability + verification) is displayed [WPB-5702]
  src/script/components/ParticipantItemContent/ParticipantItemContent.tsx
  src/script/components/UserInfo.test.tsx
  src/script/components/UserInfo.tsx
  src/script/components/calling/CallParticipantsListItem/CallParticipantItemContent/CallParticipantItemContent.tsx
  src/script/components/list/ConversationListCell.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/entity/User/User.ts
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#16298 chore: Use @wireapp/core to generate secret keys
  package.json
  src/script/service/CoreSingleton.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#16297 fix(E2EI): oauth redirect target from /auth to /
  server/routes/RedirectRoutes.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16299 runfix: Display verification state on user modal
  src/script/components/Modals/UserModal/UserModal.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16300 runfix: register mls verification state handler after fetching conversations
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  src/script/conversation/ConversationVerificationStateHandler/shared/conversation/index.ts
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16302 runfix: Show verification badge in conversation participants details
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/ConversationParticipants/ConversationParticipants.tsx
  src/script/page/RightSidebar/MessageDetails/MessageDetails.tsx
  src/script/page/RightSidebar/RightSidebar.tsx
Labels: type: bug / fix 🐞, 👕 size: S
