Repository wireapp/wire-webapp, pull requests merged in 2023-10, with the labels that each got.

#15925 runfix: Do not show connection requests on group conversations
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15926 feat: bump core with new corecrypto
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#15927 fix: do not create a placeholder 1:1 conversation for accepted conversations
  src/script/components/panel/UserActions.tsx
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/view_model/ActionsViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15928 runfix: save connection conversation after creating it
  src/script/components/panel/UserActions.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15895 feat: Use final version of failed to add users system messages [WPB-4720]
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.test.tsx
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/entity/message/FailedToAddUsersMessage.ts
Labels: type: feature / request ✨, 👕 size: M

#15929 runfix: recurring tasks indexeddb store
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/self/SelfRepository.test.ts
  src/script/self/SelfRepository.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#15903 chore: Add commit sha to manually created release artifacts
  .github/workflows/create_docker_image.yml
  .github/workflows/test_build_deploy.yml
  bin/push_docker.js
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#15851 runfix: load all users on app initial load
  src/script/user/UserRepository.test.ts
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15931 refactor: Cleanup all unused exported entities
  src/script/assets/AssetCrypto.ts
  src/script/assets/AssetRemoteData.ts
  src/script/assets/AssetRepository.ts
  src/script/auth/ValidationError.ts
  src/script/auth/component/UnsupportedBrowser.tsx
  src/script/auth/localeConfig.ts
  src/script/auth/util/handleUtil.ts
  src/script/auth/util/test/TestUtil.tsx
  src/script/backup/zipWorker.ts
  src/script/components/AvailabilityState.tsx
  src/script/components/Avatar/AvatarBorder.tsx
  src/script/components/Avatar/AvatarInitials.tsx
  src/script/components/Avatar/ServiceAvatar.tsx
  src/script/components/Avatar/TemporaryGuestAvatar.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageActions.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
  src/script/components/SearchInput.tsx
  src/script/components/UserDevices.tsx
  src/script/components/calling/CallParticipantsListItem/CallParticipantItemContent/CallParticipantItemContent.styles.ts
  src/script/components/panel/UserDetails.tsx
  src/script/conversation/ConversationAccessPermission.ts
  src/script/error/CallError.ts
  src/script/error/ConnectError.ts
  src/script/error/ConnectionError.ts
  src/script/event/EventService.ts
  src/script/externalRoute.ts
  src/script/guards/Event.ts
  src/script/guards/Message.ts
  src/script/hooks/usePausableTimeout.ts
  src/script/page/MainContent/panels/preferences/components/PreferencesCheckbox.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesLink.tsx
  src/script/router/routerBindings.ts
  src/script/user/AvailabilityMapper.ts
  src/script/util/ArrayUtil.ts
  src/script/util/CSSMixin.ts
  src/script/util/CountryCodes.ts
  src/script/util/Entropy.ts
  src/script/util/PromiseQueue.ts
  src/script/util/QualifiedId.ts
  src/script/util/ValidationUtil.ts
  src/script/util/renderElement.ts
  src/script/util/scroll-helpers.ts
  src/script/util/util.ts
  test/helper/ConversationGenerator.ts
Labels: type: refactoring 🛠, 👕 size: XL

#15845 chore: ugprade AVS to 9.4.14
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15934 chore: Autodeploy dev branch to edge environment
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#15933 refactor: self supported protocols check
  .env.localhost
  package.json
  server/config/client.config.ts
  server/config/env.ts
  src/script/main/app.ts
  src/script/self/SelfRepository.test.ts
  src/script/self/SelfRepository.ts
  src/script/self/SelfSupportedProtocols/SelfSupportedProtocols.test.ts
  src/script/self/SelfSupportedProtocols/SelfSupportedProtocols.ts
  src/script/team/TeamRepository.ts
  src/script/user/UserRepository.ts
  src/script/util/DebugUtil.ts
  src/script/util/util.ts
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: XL

#15935 fix: map conneciton to conversation when request is sent
  src/script/connection/ConnectionRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15950 runfix: Reset complete draft state when sending message
  src/script/components/InputBar/InputBar.tsx
  src/script/components/InputBar/util/DraftStateUtil.ts
  src/script/components/RichTextEditor/RichTextEditor.tsx
  src/script/components/RichTextEditor/nodes/Mention.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15951 runfix: Avoid mutliple emojis with the same key
  src/script/components/RichTextEditor/plugins/EmojiPickerPlugin/EmojiPickerPlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15963 feat: Handle member removal not triggered by a particular user [WPB-4496]
  src/i18n/en-US.json
  src/script/conversation/ConversationFederationUtils.ts
  src/script/conversation/ConversationRepository.ts
  src/script/entity/Conversation.ts
  src/script/entity/message/MemberMessage.ts
Labels: type: feature / request ✨, 👕 size: S

#15965 refactor: Streamline leaving and clearing conversation
  src/script/conversation/ConversationRepository.ts
  src/script/view_model/ActionsViewModel.ts
Labels: type: refactoring 🛠, 👕 size: S

#15966 refactor: Streamline removing multiple users at once [WPB-4496]
  src/script/conversation/ConversationRepository.ts
  src/script/event/EventRepository.ts
  src/script/view_model/ActionsViewModel.ts
Labels: type: refactoring 🛠, 👕 size: M

#15967 runfix: Only create a single system message for federation user removal
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/entity/message/MemberMessage.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15969 test: Add tests to member message rendering
  src/script/components/MessagesList/Message/MemberMessage.test.tsx
  src/script/components/MessagesList/Message/MemberMessage.tsx
  src/script/components/MessagesList/Message/MemberMessage/ConnectedMessage.tsx
  src/script/components/MessagesList/Message/MemberMessage/MessageContent.tsx
  src/script/entity/message/MemberMessage.ts
Labels: type: test 👷, 👕 size: XL

#15972 runfix: leave mls conversation
  src/__mocks__/@wireapp/core.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: M

#15973 chore: update core package
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15980 refactor: Move MemberMessage rendering to UI component
  src/script/components/MessagesList/Message/MemberMessage.test.tsx
  src/script/components/MessagesList/Message/MemberMessage.tsx
  src/script/components/MessagesList/Message/MemberMessage/MessageContent.tsx
  src/script/entity/message/MemberMessage.ts
  src/script/util/LocalizerUtil/ReactLocalizerUtil.test.tsx
  src/script/util/LocalizerUtil/ReactLocalizerUtil.ts
  src/script/util/messagesFilterUtil.ts
  test/unit_tests/entity/message/MemberMessageSpec.js
Labels: type: refactoring 🛠, 👕 size: XL

#15983 chore: update avs
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15984 refactor: Move hightlighted user computation to UI layer
  src/script/components/MessagesList/Message/MemberMessage.tsx
  src/script/components/MessagesList/Message/MemberMessage/MessageContent.tsx
  src/script/entity/message/MemberMessage.ts
Labels: type: refactoring 🛠, 👕 size: S

#15985 runfix: Avoid sending typing stop when user has not typed at all
  src/script/components/InputBar/hooks/useTypingIndicator.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15987 runfix: creation message not visible after accepting a connection
  src/script/connection/ConnectionRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15986 test: Add tests for typing indicator
  src/script/components/InputBar/hooks/useTypingIndicator.test.ts
Labels: type: test 👷, 👕 size: S

#15311 feat: add E2EI notifications/modals/functionality - for the user to start the process
  .env.localhost
  package.json
  server/config/client.config.ts
  server/config/env.ts
  server/routes/RedirectRoutes.ts
  server/yarn.lock
  src/__mocks__/@wireapp/core.ts
  src/i18n/en-US.json
  src/script/E2EIdentity/DelayTimer/DelayTimer.test.ts
  src/script/E2EIdentity/DelayTimer/DelayTimer.ts
  src/script/E2EIdentity/DelayTimer/DelayTimerStorage.ts
  src/script/E2EIdentity/DelayTimer/delay.ts
  src/script/E2EIdentity/E2EIdentity.test.ts
  src/script/E2EIdentity/E2EIdentity.ts
  src/script/E2EIdentity/Modals/Modals.test.ts
  src/script/E2EIdentity/Modals/Modals.ts
  src/script/E2EIdentity/Modals/index.ts
  src/script/E2EIdentity/OIDCService/OIDCService.ts
  src/script/E2EIdentity/OIDCService/OIDCServiceStorage.ts
  src/script/E2EIdentity/OIDCService/index.ts
  src/script/E2EIdentity/index.ts
  src/script/auth/page/Root.tsx
  src/script/auth/route.ts
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalTypes.ts
  src/script/conversation/ConversationFilter.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationVerificationStateHandler.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/index.ts
  src/script/conversation/ConversationVerificationStateHandler/Proteus/ProteusStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/Proteus/ProteusStateHandler.ts
  src/script/conversation/ConversationVerificationStateHandler/Proteus/index.ts
  src/script/conversation/ConversationVerificationStateHandler/index.ts
  src/script/conversation/ConversationVerificationStateHandler/shared/changeHandler/index.ts
  src/script/conversation/ConversationVerificationStateHandler/shared/conversation/index.ts
  src/script/conversation/ConversationVerificationStateHandler/shared/index.ts
  src/script/entity/Conversation.ts
  src/script/page/AppMain.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/FeatureConfigChangeHandler.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/E2EIdentity.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.store.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.test.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/index.ts
  src/script/page/components/FeatureConfigChange/guards.ts
  src/script/service/CoreSingleton.ts
  src/script/storage/record/ConversationRecord.ts
  src/script/util/UrlUtil.ts
  src/script/util/localStorage.ts
  test/helper/ConversationGenerator.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XXL

#15990 runfix: do not mark already established mls conversation as readonly
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: M

#15989 refactor: Extract federation event handling to an event processor
  src/script/conversation/ConversationRepository.ts
  src/script/event/EventProcessor.ts
  src/script/event/EventRepository.ts
  src/script/event/processor/FederationEventProcessor/ConversationFederationUtils.test.ts
  src/script/event/processor/FederationEventProcessor/ConversationFederationUtils.ts
  src/script/event/processor/FederationEventProcessor/FederationEventProcessor.ts
  src/script/event/processor/FederationEventProcessor/index.ts
  src/script/main/app.ts
Labels: type: refactoring 🛠, 👕 size: L

#15991 feat: refetch user on navigating to conversation
  src/script/conversation/ConversationRepository.ts
  src/script/self/SelfRepository.ts
  src/script/user/UserRepository.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: feature / request ✨, 👕 size: S

#15993 test: Avoid having special chars in user names
  test/helper/UserGenerator.ts
Labels: type: test 👷, 👕 size: XS

#15578 feat: saved favorite device across sessions [WPB-783]
  src/script/audio/AudioRepository.ts
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.test.ts
  src/script/components/calling/CallingCell.test.tsx
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/fullscreenVideoCall.test.tsx
  src/script/guards/MediaDevice.ts
  src/script/media/MediaConstraintsHandler.test.ts
  src/script/media/MediaConstraintsHandler.ts
  src/script/media/MediaDevicesHandler.test.ts
  src/script/media/MediaDevicesHandler.ts
  src/script/media/MediaStreamHandler.test.ts
  src/script/page/MainContent/panels/preferences/AVPreferences.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/AudioOutPreferences.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/CameraPreferences.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/DeviceSelect.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/MicrophonePreferences.tsx
  src/script/view_model/CallingViewModel.mocks.ts
  src/script/view_model/CallingViewModel.ts
  src/style/common/animations.less
  src/style/common/button.less
  src/style/common/context.less
  src/style/common/loading-dots.less
  src/style/common/spinner.less
  src/style/components/asset/message-button.less
  test/unit_tests/calling/videoGridHandlerSpec.js
  test/unit_tests/media/MediaDevicesHandlerSpec.js
Labels: type: feature / request ✨, comp: calling, 👕 size: XL

#15994 fix: dont run the MLSStateHandler without MLS enabled
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15997 feat: prepare devices, users and conversations to contain a E2EI verification indicator
  package.json
  src/script/client/ClientEntity.ts
  src/script/client/ClientMapper.test.ts
  src/script/client/ClientMapper.ts
  src/script/client/ClientRepository.test.ts
  src/script/client/ClientRepository.ts
  src/script/entity/Conversation.ts
  src/script/entity/User/User.ts
  src/script/storage/record/ClientRecord.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#15995 refactor: improve event middleware types
  src/script/conversation/EventBuilder.ts
  src/script/event/EventProcessor.ts
  src/script/event/EventRepository.ts
  src/script/event/preprocessor/QuotedMessageMiddleware.test.ts
  src/script/event/preprocessor/QuotedMessageMiddleware.ts
  src/script/event/preprocessor/ReceiptsMiddleware.test.ts
  src/script/event/preprocessor/ReceiptsMiddleware.ts
  src/script/event/preprocessor/ServiceMiddleware.test.ts
  src/script/event/preprocessor/ServiceMiddleware.ts
  src/script/main/app.ts
  test/unit_tests/event/preprocessor/ReceiptsMiddlewareSpec.js
  test/unit_tests/event/preprocessor/ServiceMiddlewareSpec.js
Labels: type: refactoring 🛠, 👕 size: XL

#15996 feat: mls 1:1 conversation listen to user update event
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/user/UserRepository.test.ts
  src/script/user/UserRepository.ts
  src/script/view_model/ActionsViewModel.ts
Labels: type: feature / request ✨, 👕 size: L

#16009 refactor: get all conversations with new api client
  package.json
  src/script/conversation/ConversationService.ts
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: S

#16010 refactor: Improve incoming message typings
  src/script/backup/BackupRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationStateHandler.ts
  src/script/conversation/EventBuilder.ts
  src/script/event/EventRepository.test.ts
  src/script/event/EventRepository.ts
  src/script/event/EventService.ts
  src/script/event/preprocessor/QuotedMessageMiddleware.test.ts
  src/script/event/preprocessor/QuotedMessageMiddleware.ts
  test/unit_tests/event/EventServiceCommon.js
Labels: type: refactoring 🛠, 👕 size: L

#16008 feat: MLSStateHandler updates clientEntities directly
  server/yarn.lock
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: L

#16013 runfix: Fix number of displayed user for conversation create event
  src/script/components/MessagesList/Message/MemberMessage.test.tsx
  src/script/components/MessagesList/Message/MemberMessage/MessageContent.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16014 runfix: Do not show mention suggestion if there is a char before the @
  src/script/components/RichTextEditor/plugins/EmojiPickerPlugin/EmojiPickerPlugin.tsx
  src/script/components/RichTextEditor/plugins/MentionsPlugin/MentionsPlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16017 fix: missing degredation warning
  src/script/conversation/ConversationMapper.test.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationVerificationState.ts
  src/script/conversation/ConversationVerificationStateHandler/Proteus/ProteusStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/Proteus/ProteusStateHandler.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16019 runfix: Clear root before loading an edited message in the text editor
  src/script/components/RichTextEditor/plugins/EditedMessagePlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16021 runfix: change ConversationVerificationState back to a numeric value
  src/script/conversation/ConversationVerificationState.ts
  src/script/conversation/ConversationVerificationStateHandler/Proteus/ProteusStateHandler.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16024 runfix: Allow matching emojis against the keywords list
  src/script/components/RichTextEditor/plugins/EmojiPickerPlugin/EmojiPickerPlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16022 chore: Add debug util to fill lexical editor programmatically
  src/script/components/RichTextEditor/RichTextEditor.tsx
  src/script/util/DebugUtil.ts
Labels: type: chore 🧹, 👕 size: S

#16026 feat: add new core with blacklisting conversation
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#16025 feat: mls 1to1 blacklist migrated proteus
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/user/UserRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#16027 feat: update protocols on migration config update
  src/script/self/SelfRepository.test.ts
  src/script/self/SelfRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#16031 test: Add a test util to generate conversation events
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/MessageRepository.ts
  src/script/event/preprocessor/QuotedMessageMiddleware.test.ts
  src/script/legal-hold/LegalHoldEvaluator.test.ts
  test/helper/EventGenerator.ts
Labels: type: test 👷, 👕 size: L

#16032 chore: add default protocol param to supported protocols debug util
  src/script/util/DebugUtil.ts
Labels: type: chore 🧹, 👕 size: XS

#16033 refactor: remove unused feature flag
  server/config/client.config.ts
  server/config/env.ts
Labels: type: refactoring 🛠, 👕 size: XS

#16034 test: add missing mock to giphy test
  src/script/components/Giphy/Giphy.test.tsx
Labels: type: test 👷, 👕 size: XS

#16035 runfix: Allow matching accentuated chars for mentions
  src/script/components/RichTextEditor/plugins/MentionsPlugin/MentionsPlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16029 feat: Add MLS Verification Badges
  src/script/components/userDevices/DeviceCard.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/DevicesPreferences.tsx
Labels: type: feature / request ✨, 👕 size: S

#16036 feat: add readonly proteus to blacklist
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#16015 feat: firefox conference calling
  package.json
  src/script/calling/CallingRepository.ts
  src/script/util/test/mock/WebRTCMock.ts
  src/types/NodeModules.d.ts
  yarn.lock
Labels: type: feature / request ✨, comp: calling, 👕 size: S

#16012 refactor: Extract event storage logic to a new EventMiddleware
  src/script/conversation/EventBuilder.ts
  src/script/event/EventRepository.test.ts
  src/script/event/EventRepository.ts
  src/script/event/EventService.ts
  src/script/event/EventTypeHandling.ts
  src/script/event/preprocessor/EventStorageMiddleware/EventStorageMiddleware.test.ts
  src/script/event/preprocessor/EventStorageMiddleware/EventStorageMiddleware.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/EventValidationError.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/assetEventHandler.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/editedEventHandler.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/getCommonMessageUpdates.test.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/getCommonMessageUpdates.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/index.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/linkPreviewEventHandler.ts
  src/script/event/preprocessor/EventStorageMiddleware/index.ts
  src/script/event/preprocessor/EventStorageMiddleware/types.ts
  src/script/main/app.ts
  test/helper/EventGenerator.ts
Labels: type: refactoring 🛠, 👕 size: XXL

#16084 runfix: Only init input bar when conversation is fully loaded
  src/script/components/Conversation/Conversation.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15629 fix: Viewing an archived conversation should not automatically “unarchive” it
  src/script/conversation/ConversationRepository.ts
  src/script/entity/Conversation.test.ts
  src/script/entity/Conversation.ts
  src/script/page/LeftSidebar/panels/Archive.tsx
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
Labels: blocked: do-not-merge, type: bug / fix 🐞, 👕 size: L

#16085 fix: Allow member join/leave events to also show unread count badge [WPB-5148]
  src/script/conversation/ConversationCellState.ts
  test/helper/UserGenerator.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16086 runfix: Make sure event is stored in DB before processing quotes
  src/script/event/preprocessor/QuotedMessageMiddleware.ts
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16083 runfix: mls 1to1 establishment on user protocols update
  src/script/components/TitleBar/TitleBar.tsx
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16087 runfix: split handling quotes and replies
  src/script/event/preprocessor/QuoteDecoderMiddleware.test.ts
  src/script/event/preprocessor/QuoteDecoderMiddleware.ts
  src/script/event/preprocessor/RepliesUpdaterMiddleware.test.ts
  src/script/event/preprocessor/RepliesUpdaterMiddleware.ts
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: L

#16088 runfix: make sure we find original event when dealing with updated quotes
  src/script/event/preprocessor/RepliesUpdaterMiddleware.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16090 runfix: Do not send typing stop event when no typing has occurred
  src/script/components/InputBar/InputBar.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16091 runfix: mls 1to1 readonly conversation actions menu
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
Labels: type: bug / fix 🐞, 👕 size: XXL

#16092 refactor: move reaction event handling to storage middleware [WPB-4255]
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/entity/message/ContentMessage.ts
  src/script/event/EventTypeHandling.ts
  src/script/event/preprocessor/EventStorageMiddleware/EventStorageMiddleware.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/index.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/reactionEventHandler.test.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/reactionEventHandler.ts
  src/script/event/preprocessor/EventStorageMiddleware/types.ts
  test/helper/EventGenerator.ts
Labels: type: refactoring 🛠, 👕 size: M

#16094 runfix: improve is mls enabled check
  package.json
  src/script/mls/isMLSSupportedByEnvironment.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16101 feat: Sort user reactions chronologically [WPB-4253]
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageActions.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageActions.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactions.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactions.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/Modals/DetailViewModal/DetailViewModalFooter.tsx
  src/script/components/UserList/UserList.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/entity/message/ContentMessage.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/reactionEventHandler.test.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/reactionEventHandler.ts
  src/script/page/RightSidebar/MessageDetails/MessageDetails.test.tsx
  src/script/page/RightSidebar/MessageDetails/MessageDetails.tsx
  src/script/page/RightSidebar/MessageDetails/UserReactions.tsx
  src/script/page/RightSidebar/RightSidebar.tsx
  src/script/storage/record/EventRecord.ts
  src/script/user/UserRepository.ts
  src/script/util/ReactionUtil.test.ts
  src/script/util/ReactionUtil.ts
  test/helper/UserGenerator.ts
Labels: type: feature / request ✨, 👕 size: XL

#16102 runfix: Update openState of emoji/mention picker when menu is closed
  src/script/components/RichTextEditor/plugins/EmojiPickerPlugin/EmojiPickerPlugin.tsx
  src/script/components/RichTextEditor/plugins/MentionsPlugin/MentionsPlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16103 runfix: Do not open typeahead menu when text is first entered in the input bar
  src/script/components/InputBar/InputBar.tsx
  src/script/components/RichTextEditor/plugins/TypeaheadMenuPlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16105 runfix: Add missing uie-name on mentions
  src/script/page/RightSidebar/MessageDetails/UserReactions.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16106 runfix: Return reaction event instead of targeted message event
  src/script/conversation/ConversationRepository.ts
  src/script/event/EventService.ts
  src/script/event/preprocessor/EventStorageMiddleware/EventStorageMiddleware.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/reactionEventHandler.ts
  src/script/event/preprocessor/EventStorageMiddleware/types.ts
  test/unit_tests/event/EventServiceCommon.js
Labels: type: bug / fix 🐞, 👕 size: S

#16107 runfix: Improve Typeahead removal behavior
  src/script/components/RichTextEditor/plugins/TypeaheadMenuPlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16108 runfix: Improve mention typeahead scrolling behavior
  src/script/components/RichTextEditor/plugins/MentionsPlugin/MentionsPlugin.tsx
  src/script/components/RichTextEditor/plugins/TypeaheadMenuPlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#16109 runfix: Make sure mention menu is positioned on init
  src/script/components/RichTextEditor/plugins/TypeaheadMenuPlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16111 fix: Editing username not possible to add some characters(WPB-4354)
  src/i18n/en-US.json
  src/script/page/MainContent/panels/preferences/accountPreferences/UsernameInput.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16104 runfix: Handle deleting mentions using the delete key
  src/script/components/RichTextEditor/nodes/Mention.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16114 runfix: do not mark link preview as edited messages
  src/script/event/preprocessor/EventStorageMiddleware/EventStorageMiddleware.test.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/editedEventHandler.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/getCommonMessageUpdates.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16115 chore: bump core with new core-crypto version
  package.json
  webpack.config.common.js
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#16116 refactor: move subconverstion logic to core
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/calling/CallingRepository.ts
  src/script/calling/mlsConference.ts
  src/script/view_model/CallingViewModel.mocks.ts
  src/script/view_model/CallingViewModel.test.ts
  src/script/view_model/CallingViewModel.ts
  yarn.lock
Labels: comp: calling, type: refactoring 🛠, 👕 size: L

#16117 runfix: return the udpated asset event when dealing with asset uploaded events
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/assetEventHandler.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16118 runfix: Make sure link previews are handled before edit events
  src/script/event/preprocessor/EventStorageMiddleware/EventStorageMiddleware.test.ts
  src/script/event/preprocessor/EventStorageMiddleware/EventStorageMiddleware.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/getCommonMessageUpdates.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16119 fix: emoji name is not getting rendered correctly for emojis with skin tone modifers
  src/script/util/EmojiUtil.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16126 runfix: Avoid showing active conversation if it is not supposed to be visible
  src/script/page/LeftSidebar/panels/Conversations/Conversations.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16127 runfix: Open conversation list when group creation fails
  src/script/view_model/ListViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16129 runfix: Do not try to match mention trigger on full text
  src/script/components/RichTextEditor/plugins/EmojiPickerPlugin/EmojiPickerPlugin.tsx
  src/script/components/RichTextEditor/plugins/MentionsPlugin/MentionsPlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16130 runfix: Keep emoji inline replacement selection stable
  src/script/components/RichTextEditor/plugins/InlineEmojiReplacementPlugin/InlineEmojiReplacementPlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16131 feat: subconversations store in core
  package.json
  src/script/main/app.ts
  src/script/mls/MLSConversations.ts
  src/script/view_model/CallingViewModel.test.ts
  src/script/view_model/CallingViewModel.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#16132 fix: backend sends gracePeriod in seconds instead of ms
  src/script/E2EIdentity/E2EIdentity.test.ts
  src/script/E2EIdentity/E2EIdentity.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/E2EIdentity.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16133 refactor: Cleanup user state
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationState.ts
  src/script/conversation/MessageRepository.ts
  src/script/team/TeamState.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/user/UserRepository.ts
  src/script/user/UserState.ts
Labels: type: refactoring 🛠, 👕 size: S

#16134 test: Improve coverage of SearchRepository
  src/script/components/Modals/LegalHoldModal/LegalHoldModal.test.tsx
  src/script/main/app.ts
  src/script/search/SearchRepository.test.ts
  src/script/search/SearchRepository.ts
  src/script/search/SearchService.ts
  test/helper/TestFactory.js
  test/unit_tests/search/SearchRepositorySpec.js
Labels: type: test 👷, 👕 size: XL

#16136 fix: align username to the left in replies (WPB-5282)
  src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
Labels: type: bug / fix 🐞, 👕 size: XS
