Repository wireapp/wire-webapp, pull requests merged in 2023-08, with the labels that each got.

#15537 runfix: Add too many team members error message
  src/script/strings.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15540 chore: broken translations
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: S

#15544 chore: Cleanup unneeded deps
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15545 chore(deps): Fix workbox-webpack-plugin deprecation warnings
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: M

#15546 chore: upgrade sub-dependencies
  yarn.lock
Labels: type: chore 🧹, 👕 size: XXL

#15547 chore: update strings.ts with translations
  src/script/strings.ts
Labels: type: chore 🧹, 👕 size: S

#15539 fix: message details click closes right panel if clicked on new details button
  src/script/components/Conversation/Conversation.tsx
  src/script/page/AppMain.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15550 chore: typo in translations
  src/i18n/en-US.json
  src/script/strings.ts
Labels: type: chore 🧹, 👕 size: XS

#15551 chore: handle failed_to_confirm_clients b-e response (WPB-3393)(core bump)
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15553 runfix: assign same max-width to replies (WPB-3583) (#15534)
  src/style/content/conversation/message-quote.less
Labels: type: bug / fix 🐞, 👕 size: XS

#15555 feat: handle connection request with no longer federating users (WPB-2221)
  src/i18n/en-US.json
  src/script/connection/ConnectionRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#15566 chore: Group eslint updates
  .github/dependabot.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#15569 test: Stabilize date-related tests for ClientUtils
  src/script/client/ClientUtils.test.ts
Labels: type: test 👷, 👕 size: XS

#15571 refactor: remove pending welcome mls state
  src/__mocks__/@wireapp/core.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/mls/MLSConversations.test.ts
  src/script/mls/MLSConversations.ts
  src/script/mls/mlsConversationState/conversationStateStorage.ts
  src/script/mls/mlsConversationState/mlsConversationState.test.ts
  src/script/mls/mlsConversationState/mlsConversationState.ts
Labels: type: refactoring 🛠, 👕 size: M

#15573 chore: Remove cyclic dependencies check on commit
  .husky/pre-commit
Labels: type: chore 🧹, 👕 size: XS

#15576 runfix: archived or abandoned conversation not visible
  src/script/conversation/ConversationState.ts
  src/script/mls/mlsConversationState/mlsConversationState.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15580 fix: unarchived conversation is missing after reload [WPB-3753]
  src/script/conversation/ConversationMapper.test.ts
  src/script/conversation/ConversationMapper.ts
Labels: type: bug / fix 🐞, 👕 size: M

#15581 refactor: Streamline message sending process
  src/script/components/InputBar/InputBar.tsx
  src/script/components/LexicalInput/components/SendMessageButton/SendMessageButton.tsx
  src/script/components/RichTextEditor/RichTextEditor.tsx
  src/script/components/RichTextEditor/components/SendMessageButton/SendMessageButton.tsx
  src/script/components/RichTextEditor/components/SendMessageButton/index.ts
  src/script/components/RichTextEditor/index.ts
  src/script/components/RichTextEditor/nodes/EmojiNode.ts
  src/script/components/RichTextEditor/nodes/Mention.tsx
  src/script/components/RichTextEditor/nodes/MentionNode.tsx
  src/script/components/RichTextEditor/plugins/AutoFocusPlugin.tsx
  src/script/components/RichTextEditor/plugins/DraftStatePlugin.tsx
  src/script/components/RichTextEditor/plugins/EditMessagePlugin.tsx
  src/script/components/RichTextEditor/plugins/EmojiPickerPlugin/EmojiItem.styles.ts
  src/script/components/RichTextEditor/plugins/EmojiPickerPlugin/EmojiItem.tsx
  src/script/components/RichTextEditor/plugins/EmojiPickerPlugin/EmojiPickerPlugin.tsx
  src/script/components/RichTextEditor/plugins/EmojiPickerPlugin/emojiList.ts
  src/script/components/RichTextEditor/plugins/EmojiPickerPlugin/index.ts
  src/script/components/RichTextEditor/plugins/GlobalEventsPlugin.tsx
  src/script/components/RichTextEditor/plugins/HistoryPlugin.tsx
  src/script/components/RichTextEditor/plugins/InlineEmojiReplacementPlugin/InlineEmojiReplacementPlugin.tsx
  src/script/components/RichTextEditor/plugins/InlineEmojiReplacementPlugin/index.ts
  src/script/components/RichTextEditor/plugins/InlineEmojiReplacementPlugin/inlineReplacements.ts
  src/script/components/RichTextEditor/plugins/MentionsPlugin/MentionSuggestionsItem.tsx
  src/script/components/RichTextEditor/plugins/MentionsPlugin/MentionsPlugin.tsx
  src/script/components/RichTextEditor/plugins/MentionsPlugin/index.ts
  src/script/components/RichTextEditor/plugins/ReverseTypeaheadMenuPlugin.tsx
  src/script/components/RichTextEditor/utils/generateNodes.ts
  src/script/components/RichTextEditor/utils/getDomRangeRect.ts
  src/script/components/RichTextEditor/utils/getSelectionInfo.ts
Labels: type: refactoring 🛠, 👕 size: L

#15579 feat: for all backup import error add a try again flow
  src/i18n/en-US.json
  src/script/components/HistoryImport/BackupFileUpload.tsx
  src/script/components/HistoryImport/index.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/HistoryBackupSection.tsx
  src/style/content/history-export-import.less
Labels: type: feature / request ✨, 👕 size: M

#15603 feat: add reveal button for the password field
  src/i18n/en-US.json
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/style/common/input.less
Labels: type: feature / request ✨, 👕 size: S

#15400 chore: Update README.md job link
  README.md
Labels: type: chore 🧹, 👕 size: XS

#15582 feat: Adjust resolution/framerates for better video experience
  src/script/media/MediaConstraintsHandler.ts
Labels: type: feature / request ✨, 👕 size: S

#15600 runfix: do not maintain mls conversation state
  src/__mocks__/@wireapp/core.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/ConversationState.ts
  src/script/mls/MLSConversations.test.ts
  src/script/mls/MLSConversations.ts
  src/script/mls/index.ts
  src/script/mls/mlsConversationState/conversationStateStorage.ts
  src/script/mls/mlsConversationState/index.ts
  src/script/mls/mlsConversationState/mlsConversationState.test.ts
  src/script/mls/mlsConversationState/mlsConversationState.ts
Labels: type: bug / fix 🐞, 👕 size: L

#15606 fix: self leave conversation shouldn't be archived automatically
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15607 chore: Handle unreachable users when creating conversation (WPB-3272)
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15613 fix: add backup password hint
  src/i18n/en-US.json
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15611 refactor: extract federation delete event categorizing
  src/script/conversation/ConversationFederationUtils.test.ts
  src/script/conversation/ConversationFederationUtils.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/entity/User/User.ts
  test/helper/ConversationGenerator.ts
  test/helper/UserGenerator.ts
Labels: type: refactoring 🛠, 👕 size: XL

#15628 refactor: Cleanup conversation creation/ user addition types
  package.json
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: S

#15584 feat: redesign join conversation page
  src/i18n/en-US.json
  src/script/auth/page/ConversationJoin.tsx
  src/script/auth/page/ConversationJoinComponents.tsx
  src/script/auth/page/ConversationJoinInvalid.tsx
  src/script/auth/page/Login.tsx
  src/script/strings.ts
Labels: type: feature / request ✨, 👕 size: XL

#15632 chore: Fix husky pre-commit
  .husky/pre-commit
Labels: type: chore 🧹, 👕 size: XS

#15636 refactor: Optimize app re-rendering
  src/script/components/UserList/UserList.test.tsx
  src/script/conversation/MessageRepository.test.ts
  src/script/media/MediaConstraintsHandler.test.ts
  src/script/notification/NotificationRepository.test.ts
  src/script/page/AppMain.tsx
  src/script/page/WindowTitleUpdater.ts
  src/script/user/UserRepository.ts
  src/script/user/UserState.ts
  test/helper/TestFactory.js
  test/unit_tests/team/TeamRepositorySpec.js
Labels: type: refactoring 🛠, 👕 size: S

#15638 test: Migrate TeamRepository tests to typescript
  src/script/main/app.ts
  src/script/team/TeamRepository.test.ts
  src/script/team/TeamRepository.ts
  test/helper/TestFactory.js
Labels: type: test 👷, 👕 size: S

#15634 fix: add conversation max width, fix video, image, link preview display
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageActions.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageActions.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiImg.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactions.styles.ts
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.tsx
  src/style/content/conversation/message-list.less
  src/style/content/conversation/message-quote.less
Labels: type: bug / fix 🐞, 👕 size: M

#15640 fix: add conversation max width, fix video, image, link preview display
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageActions.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageActions.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiImg.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactions.styles.ts
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.tsx
  src/style/content/conversation/message-list.less
  src/style/content/conversation/message-quote.less
Labels: type: bug / fix 🐞, 👕 size: M

#15502 fix: android outlook integration [WPB-3493]
  src/script/auth/module/action/RuntimeAction.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15639 feat: Add logs to feature config changes [WPB-1933]
  src/script/page/AppMain.tsx
  src/script/page/FeatureConfigChangeNotifier.test.tsx
  src/script/page/FeatureConfigChangeNotifier.ts
  src/script/team/TeamRepository.test.ts
  src/script/team/TeamRepository.ts
  src/script/team/TeamState.ts
Labels: type: feature / request ✨, 👕 size: XL

#15641 runfix: android mobile browser for oauth
  src/script/auth/module/action/RuntimeAction.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15635 feat: truncate notifications smartly [WPB-3754]
  src/script/notification/NotificationRepository.test.ts
  src/script/notification/NotificationRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#15642 refactor: system message
  src/script/components/MessagesList/Message/SystemMessage.tsx
  src/script/components/MessagesList/Message/SystemMessage/SystemMessage.test.tsx
  src/script/components/MessagesList/Message/SystemMessage/SystemMessage.tsx
  src/script/components/MessagesList/Message/SystemMessage/SystemMessageBase.tsx
  src/script/components/MessagesList/Message/SystemMessage/index.ts
  src/script/entity/message/RenameMessage.ts
Labels: type: refactoring 🛠, 👕 size: M

#15643 fix: reaction emoji pills and count size update
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPill.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactions.styles.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15645 runfix: Fix translation replacements for upgrade to enterprise modal
  src/script/page/FeatureConfigChangeNotifier.test.tsx
  src/script/page/FeatureConfigChangeNotifier.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15646 runfix: Let the feature change notifier store the previous value
  src/script/page/AppMain.tsx
  src/script/page/components/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.store.ts
  src/script/page/components/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.test.tsx
  src/script/page/components/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.ts
  src/script/page/components/FeatureConfigChangeNotifier/index.ts
  src/script/page/components/WindowTitleUpdater.ts
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞, 👕 size: M

#15644 feat: mls decrypt error recovery [WPB-523]
  package.json
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/SystemMessage/SystemMessage.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/entity/message/MLSConversationRecoveredMessage.ts
  src/script/event/Client.ts
  src/script/event/EventTypeHandling.ts
  src/script/main/app.ts
  src/script/message/SystemMessageType.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#15649 runfix: Do not add the appAlreadyOpen for embedded Login
  src/script/auth/page/Login.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15650 runfix: add correct error message for adding non federating users (WPB-4283)
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15653 runfix: assign padding instead of margin to assets
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#15654 runfix: assign margin instead of padding to assets
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#15655 runfix: conversation not deleted locally ondelete event
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15652 runfix: truncate titles less if there is extra space remaining [WPB-3754]
  src/script/notification/NotificationRepository.test.ts
  src/script/notification/NotificationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15651 refactor: use plain string instead of observable for system message
  src/script/components/MessagesList/Message/SystemMessage/SystemMessage.test.tsx
  src/script/components/MessagesList/Message/SystemMessage/SystemMessageBase.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/conversation/EventMapper.ts
  src/script/entity/message/DeleteConversationMessage.ts
  src/script/entity/message/MLSConversationRecoveredMessage.ts
  src/script/entity/message/MessageTimerUpdateMessage.ts
  src/script/entity/message/ReceiptModeUpdateMessage.ts
  src/script/entity/message/RenameMessage.ts
  src/script/entity/message/SystemMessage.ts
  src/script/notification/NotificationRepository.test.ts
  src/script/notification/NotificationRepository.ts
Labels: type: refactoring 🛠, 👕 size: S

#15676 feat: add QA util to reconnect to websocket with/without dryRun flag
  src/script/event/EventRepository.ts
  src/script/util/DebugUtil.ts
Labels: type: feature / request ✨, 👕 size: S

#15678 runfix: Show message actions menu when component renders under the mouse
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15679 runfix: Do not throw handled connection request errors
  src/script/connection/ConnectionRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15680 runfix: do not send notifications on reactions (WPB-4275)
  src/script/notification/NotificationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15681 fix: new conversation opening using keyboard is not focusing on the last message
  src/script/router/Router.test.ts
  src/script/router/Router.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15684 fix: uses history.state if it is not empty and stateObj is not provided
  src/script/router/Router.test.ts
  src/script/router/Router.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15683 runfix: mls recovery message copy [WPB-523]
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/SystemMessage/SystemMessage.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15685 refactor: Improve message types in conversation
  src/script/entity/Conversation.ts
Labels: type: refactoring 🛠, 👕 size: S

#15686 fix: Filter DeleteMessage when computing the oldest loaded message [WPB-3506]
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
  src/script/guards/Message.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15688 chore: Add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#15691 chore: apply localization suggestions
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: XS

#15693 fix: poorly formed logger message
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#15690 runfix: show ping read receipt on hover
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/Message/PingMessage.tsx
  src/script/components/MessagesList/Message/ReadReceiptStatus.tsx
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: S

#15694 feat: bump core gzipped request
  package.json
  src/script/conversation/ConversationRepository.test.ts
  test/unit_tests/extension/GiphyRepository.test.ts
  test/unit_tests/extension/GiphyRepositorySpec.js
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XL

#15692 refactor: Improve re-rendering of classified bar
  src/script/components/ConnectRequests/ConnectionRequests.tsx
  src/script/components/InputBar/InputBar.tsx
  src/script/components/MessagesList/Message/memberMessage/ConnectedMessage.tsx
  src/script/components/calling/CallingCell.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/input/ClassifiedBar.test.tsx
  src/script/components/input/ClassifiedBar.tsx
  src/script/components/panel/UserDetails.tsx
Labels: type: refactoring 🛠, 👕 size: S

#15687 feat: mls default ciphersuite config [WPB-3098]
  package.json
  server/config/client.config.ts
  server/config/env.ts
  src/__mocks__/@wireapp/core-crypto.ts
  src/script/components/panel/ConversationProtocolDetails/ConversationProtocolDetails.test.tsx
  src/script/components/panel/ConversationProtocolDetails/ConversationProtocolDetails.tsx
  src/script/service/CoreSingleton.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#15707 refactor: get 1to1 conversation
  src/script/conversation/ConversationRepository.ts
  src/script/view_model/ActionsViewModel.ts
Labels: type: refactoring 🛠, 👕 size: S

#15708 fix: enable soundless calls when CBR is enforced (WPB-4401)
  src/script/page/MainContent/panels/preferences/avPreferences/CallOptions.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15709 refactor: Move dark/light theme handling to a hook
  src/script/components/AppContainer/AppContainer.tsx
  src/script/components/AppContainer/hooks/useTheme.test.ts
  src/script/components/AppContainer/hooks/useTheme.ts
  src/script/main/app.ts
  src/script/page/MainContent/panels/preferences/OptionPreferences.tsx
  src/script/view_model/ThemeViewModel.ts
Labels: type: refactoring 🛠, 👕 size: M

#15710 runfix: add singular strings to reaction captions
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPill.tsx
  src/script/entity/message/ContentMessage.ts
Labels: type: bug / fix 🐞, 👕 size: S
