Repository wireapp/wire-webapp, pull requests merged in 2023-12, with the labels that each got.

#16318 runfix: Add missing proteus verification badges
  src/script/components/Modals/UserModal/UserModal.tsx
  src/script/components/ParticipantItemContent/ParticipantItemContent.tsx
  src/script/components/UserList/UserList.tsx
  src/script/components/UserList/components/UserListItem/UserListItem.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/ConversationParticipants/ConversationParticipants.tsx
  src/script/page/RightSidebar/GroupParticipantUser/GroupParticipantUser.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16319 runfix: Always show verification badge on user lists
  src/script/components/ParticipantItemContent/ParticipantItemContent.tsx
  src/script/components/UserList/components/UserListItem/UserListItem.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16321 fix: Make sure device verification state is in sync with fingerprint
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16322 feat: Display other users devices mls info
  src/script/components/userDevices/DeviceDetails.tsx
Labels: type: feature / request ✨, 👕 size: XS

#16325 runfix: Avoid using localStorage before cookies have been checked
  src/script/E2EIdentity/OIDCService/OIDCServiceStorage.ts
  src/script/E2EIdentity/OIDCService/index.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16327 runfix: Update self identity verification when enrollment is successful
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/hooks/useDeviceIdentities.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/E2EIdentity.ts
Labels: 👕 size: M

#16328 runfix: Do not degrade conversation if it was not verified
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16330 fix: Persist conversation when mls verification state is updated
  src/script/conversation/ConversationMapper.ts
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16331 fix: Use native unicode emojis [WPB-5790]
  app-config/package.json
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiChar.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiChar.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPicker.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPill.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactions.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactions.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/ReplyButton.tsx
  src/script/page/RightSidebar/MessageDetails/UserReactions.tsx
  src/script/util/ReactionUtil.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16320 runfix: display error message for mls conversation creation with offline backend (WPB-3695)
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.test.tsx
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.tsx
  src/script/components/UserName.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16332 runfix: display error message for MLS offline message sending (WPB-3697)
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16338 runfix: Only subscribe to enrollment success for the selfUser
  src/script/components/VerificationBadge/VerificationBadges.tsx
  src/script/hooks/useDeviceIdentities.ts
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16341 runfix: broken connection request after app reload
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16369 runfix: add basic types to countly sdk
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/countly-skd-web.d.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16346 fix: do not display missed messages in connection request
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16371 fix: use updated version of @stablelib/utf8 [WPB-5844]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16372 runfix: bump core to fix mls calls issue
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16370 ci: Publish to wire-builds
  .github/workflows/publish.yml
  .github/workflows/test_build_deploy.yml
  bin/chart-next-version.sh
  bin/push_docker.js
  bin/semver
  charts/webapp/.helmignore
  charts/webapp/Chart.yaml
  charts/webapp/templates/_helpers.tpl
  charts/webapp/templates/deployment.yaml
  charts/webapp/values.yaml
Labels: comp: infrastructure, 👕 size: XXL

#16374 feat(E2EI): add proxy to circumvent CSP headers
  server/Server.ts
  server/package.json
  server/routes/E2EIProxy/OIDCProxyRoute.ts
  server/yarn.lock
  src/script/E2EIdentity/OIDCService/OIDCService.ts
Labels: type: feature / request ✨, 👕 size: M

#16376 ci: fix bug: publish.yml shares concurrency group with other workflow
  .github/workflows/publish.yml
Labels: comp: infrastructure, 👕 size: XS

#16377 ci: use prerelase names with dot
  bin/chart-next-version.sh
  charts/webapp/Chart.yaml
Labels: 👕 size: XS

#16378 feat(OIDC): get clientId from server
  src/script/E2EIdentity/OIDCService/OIDCService.ts
  src/script/E2EIdentity/OIDCService/OIDCService.types.ts
  src/script/E2EIdentity/OIDCService/OIDCServiceStorage.ts
  src/script/E2EIdentity/OIDCService/index.ts
Labels: type: feature / request ✨, 👕 size: S

#16381 feat(E2EI): reduce complexity of OIDCservice, mock data
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/OIDCService/OIDCService.ts
  src/script/E2EIdentity/OIDCService/index.ts
Labels: type: feature / request ✨, 👕 size: S

#16382 runfix: 1:1 conversation not being opened if remote backend is down [WPB-5752]
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/user/UserRepository.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: M

#16397 runfix: conversation admin mutes a single call participant [WPB-5724]
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/entity/Conversation.ts
  src/script/event/CallingEvent.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: L

#16379 chore: split CI and deploy jobs
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test_build_deploy.yml
  bin/changelog.ts
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XL

#16401 chore: fix aws deployment
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#16400 runfix: import backup from migrated db version [WPB-5906]
  src/script/backup/BackupRepository.test.ts
  src/script/backup/BackupRepository.ts
  src/script/backup/BackupService.ts
  src/script/storage/DexieDatabase.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15014 feat: Add ability to create guest links with password (SQSERVICES-1975)
  .github/workflows/publish.yml
  .github/workflows/test_build_deploy.yml
  server/config/client.config.ts
  server/config/env.ts
  src/i18n/en-US.json
  src/script/auth/component/JoinGuestLinkPasswordModal.test.tsx
  src/script/auth/component/JoinGuestLinkPasswordModal.tsx
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/ConversationAction.ts
  src/script/auth/module/action/creator/ConversationActionCreator.ts
  src/script/auth/module/reducer/authReducer.ts
  src/script/auth/module/reducer/conversationReducer.ts
  src/script/auth/module/selector/ConversationSelector.ts
  src/script/auth/page/ConversationJoin.tsx
  src/script/auth/page/ConversationJoinComponents.tsx
  src/script/auth/page/Login.tsx
  src/script/auth/page/SingleSignOnForm.tsx
  src/script/components/CopyToClipboardButton.test.tsx
  src/script/components/CopyToClipboardButton.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.styles.ts
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalState.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalTypes.ts
  src/script/components/PasswordGeneratorButton.test.tsx
  src/script/components/PasswordGeneratorButton.tsx
  src/script/components/SelectText.test.tsx
  src/script/components/SelectText.tsx
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/conversation/ConversationStateHandler.ts
  src/script/entity/Conversation.ts
  src/script/page/RightSidebar/GuestServicesOptions/GuestServicesOptions.tsx
  src/script/page/RightSidebar/GuestServicesOptions/components/GuestOptions/GuestOptions.tsx
  src/script/page/RightSidebar/RightSidebar.tsx
  src/script/strings.ts
  src/script/util/StringUtil.ts
  src/style/common/modal.less
  src/style/foundation/main.less
  src/style/panel/guest-options.less
  test/unit_tests/util/StringUtilSpec.js
Labels: type: feature / request ✨, comp: infrastructure, 👕 size: XXL

#16403 feat(OIDCProxy): only spawn one instance of the middleware
  server/Server.ts
  server/routes/E2EIProxy/OIDCProxyRoute.ts
  server/routes/E2EIProxy/common.ts
  server/routes/E2EIProxy/index.ts
  server/routes/E2EIProxy/proxy.ts
  server/routes/E2EIProxy/route.ts
Labels: type: feature / request ✨, 👕 size: L

#16404 runfix: Do not show MLS verification state for proteus devices
  package.json
  src/script/components/VerificationBadge/VerificationBadges.tsx
  src/script/components/userDevices/DeviceDetails.tsx
  src/script/event/EventTypeHandling.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/DetailedDevice.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/MLSDeviceDetails/MLSDeviceDetails.tsx
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16407 runfix: missing message text on modal
  src/script/components/Modals/PrimaryModal/PrimaryModalState.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16409 runfix: device modal update
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalState.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16408 refactor: Do not rely on amplify for sound notifications
  src/script/audio/AudioRepository.test.ts
  src/script/audio/AudioRepository.ts
  src/script/audio/AudioState.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/main/app.ts
  src/script/notification/NotificationRepository.test.ts
  src/script/notification/NotificationRepository.ts
  test/helper/TestFactory.js
Labels: type: refactoring 🛠, 👕 size: M

#16011 refactor: Remove deprecated EventServiceNoCompound class
  src/script/event/EventServiceNoCompound.ts
  src/script/main/app.ts
  test/helper/TestFactory.js
  test/unit_tests/event/EventServiceNoCompoundSpec.js
Labels: type: refactoring 🛠, 👕 size: M

#16413 runfix: revert htmlMessage removal from PrimaryModal
  src/i18n/en-US.json
  src/script/E2EIdentity/Modals/Modals.ts
  src/script/components/Conversation/Conversation.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalState.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalTypes.ts
  src/script/view_model/CallingViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16412 feat: E2EI-certificate renewal logic
  bin/push_docker.js
  package.json
  src/i18n/en-US.json
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/Modals/Modals.ts
  src/script/E2EIdentity/OIDCService/OIDCService.ts
  src/script/E2EIdentity/OIDCService/OIDCServiceStorage.ts
  src/script/util/certificateDetails.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XL

#16416 chore: Remove unused cspell check
  .cspell.json
  package.json
  src/script/assets/AssetRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/conversation/linkPreviews/blackList.ts
  src/script/search/FullTextSearch.ts
  src/script/util/CountryCodes.ts
  yarn.lock
Labels: comp: calling, type: chore 🧹, 👕 size: XXL

#16418 refactor: remove refreshToken from localStorage
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/OIDCService/OIDCServiceStorage.ts
Labels: type: refactoring 🛠, 👕 size: XS

#16436 refactor: make connection field on conversation null by default
  src/script/conversation/ConversationSelectors.ts
  src/script/conversation/ConversationState.ts
  src/script/entity/Conversation.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: refactoring 🛠, 👕 size: S

#16437 refactor: make a connection field on user entity null by default
  src/script/components/ConnectRequests/ConnectionRequests.tsx
  src/script/components/panel/UserActions.test.tsx
  src/script/components/panel/UserActions.tsx
  src/script/connection/ConnectionRepository.test.ts
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/entity/User/User.ts
  src/script/user/UserRepository.test.ts
  src/script/user/UserRepository.ts
Labels: type: refactoring 🛠, 👕 size: M

#16438 runfix: mark connection as unknown if it does not exist at all
  src/script/entity/User/User.ts
Labels: type: bug / fix 🐞, 👕 size: XS
