Repository wireapp/wire-webapp, pull requests merged in 2023-09, with the labels that each got.

#15713 refactor: separate federation connection remove logic into utility function (WPB-4378)
  src/script/conversation/ConversationFederationUtils.test.ts
  src/script/conversation/ConversationFederationUtils.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: refactoring 🛠, 👕 size: XL

#15726 refactor: established state of mls group
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/mls/MLSConversations.test.ts
  src/script/mls/MLSConversations.ts
  src/script/view_model/CallingViewModel.ts
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: S

#15741 chore: Remove caniuse dependency
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15738 fix: Show full username on Preference account page [WPB-468]
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#13604 test: Conversation details unit tests
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.test.tsx
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/ConversationDetails/utils/getConversationActions.ts
Labels: type: refactoring 🛠, 👕 size: M

#15747 runfix: use correct accent color for amber-dark-800
  src/style/common/accent-color.less
Labels: type: bug / fix 🐞, 👕 size: XS

#15749 chore: Disable MLS on backend API <= 4 [WPB-522]
  package.json
  yarn.lock
Labels: 👕 size: S

#15751 fix: Use qualified endpoints for updating conversation properties [WPB-4492]
  package.json
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#15748 chore: add extended locales
  src/script/auth/supportedLocales.ts
Labels: type: chore 🧹, 👕 size: S

#15746 feat(server): Enable dynamic replacement of hostname in client config
  server/Server.ts
  server/config/env.ts
  server/config/server.config.ts
  server/routes/config/ConfigRoute.ts
  server/tsconfig.json
  server/util/hostnameReplacer.ts
Labels: type: feature / request ✨, 👕 size: S

#15778 refactor: remove unused isManaged flag from conv entity
  src/script/conversation/ConversationFilter.test.ts
  src/script/conversation/ConversationMapper.test.ts
  src/script/entity/Conversation.ts
  src/script/storage/record/ConversationRecord.ts
  test/helper/ConversationGenerator.ts
Labels: type: refactoring 🛠, 👕 size: XS

#15779 runfix: login join issues [WPB-3789]
  src/script/auth/module/reducer/selfReducer.ts
  src/script/auth/page/ConversationJoin.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15783 feat: handle connection requests errors (WPB-4418)
  src/i18n/en-US.json
  src/script/connection/ConnectionRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#15780 fix: proper tab name for set username view
  src/i18n/en-US.json
  src/script/auth/page/Root.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15785 fix: Gracefully handle adding users when backend is offline [WPB-1100]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#15792 chore: bump core with new corecrypto
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15793 refactor: Inject self user into component
  src/script/components/Conversation/Conversation.tsx
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/Modals/LegalHoldModal/LegalHoldModal.tsx
  src/script/components/Modals/UserModal/UserModal.test.tsx
  src/script/components/Modals/UserModal/UserModal.tsx
  src/script/components/TitleBar/TitleBar.test.tsx
  src/script/components/TitleBar/TitleBar.tsx
  src/script/components/UserSearchableList.tsx
  src/script/entity/User/User.ts
  src/script/main/app.ts
  src/script/page/AppMain.tsx
  src/script/page/MainContent/MainContent.tsx
  src/script/page/MainContent/panels/preferences/OptionPreferences.tsx
  src/script/page/RightSidebar/AddParticipants/AddParticipants.tsx
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/ConversationParticipants/ConversationParticipants.tsx
  src/script/page/RightSidebar/GroupParticipantService/GroupParticipantService.tsx
  src/script/page/RightSidebar/GroupParticipantUser/GroupParticipantUser.tsx
  src/script/page/RightSidebar/MessageDetails/MessageDetails.test.tsx
  src/script/page/RightSidebar/MessageDetails/MessageDetails.tsx
  src/script/page/RightSidebar/RightSidebar.tsx
  src/script/user/UserState.ts
  src/script/view_model/ListViewModel.ts
Labels: type: refactoring 🛠, 👕 size: M

#15796 fix: Use fully qualified conversation for lastRead message [WPB-4662]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#15797 fix: reaction tooltip user count click closes right panel if clicked on another message tooltip user count
  src/script/components/Conversation/Conversation.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15800 chore: update translation
  src/i18n/en-US.json
  src/script/strings.ts
Labels: type: chore 🧹, 👕 size: S

#15801 chore: update translation
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: XS

#15802 chore: add plural string to reaction button's aria-label
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPill.tsx
Labels: type: chore 🧹, 👕 size: XS

#15803 chore: clean and update deprecated translations
  src/i18n/en-US.json
  src/script/auth/page/ConversationJoin.tsx
  src/script/strings.ts
Labels: type: chore 🧹, 👕 size: S

#15804 chore: login string improvement [WPB-3153]
  src/i18n/en-US.json
  src/script/strings.ts
Labels: type: chore 🧹, 👕 size: XS

#15805 chore: fix one letter on a translation
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: XS

#15807 fix: Correctly display username not available on connection requests [WPB-4499]
  src/script/components/Avatar/UserAvatar.tsx
  src/script/components/ConnectRequests/ConnectionRequests.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageHeader.tsx
  src/script/components/UserList/components/UserListItem/UserListItem.tsx
  src/script/components/UserName.tsx
  src/script/components/panel/UserDetails.tsx
  src/script/page/MainContent/MainContent.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15808 fix: Do not show conversation domain on conversation join on Wire public instances
  src/script/auth/page/ConversationJoin.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15814 fix: reset the eventKey to stop focusing on every new message user send/receive after opening a conversation using enter key
  src/script/components/MessagesList/Message/index.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15816 fix: Do not show failed messages as delivered
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.test.ts
  src/script/entity/Conversation.ts
  src/script/event/preprocessor/ReceiptsMiddleware.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15818 fix: Enable api version 4
  src/script/Config.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15820 chore: move hardcoded support strings to env
  server/config/client.config.ts
  server/config/env.ts
  src/script/auth/page/OAuthPermissions.tsx
  src/script/calling/CallingRepository.ts
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/CameraPreferences.tsx
Labels: comp: calling, type: chore 🧹, 👕 size: S

#15823 test: do not mock user globally in testfactory
  src/script/client/ClientRepository.test.ts
  test/helper/TestFactory.js
Labels: type: test 👷, 👕 size: S

#15841 runfix: identify mls capable client
  package.json
  src/script/client/ClientRepository.ts
  src/script/client/ClientUtils.ts
  src/script/self/SelfRepository.test.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#15840 feat: reevaluate supported protocols on client delete
  src/__mocks__/@wireapp/core.ts
  src/script/self/SelfRepository.test.ts
  src/script/self/SelfRepository.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/MainViewModel.ts
Labels: type: feature / request ✨, 👕 size: M

#15842 runfix: hack for android hearts [WPB-4488]
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.tsx
  src/script/util/EmojiUtil.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15847 fix: set default floating action menu visibility to false
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15848 runfix: use mvp specs for failure to add users message (WPB-4720)
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.test.tsx
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15850 test: assign connection to a user
  src/script/user/UserRepository.test.ts
Labels: type: refactoring 🛠, 👕 size: S

#15852 runfix: Do not show temporary users as logged in when joining conversation [WPB-4754]
  src/script/auth/page/ConversationJoin.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15854 runfix: Use MVP version of failed to add users [WPB-4757]
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.test.tsx
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15856 fix: set emoji image draggable attribute to false (WPB-4775)
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiImg.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15857 feat: on welcome message check if keys should be refilled
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#15855 chore: RC 2023-09-20
  .github/workflows/sync_translations.yml
  package.json
  src/script/auth/page/ConversationJoin.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiImg.tsx
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.test.tsx
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.tsx
  src/script/components/Modals/UserModal/UserModal.styles.ts
  src/script/components/Modals/UserModal/UserModal.tsx
  src/script/user/UserRepository.test.ts
  yarn.lock
Labels: comp: infrastructure, type: chore 🧹, 👕 size: M

#15861 fix: Adjust layout for restricted sent image spacing (WPB-4789)
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15887 runfix: lock websocket when uploading a commit bundle to BE
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#15890 runfix: Do not consider conversation domain for classified state of a user
  src/script/components/panel/UserDetails.tsx
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/GroupParticipantUser/GroupParticipantUser.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15893 runfix: Do not consider self user domain when displaying connection requests [WPB-4858]
  src/script/components/ConnectRequests/ConnectionRequests.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15892 chore: update to node 18
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/lint.yml
  .github/workflows/sync_translations.yml
  .github/workflows/test_build_deploy.yml
  package.json
  server/package.json
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#15894 fix: Add pending icon to outgoing connection request (WPB-4849)
  src/script/components/list/ConversationListCell.tsx
  src/script/components/list/ConversationListCellStatusIcon.tsx
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: M

#15888 feat: evaluate list of self supported protocols on team protocols update
  package.json
  src/script/self/SelfRepository.test.ts
  src/script/self/SelfRepository.ts
  src/script/team/TeamRepository.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#15896 chore: Revert back to node 16
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/lint.yml
  .github/workflows/sync_translations.yml
  .github/workflows/test_build_deploy.yml
  package.json
  server/package.json
Labels: comp: infrastructure, 👕 size: S

#15897 feat: refresh self protocols on team refresh
  src/script/self/SelfRepository.test.ts
  src/script/self/SelfRepository.ts
  src/script/team/TeamRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#15901 feat: bump core with mls send recovery
  package.json
  src/script/conversation/MessageRepository.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#15902 chore: Create release page when creating release artifact
  .github/workflows/create_docker_image.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S
