Repository wireapp/wire-webapp, pull requests merged in 2023-07, with the labels that each got.

#15402 feat: finalise mls migration
  package.json
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/groupConversationsByProtocol.ts
  src/script/mls/MLSMigration/MLSMigration.ts
  src/script/mls/MLSMigration/finaliseMigration/finaliseMigration.test.ts
  src/script/mls/MLSMigration/finaliseMigration/finaliseMigration.ts
  src/script/mls/MLSMigration/finaliseMigration/index.ts
  src/script/mls/MLSMigration/initialiseMigration/initialiseMigration.test.ts
  src/script/mls/MLSMigration/initialiseMigration/initialiseMigration.ts
  src/script/mls/MLSMigration/initialiseMigration/joinUnestablishedMixedConversations/joinUnestablishedMixedConversations.ts
  src/script/mls/MLSMigration/initialiseMigration/tryEstablishingMLSGroupForMixedConversation/tryEstablishingMLSGroupForMixedConversation.test.ts
  src/script/mls/MLSMigration/initialiseMigration/tryEstablishingMLSGroupForMixedConversation/tryEstablishingMLSGroupForMixedConversation.ts
  src/script/mls/supportedProtocols/evaluateSelfSupportedProtocols/evaluateSelfSupportedProtocols.test.ts
  src/script/mls/supportedProtocols/evaluateSelfSupportedProtocols/evaluateSelfSupportedProtocols.ts
  src/script/mls/supportedProtocols/supportedProtocols.test.ts
  src/script/page/AppMain.tsx
  src/script/user/UserRepository.ts
  src/script/util/DebugUtil.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XL

#15422 fix: prevent guest from creating multiple identities (wpb-2809)
  src/script/auth/page/ConversationJoin.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15421 fix: update call participant video state when changed [WPB-2494]
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#15423 chore: Bump @wireapp/core from 40.6.2 to 40.6.3
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15429 chore: update translation for disabling guests or services
  src/i18n/en-US.json
  src/script/page/RightSidebar/GuestServicesOptions/GuestServicesOptions.tsx
Labels: type: chore 🧹, 👕 size: XS

#15430 fix: display cannot find user warning instead of placeholder profile (WPB-2877)
  src/script/components/Modals/UserModal/UserModal.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15431 feat: join mls group after migration finalisation
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/SystemMessage.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/entity/message/JoinedAfterMLSMigrationFinalisationMessage.ts
  src/script/event/Client.ts
  src/script/event/EventTypeHandling.ts
  src/script/main/app.ts
  src/script/message/SystemMessageType.ts
  src/script/mls/MLSConversations.test.ts
  src/script/mls/MLSConversations.ts
  src/script/mls/MLSMigration/finaliseMigration/joinConversationsAfterMigrationFinalisation/index.ts
  src/script/mls/MLSMigration/finaliseMigration/joinConversationsAfterMigrationFinalisation/joinConversationsAfterMigrationFinalisation.test.ts
  src/script/mls/MLSMigration/finaliseMigration/joinConversationsAfterMigrationFinalisation/joinConversationsAfterMigrationFinalisation.ts
  src/script/mls/MLSMigration/initialiseMigration/joinUnestablishedMixedConversations/joinUnestablishedMixedConversations.ts
  src/script/mls/mlsConversationState/mlsConversationState.ts
Labels: type: feature / request ✨, 👕 size: XL

#15450 feat: hide mls migration under the feature flag
  .env.localhost
  server/config/client.config.ts
  server/config/env.ts
  src/script/main/app.ts
  src/script/page/AppMain.tsx
  src/script/util/util.ts
Labels: type: feature / request ✨, 👕 size: S

#15452 fix: import events without id field
  src/script/backup/BackupService.ts
  src/script/storage/record/EventRecord.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15454 fix: import events without id field (#15452)
  src/script/backup/BackupService.ts
  src/script/storage/record/EventRecord.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15475 chore: Bump @wireapp/avs from 9.2.20 to 9.3.7
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#15433 feat: Add Backup Encryption Capability
  src/i18n/en-US.json
  src/script/backup/BackUpHeader.ts
  src/script/backup/BackupHeader.test.tsx
  src/script/backup/BackupRepository.test.ts
  src/script/backup/BackupRepository.ts
  src/script/backup/Error.ts
  src/script/backup/zipWorker.ts
  src/script/components/HistoryExport/index.tsx
  src/script/components/HistoryImport/index.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalState.ts
  src/script/components/Modals/PrimaryModal/PrimaryModalTypes.ts
  src/script/util/BackupUtil.ts
Labels: type: feature / request ✨, 👕 size: XL

#15380 feat: Add ping confirmation modal (WPB-3202)
  server/config/client.config.ts
  server/config/env.ts
  src/i18n/en-US.json
  src/script/components/InputBar/InputBar.tsx
Labels: type: feature / request ✨, 👕 size: S

#15478 fix: remove reply message option from context menu
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageActions.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15477 refactor: mls migration
  src/script/client/ClientRepository.ts
  src/script/main/app.ts
  src/script/mls/MLSMigration/MLSMigration.ts
  src/script/mls/MLSMigration/finaliseMigration/finaliseMigration.test.ts
  src/script/mls/MLSMigration/finaliseMigration/finaliseMigration.ts
  src/script/mls/isMLSSupportedByEnvironment.ts
  src/script/mls/supportedProtocols/evaluateSelfSupportedProtocols/evaluateSelfSupportedProtocols.test.ts
  src/script/mls/supportedProtocols/evaluateSelfSupportedProtocols/evaluateSelfSupportedProtocols.ts
  src/script/mls/supportedProtocols/supportedProtocols.test.ts
  src/script/mls/supportedProtocols/supportedProtocols.ts
  src/script/page/AppMain.tsx
  src/script/team/TeamRepository.ts
  src/script/user/UserRepository.ts
Labels: type: refactoring 🛠, 👕 size: M

#15480 fix: correct localisation of remove action
  src/i18n/en-US.json
  src/script/page/RightSidebar/GuestServicesOptions/GuestServicesOptions.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15482 refactor: map connection conversation
  src/script/conversation/ConversationRepository.ts
Labels: type: refactoring 🛠, 👕 size: S

#15453 feat: allow mobile oauth/calendar access [WPB-1524]
  server/util/BrowserUtil.ts
  src/script/auth/externalRoute.ts
  src/script/auth/module/action/RuntimeAction.ts
  src/script/auth/page/ClientManager.tsx
  src/script/auth/page/ConversationJoin.tsx
  src/script/auth/page/OAuthPermissions.tsx
  src/script/auth/page/OauthPermissions.styles.ts
  src/script/auth/route.ts
Labels: type: feature / request ✨, 👕 size: M

#15497 feat: introduce variations to fail to add users (WPB-2299)
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.tsx
Labels: type: feature / request ✨, 👕 size: S

#15498 runfix: uncentered device page [WPB-3460]
  src/script/auth/page/ClientManager.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#15500 fix: prevent content shift on conversation start (WPB-1953)
  src/style/content/conversation/message-list.less
  src/style/content/conversation/title-bar.less
Labels: type: bug / fix 🐞, 👕 size: S

#15499 feat: group creation for non-fully-connected-graphs [WPB-2294]
  src/i18n/en-US.json
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/util/TypePredicateUtil.ts
Labels: type: feature / request ✨, 👕 size: S

#15496 feat: user supported protocols
  .env.localhost
  package.json
  server/config/client.config.ts
  server/config/env.ts
  src/script/client/ClientRepository.ts
  src/script/client/ClientUtils.test.ts
  src/script/client/ClientUtils.ts
  src/script/entity/User/User.ts
  src/script/main/app.ts
  src/script/mls/MLSMigration/migrationStatus.ts
  src/script/mls/isMLSSupportedByEnvironment.ts
  src/script/self/SelfRepository.test.ts
  src/script/self/SelfRepository.ts
  src/script/self/SelfService.ts
  src/script/team/TeamRepository.ts
  src/script/user/UserMapper.ts
  src/script/user/UserRepository.ts
  src/script/util/DebugUtil.ts
  src/script/util/TimeUtil.ts
  src/script/util/util.ts
  src/script/view_model/MainViewModel.ts
  test/helper/TestFactory.js
  test/unit_tests/util/TimeUtilSpec.js
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XL

#15503 feat: emoji pills should become active/inactive when user selects/unselect an emoji[WPB-3291]
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPill.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.tsx
Labels: type: feature / request ✨, 👕 size: S

#15509 fix: make all emoji pills active that user ever reacted to[WPB-3291]
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPill.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15510 feat: set default accent for registration [WPB-3303]
  src/script/auth/component/AccountForm.tsx
Labels: type: feature / request ✨, 👕 size: XS

#15530 feat: emoji pills should be sorted by number of reactions in desc order
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactionsList.tsx
  src/script/util/ReactionUtil.ts
Labels: type: feature / request ✨, 👕 size: S

#15531 feat: retain user selected skin colour after user reacts with the selected skin colour
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPicker.tsx
Labels: type: feature / request ✨, 👕 size: S
