Repository wireapp/wire-webapp, pull requests merged in 2023-02, with the labels that each got.

#14596 chore: Improve app load logs
  src/script/audio/AudioRepository.ts
  src/script/client/ClientRepository.ts
  src/script/main/app.ts
  src/script/permission/PermissionRepository.ts
  src/script/team/TeamMapper.ts
  src/script/telemetry/app_init/AppInitTelemetry.ts
  src/script/telemetry/app_init/AppInitTimings.ts
Labels: type: chore 🧹, 👕 size: S

#14597 refactor: add mls service getter
  src/script/view_model/CallingViewModel.ts
Labels: type: refactoring 🛠, 👕 size: S

#14598 chore: Upgrade avs to 9.0.20
  package.json
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  yarn.lock
Labels: comp: calling, type: chore 🧹, 👕 size: S

#14602 runfix: update epoch info only for mls conference call
  src/script/view_model/CallingViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14603 refactor: Move ping sound playing out of the message sending method
  package.json
  src/script/calling/CallingRepository.ts
  src/script/conversation/MessageRepository.ts
  yarn.lock
Labels: comp: calling, type: refactoring 🛠, 👕 size: S

#14605 runfix: issue with when pasting undefined files
  src/script/components/InputBar/InputBar.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14627 refactor: Use core generic message types
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/cryptography/GenericMessageType.ts
  src/script/legal-hold/LegalHoldEvaluator.test.ts
  test/unit_tests/cryptography/CryptographyMapperSpec.js
Labels: type: refactoring 🛠, 👕 size: M

#14626 runfix: reduce number of calls to getSubconversation
  package.json
  src/script/calling/mlsConference.ts
  src/script/view_model/CallingViewModel.ts
  yarn.lock
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#14625 fix: user "Set a status" dialog interaction accessible(ACC-440)
  src/i18n/en-US.json
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AvailabilityButtons.tsx
  src/script/user/AvailabilityModal.ts
  src/script/view_model/ListViewModel.ts
Labels: 👕 size: S

#14629 runfix: revert 'message not found' fix
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
  src/script/event/EventService.ts
  src/script/event/preprocessor/QuotedMessageMiddleware.ts
  src/script/message/QuoteEntity.ts
  src/script/notification/NotificationRepository.ts
  test/unit_tests/event/preprocessor/QuotedMessageMiddlewareSpec.js
Labels: type: bug / fix 🐞, 👕 size: M

#14633 fix: Make sure app is fully loaded before showing the UI
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14635 feat: req_new_epoch advance epoch number
  package.json
  src/script/calling/mlsConference.ts
  src/script/view_model/CallingViewModel.ts
  yarn.lock
Labels: type: feature / request ✨, comp: calling, 👕 size: S

#14638 refactor: use postListClients instead of hack
  src/script/calling/CallingRepository.ts
  src/script/conversation/MessageRepository.ts
Labels: comp: calling, type: refactoring 🛠, 👕 size: S

#14639 fix: Fix migration from cryptobox to coreCrypto
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#14634 fix: Correctly match users with umlaut charachters in search (SQSERVICES-1894)
  src/script/search/SearchRepository.ts
  src/script/util/EmojiUtil.ts
  src/script/util/StringUtil.ts
  test/unit_tests/util/StringUtilSpec.js
Labels: type: bug / fix 🐞, 👕 size: M

#14640 refactor: Narrow down event types
  src/script/conversation/ConversationEphemeralHandler.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/MessageRepository.ts
  src/script/event/EventRepository.test.ts
  src/script/event/EventRepository.ts
  src/script/event/EventService.ts
  src/script/event/EventServiceNoCompound.ts
  src/script/event/preprocessor/QuotedMessageMiddleware.ts
  src/script/event/preprocessor/ReceiptsMiddleware.ts
  src/script/message/MessageCategorization.ts
  src/script/storage/record/EventRecord.ts
  src/script/util/DebugUtil.ts
Labels: type: refactoring 🛠, 👕 size: L

#14641 fix: Device name shows encoded chars instead of space (SQSERVICES-1893)
  src/script/components/Modals/PrimaryModal/PrimaryModalState.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14642 runfix: client mismatch
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/util/removeClientFromUserClientMap.test.ts
  src/script/util/removeClientFromUserClientMap.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: M

#14643 refactor: Improve CryptoMapper event types
  src/script/cryptography/CryptographyMapper.test.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/legal-hold/LegalHoldEvaluator.test.ts
Labels: type: refactoring 🛠, 👕 size: L

#14645 fix: Await for message processing when loading the app
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#14647 chore: Improve lint job to use more CPUs
  .github/workflows/lint.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#14636 runfix: remove redundant set_epoch_info on req_clients callback
  package.json
  src/script/calling/CallingRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/view_model/CallingViewModel.ts
  yarn.lock
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#14674 test: mls conference calls
  src/__mocks__/@wireapp/core.ts
  src/script/calling/CallingRepository.ts
  src/script/view_model/CallingViewModel.mocks.ts
  src/script/view_model/CallingViewModel.test.ts
Labels: comp: calling, type: test 👷, 👕 size: L

#14677 fix: Add padding to start-ui search when typing (SQSERVICES-1678)
  src/script/components/SearchInput.tsx
  src/style/components/search-input.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14599 feat: remove stale participants
  src/script/calling/CallingRepository.ts
  src/script/view_model/CallingViewModel.mocks.ts
  src/script/view_model/CallingViewModel.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: S

#14679 runfix: dont create removal task for self-client
  src/script/view_model/CallingViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14678 chore: bump core and make mls callback async
  package.json
  src/script/mls/MLSConversations.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#14685 fix: use localisation for font size slider labels
  src/i18n/en-US.json
  src/script/page/MainContent/panels/preferences/OptionPreferences.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14682 fix: 2fa login handle error [SQSERVICES-1850]
  src/i18n/en-US.json
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/BackendError.ts
  src/script/auth/module/reducer/authReducer.ts
  src/script/auth/page/Login.tsx
  src/script/strings.ts
Labels: type: bug / fix 🐞, 👕 size: S

#14688 chore: bump core to enable lastprekey improvement [FS-1542]
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#14681 fix: Upgrade db encryption key handling
  package.json
  src/script/client/ClientRepository.ts
  src/script/main/app.ts
  src/script/service/CoreSingleton.ts
  src/script/storage/StorageRepository.ts
  test/helper/TestFactory.js
  test/unit_tests/storage/StorageRepositorySpec.js
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#14632 feat: improve quote event loading [SQSERVICES-1834]
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
  src/script/event/EventService.ts
  src/script/event/preprocessor/QuotedMessageMiddleware.ts
  src/script/message/QuoteEntity.ts
  src/script/notification/NotificationRepository.ts
  src/script/util/DraftStateUtil.ts
  test/unit_tests/event/preprocessor/QuotedMessageMiddlewareSpec.js
Labels: type: feature / request ✨, 👕 size: M

#14689 chore: Refactor deployment to dev/prod environments
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: M

#14691 chore: Upload test results as releases assets
  .github/workflows/test_build_deploy.yml
  package.json
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#14693 chore: Bump @wireapp/core from 38.13.1 to 38.13.2
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#14715 chore: Fix changelog generation for dev
  .github/workflows/test_build_deploy.yml
  bin/changelog.ts
  package.json
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#14716 chore: make sure failing tests are reported
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#14680 feat: provide warning on connection with unverified users [SQSERVICES-1679]
  src/i18n/en-US.json
  src/script/components/ConnectRequests/index.tsx
  src/script/components/MessagesList/Message/DecryptErrorMessage.tsx
  src/script/components/MessagesList/Message/MemberMessage.tsx
  src/script/components/MessagesList/Message/memberMessage/ConnectedMessage.tsx
  src/script/components/Modals/UserModal/UserModal.tsx
  src/script/entity/User.ts
  src/script/externalRoute.ts
  src/style/content/connect-requests.less
  src/style/content/conversation/message-list.less
Labels: type: feature / request ✨, 👕 size: M

#14720 chore: Redirect stderr to unit test logs
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#14724 fix: use localization strings properly for font slider
  src/script/page/MainContent/panels/preferences/OptionPreferences.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14726 runfix: correct user warning width in conversation [SQSERVICES-1855]
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#14729 chore: Improve koSubscribableChildren types
  src/script/util/ComponentUtil.ts
Labels: type: chore 🧹, 👕 size: XS

#14730 refactor: Cleanup knockout test helpers
  test/helper/knockoutHelpers.ts
Labels: type: refactoring 🛠, 👕 size: S

#14592 feat: user leaves mls conference call
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/calling/CallingRepository.ts
  src/script/view_model/CallingViewModel.mocks.ts
  src/script/view_model/CallingViewModel.test.ts
  src/script/view_model/CallingViewModel.ts
  yarn.lock
Labels: type: feature / request ✨, comp: calling, 👕 size: M

#14732 runfix: prevent user warning from displaying after group creation [SQ…
  src/script/components/MessagesList/Message/MemberMessage.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#14673 feat: Display system message when message was partially sent [FS-1570]
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/ContentMessage/Warnings/FailedToSend/FailedToSend.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/Warnings/FailedToSend/FailedToSend.tsx
  src/script/components/MessagesList/Message/ContentMessage/Warnings/FailedToSend/index.ts
  src/script/components/MessagesList/Message/ContentMessage/Warnings/Warnings.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/Warnings/index.ts
  src/script/entity/Conversation.ts
Labels: type: feature / request ✨, 👕 size: L

#14734 chore: adapt new core version
  package.json
  src/script/calling/mlsConference.ts
  src/script/view_model/CallingViewModel.ts
  yarn.lock
Labels: comp: calling, type: chore 🧹, 👕 size: S

#14736 fix: Reset roles when a member leaves a conversation [FS-1494]
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#14755 fix: Detect deleted clients when sending a message [FS-1090]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#14756 feat: Fully enable coreCrypto
  src/script/service/CoreSingleton.ts
Labels: type: feature / request ✨, 👕 size: XS
