Repository wireapp/wire-webapp, pull requests merged in 2023-06, with the labels that each got.

#15280 runfix: differentiate converstion rename event by name
  src/script/components/MessagesList/MessageList.tsx
  src/script/entity/message/SystemMessage.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15281 feat: enforce self deleting message group settings in conversations [SQSERVICES-2024]
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/RightSidebar.tsx
  src/script/page/RightSidebar/TimedMessages/TimedMessages.tsx
Labels: type: feature / request ✨, 👕 size: S

#15298 runfix: periodic renew keying material
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/mls/MLSConversations.test.ts
  src/script/mls/MLSConversations.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#15312 runfix: bump core crypto to fix self key being consumed when creating…
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#15315 runfix: remove creator client field [WPB-598]
  package.json
  src/script/conversation/ConversationRepository.ts
  yarn.lock
Labels: 👕 size: S

#15314 feat: clean unaccepted oauth scopes [SQSERVICES-2075/SQSERVICES-2076 ]
  src/script/auth/page/OAuthPermissions.tsx
  src/script/auth/util/oauthUtil.ts
Labels: type: feature / request ✨, 👕 size: S

#15319 fix: avoid displaying users without metadata nor messages [WBP-1073]
  src/script/conversation/ConversationState.ts
  src/script/entity/Conversation.ts
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#15341 fix: prevent guest icon to show for federated users WPB-1987
  src/script/components/InputBar/components/MentionSuggestions/MentionSuggestionsItem.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageHeader.tsx
  src/script/components/UserList/components/UserListItem/UserListItem.tsx
  src/script/components/calling/CallParticipantsListItem/CallParticipantsListItem.tsx
  src/script/components/panel/UserDetails.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15343 feat: add manual deploy for mls
  .github/workflows/deploy-to-test-env.yml
Labels: type: feature / request ✨, comp: infrastructure, 👕 size: XS

#15344 runfix: subscribe to mls conversation state change in conversation state
  src/script/conversation/ConversationState.ts
  src/script/mls/mlsConversationState/mlsConversationState.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15345 runfix: don't include conv domain when deleting conv form the store
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
Labels: type: bug / fix 🐞, 👕 size: S

#15346 fix: reset active menu button when no menu is open and clicked on message wrapper
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageActions.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#14976 feat: AWS linux 2 migration of webapp environment
  .elasticbeanstalk/config.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/test_build_deploy.yml
  Procfile
  bin/zip.js
  server/.ebextensions/00-environment.config
  server/.platform/nginx/conf.d/proxy.conf
Labels: blocked: do-not-merge, type: feature / request ✨, comp: infrastructure, 👕 size: S

#15368 runfix: wipe conversation from mls state after it was deleted
  package.json
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/mls/mlsConversationState/mlsConversationState.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#15396 feat: qa util for mls and mls migration
  src/script/conversation/ConversationSelectors.ts
  src/script/util/DebugUtil.ts
Labels: type: feature / request ✨, 👕 size: S

#15397 fix: clear content bug [WPB-2552]
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15398 fix: limit interaction with unavailable users (WPB-2323)
  src/script/components/panel/UserActions.test.tsx
  src/script/components/panel/UserActions.tsx
  src/script/page/RightSidebar/GroupParticipantUser/GroupParticipantUser.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#15401 runfix: join only established self mls group, otherwise establish
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#15404 fix: accidentally removed translation [WPB-1341]
  src/i18n/en-US.json
Labels: type: bug / fix 🐞, 👕 size: XS

#15405 fix: update missing translation for RC
  src/i18n/en-US.json
Labels: type: bug / fix 🐞, 👕 size: XS
