Repository wireapp/wire-webapp, pull requests merged in 2024-06, with the labels that each got.

#17502 runfix: revert a commit that breaks some user interactions
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/Message/index.ts
  src/script/components/MessagesList/Message/index.tsx
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: M

#17503 fix: Incoming connection request is not highlighted (#17449)
  src/script/page/LeftSidebar/panels/Conversations/ConnectionRequests/ConnectionRequests.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConnectionRequests/ConnectionRequests.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConnectionRequests/index.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#17504 runfix: return mls feature config even if it's disabled [WPB-9143]
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/MLS.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17508 chore: Implement locators for automation on the new navigation (WPB-9506)
  src/script/page/LeftSidebar/panels/Conversations/ConversationHeader/ConversationHeader.styles.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationHeader/ConversationHeader.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTab/ConversationFolderTab.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTab/ConversationTab.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/LeftSidebar/panels/ListWrapper.tsx
  src/script/page/LeftSidebar/panels/Preferences.tsx
Labels: type: chore 🧹, 👕 size: S

#17505 runfix: mls 1:1 accept flicker
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/view_model/ActionsViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: M

#17510 runfix: address design review (WPB-8687 7374 7357)
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.styles.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.styles.ts
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.tsx
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: M

#17511 chore: deploy the new-navigation branch on the edge environment
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#17514 chore: merge dev to new navigation
  .github/workflows/ci.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/generate_test_report.yml
  .github/workflows/publish.yml
  .github/workflows/pull_translations.yml
  .github/workflows/sync_translations.yml
  .nvmrc
  package.json
  src/i18n/fr-FR.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/pt-BR.json
  src/i18n/si-LK.json
  src/i18n/sr-SP.json
  src/i18n/uk-UA.json
  src/i18n/zh-CN.json
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.ts
  src/script/components/DetachedWindow/DetachedWindow.tsx
  src/script/components/MessagesList/Message/E2EIVerificationMessage/E2EIVerificationMessage.tsx
  src/script/components/RichTextEditor/RichTextEditor.tsx
  src/script/components/utils/InViewport.tsx
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/hooks/useCertificateStatus.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/DevicesPreference.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/DetailedDevice.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.test.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/MLS.ts
  src/script/util/TimeUtil.ts
  src/script/view_model/ActionsViewModel.ts
  yarn.lock
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XXL

#17515 chore: run publish job on the new-navigation branch
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#17516 chore: merge dev into new-navigation
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#17386 feat: Jump to last message WPB-6518
  setupTests.js
  src/script/components/Conversation/Conversation.tsx
  src/script/components/MessagesList/JumpToLastMessageButton.test.tsx
  src/script/components/MessagesList/JumpToLastMessageButton.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.styles.ts
  src/script/components/MessagesList/MessageList.test.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/components/utils/InViewport.tsx
  src/script/entity/Conversation.ts
  src/script/page/AppMain.tsx
  src/script/util/conversationMessages.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: feature / request ✨, 👕 size: L

#17517 chore: merge dev to new navigation
  setupTests.js
  src/script/components/Conversation/Conversation.tsx
  src/script/components/MessagesList/JumpToLastMessageButton.test.tsx
  src/script/components/MessagesList/JumpToLastMessageButton.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.styles.ts
  src/script/components/MessagesList/MessageList.test.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/components/utils/InViewport.tsx
  src/script/entity/Conversation.ts
  src/script/page/AppMain.tsx
  src/script/util/conversationMessages.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: chore 🧹, 👕 size: L

#17518 feat: add avs version to webapp [WPB-4969]
  server/config/client.config.ts
  server/config/config.types.ts
  server/config/index.ts
  src/i18n/en-US.json
  src/script/page/MainContent/panels/preferences/AboutPreferences.tsx
  src/script/util/Environment.ts
Labels: type: feature / request ✨, 👕 size: S

#17523 runfix: address new navigation bug reports
  package.json
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/DeviceDetailsPreferences/DeviceDetailsPreferences.tsx
  src/style/panel/panel.less
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17526 fix: prevent reactions from showing zero (WPB-9607)
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPill.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17528 chore: merge latest dev to new navigation
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPill.tsx
  src/script/components/MessagesList/Message/MemberMessage/MessageContent.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/style/content/conversation/message-list.less
Labels: type: chore 🧹, 👕 size: M

#17525 feat: add avs and desktop versions to preferences-about [WPB-4969]
  src/i18n/en-US.json
  src/script/Config.ts
  src/script/conversation/linkPreviews/index.ts
  src/script/page/LeftSidebar/panels/Preferences.test.tsx
  src/script/page/LeftSidebar/panels/Preferences.tsx
  src/script/page/MainContent/panels/preferences/AboutPreferences.tsx
  src/script/util/Environment.ts
Labels: type: feature / request ✨, 👕 size: S

#17546 feat: add avs and desktop versions to preferences-about [WPB-4969]
  src/i18n/en-US.json
  src/script/Config.ts
  src/script/conversation/linkPreviews/index.ts
  src/script/page/LeftSidebar/panels/Preferences.test.tsx
  src/script/page/LeftSidebar/panels/Preferences.tsx
  src/script/page/MainContent/panels/preferences/AboutPreferences.tsx
  src/script/util/Environment.ts
Labels: type: feature / request ✨, 👕 size: S

#17554 fix: remove user details avatar flicker [WPB-5299]
  src/script/page/RightSidebar/RightSidebar.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17512 refactor: Use webgl to compute video blurring
  package.json
  src/script/media/BackgroundBlurrer/BackgroundBlurrer.ts
  src/script/media/BackgroundBlurrer/fragmentShader.glsl
  src/script/media/BackgroundBlurrer/index.ts
  src/script/media/BackgroundBlurrer/vertexShader.glsl
  src/script/media/VideoBackgroundBlur.ts
  webpack.config.common.js
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: L

#17326 feat(debug): Allow blurring video background during calls [WPB-724]
  .eslintrc.js
  .gitattributes
  .prettierignore
  assets/mediapipe-models/selfie_segmenter.tflite
  jest.config.ts
  package.json
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
  src/script/media/BackgroundBlurrer/BackgroundBlurrer.ts
  src/script/media/BackgroundBlurrer/fragmentShader.glsl
  src/script/media/BackgroundBlurrer/index.ts
  src/script/media/BackgroundBlurrer/vertexShader.glsl
  src/script/media/MediaStreamHandler.ts
  src/script/media/VideoBackgroundBlur.ts
  src/script/util/DebugUtil.ts
  webpack.config.common.js
  yarn.lock
Labels: type: feature / request ✨, comp: calling, 👕 size: XL

#17560 feat(calling): Add video background blur in the calling UI [WPB-724]
  assets/mediapipe-models/selfie_segmenter.tflite
  src/i18n/en-US.json
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/media/VideoBackgroundBlur.ts
  src/script/util/DebugUtil.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: M

#17563 chore(copy): updating outdated text [WPB-7110]
  src/i18n/en-US.json
  src/script/components/userDevices/NoDevicesFound.tsx
Labels: type: chore 🧹, 👕 size: S

#17566 runfix: write blurred background js file to an accessible server path
  src/script/media/VideoBackgroundBlur.ts
  webpack.config.common.js
Labels: type: bug / fix 🐞, 👕 size: XS

#17567 runfix: Disable background blurring if webgl is not available
  server/Server.ts
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17569 runfix: Avoid loosing the blurred background state when call is minimized
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17570 runfix: bump core with version that fixes mls non-fed calls
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#17571 runfix: bump core with version that fixes mls non-fed calls (#17570)
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17572 chore(actions): add new options for manual deploy to new envs
  .github/workflows/deploy-to-test-env.yml
  server/package.json
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#17574 runfix: Add ARIA label to the "Jump to the last message" button WPB-6518
  src/i18n/en-US.json
  src/script/components/MessagesList/JumpToLastMessageButton.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17576 runfix: improve user entity type guard [WPB-9703]
  src/script/guards/Panel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17582 feat(ci): update pipeline to new dev env [WPB-6227]
  .elasticbeanstalk/config.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/publish.yml
  server/package.json
  src/script/message/MessageHasher.ts
Labels: type: feature / request ✨, comp: infrastructure, 👕 size: S

#17581 feat: Close "Create Group" modal on Esc key press on the first step WPB-9718
  src/script/components/ModalComponent.tsx
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/util/KeyboardUtil.ts
Labels: type: feature / request ✨, 👕 size: S

#17594 chore: merge dev
  .elasticbeanstalk/config.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/publish.yml
  app-config/package.json
  package.json
  server/package.json
  server/yarn.lock
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/script/components/MessagesList/JumpToLastMessageButton.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/guards/Panel.ts
  src/script/message/MessageHasher.ts
  yarn.lock
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XXL

#17595 runfix: misaligned import/export view
  src/script/components/ConnectRequests/ConnectionRequests.tsx
  src/script/components/TitleBar/TitleBar.tsx
  src/script/components/calling/CallingCell.tsx
  src/script/page/AppMain.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.tsx
  src/script/page/state.ts
  src/script/router/routerBindings.ts
  src/script/view_model/ContentViewModel.ts
  src/style/content/history-export-import.less
Labels: type: bug / fix 🐞, 👕 size: S

#17596 runfix: slow internet dark mode
  src/style/list/list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#17597 refactor: Use KeyboardUtil more often
  src/script/auth/component/AccountForm.tsx
  src/script/auth/page/EntropyContainer.tsx
  src/script/auth/page/HistoryInfo.tsx
  src/script/auth/page/OAuthPermissions.tsx
  src/script/components/RichTextEditor/nodes/Mention.tsx
  src/script/util/KeyboardUtil.ts
Labels: type: refactoring 🛠, 👕 size: S

#17600 runfix: change dark mode slow indicator styles
  src/style/list/list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#17605 runfix: Allow blurred background to be enabled before the call starts
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
  src/script/media/BackgroundBlurrer/fragmentShader.glsl
  src/script/media/VideoBackgroundBlur.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#17615 runfix: Improve background edge blurring
  src/script/media/BackgroundBlurrer/fragmentShader.glsl
Labels: type: bug / fix 🐞, 👕 size: S

#17618 perf: Improve caching of root js files
  server/Server.ts
  src/page/auth.ejs
  src/page/index.ejs
Labels: 👕 size: S

#17617 chore: type safe icons
  .eslintrc.js
  .gitignore
  .prettierignore
  bin/generate_icon_names.ts
  package.json
  src/script/auth/component/WirelessContainer.tsx
  src/script/auth/page/CustomEnvironmentRedirect.test.tsx
  src/script/auth/page/CustomEnvironmentRedirect.tsx
  src/script/auth/page/Index.test.tsx
  src/script/auth/page/Index.tsx
  src/script/auth/page/Login.test.tsx
  src/script/auth/page/PhoneLogin.test.tsx
  src/script/auth/page/SetAccountType.test.tsx
  src/script/auth/page/SetEmail.test.tsx
  src/script/auth/page/SetHandle.test.tsx
  src/script/auth/page/SetPassword.test.tsx
  src/script/auth/page/TeamName.test.tsx
  src/script/auth/util/SVGProvider.ts
  src/script/components/Avatar/AvatarImage.test.tsx
  src/script/components/Avatar/ServiceAvatar.test.tsx
  src/script/components/Avatar/TemporaryGuest.test.tsx
  src/script/components/Avatar/UserAvatar.test.tsx
  src/script/components/Icon.tsx
  src/script/components/calling/CallingCell.tsx
  src/script/components/calling/ParticipantMicOnIcon.tsx
  src/script/components/panel/PanelActions/PanelActions.tsx
  src/script/page/RightSidebar/ConversationDetails/utils/getConversationActions.ts
  src/script/ui/ContextMenu.tsx
  src/script/util/ArrayUtil.ts
  src/script/util/SVGProvider/SVGProvider.ts
  src/script/util/SVGProvider/index.ts
  src/script/util/TypeUtil.ts
  src/script/util/test/mock/SVGProviderMock.ts
Labels: type: chore 🧹, 👕 size: M

#17626 fix: Improve asset downloading and caching [WPB-2829]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17637 runfix: make no common protocol message more generic
  src/i18n/en-US.json
Labels: type: bug / fix 🐞, 👕 size: XS

#17640 fix: Do not intercept right click on rendered message links [WPB-6546]
  src/script/components/Conversation/Conversation.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17641 runfix: implement missing locator for automation (WPB-9506)
  src/script/page/LeftSidebar/panels/Conversations/ConversationTab/ConversationFolderTab.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17644 fix: Save edited message state in editor draft [WPB-9846]
  src/script/components/InputBar/InputBar.tsx
  src/script/components/InputBar/util/DraftStateUtil.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17646 runfix: Avoid caching the config file
  src/page/auth.ejs
  src/page/index.ejs
Labels: type: bug / fix 🐞, 👕 size: XS

#17648 chore: merge `dev` branch
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/page/auth.ejs
  src/page/index.ejs
  src/script/components/Conversation/Conversation.tsx
  src/script/components/InputBar/InputBar.tsx
  src/script/components/InputBar/util/DraftStateUtil.ts
  src/script/components/MessagesList/MessageList.tsx
Labels: type: chore 🧹, 👕 size: XXL

#17649 chore: cleanup logs
  src/script/conversation/ConversationRepository.ts
  src/script/main/app.ts
  src/script/user/UserRepository.ts
  src/script/util/DataDog.ts
Labels: type: chore 🧹, 👕 size: S

#17655 chore: Improve coreCrypto migration logs
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#17656 chore: initialize datadog as soon as possible
  src/script/main/app.ts
Labels: type: chore 🧹, 👕 size: S

#17657 chore: merge branch 'dev' into new-navigation
  package.json
  src/script/main/app.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#17658 chore: Transform icons html to valid jsx syntax
  bin/generate_react_icons.ts
Labels: type: chore 🧹, 👕 size: S

#17659 runfix: address misaligned system messages (WPB-9825)
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.styles.ts
  src/script/components/MessagesList/Message/DecryptErrorMessage.tsx
  src/script/components/MessagesList/Message/SystemMessage/SystemMessage.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17660 chore: merge branch 'dev' into new-navigation
  package.json
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.styles.ts
  src/script/components/MessagesList/Message/DecryptErrorMessage.tsx
  src/script/components/MessagesList/Message/SystemMessage/SystemMessage.tsx
  src/script/entity/Conversation.ts
  src/script/entity/message/Button.ts
  src/script/entity/message/FileAsset.ts
  src/script/entity/message/MediumImage.ts
  src/script/entity/message/MemberMessage.ts
  src/script/entity/message/Message.ts
  src/script/entity/message/Text.ts
  src/script/util/conversationMessages.test.ts
  tsconfig.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: M
