Repository wireapp/wire-webapp, pull requests merged in 2024-04, with the labels that each got.

#17198 runfix: show initial popup for existing clients after E2EI activation
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17201 runfix: adjust responsive design to new sidebar (WPB-7212)
  src/script/components/TitleBar/TitleBar.tsx
  src/script/page/AppMain.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/style/foundation/framework.less
Labels: type: bug / fix 🐞, 👕 size: S

#17204 runfix: team feature config updates
  src/script/team/TeamRepository.test.ts
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17206 runfix: show preferences titlebar back button (WPB-7212)
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17211 chore: Upgrade coreCrypto to rc55 [WPB-7400]
  package.json
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.test.ts
  src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.ts
  src/script/components/VerificationBadge/VerificationBadges.tsx
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.test.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
  src/script/properties/PropertiesRepository.ts
  yarn.lock
Labels: comp: preferences, type: chore 🧹, 👕 size: M

#17183 feat: push to talk mvp
  package.json
  src/script/calling/CallingRepository.ts
  src/script/components/Conversation/Conversation.tsx
  src/script/components/InputBar/components/MessageTimerButton/MessageTimerButton.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageActions.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/MessageReactions.tsx
  src/script/components/calling/CallingCell.test.tsx
  src/script/components/calling/CallingCell.tsx
  src/script/hooks/usePushToTalk/usePushToTalk.test.ts
  src/script/hooks/usePushToTalk/usePushToTalk.ts
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/TemporatyGuestConversations.tsx
  src/script/properties/PropertiesRepository.ts
  src/script/properties/PropertiesType.ts
  src/script/util/DebugUtil.ts
  src/script/util/KeyboardUtil.ts
  yarn.lock
Labels: type: feature / request ✨, comp: calling, comp: preferences, 👕 size: L

#17207 refactor: init 1to1 conversations
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: refactoring 🛠, 👕 size: M

#17215 runfix: use fading scrollbar for new sidebar (WPB-7412)
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17216 runfix: prevent loading of unreachable users (WPB-7377)
  src/script/conversation/ConversationState.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17220 runfix: initialising 1:1 conversation between team members
  package.json
  src/i18n/en-US.json
  src/script/components/Modals/UserModal/UserModal.tsx
  src/script/components/panel/SingleAction/SingleAction.tsx
  src/script/components/panel/UserActions.test.tsx
  src/script/components/panel/UserActions.tsx
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationState.ts
  src/script/conversation/MessageRepository.ts
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: L

#17250 runfix: check registered ca directly in cc
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17252 runfix: use fading scrollbar for new sidebar (WPB-7412)
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: XS

#17274 perf: Improve polling the team feature config [WPB-8734]
  src/script/team/TeamRepository.ts
  src/script/util/DebugUtil.ts
Labels: 👕 size: S

#17273 feat: add literal string replacement support for react localizer util
  src/script/util/LocalizerUtil/ReactLocalizerUtil.test.tsx
  src/script/util/LocalizerUtil/ReactLocalizerUtil.ts
  src/script/util/LocalizerUtil/ReactLocalizerUtil.tsx
Labels: type: feature / request ✨, 👕 size: M

#17272 fix: handle safeStorage encryption errors (WPB-8676)
  server/config/client.config.ts
  server/config/env.ts
  src/i18n/en-US.json
  src/script/auth/component/Exception.tsx
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/LabeledError.ts
  src/script/auth/page/CheckPassword.tsx
  src/script/auth/page/Login.tsx
  src/script/strings.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17278 runfix: Make sure newly created 1to1 conversation have updated users
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17279 refactor: use call state view mode instead of multitasking
  src/script/calling/CallState.ts
  src/script/components/Conversation/Conversation.tsx
  src/script/components/calling/CallingCell.test.tsx
  src/script/components/calling/CallingCell.tsx
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/fullscreenVideoCall.test.tsx
  src/script/notification/NotificationRepository.test.ts
  src/script/notification/NotificationRepository.ts
  src/script/page/AppMain.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/TemporatyGuestConversations.tsx
  src/script/view_model/CallingViewModel.mocks.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/MainViewModel.ts
Labels: comp: calling, type: refactoring 🛠, 👕 size: M

#17286 runfix: Properly send read receipts for 1to1 conversation asset messages
  src/script/assets/AssetRepository.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/event/preprocessor/ReceiptsMiddleware.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17241 chore: Cleanup of repo and dependencies [WPB-8619]
  .browserslistrc
  .gitignore
  .idea/codeStyleSettings.xml
  .idea/modules.xml
  .idea/wire-webapp.iml
  babel.config.js
  package.json
  webpack.config.js
  yarn.lock
Labels: type: chore 🧹, 👕 size: M

#17289 fix: do not try to initialise 1:1 conversation with a bot
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17290 chore: assign revised string to safe storage error (WPB-8676)
  src/i18n/en-US.json
  src/script/auth/component/Exception.tsx
  src/script/strings.ts
Labels: type: chore 🧹, 👕 size: S

#17305 runfix: Avoid race condition when team is deleted
  src/script/main/app.ts
  src/script/team/TeamRepository.test.ts
  src/script/team/TeamRepository.ts
  test/helper/TestFactory.js
Labels: type: bug / fix 🐞, 👕 size: S

#17306 fix: prevent SSO login redirect for guest conversations (8827)
  src/script/auth/page/Login.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17317 ci: production builds to 'main' wire-builds branch (#17311)
  .github/workflows/publish.yml
Labels: comp: infrastructure, 👕 size: S

#17321 chore(ci): fix bash condition to publish chart versions
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#17319 feat: Use team config mls ciphersuite settings
  package.json
  server/config/client.config.ts
  server/config/env.ts
  src/__mocks__/@wireapp/core.ts
  src/script/auth/module/action/ClientAction.ts
  src/script/client/clientMLSConfig.ts
  src/script/components/panel/ConversationProtocolDetails/ConversationProtocolDetails.test.tsx
  src/script/components/panel/ConversationProtocolDetails/ConversationProtocolDetails.tsx
  src/script/main/app.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/E2EIdentity.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/MLS.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/useE2EIFeatureConfigUpdate.ts
  src/script/service/CoreSingleton.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#17323 runfix: do not allow a new client to snooze the enrollment [WPB-8878]
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17293 feat: picture in picture calling PoC [WPB-7221]
  src/script/auth/page/SingleSignOn.tsx
  src/script/calling/CallState.ts
  src/script/components/AppContainer/AppContainer.tsx
  src/script/components/Conversation/Conversation.tsx
  src/script/components/DetachedWindow/DetachedWindow.tsx
  src/script/components/DetachedWindow/index.ts
  src/script/components/calling/CallingCell.tsx
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/DetachedCallingCell/DetachedCallingCell.tsx
  src/script/components/calling/DetachedCallingCell/DetachedCallingFeature.state.ts
  src/script/components/calling/DetachedCallingCell/index.ts
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/TemporatyGuestConversations.tsx
  src/script/util/DOM/caculateChildWindowPosition.ts
  src/script/util/DebugUtil.ts
  src/style/list/conversation-list-cell.less
Labels: type: feature / request ✨, comp: calling, 👕 size: L

#17343 fix: address e2ei enrollment process with multiple cipher suites
  package.json
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/MLS.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17344 runfix: Correctly check if user has mls device before performing mls operations
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  src/script/main/app.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S
