Repository wireapp/wire-webapp, pull requests merged in 2024-10, with the labels that each got.

#18127 fix(ConversationTabs): internal env disclaimer styles
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.styles.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18128 feat: add sidebar Countly events [WPB-11370]
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/tracking/EventName.ts
Labels: type: feature / request ✨, 👕 size: S

#18129 fix(ConversationDetails): the block user button text [WPB-11005]
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/ConversationDetails/utils/getConversationActions.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18134 fix: input autocomplete background [WPB-9764]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#18136 fix(CallingHeader): popout button styles [WPB-9780]
  src/i18n/en-US.json
  src/script/components/calling/CallingCell/CallingHeader/CallingHeader.tsx
Labels: type: bug / fix 🐞, 👕 size: S, echoes: features

#18159 chore: Bump @wireapp/avs from 9.9.6 to 9.9.8
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#18156 chore: bump to latest core & api-client for abort controller
  package.json
  src/script/components/ConfigToolbar/ConfigToolbar.tsx
  yarn.lock
Labels: type: chore 🧹, 👕 size: M

#18163 fix: add better logging for countly
  server/Server.ts
  server/config/client.config.ts
  server/config/env.ts
  server/config/server.config.ts
  src/page/auth.ejs
  src/page/index.ejs
  src/script/tracking/Countly.helpers.ts
  src/script/tracking/EventTrackingRepository.ts
  webpack.config.common.js
Labels: type: bug / fix 🐞, 👕 size: S

#18165 fix(countly): prevent the device ID to be set as undefined.
  src/script/tracking/EventTrackingRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18160 feat(AvatarImage): strips profile picture exif data [WPB-11172]
  src/script/assets/AssetRepository.ts
  src/script/util/ImageUtil.test.ts
  src/script/util/ImageUtil.ts
Labels: type: feature / request ✨, 👕 size: M

#18166 fix(countly): initialize countly inside the app again
  server/Server.ts
  server/config/server.config.ts
  src/page/auth.ejs
  src/page/index.ejs
  src/script/tracking/EventTrackingRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18167 fix(countly): remove app_key from template
  server/Server.ts
  server/config/server.config.ts
  src/page/auth.ejs
  src/page/index.ejs
  src/script/tracking/EventTrackingRepository.ts
  webpack.config.common.js
Labels: type: bug / fix 🐞, 👕 size: S

#18168 feat: Interpret frown emoticons as slightly frowning face
  src/script/components/RichTextEditor/plugins/InlineEmojiReplacementPlugin/inlineReplacements.ts
Labels: type: feature / request ✨, 👕 size: XS

#18170 feat: Allow selecting mics and speakers configured in the OS [WPB-11571,WPB-11329]
  src/script/media/MediaDevicesHandler.test.ts
  src/script/media/MediaDevicesHandler.ts
Labels: type: feature / request ✨, 👕 size: S

#18174 fix: Do not use detached window for camera source
  src/script/media/MediaStreamHandler.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18193 fix(PrimaryModal): allows no password for downloading backup [WPB-11590]
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
Labels: type: bug / fix 🐞, 👕 size: XS, echoes: bugs

#18197 feat(Conversations): update conversation search empty state [WPB-11618]
  src/i18n/en-US.json
  src/script/page/LeftSidebar/panels/Conversations/ConversationCallingView/ConversationCallingView.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationSidebar/ConversationSidebar.styles.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationSidebar/ConversationSidebar.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.styles.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/LeftSidebar/panels/Conversations/EmptyConversationList/EmptyConversationList.tsx
  src/script/page/LeftSidebar/panels/Conversations/FilteredGroupConversations/FilteredGroupConversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/FilteredGroupConversations/index.ts
  src/script/page/LeftSidebar/panels/Conversations/Helpers.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/getGroupParticipantsConversation.ts
  src/script/page/LeftSidebar/panels/Conversations/helpers.tsx
  src/style/list/list.less
Labels: type: feature / request ✨, 👕 size: XL

#18199 feat: Adjust in call reactions styles (WPB-10241)
  src/script/components/calling/FullscreenVideoCall.tsx
  src/style/foundation/video-calling.less
Labels: type: feature / request ✨, 👕 size: S, echoes: features

#18200 feat(VideoAsset): handle unplayable videos [WPB-11667]
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/ContentMessage/asset/VideoAsset.tsx
  src/script/entity/message/Asset.ts
  src/script/tracking/EventName.ts
  src/style/components/asset/video-asset.less
Labels: type: feature / request ✨, 👕 size: M

#18202 feat: Use help icon in sidebar
  package.json
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#18205 feat: Use support icon for sidebar
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
Labels: type: feature / request ✨, 👕 size: XS

#18206 fix: rely on remote conversation for read receipt settings [WPB-11212]
  src/script/conversation/ConversationMapper.test.ts
  src/script/conversation/ConversationMapper.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18228 chore: Bump core to 46.5.0
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#18208 feat(user-migration): added banner to start migration flow [WPB-11265]
  src/i18n/en-US.json
  src/script/components/BannerPortal/BannerPortal.styles.ts
  src/script/components/BannerPortal/BannerPortal.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationSidebar/ConversationSidebar.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/TeamCreation/TeamCreation.styles.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/TeamCreation/TeamCreationBanner.tsx
Labels: type: feature / request ✨, 👕 size: M, echoes/initiative: personal-users-to-team-users...

#18234 feat(team-creation): add FF for team creation flow [WPB-11265]
  server/config/client.config.ts
  server/config/env.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
Labels: type: feature / request ✨, 👕 size: XS, echoes/initiative: personal-users-to-team-users...

#18236 revert: PrimaryModal refactor
  src/script/components/Modals/PrimaryModal/CheckboxOption/CheckboxOption.tsx
  src/script/components/Modals/PrimaryModal/GuestLinkPasswordForm/GuestLinkPasswordForm.styles.ts
  src/script/components/Modals/PrimaryModal/GuestLinkPasswordForm/GuestLinkPasswordForm.tsx
  src/script/components/Modals/PrimaryModal/InputForm/InputForm.tsx
  src/script/components/Modals/PrimaryModal/JoinGuestLinkPasswordForm/JoinGuestLinkPasswordForm.styles.ts
  src/script/components/Modals/PrimaryModal/JoinGuestLinkPasswordForm/JoinGuestLinkPasswordForm.tsx
  src/script/components/Modals/PrimaryModal/PasswordAdvancedSecurityForm/PasswordAdvancedSecurityForm.tsx
  src/script/components/Modals/PrimaryModal/PasswordForm/PasswordForm.tsx
  src/script/components/Modals/PrimaryModal/PrimaryButton/PrimaryButton.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.styles.ts
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalButtons/PrimaryModalButtons.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalHeader/PrimaryModalHeader.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalLoading/PrimaryModalLoading.styles.ts
  src/script/components/Modals/PrimaryModal/PrimaryModalShell/PrimaryModalShell.tsx
  src/script/components/Modals/PrimaryModal/SecondaryButton/SecondaryButton.tsx
Labels: 👕 size: XXL

#18237 fix(VideoAsset): dark mode error message color [WPB-11667]
  src/style/components/asset/video-asset.less
Labels: type: bug / fix 🐞, 👕 size: XS
