Repository wireapp/wire-webapp, pull requests merged in 2024-05, with the labels that each got.

#17349 fix: Use correct removal key when creating conversations
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17365 runfix: bump core to fix the mls config being overwritten
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17366 perf: Improve polling the team feature config [WPB-8734]
  src/script/team/TeamRepository.ts
  src/script/util/DebugUtil.ts
Labels: 👕 size: S

#17367 runfix: bump cc with version that fixes multiple ciphersuites issue
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17369 refactor: readonly conversation indication
  src/i18n/en-US.json
  src/script/components/Conversation/Conversation.tsx
  src/script/components/Conversation/ReadOnlyConversationMessage.tsx
  src/script/components/Conversation/ReadOnlyConversationMessage/ReadOnlyConversationMessage.test.tsx
  src/script/components/Conversation/ReadOnlyConversationMessage/ReadOnlyConversationMessage.tsx
  src/script/entity/Conversation.ts
  src/script/util/LocalizerUtil/ReactLocalizerUtil.test.tsx
  src/script/util/LocalizerUtil/ReactLocalizerUtil.ts
  src/script/util/LocalizerUtil/ReactLocalizerUtil.tsx
Labels: type: refactoring 🛠, 👕 size: XL

#17370 runfix: fix german translations for readonly conversation
  src/i18n/de-DE.json
Labels: type: bug / fix 🐞, 👕 size: XS

#17372 chore: add sinhala to localizer
  src/script/localization/Localizer.ts
Labels: type: chore 🧹, 👕 size: XS

#17374 runfix: address responsivness of new navigation v2 (WPB-7212)
  src/script/page/LeftSidebar/panels/Conversations/Conversations.styles.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: S

#17373 fix: delete conversation locally if its deleted on BE already [WPB-8994]
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XXL

#17375 fix: show delivered status independently of read receipt setting (WPB-9040)
  src/script/components/MessagesList/Message/ReadIndicator/ReadIndicator.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17377 chore: use up to date URL environment variables (WPB-6662)
  app-config/package.json
Labels: type: chore 🧹, 👕 size: XS

#17378 fix: open a 1:1 with a bot from conversation details [WPB-5887]
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/GroupParticipantService/GroupParticipantService.tsx
  src/script/page/RightSidebar/RightSidebar.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17379 feat: Fixing workflow env vars
  .github/workflows/pr-auto-merge.yml
  .github/workflows/rename-cherry-pick-pr.yml
Labels: comp: infrastructure, 👕 size: XS

#17383 runfix: migrate messages from proteus to mls 1:1
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/event/EventService.ts
  test/unit_tests/event/EventServiceCommon.js
Labels: type: bug / fix 🐞, 👕 size: S

#17385 runfix: start listening for new crl points on e2ei service init
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17382 runfix: multiple proteus 1:1 conversations with a team member [WPB-9063]
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  test/helper/ConversationGenerator.ts
Labels: type: bug / fix 🐞, 👕 size: M

#17403 fix: multiple proteus 1:1 conversations with team member [WPB-9063]
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  test/helper/ConversationGenerator.ts
Labels: type: bug / fix 🐞, 👕 size: M

#17380 fix: unread message clearing on convo change
  src/script/entity/Conversation.test.ts
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17350 runfix: check if IndexDB enabled in FireFox and extend the message in "Unsupported browser" page
  src/i18n/en-US.json
  src/page/basicBrowserFeatureCheck.js
  src/page/unsupported.ejs
  src/script/browser/CheckBrowser.ts
  src/script/strings.ts
Labels: type: bug / fix 🐞, 👕 size: M

#17405 runfix: do not overwrite service id when opening the service details
  src/script/components/Conversation/Conversation.tsx
  src/script/page/RightSidebar/RightSidebar.tsx
  src/script/page/state.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17406 fix: prevent progress bar flicker on app init (WPB-7378)
  src/style/components/loading-bar.less
Labels: type: bug / fix 🐞, 👕 size: XS

#17407 runfix: fresh client snoozable after oidc failure [WPB-8878]
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17409 runfix: adress responsivness of the preferences sections (WPB-7214)
  src/script/page/MainContent/panels/preferences/avPreferences/DeviceSelect.tsx
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.styles.ts
  src/script/page/MainContent/panels/preferences/components/PreferencesPage.tsx
  src/style/content/preferences.less
  src/style/content/preferences/devices.less
Labels: type: bug / fix 🐞, 👕 size: S

#17410 fix: align setting header to the left (WPB-8832)
  src/style/list/conversations.less
  src/style/list/list.less
Labels: type: bug / fix 🐞, 👕 size: S

#17371 runfix: 1:1 conversation with user without key packages
  src/i18n/en-US.json
  src/script/components/Conversation/ReadOnlyConversationMessage/ReadOnlyConversationMessage.test.tsx
  src/script/components/Conversation/ReadOnlyConversationMessage/ReadOnlyConversationMessage.tsx
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/view_model/ActionsViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: M

#17412 runfix: 1:1 conversation with user without key packages (#17371)
  src/i18n/en-US.json
  src/script/components/Conversation/ReadOnlyConversationMessage/ReadOnlyConversationMessage.test.tsx
  src/script/components/Conversation/ReadOnlyConversationMessage/ReadOnlyConversationMessage.tsx
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/view_model/ActionsViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: M

#17414 runfix: Make sure newly created 1to1 conversation have updated user entities
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17415 chore: Implement minimal supported browser to Chrome, FireFox, Edge, versions released last year WPB-8625
  .browserslistrc
Labels: type: chore 🧹, 👕 size: XS

#17420 chore: bump avs to 9.7 [WPB-9059]
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#17417 feat: view port observer on lost visibility
  src/script/components/utils/InViewport.tsx
  src/script/util/DOM/viewportObserver.ts
Labels: type: feature / request ✨, 👕 size: S

#17432 refactor: store initial message in conversation entity
  src/script/components/Conversation/Conversation.tsx
  src/script/components/MessagesList/MessageList.test.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/entity/Conversation.ts
  src/script/page/MainContent/MainContent.tsx
  src/script/view_model/ContentViewModel.ts
Labels: type: refactoring 🛠, 👕 size: S

#17434 chore: Replace uuidjs with uuid WPB-7240
  package.json
  src/script/util/uuid.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#17435 runfix: download cert from device settings for basic mls deivce [WPB-9193]
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.test.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17422 fix: show enrollment modal for existing clients after e2ei activation [WPB-9816]
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.test.ts
  src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17440 ci: production builds to 'main' wire-builds branch (#17311)
  .github/workflows/publish.yml
Labels: comp: infrastructure, 👕 size: S

#17442 chore(ci): fix bash condition to publish chart versions (#17321)
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#17443 fix: app crash when a top contact has been removed from the app
  src/script/page/LeftSidebar/panels/StartUI/components/topPeople/TopContact.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17439 runfix: use correct conversation icon (WPB-7373)
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
Labels: 👕 size: XXL

#17441 chore: Upgrade all the @wireapp dependencies WPB-7240
  package.json
  server/package.json
  server/yarn.lock
  yarn.lock
Labels: type: chore 🧹, 👕 size: M

#17444 runfix: e2ei basic device enrollment [WPB-9816]
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.test.ts
  src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.ts
Labels: type: bug / fix 🐞, 👕 size: M

#17450 fix: search for people only in the connect tab (WPB-6561)
  src/i18n/en-US.json
  src/script/page/LeftSidebar/panels/StartUI/PeopleTab.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17451 runfix: renew certificate device details [WPB-9193]
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.ts
  src/script/components/MessagesList/Message/E2EIVerificationMessage/E2EIVerificationMessage.tsx
  src/script/hooks/useCertificateStatus.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/DevicesPreference.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/DetailedDevice.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.test.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
  src/script/util/TimeUtil.ts
Labels: type: bug / fix 🐞, 👕 size: L

#17467 chore: generate test reports manual action
  .github/workflows/generate_test_report.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#17470 chore: use node 18.16
  .github/workflows/ci.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/publish.yml
  .github/workflows/sync_translations.yml
  .nvmrc
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#17471 chore: use node 18.16 (#17470)
  .github/workflows/ci.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/publish.yml
  .github/workflows/sync_translations.yml
  .nvmrc
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#17472 chore: remove build step from gen test reports action.
  .github/workflows/generate_test_report.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#17469 runfix: reset timer only after user interaction with modal [WPB-9431]
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17474 runfix: improve e2ei timers
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.ts
  src/script/components/MessagesList/Message/E2EIVerificationMessage/E2EIVerificationMessage.tsx
  src/script/hooks/useCertificateStatus.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/DevicesPreference.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/DetailedDevice.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.test.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
  src/script/util/TimeUtil.ts
Labels: type: bug / fix 🐞, 👕 size: L

#17475 fix: remove from folder copy with special chars [WPB-7390]
  src/i18n/en-US.json
  src/script/view_model/ListViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17478 runfix: revert special chars in folder name
  src/i18n/en-US.json
  src/script/view_model/ListViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17479 runfix: don't escape folder name char
  src/script/view_model/ListViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17481 runfix: add custom emotion cache wrapper to detached window component
  src/script/components/DetachedWindow/DetachedWindow.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17484 runfix: Make sure onVisible and onVisibilityLost are triggered only once WPB-6518
  src/script/components/utils/InViewport.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17488 runfix: don't escape folder name char (#17479)
  src/script/view_model/ListViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17492 fix: Sort mentions before parsing them [WPB-9472]
  src/script/components/RichTextEditor/RichTextEditor.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17490 test: address unit tests failure in new navigation (WPB-9453)
  src/script/components/Avatar/UserAvatar/UserAvatar.test.tsx
  src/script/components/UserInfo.test.tsx
  src/script/components/calling/CallParticipantsListItem/CallParticipantsListItem.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Preferences.test.tsx
  src/script/page/LeftSidebar/panels/Preferences.tsx
  src/script/properties/PropertiesRepository.ts
  src/script/properties/PropertiesType.ts
Labels: type: test 👷, comp: preferences, 👕 size: L

#17494 runfix: remove groups from open conversation on search
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
Labels: type: bug / fix 🐞, 👕 size: XS
