Repository wireapp/wire-webapp, pull requests merged in 2024-01, with the labels that each got.

#16434 runfix: establishing mls 1to1 between team members
  src/__mocks__/@wireapp/core.ts
  src/script/conversation/ConversationFilter.test.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/MessageRepository.ts
  src/script/entity/Conversation.ts
  src/script/main/app.ts
  src/script/mls/MLSConversations.test.ts
  src/script/mls/MLSConversations.ts
  src/script/mls/MLSMigration/migrationFinaliser/joinConversationsAfterMigrationFinalisation/joinConversationsAfterMigrationFinalisation.ts
  src/script/mls/MLSMigration/migrationInitialiser/joinUnestablishedMixedConversations/joinUnestablishedMixedConversations.ts
Labels: type: bug / fix 🐞, 👕 size: M

#16455 refactor: updating supported protocols
  src/__mocks__/@wireapp/core.ts
  src/script/self/SelfService.ts
  src/script/user/UserService.ts
Labels: type: refactoring 🛠, 👕 size: S

#14263 refactor: Cleanup modals dom elements
  bin/preamble.js
  src/script/components/ModalComponent.tsx
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/Modals/InviteModal/InviteModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.test.tsx
  src/script/components/Modals/UserModal/UserModal.tsx
  src/script/page/AppLock/AppLock.test.tsx
Labels: type: refactoring 🛠, 👕 size: XL

#16457 feat: bump core to queue incoming mls messages
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#16465 refactor: Harmonize logic to generate asset urls
  src/script/components/MessagesList/Message/ContentMessage/asset/AudioAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAssetComponent.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/VideoAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/useAssetTransfer.test.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/useAssetTransfer.ts
Labels: type: refactoring 🛠, 👕 size: M

#16466 runfix: Do not show MLS state on proteus-only env
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/DetailedDevice.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16467 feat: retreive current device certificate from CoreCrypto
  src/__mocks__/@wireapp/core.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/E2EIdentityVerification.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/E2EIdentity.ts
Labels: type: feature / request ✨, 👕 size: M

#16469 chore: bump avs to 9.5.13 [WPB-5125]
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#16470 fix: add emoji unicode label to emotion classname [WPB-5875]
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiChar.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16472 refactor: remove unnecessary string template
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiChar.tsx
Labels: type: refactoring 🛠, 👕 size: XS

#16473 fix(e2ei): OIDC silent refresh
  package.json
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/OIDCService/OIDCService.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16475 feat: update core-crypto
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#16476 runfix: don't hide dropdown if clicked inside of it
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16490 fix: duplicated link preview message [WPB-5728]
  src/script/conversation/MessageRepository.ts
  src/script/util/LinkPreviewSender.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16493 chore: update translation
  src/i18n/de-DE.json
Labels: type: chore 🧹, 👕 size: S

#16498 runfix: Enroll to E2EI before joining conversations
  package.json
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/E2EIdentityVerification.ts
  src/script/components/AppContainer/AppContainer.tsx
  src/script/components/AppContainer/hooks/useAccentColor.ts
  src/script/main/app.ts
  src/script/page/AppMain.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/FeatureConfigChangeHandler.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/E2EIdentity.ts
  src/script/team/TeamRepository.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#16500 runfix: Fix accent color in dark mode
  src/style/common/accent-color.less
Labels: type: bug / fix 🐞, 👕 size: XS

#16501 runfix: prevent showing guest icon for federated users (WPB-5550)
  src/script/components/panel/UserDetails.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16502 chore: remove mentions of beta in the localization strings
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: XS

#16503 runfix: stop counting e2ei system messages as unread [WPB-6081]
  src/script/conversation/ConversationCellState.ts
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16506 runfix: Do not upload public keys after certification renewal
  package.json
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16509 runfix: init mls 1:1 before proteus 1:1
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16527 test: replace console error with warning to fix automation case
  src/script/conversation/ConversationRepository.ts
Labels: type: test 👷, 👕 size: XS

#16505 feat: Encrypt enrollment oauth stored data [WPB-6034]
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/OIDCService/OIDCService.ts
  src/script/E2EIdentity/OIDCService/OauthEncryptedStore.ts
  src/script/service/CoreSingleton.ts
Labels: type: feature / request ✨, 👕 size: M

#16528 fix: bug in helm chart: Use .Chart.AppVersion instead of .Chart.appVersion
  charts/webapp/templates/deployment.yaml
Labels: type: bug / fix 🐞, 👕 size: XS

#16529 runfix: assign correct background color to emoji picker's input
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#16531 feat: bump avs version to latest
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#16532 chore: Upgrade core to 43.5.6
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#16295 runfix: allow keyboard navigation in full screen device select (WPB-6075)
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16419 feat: add snoozed reminder popup flow, enable soft lock when required
  src/i18n/en-US.json
  src/script/E2EIdentity/DelayTimer/delay.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/E2EIdentityVerification.ts
  src/script/E2EIdentity/Modals/Modals.ts
  src/script/components/AppContainer/AppContainer.tsx
  src/script/hooks/useAppSoftLock.ts
  src/script/page/AppMain.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.styles.ts
  src/script/util/TimeUtil.ts
  src/script/util/certificateDetails.ts
Labels: type: feature / request ✨, 👕 size: M

#16537 test: improve api of useAppSoftLock hook
  src/script/components/AppContainer/AppContainer.tsx
  src/script/components/AppLoader/AppLoader.tsx
  src/script/hooks/useAppSoftLock.test.ts
  src/script/hooks/useAppSoftLock.ts
  src/script/page/AppMain.tsx
Labels: type: test 👷, 👕 size: M

#16538 runfix: address keyboard navigation issues in call ui (WPB-6075)
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/Pagination.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16540 runfix: Make sure we instantiate the app only once
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/components/AppContainer/AppContainer.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16542 runfix: Allow opening device preferences after enrollment
  src/script/E2EIdentity/DelayTimer/delay.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/hooks/useAppSoftLock.test.ts
  src/script/hooks/useAppSoftLock.ts
Labels: type: bug / fix 🐞, 👕 size: M

#16543 runfix: Re-enable showing enrollment flow when e2ei is activated
  src/script/E2EIdentity/DelayTimer/DelayTimer.test.ts
  src/script/E2EIdentity/DelayTimer/DelayTimer.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/main/app.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/FeatureConfigChangeHandler.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/E2EIdentity.ts
  src/script/util/TimeUtil.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16530 runfix: do not open a conversation with blocked user
  src/i18n/en-US.json
  src/script/error/ConversationError.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16544 refactor: Cleanup the enrollment snooze feature
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/SnoozableTimer/SnoozableTimer.test.ts
  src/script/E2EIdentity/SnoozableTimer/SnoozableTimer.ts
  src/script/E2EIdentity/SnoozableTimer/SnoozableTimerStorage.ts
  src/script/E2EIdentity/SnoozableTimer/delay.ts
  src/script/hooks/useAppSoftLock.ts
Labels: type: refactoring 🛠, 👕 size: M

#16545 refactor: Minor enrollment class improvements
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
Labels: type: refactoring 🛠, 👕 size: S

#16546 chore: Add jobs that cherry picks from release branch to dev
  .github/workflows/cherry-pick-release-to-dev.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#16548 chore(github-actios): Improve performance of checkout
  .github/workflows/ci.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#16549 runfix: set creation message timestamp to 0 after clearing content
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16552 refactor: Single source of truth to know if e2ei should be enabled
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/E2EIdentityVerification.ts
  src/script/components/InputBar/InputBar.tsx
  src/script/hooks/useAppSoftLock.test.ts
  src/script/hooks/useAppSoftLock.ts
  src/script/hooks/useDeviceIdentities.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/E2EIdentity.ts
  src/script/service/CoreSingleton.ts
  src/script/view_model/CallingViewModel.ts
Labels: type: refactoring 🛠, 👕 size: S

#16555 runfix: Avoid sending countly device ID before self conversation is joined
  src/script/main/app.ts
  src/script/mls/MLSConversations.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16557 feat: register e2ei root cert before the first enrollment
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/main/app.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/FeatureConfigChangeHandler.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/E2EIdentity.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#16559 feat(oidc): remove hardcoded values and retrieve them via URL
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/OIDCService/OIDCService.ts
Labels: type: feature / request ✨, 👕 size: S

#16583 chore: Autodeploy to q1-2024 backend branch
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#16587 chore: Run CI on release branches
  .github/workflows/ci.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#16554 runfix: add e2ei-verification type to expected events
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16560 feat: one2one migrated to mls system message [WPB-6195]
  src/script/components/MessagesList/Message/SystemMessage/SystemMessage.tsx
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationSelectors.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/entity/message/OneToOneMigratedToMlsMessage.ts
  src/script/event/Client.ts
  src/script/event/EventTypeHandling.ts
  src/script/message/SystemMessageType.ts
Labels: type: feature / request ✨, 👕 size: M

#16460 feat: update download path
  src/i18n/en-US.json
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.test.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.ts
  src/script/self/SelfRepository.ts
  src/script/team/TeamRepository.ts
  src/script/team/TeamState.ts
Labels: type: feature / request ✨, 👕 size: S

#16596 refactor: Remove unneeded oidcProxy
  server/Server.ts
  server/routes/E2EIProxy/common.ts
  server/routes/E2EIProxy/index.ts
  server/routes/E2EIProxy/proxy.ts
  server/routes/E2EIProxy/route.ts
  src/script/E2EIdentity/OIDCService/OIDCService.ts
Labels: type: refactoring 🛠, 👕 size: M

#16599 fix: when grace period is over select the enrolment type based on certificate availability
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16598 chore: upgrade CoreCrypto to rc31
  package.json
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#16595 runfix: add e2ei-verification type to expected events (#16554)
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16586 ci: set more fields and retry
  .github/workflows/publish.yml
Labels: comp: infrastructure, 👕 size: S

#16603 feat: bump core with new core-crypto version
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#16607 runfix: Fix enrolling to e2ei with non-ascii user name
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16616 chore: Auto merge PR from otto-the-bot and dependabot
  .github/workflows/cherry-pick-release-to-dev.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/pr-auto-merge.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#16623 fix: Enforce download path change if featureStatus is not changed
  src/i18n/en-US.json
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.test.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16624 chore: Trigger publish job on release branches
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#16627 runfix: Deregister the single instance of the app as late as possible
  src/script/components/AppContainer/AppContainer.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16631 feat: group messages sent within a short timeframe (WPB-6237)
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
Labels: type: feature / request ✨, 👕 size: S

#16632 chore: Make cherry-pick PR title semantically correct
  .github/workflows/rename-cherry-pick-pr.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#16640 runfix: position system message timestamps correctly (WPB-6232)
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#16643 feat(e2ei): link renew certificate action with UI button
  src/script/components/MessagesList/Message/E2EIVerificationMessage/E2EIVerificationMessage.tsx
  src/script/main/app.ts
Labels: type: feature / request ✨, 👕 size: S

#16646 runfix: make assets use all available width
  src/style/components/asset/common/common.less
Labels: type: bug / fix 🐞, 👕 size: XS

#16649 feat: client certificate revocation list [WPB-3232]
  package.json
  src/__mocks__/@wireapp/core.ts
  src/i18n/en-US.json
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/Modals/Modals.ts
  src/script/E2EIdentity/certificateDetails.ts
  src/script/components/VerificationBadge/VerificationBadges.tsx
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  src/script/main/app.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#16635 runfix: feature change notifier logic
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.test.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16666 chore: Sync release/q1-2024 and dev
  package.json
  src/__mocks__/@wireapp/core.ts
  src/i18n/en-US.json
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/Modals/Modals.ts
  src/script/E2EIdentity/certificateDetails.ts
  src/script/components/VerificationBadge/VerificationBadges.tsx
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  src/script/main/app.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.test.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#16669 chore: use otto-the-bot to auto merge PR
  .github/workflows/pr-auto-merge.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#16671 perf: Init e2ei enrollment process as early as possible
  src/script/main/app.ts
  src/script/team/TeamRepository.ts
Labels: 👕 size: S

#16675 runfix: team feature config updates
  src/script/page/AppMain.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/FeatureConfigChangeHandler.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/useE2EIFeatureConfigUpdate.ts
  src/script/self/SelfRepository.test.ts
  src/script/self/SelfRepository.ts
  src/script/team/TeamFeatureConfigChangeDetector/TeamFeatureConfigChangeDetector.test.ts
  src/script/team/TeamFeatureConfigChangeDetector/TeamFeatureConfigChangeDetector.ts
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XL

#16678 perf: Optimize detecting deleted conversation after a backup restore [WPB-6166]
  src/script/backup/BackupRepository.test.ts
  src/script/backup/BackupRepository.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: 👕 size: S

#16681 chore: add pull translations job
  .github/workflows/pull_translations.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#16684 runfix: open 1to1 offline [WPB-6306]
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16679 runfix: adjust padding of messages
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#16687 runfix: group messages sent within the same minute (WPB-3595)
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/util/MessagesGroupingUtil.test.ts
  src/script/util/MessagesGroupingUtil.ts
Labels: type: bug / fix 🐞, 👕 size: M

#16688 runfix: revoke modal copy
  src/script/E2EIdentity/Modals/Modals.ts
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalState.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalTypes.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16690 runfix: revoked cert icon
  src/i18n/en-US.json
  src/script/E2EIdentity/SnoozableTimer/delay.ts
  src/script/components/VerificationBadge/VerificationBadges.test.tsx
  src/script/components/VerificationBadge/VerificationBadges.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.test.tsx
Labels: type: bug / fix 🐞, 👕 size: S
