Repository wireapp/wire-webapp, pull requests merged in 2024-11, with the labels that each got.

#18241 refactor(PrimaryModal): split into components [WPB-10932]
  src/script/components/Modals/PrimaryModal/CheckboxOption/CheckboxOption.tsx
  src/script/components/Modals/PrimaryModal/GuestLinkPasswordForm/GuestLinkPasswordForm.styles.ts
  src/script/components/Modals/PrimaryModal/GuestLinkPasswordForm/GuestLinkPasswordForm.tsx
  src/script/components/Modals/PrimaryModal/InputForm/InputForm.tsx
  src/script/components/Modals/PrimaryModal/JoinGuestLinkPasswordForm/JoinGuestLinkPasswordForm.styles.ts
  src/script/components/Modals/PrimaryModal/JoinGuestLinkPasswordForm/JoinGuestLinkPasswordForm.tsx
  src/script/components/Modals/PrimaryModal/PasswordAdvancedSecurityForm/PasswordAdvancedSecurityForm.tsx
  src/script/components/Modals/PrimaryModal/PasswordForm/PasswordForm.tsx
  src/script/components/Modals/PrimaryModal/PrimaryButton/PrimaryButton.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalButtons/PrimaryModalButtons.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalHeader/PrimaryModalHeader.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalLoading/PrimaryModalLoading.styles.ts
  src/script/components/Modals/PrimaryModal/PrimaryModalLoading/PrimaryModalLoading.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalShell/PrimaryModalShell.tsx
  src/script/components/Modals/PrimaryModal/SecondaryButton/SecondaryButton.tsx
Labels: type: refactoring 🛠, 👕 size: XXL, echoes: technical-debt

#18271 chore: Bump avs to 9.10.16
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#18277 feat: enabled telemetry consent for guests [WPB-12023]
  src/script/properties/PropertiesRepository.ts
Labels: type: feature / request ✨, comp: preferences, 👕 size: XS, echoes/initiative: personal-users-to-team-users...

#18279 chore: align AVS version with mobile platforms [WPB-11653]
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#18284 feat(history-backup): add countly events for history backup [WPB-11693]
  src/script/components/HistoryExport/HistoryExport.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/tracking/EventName.ts
  src/script/tracking/Segmentation.ts
Labels: type: feature / request ✨, 👕 size: S, echoes/initiative: product-metrics-in-countly

#18275 feat(team-creation): add Countly events to track the flow [WPB-11320]
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/TeamCreation/ConfirmLeaveModal.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/TeamCreation/TeamCreationBanner.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/TeamCreation/TeamCreationModal.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/TeamCreation/TeamCreationSteps/Success.tsx
  src/script/tracking/EventName.ts
  src/script/tracking/Segmentation.ts
Labels: type: feature / request ✨, 👕 size: M, echoes/initiative: personal-users-to-team-users...

#18276 feat(team-creation): use version as FF for team creation [WPB-12023]
  src/script/Config.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
Labels: type: feature / request ✨, 👕 size: XS, echoes/initiative: personal-users-to-team-users...

#18303 feat: filter deleted users from our searchable user list [WPB-14259w]
  src/script/components/UserList/UserList.tsx
Labels: type: feature / request ✨, 👕 size: S

#18306 fix(Server): express import warnings
  server/Server.ts
Labels: type: refactoring 🛠, 👕 size: S

#18305 runfix: block mobile browsers
  src/script/browser/CheckBrowser.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18304 feat(UserRepository): retain username after deleting account [WPB-11166]
  src/script/user/UserRepository.test.ts
  src/script/user/UserRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#18281 fix(Tooltips): bump react-ui-kit [WPB-11596]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#18310 fix: adjust background color for in call reactions tooltip [WPB-14328]
  src/style/foundation/video-calling.less
Labels: type: bug / fix 🐞, 👕 size: XS

#18311 fix(UserRepository): ensure local user has a name before returning user object [WPB-11166]
  src/script/user/UserRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18315 feat(team-creation): add accessibility string for close btn [WPB-14343]
  src/i18n/en-US.json
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/TeamCreation/ConfirmLeaveModal.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/TeamCreation/TeamCreationModal.tsx
Labels: type: feature / request ✨, 👕 size: S, echoes/initiative: personal-users-to-team-users...

#18314 fix(ListViewModel): prevent view switch when in preferences tab on escape key [WPB-11457]
  src/script/view_model/ListViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18332 fix(JoinGuestLinkPasswordModal): heading copy [WPB-11041]
  src/script/auth/component/JoinGuestLinkPasswordModal.tsx
  src/script/strings.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18318 feat(team-creation): add error handling with correct navigation [WPB-14344]
  src/i18n/en-US.json
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/TeamCreation/TeamCreationModal.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/TeamCreation/TeamCreationSteps/Confirmation.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/TeamCreation/TeamCreationSteps/StepProps.ts
Labels: type: feature / request ✨, 👕 size: S, echoes/initiative: personal-users-to-team-users...

#18337 fix(translation): fix confirm delete modal description translation [WPB-14275]
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
Labels: type: bug / fix 🐞, 👕 size: S

#18285 refactor: use telemetry lib [WPB-11977]
  .gitignore
  package.json
  server/Server.ts
  server/bin/copy_server_assets.js
  server/config/server.config.ts
  src/page/auth.ejs
  src/page/countlyBoomerangCustom.js
  src/page/index.ejs
  src/script/calling/CallingRepository.ts
  src/script/components/Modals/QualityFeedbackModal/QualityFeedbackModal.test.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/DataUsageSection.tsx
  src/script/properties/PropertiesRepository.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/Telemetry.helpers.ts
  src/script/tracking/countly-skd-web.d.ts
  src/script/util/DebugUtil.ts
  webpack.config.common.js
  yarn.lock
Labels: comp: calling, type: refactoring 🛠, comp: preferences, 👕 size: XL, echoes: technical-roadmap/technical-debt

#18298 feat: Force user to logout on core init failure (WPB-11409)
  package.json
  src/i18n/en-US.json
  src/script/main/app.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#18343 fix(search-conv): fix search input focus out [WPB-14253]
  src/script/page/LeftSidebar/panels/Conversations/ConversationHeader/ConversationHeader.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#18301 fix: Misbehavior in call state handling [WPB-14246]
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#18350 runfix: address design review for call reactions [WPB-14328]
  src/style/foundation/video-calling.less
Labels: type: bug / fix 🐞, 👕 size: XS

#18333 feat(EnrichedFields): don't show the "status" field when the availability is "none" [WPB-12116]
  src/script/components/panel/EnrichedFields.tsx
Labels: type: feature / request ✨, 👕 size: XS, echoes: product-roadmap

#18353 chore: enable in call reactions and detached window in dev environments
  app-config/package.json
Labels: type: chore 🧹, 👕 size: XS

#18357 feat: use crypto api to generate password [WPB-12181]
  src/script/util/StringUtil.test.ts
  src/script/util/StringUtil.ts
Labels: type: feature / request ✨, 👕 size: M, echoes: technical-roadmap/technical-debt

#18377 revert: bump @types/node from 22.9.0 to 22.9.3
  package.json
  yarn.lock
Labels: 👕 size: S

#18378 chore(dependabot): ignore @types/node
  .github/dependabot.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#18380 fix(dependabot): ignore & fix typescript version
  .github/dependabot.yml
  server/package.json
  server/yarn.lock
Labels: type: bug / fix 🐞, comp: infrastructure, 👕 size: S

#18359 chore: Serialize object arguments in desktop runtime
  src/script/util/Logger.ts
Labels: type: chore 🧹, 👕 size: S

#18382 chore: Revert "chore: Serialize object arguments in desktop runtime (#18359)"
  src/script/util/Logger.ts
Labels: type: chore 🧹, 👕 size: S

#18383 chore: Do not log profile image data url
  src/script/team/TeamRepository.ts
Labels: type: chore 🧹, 👕 size: XS

#18384 chore: Bump core & commons to latest versions
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#18385 chore: Revert Bump core & commons to latest versions
  package.json
  yarn.lock
Labels: 👕 size: S

#18386 chore: Improve Error Logging in ErrorFallback
  src/script/components/ErrorFallback/ErrorFallback.tsx
Labels: type: chore 🧹, 👕 size: XS

#18388 chore: multiplatform backup - add assets metadata (WPB-10575)
  .gitignore
  TEMP-crossplatform-backup/Kermit-kermit-core.js.map
  TEMP-crossplatform-backup/Kermit-kermit.js.map
  TEMP-crossplatform-backup/Kotlin-DateTime-library-kotlinx-datetime.js.map
  TEMP-crossplatform-backup/KotlinMultiplatformLibsodium-multiplatform-crypto-libsodium-bindings.js.map
  TEMP-crossplatform-backup/README.md
  TEMP-crossplatform-backup/kalium-backup.d.ts
  TEMP-crossplatform-backup/kalium-backup.js
  TEMP-crossplatform-backup/kalium-backup.js.map
  TEMP-crossplatform-backup/kalium-data.js.map
  TEMP-crossplatform-backup/kalium-logger.js.map
  TEMP-crossplatform-backup/kalium-network-model.js.map
  TEMP-crossplatform-backup/kalium-protobuf.js
  TEMP-crossplatform-backup/kalium-protobuf.js.map
  TEMP-crossplatform-backup/kalium-util.js.map
  TEMP-crossplatform-backup/kotlin-kotlin-stdlib.js
  TEMP-crossplatform-backup/kotlin-kotlin-stdlib.js.map
  TEMP-crossplatform-backup/kotlin-kotlinx-atomicfu-runtime.js.map
  TEMP-crossplatform-backup/kotlin_org_jetbrains_kotlin_kotlin_dom_api_compat.js.map
  TEMP-crossplatform-backup/kotlinx-atomicfu.js.map
  TEMP-crossplatform-backup/kotlinx-coroutines-core.js.map
  TEMP-crossplatform-backup/kotlinx-serialization-kotlinx-serialization-core.js.map
  TEMP-crossplatform-backup/kotlinx-serialization-kotlinx-serialization-json.js.map
  TEMP-crossplatform-backup/ktor-ktor-client-core.js.map
  TEMP-crossplatform-backup/ktor-ktor-events.js.map
  TEMP-crossplatform-backup/ktor-ktor-http.js.map
  TEMP-crossplatform-backup/ktor-ktor-io.js.map
  TEMP-crossplatform-backup/ktor-ktor-serialization-kotlinx-json.js.map
  TEMP-crossplatform-backup/ktor-ktor-serialization-kotlinx.js.map
  TEMP-crossplatform-backup/ktor-ktor-serialization.js.map
  TEMP-crossplatform-backup/ktor-ktor-utils.js.map
  TEMP-crossplatform-backup/ktor-ktor-websocket-serialization.js.map
  TEMP-crossplatform-backup/ktor-ktor-websockets.js.map
  TEMP-crossplatform-backup/okio-parent-okio.js.map
  TEMP-crossplatform-backup/pbandk-pbandk-runtime.js.map
  src/script/backup/CrossPlatformBackup/CPB.export.ts
  src/script/backup/CrossPlatformBackup/importMappers/mapEventRecord.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: XXL

#18387 fix(mls-migration): align with other clients on which proteus converstaion to migrate (WPB-12162)
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18395 feat: Avoid in call reactions transmitting to other calls (WPB-14330)
  src/script/calling/CallingRepository.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: S, echoes: product-roadmap/bug

#18396 chore: bump core to 46.11.1 [WPB-14556]
  .github/workflows/publish.yml
  package.json
  yarn.lock
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S, echoes: product-roadmap/bug

#18397 chore: deploy dev to edge environment
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS
