Repository wireapp/wire-webapp, pull requests merged in 2024-08, with the labels that each got.

#17853 feat: hide blurred BG behind feature flag [WPB-10437]
  server/config/client.config.ts
  server/config/env.ts
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/util/DebugUtil.ts
Labels: type: feature / request ✨, 👕 size: S

#17870 chore: bump avs and add feature flag for blurred background
  package.json
  server/config/client.config.ts
  server/config/env.ts
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/util/DebugUtil.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#17875 fix: clone audio track to avoid ending track
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#17847 feat: create own screen share conditions for one to one call [WPB-9950]
  src/script/media/MediaConstraintsHandler.test.ts
  src/script/media/MediaConstraintsHandler.ts
  src/script/media/MediaStreamHandler.ts
Labels: type: feature / request ✨, 👕 size: M

#17620 fix(actions): prevent command injection in GHA workflow (WPB-9709)
  .github/workflows/deploy-to-test-env.yml
Labels: type: bug / fix 🐞, comp: infrastructure, 👕 size: XS, security

#17879 chore: enable api v6 [wpb-10266]
  src/script/Config.ts
Labels: type: chore 🧹, 👕 size: XS

#17876 fix: guest secured link password validation
  src/script/components/Modals/PrimaryModal/PrimaryModal.styles.ts
  src/script/components/Modals/PrimaryModal/PrimaryModal.test.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#17892 fix: encoding issue with speacial chars WPB-10340 WPB-10242
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiPill.tsx
  src/script/main/app.ts
  src/script/view_model/ActionsViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17742 runfix: wrap buttons to new line
  src/script/components/panel/SingleAction/SingleAction.styles.ts
  src/script/components/panel/SingleAction/SingleAction.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17894 chore: update deploy-to-test-env gha
  .github/workflows/deploy-to-test-env.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#17897 chore: bump AVS to 9.6.16
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#17895 feat(tracking): streamline code for every type of consent we have to check [WPB-10506]
  package.json
  src/script/main/app.ts
  src/script/page/MainContent/panels/preferences/accountPreferences/DataUsageSection.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.test.tsx
  src/script/properties/PropertiesRepository.ts
  src/script/properties/PropertiesType.ts
  src/script/team/TeamService.ts
  src/script/tracking/Countly.helpers.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/user/UserRepository.ts
  yarn.lock
Labels: type: feature / request ✨, comp: preferences, 👕 size: M, echoes/initiative: product-metrics-in-countly

#17918 feat: enable popup window and full screen call mode [WPB-10584]
  src/i18n/en-US.json
  src/script/calling/CallState.ts
  src/script/components/AppContainer/AppContainer.tsx
  src/script/components/calling/CallingCell/CallingCell.tsx
  src/script/components/calling/CallingCell/CallingHeader/CallingHeader.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/page/AppMain.tsx
  src/script/util/isDetachedCallingFeatureEnabled.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: S, echoes: features

#17921 feat: update CC to 1.0.2 [WPB-10665]
  .github/workflows/publish.yml
  package.json
  yarn.lock
Labels: comp: infrastructure, 👕 size: S, echoes: features

#17923 feat: add countly performance tracking [WPB-8918]
  server/Server.ts
  server/bin/copy_server_assets.js
  src/page/auth.ejs
  src/page/index.ejs
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/countly-skd-web.d.ts
Labels: type: feature / request ✨, 👕 size: M, echoes/initiative: product-metrics-in-countly

#17922 chore: update avs to 9.9.3
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#17925 feat: change placement and icon for popup action [WPB-10584]
  src/script/components/calling/FullscreenVideoCall.styles.ts
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: type: feature / request ✨, 👕 size: M, echoes: features

#17927 fix: reply bar and goto last msg btn overlap [WPB-10267]
  src/script/components/MessagesList/MessageList.styles.ts
  src/style/content/conversation/input-bar.less
Labels: type: bug / fix 🐞, 👕 size: XS

#17929 fix: button width when folder has long name [WPB-10476]
  src/script/page/LeftSidebar/panels/Conversations/ConversationHeader/ConversationHeader.styles.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17932 fix: Logout user if unable to get self user
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17933 fix(countly): collect data for non team users, start countly in offline mode
  server/Server.ts
  server/config/server.config.ts
  src/page/auth.ejs
  src/page/index.ejs
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/countly-skd-web.d.ts
  webpack.config.common.js
Labels: type: bug / fix 🐞, 👕 size: M

#17935 fix: handle missing cookie zuid and force logout [WPB-10717]
  package.json
  src/script/main/app.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17948 fix: add group/team conversation section on connect search [WPB-10594]
  src/i18n/en-US.json
  src/script/components/ParticipantItemContent/ParticipantItem.styles.ts
  src/script/page/LeftSidebar/panels/StartUI/PeopleTab.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/groupList/GroupListItem.tsx
  src/style/list/start-ui.less
Labels: type: bug / fix 🐞, 👕 size: S

#17951 fix: chevron placement in participant list item [WPB-10552]
  src/script/components/calling/CallParticipantsListItem/CallParticipantItemContent/CallParticipantItemContent.styles.ts
  src/script/components/calling/CallParticipantsListItem/CallParticipantItemContent/CallParticipantItemContent.tsx
Labels: type: bug / fix 🐞, 👕 size: S, echoes: features

#17952 fix: remove dynamically generated nonce
  server/config/server.config.ts
  server/package.json
  server/yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17905 fix: revert enumerate media device label for firefox iii [WPB-9688]
  src/script/calling/CallingRepository.ts
  src/script/hooks/useInitializeMediaDevices.ts
  src/script/media/MediaDevicesHandler.test.ts
  src/script/media/MediaDevicesHandler.ts
  src/script/media/MediaStreamErrorTypes.test.ts
  src/script/media/MediaStreamErrorTypes.ts
  src/script/media/MediaStreamHandler.ts
  src/script/page/MainContent/panels/preferences/AVPreferences.tsx
  src/script/view_model/CallingViewModel.mocks.ts
  src/style/content/preferences/av.less
Labels: type: bug / fix 🐞, comp: calling, 👕 size: M

#17956 fix: handled screen share on popup window [WPB-10672]
  src/script/components/calling/CallingOverlayContainer.tsx
Labels: type: bug / fix 🐞, 👕 size: S, echoes: features

#17958 fix: Persist conversation labels in local storage (WPB-10465) (#17893)
  src/script/conversation/ConversationLabelRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S, echoes: bugs

#17962 fix: not clone audio tracks [WPB-9868]
  src/script/calling/CallingRepository.ts
  src/script/page/MainContent/panels/preferences/AVPreferences.tsx
  src/script/page/MainContent/panels/preferences/avPreferences/MicrophonePreferences.tsx
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#17967 fix: handle searched item click to correctly navigate [WPB-10819]
  src/script/entity/Conversation.ts
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17959 fix(countly): remove user ids from URL traces [WPB-8918]
  src/page/auth.ejs
  src/page/countlyBoomerangCustom.js
  src/page/index.ejs
  webpack.config.common.js
Labels: type: bug / fix 🐞, 👕 size: M, echoes/initiative: product-metrics-in-countly

#17972 chore: update yarn
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  package.json
  server/yarn.lock
  yarn.lock
Labels: type: chore 🧹, 👕 size: XXL

#17973 chore: update yarn on server
  server/.yarn/releases/yarn-4.4.1.cjs
  server/.yarnrc.yml
  server/package.json
Labels: type: chore 🧹, 👕 size: XL

#17974 chore: update docker file for new yarn version
  Dockerfile
Labels: type: chore 🧹, 👕 size: XS

#17975 fix: update yarn command in docker file
  Dockerfile
Labels: type: bug / fix 🐞, 👕 size: XS

#17976 chore: revert yarn bump to 4.4.1
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  Dockerfile
  package.json
  server/.yarn/releases/yarn-4.4.1.cjs
  server/.yarnrc.yml
  server/package.json
  server/yarn.lock
  yarn.lock
Labels: type: chore 🧹, 👕 size: XXL
