Repository wireapp/wire-webapp, pull requests merged in 2024-07, with the labels that each got.

#17673 runfix: set sidebar tab to recent on starting a new conversation (WPB-9509)
  src/script/components/ConnectRequests/ConnectionRequests.tsx
  src/script/components/panel/UserActions.tsx
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17676 feat: Address smaller UI issues in the new navigation (WPB-9694)
  package.json
  src/script/page/LeftSidebar/UserDetails/UserDetails.styles.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationHeader/ConversationHeader.styles.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationHeader/ConversationHeader.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTab/ConversationFolderTab.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.styles.tsx
  src/style/list/conversations.less
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#17679 runfix: address small ui fixes design review (WPB-9694)
  src/script/page/LeftSidebar/panels/Conversations/ConversationHeader/ConversationHeader.tsx
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: S

#17682 chore: update config on ci
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#17683 runfix: address archived conversations bugs (WPB-9493 WPB-9768)
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/helpers.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17687 chore: add new-navigation to ci job
  .github/workflows/ci.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#17686 feat: add multi window support to context menu
  src/script/components/DetachedWindow/DetachedWindow.tsx
  src/script/hooks/useActiveWindow.ts
  src/script/page/AppMain.tsx
  src/script/ui/ContextMenu.tsx
Labels: type: feature / request ✨, 👕 size: M

#17689 chore: use different string identifier for connect tab search
  src/i18n/en-US.json
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
Labels: type: chore 🧹, 👕 size: XS

#17692 chore: add new string identifier for people only search
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: XS

#17693 runfix: switch to the recent tab on conversation creation (WPB-9509)
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17698 chore: align localization with new navigation
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: XS

#17645 fix: not clone audio tracks
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#17562 fix: Display Media Device labels for Firefox
  src/script/calling/CallingRepository.ts
  src/script/media/MediaDevicesHandler.test.ts
  src/script/media/MediaDevicesHandler.ts
  src/script/media/MediaRepository.ts
  src/script/media/MediaStreamHandler.ts
  src/script/page/MainContent/panels/preferences/AVPreferences.tsx
  src/script/view_model/CallingViewModel.mocks.ts
  src/script/view_model/CallingViewModel.ts
  src/style/content/preferences/av.less
Labels: type: bug / fix 🐞, comp: calling, 👕 size: M

#17700 fix: Revert Display Media Device labels for Firefox
  src/script/calling/CallingRepository.ts
  src/script/media/MediaDevicesHandler.test.ts
  src/script/media/MediaDevicesHandler.ts
  src/script/media/MediaRepository.ts
  src/script/media/MediaStreamHandler.ts
  src/script/page/MainContent/panels/preferences/AVPreferences.tsx
  src/script/view_model/CallingViewModel.mocks.ts
  src/script/view_model/CallingViewModel.ts
  src/style/content/preferences/av.less
Labels: type: bug / fix 🐞, comp: calling, 👕 size: M

#17720 chore: upload test results s3
  .github/workflows/create_docker_image.yml
  .github/workflows/generate_test_report.yml
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#17722 chore: upload test results s3 (#17720)
  .github/workflows/create_docker_image.yml
  .github/workflows/generate_test_report.yml
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#17598 chore: update pipelines [WPB-6227]
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#17730 feat: remove references to phone login/number [WPB-10030]
  server/config/client.config.ts
  server/config/env.ts
  src/i18n/en-US.json
  src/script/auth/component/LoginForm.tsx
  src/script/auth/component/PhoneLoginForm.tsx
  src/script/auth/module/action/AuthAction.test.ts
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/creator/AuthActionCreator.ts
  src/script/auth/module/reducer/authReducer.ts
  src/script/auth/module/selector/AuthSelector.ts
  src/script/auth/page/CheckPassword.test.tsx
  src/script/auth/page/CheckPassword.tsx
  src/script/auth/page/Login.tsx
  src/script/auth/page/PhoneLogin.test.tsx
  src/script/auth/page/PhoneLogin.tsx
  src/script/auth/page/Root.tsx
  src/script/auth/page/VerifyPhoneCode.tsx
  src/script/auth/route.ts
  src/script/auth/util/test/mockStoreFactory.ts
  src/script/client/ClientRepository.test.ts
  src/script/entity/User/User.ts
  src/script/main/app.ts
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  src/script/self/SelfService.ts
  src/script/strings.ts
  src/script/user/UserMapper.test.ts
  src/script/user/UserMapper.ts
  src/script/util/ValidationUtil.ts
  src/style/content/preferences/account.less
  test/api/payloads.js
Labels: type: feature / request ✨, 👕 size: XXL

#17736 feat: Add button for user status into profile
  src/script/page/MainContent/panels/preferences/accountPreferences/AvailabilityButtons.tsx
Labels: type: feature / request ✨, 👕 size: S

#17738 feat: inject new system message
  src/i18n/en-US.json
  src/script/components/InputBar/InputBar.tsx
  src/script/components/MessagesList/Message/SystemMessage/SystemMessage.tsx
  src/script/components/MessagesList/Message/SystemMessage/SystemMessageBase.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/entity/message/UserHasTextStatusMessage.ts
  src/script/event/Client.ts
  src/script/event/EventTypeHandling.ts
  src/script/message/SystemMessageType.ts
Labels: type: feature / request ✨, 👕 size: M

#17739 fix: replace carriage return with a new line char
  src/script/components/RichTextEditor/RichTextEditor.tsx
  src/script/components/RichTextEditor/plugins/ReplaceCarriageReturnPlugin/ReplaceCarriageReturnPlugin.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17741 fix: emoji mouse click closes message edit [WPB-10076]
  src/script/components/RichTextEditor/plugins/EmojiPickerPlugin/EmojiPickerPlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17743 runfix: mark last message not visible on unmount [WPB-9956]
  src/script/components/Conversation/Conversation.tsx
  src/script/components/MessagesList/Message/index.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17761 runfix: slow connection indicator misaligned in preferences
  src/style/list/list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#17762 runfix: align slow connection indication for temp user
  src/script/page/LeftSidebar/panels/ListWrapper.tsx
  src/style/list/list.less
Labels: type: bug / fix 🐞, 👕 size: S

#17763 runfix: re-implement indicator on settings button when a new device is added (WPB-9542)
  src/script/page/LeftSidebar/panels/Conversations/ConversationTab/ConversationTab.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: S

#17766 feat: remove usage of user privacy field [WPB-10025]
  package.json
  src/script/page/MainContent/panels/preferences/accountPreferences/DataUsageSection.tsx
  src/script/properties/PropertiesRepository.ts
  src/script/properties/PropertiesType.ts
  src/script/user/UserRepository.test.ts
  test/unit_tests/tracking/EventTrackingRepositorySpec.js
  yarn.lock
Labels: type: feature / request ✨, comp: preferences, 👕 size: S

#17757 fix: enumerate media device label for firefox ii
  src/script/calling/CallingRepository.ts
  src/script/media/MediaDevicesHandler.test.ts
  src/script/media/MediaDevicesHandler.ts
  src/script/media/MediaStreamErrorTypes.test.ts
  src/script/media/MediaStreamErrorTypes.ts
  src/script/media/MediaStreamHandler.ts
  src/script/page/MainContent/panels/preferences/AVPreferences.tsx
  src/script/view_model/CallingViewModel.mocks.ts
  src/style/content/preferences/av.less
Labels: type: bug / fix 🐞, comp: calling, 👕 size: M

#17772 fix: Revert "feat: remove usage of user privacy field [WPB-10025]"
  package.json
  src/script/page/MainContent/panels/preferences/accountPreferences/DataUsageSection.tsx
  src/script/properties/PropertiesRepository.ts
  src/script/properties/PropertiesType.ts
  src/script/user/UserRepository.test.ts
  test/unit_tests/tracking/EventTrackingRepositorySpec.js
  yarn.lock
Labels: type: bug / fix 🐞, comp: preferences, 👕 size: S

#17770 feat: Add feature flag for in call reactions (WPB-10240)
  server/config/client.config.ts
  server/config/env.ts
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: type: feature / request ✨, 👕 size: S

#17769 feat: confirm reload during call [WPB-10096]
  src/script/calling/CallingRepository.ts
  src/script/components/DetachedWindow/DetachedWindow.tsx
  src/script/main/app.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: S

#17781 feat: set localstorage as storage [WPB-10159]
  src/script/tracking/EventTrackingRepository.ts
Labels: type: feature / request ✨, 👕 size: XS

#17779 runfix: ensure the correct sidebar is displayed on reload (WPB-10220)
  src/script/components/MessagesList/Message/VerificationMessage.tsx
  src/script/page/LeftSidebar/panels/Conversations/state.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17780 feat: enable gl passwords [wpb-10074]
  server/config/client.config.ts
  server/config/env.ts
  src/script/page/RightSidebar/RightSidebar.tsx
Labels: type: feature / request ✨, 👕 size: S

#17801 runfix: missing conversations filter [WPB-10224]
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#17803 runfix: reinstate missing commits lost in conflict resolution
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
Labels: type: chore 🧹, 👕 size: S

#17804 runfix: don't show fav folder in folders [WPB-9511]
  src/script/page/LeftSidebar/panels/Conversations/ConversationTab/ConversationFolderTab.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTab/ConversationFolderTab.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#17808 chore: remove new-navigation branch from ci job
  .github/workflows/ci.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#17806 fix: replacing ciphersuites when enroling [WPB-10236]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17810 runfix: open the view on opening deep link (WPB-9507)
  src/script/view_model/ContentViewModel.ts
  src/script/view_model/ListViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17812 runfix: update the view on opening deep link from the connect tab (WPB-9507)
  src/script/page/LeftSidebar/panels/Conversations/useSidebarStore.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17815 runfix: ensure the sidebar always occupies 100% height (WPB-9895)
  src/script/page/LeftSidebar/panels/Conversations/Conversations.styles.tsx
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: XS

#17816 fix: cmd+shift+k should not open add users modal in 1:1 [WPB-9796]
  src/script/components/TitleBar/TitleBar.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17759 runfix: treat 1:1 calls as conference calls
  package.json
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.test.tsx
  src/script/team/TeamService.ts
  yarn.lock
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#17837 feat(countly): remove user data from tracking [WPB-9983]
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/UserData.ts
  test/helper/TestFactory.js
Labels: type: feature / request ✨, 👕 size: S

#17839 feat: bump avs
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#17842 feat: Use object URLs for notification icons instead of asset URLs
  src/script/assets/AssetRepository.test.ts
  src/script/assets/AssetRepository.ts
  src/script/assets/AssetService.ts
  src/script/components/InputBar/InputBar.test.tsx
  src/script/main/app.ts
  src/script/notification/NotificationRepository.test.ts
  src/script/notification/NotificationRepository.ts
  test/helper/TestFactory.js
Labels: type: feature / request ✨, 👕 size: M

#17843 feat: change screen share constrains [WPB-9950]
  src/script/media/MediaConstraintsHandler.test.ts
  src/script/media/MediaConstraintsHandler.ts
Labels: type: feature / request ✨, 👕 size: S

#17838 feat(countly): dont run countly on on-prem instances [WPB-9982]
  server/config/client.config.ts
  server/config/env.ts
  src/script/page/MainContent/panels/preferences/accountPreferences/DataUsageSection.tsx
  src/script/tracking/EventTrackingRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#17564 chore: properly handle a domain passed from desktop [WPB-691]
  src/script/conversation/ConversationRepository.ts
Labels: type: chore 🧹, 👕 size: S
