Repository wireapp/wire-webapp, pull requests merged in 2024-09, with the labels that each got.

#17896 chore: remove guest link passwords temp flag
  server/config/client.config.ts
  server/config/env.ts
  src/script/page/RightSidebar/RightSidebar.tsx
Labels: type: chore 🧹, 👕 size: S

#17957 feat: new pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: feature / request ✨, comp: infrastructure, 👕 size: S

#17977 fix: handle missing pages between messages in conversation [WPB-10820]
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17994 runfix: gl pass copy issue
  src/i18n/en-US.json
Labels: type: bug / fix 🐞, 👕 size: XS

#17998 fix: prevent pop window on maximize action [WPB-10805]
  src/script/components/calling/CallingOverlayContainer.tsx
Labels: type: bug / fix 🐞, 👕 size: XS, echoes: features, echoes: bugs

#17999 feat: remove services tab for MLS in contacts [WPB-10781]
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
Labels: type: feature / request ✨, 👕 size: XS

#18002 fix: add QA possibility to disable the countly lock
  src/page/countlyBoomerangCustom.js
  src/script/page/MainContent/panels/preferences/accountPreferences/DataUsageSection.tsx
  src/script/tracking/Countly.helpers.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/util/DebugUtil.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18007 fix: add default value to env variables
  server/config/client.config.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18003 fix: dont track apm data when user disabled tracking.
  src/page/auth.ejs
  src/page/index.ejs
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/countly-skd-web.d.ts
Labels: type: bug / fix 🐞, 👕 size: M

#18008 fix: updated videoCallOverlayOpenPopupWindow en-US translation
  src/i18n/en-US.json
Labels: type: bug / fix 🐞, 👕 size: XS

#18015 feat: added AVS metrics for data dog logging [WPB-10859]
  src/script/calling/CallingRepository.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: XS, echoes: features

#18013 chore: allow support for appended URL paths [WPB-10937]
  app-config/package.json
  server/config/client.config.ts
  server/config/env.ts
  src/script/components/MessagesList/Message/DecryptErrorMessage.tsx
  src/script/components/Modals/UserModal/UserModal.tsx
  src/script/components/userDevices/DeviceList.tsx
  src/script/components/userDevices/NoDevicesFound.tsx
  src/script/externalRoute.ts
  src/script/main/app.ts
  src/script/page/MainContent/panels/preferences/AboutPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountSecuritySection.tsx
Labels: type: chore 🧹, 👕 size: M, echoes: bugs

#18031 feat: hide services in conversation details when protocol is MLS [WPB-10925]
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
Labels: type: feature / request ✨, 👕 size: XS, echoes/initiative: federation-wire-cloud

#18032 fix: use isMLSConversation helper function
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
Labels: type: bug / fix 🐞, 👕 size: XS, echoes/initiative: federation-wire-cloud

#18030 feat: hide services toggle when MLS as default protocol [WPB-10924]
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
Labels: type: feature / request ✨, 👕 size: S, echoes/initiative: federation-wire-cloud

#18011 chore: add new release script
  bin/release_tag.ts
  package.json
Labels: type: chore 🧹, 👕 size: S

#18059 chore: update types/node version from 18.11.18 to 22.5.5
  server/package.json
  server/yarn.lock
Labels: type: chore 🧹, 👕 size: S

#18062 feat: establish 1on1 mls conversation with new removal key [WPB-10744]
  package.json
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  yarn.lock
Labels: type: feature / request ✨, comp: calling, 👕 size: S, echoes: bugs

#18063 chore: use backend config for 1 on 1 SFT calls
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
Labels: comp: calling, type: chore 🧹, 👕 size: S

#18061 feat: Minor performance improvement and logs for tracking [WPB-10738]
  src/script/main/app.ts
  src/script/util/util.ts
Labels: type: feature / request ✨, 👕 size: S

#18081 chore: downgrade mediapipe/tasks-vision to 0.10.15
  .github/dependabot.yml
  package.json
  yarn.lock
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#18066 chore: cherry-pick MLS 1:1 conversation over SFT to dev [WPB-10120]
  package.json
  src/script/calling/CallingRepository.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.test.tsx
  src/script/team/TeamService.ts
  yarn.lock
Labels: comp: calling, type: chore 🧹, 👕 size: M, echoes: features, echoes: bugs, echoes/initiative: federation-wire-cloud

#18083 feat: Change height of empty conversations list while we have filtered groups
  src/script/page/LeftSidebar/panels/Conversations/ConnectionRequests/ConnectionRequests.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationView/ConversationView.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationView/index.ts
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.styles.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/page/LeftSidebar/panels/Conversations/EmptyConversationList/EmptyConversationList.tsx
  src/script/page/LeftSidebar/panels/Conversations/FilteredGroupConversations/FilteredGroupConversations.tsx
  src/style/list/list.less
Labels: type: feature / request ✨, 👕 size: M

#18088 fix: fixed support folders URL env [WPB-10882]
  app-config/package.json
  server/config/client.config.ts
  src/script/page/LeftSidebar/panels/Conversations/EmptyConversationList/EmptyConversationList.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#18033 feat: support importing events from an external file [WPB-11034]
  package.json
  src/script/event/EventRepository.ts
  src/script/util/DebugUtil.ts
  tsconfig.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#18094 fix: small calling update to get audio working with safari browsers [WPB-10735]
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS, echoes: features

#18095 feat: update cherry-pick job to include master [WPB-10923]
  .github/workflows/cherry-pick-release-to-dev.yml
Labels: type: feature / request ✨, comp: infrastructure, 👕 size: XS

#18086 fix: display empty state for folders on collapsed state [WPB-10547]
  src/script/components/InputBar/components/MessageTimerButton/MessageTimerButton.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageActions.tsx
  src/script/components/calling/CallingCell/CallIngParticipantList/CallingParticipantList.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTab/ConversationFolderTab.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/FolderIcon.tsx
  src/script/ui/AvailabilityContextMenu.ts
  src/script/ui/ContextMenu.tsx
  src/script/ui/LabelContextMenu.ts
  src/script/view_model/ListViewModel.ts
  src/style/common/context.less
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: M

#18098 feat: filter remote domain users in conversation creation list [WPB-10792]
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/UserSearchableList.tsx
  src/script/page/RightSidebar/AddParticipants/AddParticipants.tsx
  src/script/team/TeamRepository.ts
Labels: type: feature / request ✨, 👕 size: S, echoes/initiative: federation-wire-cloud

#18099 fix: Disallow typing special characters when in full screen calling (WPB-10888)
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: type: bug / fix 🐞, 👕 size: XS, echoes: features

#18101 feat(countly): remove performance plugin
  src/page/auth.ejs
  src/page/index.ejs
  src/script/tracking/EventTrackingRepository.ts
Labels: type: feature / request ✨, 👕 size: XS
