Repository wireapp/wire-webapp, pull requests merged in 2024-03, with the labels that each got.

#16970 runfix: prevent esc from ignoring restart on download path modal
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16972 feat: update core
  package.json
  src/script/E2EIdentity/E2EIdentityVerification.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  src/script/hooks/useDeviceIdentities.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.test.tsx
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#16996 runfix: start grace period timers
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityVerification.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16997 runfix: start grace period timers (#16996)
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityVerification.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16944 feat(e2ei): check all e2ei certs in a conversation against their users name and handle (WPB-6194)
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
Labels: type: feature / request ✨, 👕 size: S

#17000 runfix: Allow non-e2ei devices to join conversations
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17001 fix: check all user credentials in conversation
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17003 runfix: handle same key tasks in LowPrecisionTaskScheduler for crls
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17004 runfix: handle same key tasks in LowPrecisionTaskScheduler for crls
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17011 runfix: do not overwrite removing stale client task
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#17009 feat: name check on shields
  src/script/components/VerificationBadge/VerificationBadges.tsx
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
Labels: type: feature / request ✨, 👕 size: S

#17006 chore: Publish tagged commits to wire-builds repo
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#17030 runfix: join with external commit on orphan welcome message
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17035 feat(e2ei): change status from now_downloaded to not_verified
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/script/E2EIdentity/E2EIdentityVerification.ts
  src/script/E2EIdentity/certificateDetails.ts
  src/script/components/VerificationBadge/VerificationBadges.test.tsx
  src/script/components/VerificationBadge/VerificationBadges.tsx
  src/script/hooks/useDeviceIdentities.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.styles.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.test.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
Labels: type: feature / request ✨, 👕 size: S

#17033 chore: update translations release
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
Labels: type: chore 🧹, 👕 size: M

#17040 fix: Improve basic e2ei devices handling
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17049 runfix: Show enrollment modal the first time e2ei is enabled
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17048 runfix: update epoch number locally on epoch change
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17053 runfix: Address revoked clients not being detected
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17056 runfix: refresh mls conversation state
  src/script/components/InputBar/InputBar.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  src/script/main/app.ts
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: M

#17059 runfix: assign a user and group id to containers
  charts/webapp/values.yaml
Labels: type: bug / fix 🐞, 👕 size: XS

#17064 runfix: remove read receipt from message header (WPB-6980)
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17058 runfix: address new navigation styling in dark mode (WPB-6811)
  src/style/common/typing.less
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: S

#17065 runfix: prefix cert expiry date storage
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/Enrollment.store.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17068 runfix: Address revoked devices not being checked
  package.json
  src/__mocks__/@wireapp/core-crypto.ts
  src/script/E2EIdentity/E2EIdentityVerification.ts
  src/script/E2EIdentity/mlsStatus.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17070 runfix: Live update team setting config when possible
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17071 fix: clicking on a link in link preview opens it twice [WPB-6817]
  src/script/components/MessagesList/Message/ContentMessage/asset/LinkPreviewAssetComponent.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17072 fix: focus add participants search input [WPB-6818]
  src/script/page/RightSidebar/AddParticipants/AddParticipants.tsx
  src/script/page/RightSidebar/ConversationParticipants/ConversationParticipants.tsx
  src/script/page/RightSidebar/PanelHeader/PanelHeader.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17073 runfix: Warn user when applock is disabled on the team level
  src/i18n/en-US.json
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.ts
  src/script/user/AppLockRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17069 fix: jump on device details - page
  src/script/components/VerificationBadge/VerificationBadges.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/Device/Device.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17077 runfix: Address federated revoked devices not being detected
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17079 runfix: align ephemeral messages to the left
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17080 fix: delete conversation locally if its deleted on BE already
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XXL

#17081 fix: group creation focus lost on keydown event [WPB-6340]
  src/script/components/ModalComponent.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17091 fix: autofocus modal degraded conversation modal primary button [WPB-7082]
  src/script/components/InputBar/InputBar.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/RichTextEditor/plugins/SendPlugin.tsx
  src/script/components/RichTextEditor/plugins/TypeaheadMenuPlugin.tsx
  src/style/common/button.less
Labels: type: bug / fix 🐞, 👕 size: S

#17092 fix: autofocus modal degraded conversation modal primary button [WPB-7082]
  src/script/components/InputBar/InputBar.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/RichTextEditor/plugins/SendPlugin.tsx
  src/script/components/RichTextEditor/plugins/TypeaheadMenuPlugin.tsx
  src/style/common/button.less
Labels: type: bug / fix 🐞, 👕 size: S

#17093 runfix: Avoid unmount messages when scrolling in the message list
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17094 fix: group creation members message misaligned [WPB-7165]
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#17096 runfix: do not focus primary button in modal [WPB-7082]
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17098 fix: Mitigate UI flickering when quotes are loaded
  src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17099 runfix: Allow clicking on small images
  src/script/components/Image/Image.styles.ts
  src/script/components/Image/Image.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#17095 runfix: display link previews correctly along with code blocks (WPB-7171)
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#17101 fix: mls thumbprint misaligned
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/FormattedId.styles.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17100 fix: Improve link preview image display
  src/script/components/MessagesList/Message/ContentMessage/asset/LinkPreviewAssetComponent.tsx
  src/style/components/asset/link-preview-asset.less
Labels: type: bug / fix 🐞, 👕 size: S

#17104 fix: mls verified icon color based on theme [WPB-6888]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17107 fix: condition that decides if we delete local conversations
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17105 fix: address backup buttons color in dark mode (WPB-7186)
  src/script/components/HistoryExport/HistoryExport.tsx
  src/script/components/HistoryImport/HistoryImport.tsx
  src/style/content/history-export-import.less
Labels: type: bug / fix 🐞, 👕 size: S

#17110 fix: mls status icons color on dark mode [WPB-6888]
  package.json
  src/script/components/MessagesList/Message/E2EIVerificationMessage/E2EIVerificationMessage.styles.ts
  src/script/components/VerificationBadge/VerificationBadges.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.styles.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17109 runfix: ensure images are always in viewport
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset/ImageAsset.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17111 fix: auto focus folder creation modal input [WPB-6843]
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17112 fix: locking the user out of the app permanentely with applock [WPB-7192, WPB-7193]
  src/script/page/AppLock/AppLock.tsx
  src/script/user/AppLockRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17116 fix: Do not ask user confirmation when disabling appLock without password
  src/script/page/AppLock/AppLock.tsx
  src/script/user/AppLockRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17117 runfix: update conversation participant list on team member leave event
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16874 runfix: guestlink w/ password copy update and auth reset
  src/i18n/en-US.json
  src/script/auth/page/Login.tsx
  src/script/strings.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17120 fix: Display the correct warning when team setting does not allow guest links [WPB-6906]
  src/script/page/RightSidebar/GuestServicesOptions/components/GuestOptions/GuestOptions.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#17121 fix: Improve database encryption key generation [WPB-7223]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#17158 fix: message search reload [WPB-7237]
  src/script/components/MessagesList/MessageList.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/entity/Conversation.test.ts
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: S

#17160 runfix: received messages not visible
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#17164 refactor: Use core to decrypt assets
  package.json
  src/script/assets/AssetCrypto.test.ts
  src/script/assets/AssetCrypto.ts
  src/script/assets/AssetRepository.test.ts
  src/script/assets/AssetRepository.ts
  src/script/cryptography/CryptographyMapper.test.ts
  src/script/cryptography/CryptographyMapper.ts
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: M

#17163 chore: Upgrade yarn to v4.1.1
  .github/workflows/ci.yml
  .github/workflows/create_docker_image.yml
  .github/workflows/deploy-to-test-env.yml
  .github/workflows/publish.yml
  .github/workflows/sync_translations.yml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  package.json
  server/yarn.lock
  yarn.lock
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XXL

#17161 fix: misplaced modal in <aside> [WPB-6844]
  src/script/components/Modals/CertificateDetailsModal/CertificateDetailsModal.test.tsx
  src/script/components/Modals/CertificateDetailsModal/CertificateDetailsModal.tsx
  src/script/components/Modals/CertificateDetailsModal/index.ts
  src/script/components/Modals/PrimaryModal/Content/MessageContent.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModal.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalState.tsx
  src/script/components/Modals/PrimaryModal/PrimaryModalTypes.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/useCertificateDetailsModal.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.ts
Labels: type: bug / fix 🐞, 👕 size: L

#17168 chore: Improve eslint and lint-staged workflows
  .eslintrc.js
  .eslintrc.json
  .lintstagedrc.json
  package.json
Labels: type: chore 🧹, 👕 size: M

#17171 chore: upgrade dexie to v4.0.1
  package.json
  src/script/conversation/ConversationRepository.test.ts
  src/script/self/SelfRepository.test.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: XXL

#17175 chore: reduce copy-config logs verbosity
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#17176 fix: cannot reconnect audio after re-plugging a device [WPB-713]
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/media/MediaDevicesHandler.ts
  test/helper/TestFactory.js
Labels: type: bug / fix 🐞, comp: calling, 👕 size: M

#17178 feat: account settings button in 1:1 read receipts
  src/i18n/en-US.json
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
Labels: type: feature / request ✨, 👕 size: S

#17179 runfix: address darkmode color values
  src/script/components/MessagesList/Message/ContentMessage/MessageHeader.tsx
  src/script/components/panel/ConversationProtocolDetails/ConversationProtocolDetails.tsx
  src/script/page/LeftSidebar/UserDetails/UserDetails.styles.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.styles.ts
  src/script/page/RightSidebar/MessageDetails/MessageDetails.styles.ts
  src/style/common/accent-color.less
  src/style/common/mixins.less
  src/style/foundation/framework.less
  src/style/foundation/themes.less
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: S

#17182 fix: fullscreen image reply [WPB-5542]
  src/script/components/InputBar/InputBar.tsx
  src/script/components/Modals/DetailViewModal/index.tsx
  src/script/entity/Conversation.ts
  src/script/page/AppMain.tsx
  src/script/view_model/ContentViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S
