Repository wireapp/wire-webapp, pull requests merged in 2024-02, with the labels that each got.

#16707 chore: publish release branch to aws
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#16708 runfix: bump core to fix rejoining conference subconversations
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16706 refactor: make mapping events synchronous
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.test.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.test.ts
  src/script/conversation/EventMapper.ts
  src/script/entity/message/ContentMessage.ts
Labels: type: refactoring 🛠, 👕 size: L

#16714 chore: publish release branch to aws (#16707)
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#16715 runfix: add missing coma in publish workflow
  .github/workflows/publish.yml
Labels: type: bug / fix 🐞, comp: infrastructure, 👕 size: XS

#16716 runfix: add missing coma in publish workflow (#16715)
  .github/workflows/publish.yml
Labels: type: bug / fix 🐞, comp: infrastructure, 👕 size: XS

#16710 runfix: degraded conversation system message
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/E2EIVerificationMessage/E2EIVerificationMessage.test.tsx
  src/script/components/MessagesList/Message/E2EIVerificationMessage/E2EIVerificationMessage.tsx
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  src/script/message/E2EIVerificationMessageType.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16721 runfix: get all conversation user identities from core-crypto
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/E2EIdentity/E2EIdentityVerification.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16718 refactor: Do not base message focus on elements indexes
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.tsx
  src/script/hooks/useRoveFocus.test.tsx
  src/script/hooks/useRoveFocus.ts
Labels: type: refactoring 🛠, 👕 size: M

#16701 runfix: translation issue acme
  src/script/util/TimeUtil.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16724 runfix: add cross platform shortcut for debug ui
  src/script/util/DebugUtil.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16754 fix: Avoid rerendering assets when new messages arrive
  src/script/components/Conversation/Conversation.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#16753 chore: updated translations for download path
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.test.tsx
Labels: type: chore 🧹, 👕 size: M

#16751 runfix: mls 1to1 migration system message
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationSelectors.ts
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: M

#16695 refactor: create grouped data structure for message list [WPB-6282]
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/Marker/Marker.styles.ts
  src/script/components/MessagesList/Message/Marker/Marker.tsx
  src/script/components/MessagesList/Message/Marker/index.ts
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/Message/types.ts
  src/script/components/MessagesList/MessageList.tsx
  src/script/components/MessagesList/utils/messagesFilter.ts
  src/script/components/MessagesList/utils/messagesGroup.test.ts
  src/script/components/MessagesList/utils/messagesGroup.ts
  src/script/util/MessagesGroupingUtil.test.ts
  src/script/util/MessagesGroupingUtil.ts
  src/script/util/conversationMessages.ts
  src/style/content/conversation/message-list.less
Labels: type: refactoring 🛠, 👕 size: XL

#16760 chore(e2ei): Add possibility to set custom certificate TTL [WPB-6305]
  package.json
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/util/DebugUtil.ts
  yarn.lock
Labels: 👕 size: S

#16762 runfix: Independently filter selected users and selectable users [WPB-6342]
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/script/components/SearchInput.tsx
  src/script/components/UserList/UserList.tsx
  src/script/components/UserSearchableList.tsx
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
  src/script/page/RightSidebar/AddParticipants/AddParticipants.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16764 fix: Allow new device to be legal-hold-ready [WPB-6429]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16765 runfix: Do not ignore self user when receiving a member-leave event [WPB-6374]
  src/script/user/UserFilter.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16767 refactor: remove duplicate getter for all conversation participants
  src/script/entity/Conversation.ts
  src/script/event/preprocessor/EventStorageMiddleware/EventStorageMiddleware.ts
Labels: type: refactoring 🛠, 👕 size: XS

#16770 runfix: do not group system messages with content messages
  src/script/components/MessagesList/utils/messagesGroup.test.ts
  src/script/components/MessagesList/utils/messagesGroup.ts
  test/helper/EventGenerator.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16771 runfix: Re-render message when a link preview is generated [WPB-6449]
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16772 runfix: Do not trigger e2ei flow if feature is not enabled
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/E2EIdentity.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16775 runfix: Split sender group when new unread messages arrive
  src/script/components/MessagesList/utils/messagesGroup.test.ts
  src/script/components/MessagesList/utils/messagesGroup.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16777 runfix: Queue rejoining out-of-sync MLS conversations [WPB-6456]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16779 runfix: Initialize soft lock upon e2eHandler initialization
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/calling/CallState.ts
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/hooks/useAppSoftLock.test.ts
  src/script/hooks/useAppSoftLock.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#16786 feat: Load some team members on app load [WPB-6484]
  src/script/main/app.ts
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/GroupParticipantUser/GroupParticipantUser.tsx
  src/script/team/TeamRepository.ts
  src/script/user/UserRepository.test.ts
  src/script/user/UserRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#16788 runfix: backoff when uploading commit bundle [WPB-6513]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16789 runfix: Improve enrollment error logs
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/OIDCService/OIDCService.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16791 runfix: Avoid focusing on messages with undefined ids [WPB-6509] 
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16792 fix: guest link passwords issues
  src/i18n/en-US.json
  src/script/auth/page/ConversationJoin.tsx
  src/script/auth/page/ConversationJoinComponents.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16417 chore: remove deprecated globals
  .eslintrc.json
  src/script/auth/configureEnvironment.ts
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageActions.tsx
  src/script/properties/PropertiesRepository.ts
  src/script/tracking/countly-skd-web.d.ts
  src/script/util/DebugUtil.ts
  src/types/window.d.ts
  webpack.config.common.js
Labels: comp: preferences, type: chore 🧹, 👕 size: S

#16794 fix: dl path new device
  src/script/E2EIdentity/Modals/Modals.ts
  src/script/main/app.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/downloadPath.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeNotifier/FeatureConfigChangeNotifier.ts
Labels: type: bug / fix 🐞, 👕 size: M

#16812 runfix: Improve read receipts info on one to one conversations [WPB-6058]
  src/script/components/toggle/ReceiptModeToggle.tsx
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/style/panel/panel.less
Labels: type: bug / fix 🐞, 👕 size: S

#16816 runfix: Allow dark mode for 1 to 1 read receipt conversation detail
  src/style/panel/panel.less
Labels: type: bug / fix 🐞, 👕 size: S

#16774 fix: allow end user to set all url paths (WPB-4676)
  server/config/client.config.ts
  server/config/env.ts
  src/script/components/MessagesList/Message/DecryptErrorMessage.tsx
  src/script/components/Modals/UserModal/UserModal.tsx
  src/script/components/userDevices/DeviceList.tsx
  src/script/components/userDevices/NoDevicesFound.tsx
  src/script/externalRoute.ts
  src/script/main/app.ts
  src/script/page/MainContent/panels/preferences/AboutPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountSecuritySection.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#16818 runfix: Remove E2EI feature flag [WPB-6467]
  package.json
  server/config/client.config.ts
  server/config/env.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/auth/module/action/ClientAction.ts
  src/script/main/app.ts
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/E2EIdentity.ts
  src/script/service/CoreSingleton.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#16819 runfix: Avoid filtering member leave events on the notification stream
  src/script/event/EventProcessor.ts
  src/script/event/EventRepository.ts
  src/script/event/preprocessor/EventStorageMiddleware/EventStorageMiddleware.test.ts
  src/script/event/preprocessor/EventStorageMiddleware/EventStorageMiddleware.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16822 runfix: Inject member leave event in non team context when user is deleted [WPB-6585]
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16820 runfix: don't try to migrate 1:1 conversation with deleted user
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16825 runfix: don't try to migrate 1:1 conversation with deleted user (cherry-pick)
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16827 runfix: apply correct color to emojis rendered as text
  src/script/components/MessagesList/Message/ContentMessage/MessageActions/MessageReactions/EmojiChar.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16828 runfix: Avoid navigation error when conversation join code is invalid
  src/script/auth/page/ConversationJoin.tsx
  src/script/auth/page/Login.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16829 fix: handle connection requests with deleted users [WPB-4356] (#16815)
  src/script/connection/ConnectionRepository.test.ts
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: M

#16830 runfix: Delete local conversations after backup restore only if non-existent on the backend
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16840 chore: Remove unneeded dev deps
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#16841 chore: Upgrade dev dependencies
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: M

#16842 chore: Upgrade redux dependencies
  package.json
  src/script/auth/configureStore.ts
  src/script/auth/util/test/mockStoreFactory.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: M

#16843 chore: remove node-fetch dependency
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: XS

#16846 fix: Do not stick to bottom of messages list when navigating messages [WPB-2505]
  src/script/components/MessagesList/MessageList.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16845 fix: improve visibility of join button for temporary guests (WPB-3550)
  src/script/components/calling/CallingCell.tsx
  src/script/page/LeftSidebar/panels/TemporatyGuestConversations.tsx
  src/style/components/list/conversation-list-calling-cell.less
Labels: type: bug / fix 🐞, 👕 size: L

#16847 chore: Fix changelog generation
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#16850 fix: Do not stick to bottom of messages list when navigating messages [WPB-2505]
  src/script/components/MessagesList/MessageList.tsx
  src/script/components/MessagesList/utils/scrollUpdater.test.ts
  src/script/components/MessagesList/utils/scrollUpdater.ts
  src/script/util/DOM/resizeObserver.ts
Labels: type: bug / fix 🐞, 👕 size: L

#16862 runfix: recover from commit proposals failure
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16863 runfix: recover from commit proposals failure (#16862)
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16865 runfix: prevent erroneous audio repository error logs
  src/script/audio/AudioRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16867 runfix: team mls 1to1 not established on new device
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16869 runfix: stabilize e2ei features
  package.json
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.test.tsx
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16870 runfix: Fix federated calling issues [WPB-6667 WPB-6752]
  package.json
  src/script/mls/MLSConversations.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16872 fix: Make sure e2ei data is no shared accross users [WPB-6746]
  package.json
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16875 chore: upgrade coreCrypto to rc41
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#16879 runfix: system message keys claiming failure [WPB-6641] (#16876)
  package.json
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.test.tsx
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/entity/message/FailedToAddUsersMessage.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#16878 runfix: Fix certificate renewal process [WPB-6795]
  package.json
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/OIDCService/OIDCService.ts
  src/script/components/MessagesList/Message/E2EIVerificationMessage/E2EIVerificationMessage.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#16881 runfix: no audio when joining an ongoing call [WPB-6802]
  package.json
  src/script/calling/CallingRepository.ts
  yarn.lock
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#16884 runfix: fix german translation for user offline for too long
  src/i18n/de-DE.json
Labels: type: bug / fix 🐞, 👕 size: XS

#16886 runfix: missing german translations
  src/i18n/de-DE.json
Labels: type: bug / fix 🐞, 👕 size: XS

#16889 test: multiple add users failures
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.test.tsx
Labels: type: test 👷, 👕 size: M

#16893 runfix: add more corecrypto errors to be ignored [WPB-6451]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16909 runfix: simplify copy for user being offline for too long (#16908)
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.test.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16912 runfix: gracefully handle refresh token being invalid
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16913 runfix: verify mls state on welcome message [WPB-6794]
  package.json
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16916 chore: Upgrade wireapp dependencies to match `dev` branch
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#16917 runfix: verify mls state on welcome message [WPB-6794] (#16913)
  package.json
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16851 feat: show read receipt in message header (WPB-6284)
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/components/MessagesList/Message/index.tsx
  src/script/components/MessagesList/MessageList.tsx
Labels: type: feature / request ✨, 👕 size: S

#16920 runfix: assign full width to message list
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#16921 refactor: bump core with refactored 420 backoff
  package.json
  yarn.lock
Labels: type: refactoring 🛠, 👕 size: S

#16925 runfix: assign right margin to message list
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: XS

#16922 runfix: Harmonize gracePeriod computation for new and renewed devices
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/SnoozableTimer/SnoozableTimer.test.ts
  src/script/E2EIdentity/SnoozableTimer/SnoozableTimer.ts
  src/script/E2EIdentity/SnoozableTimer/SnoozableTimerStorage.ts
  src/script/E2EIdentity/SnoozableTimer/delay.ts
  src/script/components/MessagesList/Message/E2EIVerificationMessage/E2EIVerificationMessage.tsx
  src/script/hooks/useAppSoftLock.test.ts
  src/script/hooks/useAppSoftLock.ts
  src/script/hooks/useDeviceIdentities.ts
  src/script/main/app.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/useE2EIFeatureConfigUpdate.ts
  src/script/util/certificateDetails.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: XXL

#16927 runfix: Harmonize renewal and enrollment timers
  package.json
  src/__mocks__/@wireapp/core.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/SnoozableTimer/SnoozableTimer.test.ts
  src/script/E2EIdentity/SnoozableTimer/SnoozableTimer.ts
  src/script/E2EIdentity/SnoozableTimer/SnoozableTimerStorage.ts
  src/script/E2EIdentity/SnoozableTimer/delay.ts
  src/script/components/MessagesList/Message/E2EIVerificationMessage/E2EIVerificationMessage.tsx
  src/script/hooks/useAppSoftLock.test.ts
  src/script/hooks/useAppSoftLock.ts
  src/script/hooks/useDeviceIdentities.ts
  src/script/main/app.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
  src/script/page/components/FeatureConfigChange/FeatureConfigChangeHandler/Features/useE2EIFeatureConfigUpdate.ts
  src/script/util/certificateDetails.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: XXL

#16929 runfix: prevent unmounted images to cause horizontal scrolling
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset/ImageAsset.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#16930 runfix: Fix grace period computation for verified devices
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/Enrollment.store.ts
  src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.test.ts
  src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.ts
  src/script/E2EIdentity/EnrollmentTimer/index.ts
Labels: 👕 size: M

#16928 runfix: reset verification state on leave [WPB-6864]
  package.json
  src/script/E2EIdentity/E2EIdentityVerification.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  src/script/hooks/useDeviceIdentities.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#16932 runfix: correct size of placeholder images
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset/ImageAsset.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16934 runfix: reset verification state on leave [WPB-6864] (#16928)
  package.json
  src/script/E2EIdentity/E2EIdentityVerification.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  src/script/hooks/useDeviceIdentities.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16937 runfix: do not refresh self supported protocols when loading all notifications
  src/script/client/ClientRepository.ts
  src/script/self/SelfRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16938 runfix: allow autoscrolling with placeholder images
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset/ImageAsset.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#16935 runfix: Improve renewal timer computation
  package.json
  src/script/E2EIdentity/E2EIdentityEnrollment.test.ts
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
  src/script/E2EIdentity/Enrollment.store.ts
  src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.test.ts
  src/script/E2EIdentity/EnrollmentTimer/EnrollmentTimer.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#16942 runfix: Fix registering e2ei crls
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16946 runfix: sync german translation with dev
  src/i18n/de-DE.json
Labels: type: bug / fix 🐞, 👕 size: S

#16945 chore: Bump CoreCrypto to rc46
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#16949 runfix: Avoid using the keycloak refresh token [WPB-6897]
  src/script/E2EIdentity/E2EIdentityEnrollment.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#16943 runfix: prevent error messages from displaying incorrectly
  src/script/components/MessagesList/Message/ContentMessage/ContentMessage.tsx
  src/script/components/MessagesList/Message/ContentMessage/Warnings/CompleteFailureToSend/CompleteFailureToSend.tsx
  src/script/components/MessagesList/Message/ContentMessage/Warnings/PartialFailureToSend/PartialFailureToSend.tsx
  src/script/components/MessagesList/Message/ContentMessage/Warnings/Warnings.styles.ts
Labels: type: bug / fix 🐞, 👕 size: S

#16952 chore(debugging): add app version log at startup
  src/script/main/app.ts
Labels: type: chore 🧹, 👕 size: XS

#16951 chore(dx): add new client naming for dev environments
  package.json
  src/script/auth/module/action/ClientAction.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#16953 fix: Improve new CRL distribution point detection
  package.json
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
  src/script/main/app.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16959 runfix: Show e2ei degradation warning when joining a call [WPB-6918]
  src/i18n/en-US.json
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#16956 runfix: too many requests backoff
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16963 runfix: too many requests backoff (#16956)
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#16961 runfix: update epoch info req clients
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S
