Repository wireapp/wire-webapp, pull requests merged in 2025-05, with the labels that each got.

#19041 fix: Avoid conversation moving to top after migrating to MLS (WPB-16715)
  .github/workflows/precommit.yml
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationState.ts
  src/script/conversation/EventBuilder.ts
  src/script/entity/message/OneToOneMigratedToMlsMessage.ts
  src/script/util/DebugUtil.ts
Labels: type: bug / fix 🐞, comp: infrastructure, 👕 size: S

#19059 feat(router): replace switch-path library with path-to-regexp [WPB-17384]
  package.json
  src/script/page/AppMain.tsx
  src/script/router/Router.ts
  src/script/router/routeGenerator.test.ts
  src/script/router/routeGenerator.ts
  src/script/view_model/ContentViewModel.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#19062 fix(router): user profile deeplink
  src/script/page/AppMain.tsx
  src/script/page/MainContent/panels/preferences/AccountPreferences.tsx
  src/script/router/Router.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19063 feat: Grouping of messages by day (WPB-17297)
  src/script/components/MessagesList/Message/Marker/Marker.tsx
  src/script/components/MessagesList/utils/messagesGroup.test.ts
  src/script/components/MessagesList/utils/messagesGroup.ts
  src/script/hooks/useRelativeTimestamp.tsx
Labels: type: feature / request ✨, 👕 size: M

#19066 fix: Do not mark conversation as read with self user system messages (WPB-17209)
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#19071 feat(cells): global search view - folders redirect [WPB-17388]
  package.json
  src/script/components/CellsGlobalView/CellsTable/CellsFilePreviewModal/CellsFilePreviewModal.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTable.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsTableColumns.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsTableNameColumn/CellsTableNameColumn.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/CellsGlobalView/common/cellFile/cellFile.ts
  src/script/components/CellsGlobalView/common/openFolder/openFolder.ts
  src/script/components/CellsGlobalView/common/useCellsStore/useCellsStore.ts
  src/script/components/CellsGlobalView/transformCellsFiles/transformCellsFiles.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsFilePreviewModal/CellsFilePreviewModal.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/Conversation/ConversationCells/common/cellFile/cellFile.ts
  src/script/components/Conversation/ConversationCells/useGetAllCellsFiles/transformNodesToCellsFiles.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: L

#19073 feat: update set account type page as per new design [WPB-17411]
  src/i18n/en-US.json
  src/script/auth/page/Login.tsx
  src/script/auth/page/SetAccountType.styles.tsx
  src/script/auth/page/SetAccountType.test.tsx
  src/script/auth/page/SetAccountType.tsx
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: L

#19067 chore: add cross platform specific restore history string [WPB-14943]
  src/i18n/en-US.json
  src/script/page/MainContent/panels/preferences/accountPreferences/HistoryBackupSection.tsx
  src/types/i18n.d.ts
Labels: type: chore 🧹, 👕 size: S

#19076 fix: update participant list in sidebar doing a call [WPB-17511]
  src/script/components/calling/CallingCell/CallIngParticipantList/CallingParticipantList.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#19079 fix: Correct copy on login flow (WPB-17270)
  src/i18n/en-US.json
  src/script/auth/page/Login.tsx
  src/types/i18n.d.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19081 fix: removed sidebar from embedded login form on join conv page [WPB-17471]
  src/script/auth/page/Login.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#19086 fix: allow database deletion on logout [WPB-17316]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#19088 fix: allow database deletion on logout [WPB-17316] (#19086)
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#19089 chore: Cherry picks for RC 2025-05-06
  package.json
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/bs-BA.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-CY.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lb-LU.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/me-ME.json
  src/i18n/mk-MK.json
  src/i18n/ms-MY.json
  src/i18n/mt-MT.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sq-AL.json
  src/i18n/sr-Cyrl-ME.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-CY.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/script/auth/page/Login.tsx
  src/script/entity/Conversation.ts
  src/types/i18n.d.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#19090 fix: Adjust channel maximum capacity info [WPB-17339]
  src/i18n/en-US.json
  src/script/components/Modals/CreateConversation/ConversationType/ConversationFeature.tsx
  src/types/i18n.d.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19092 feat: add personal account registration flow [WPB-17455]
  src/i18n/en-US.json
  src/script/auth/component/AccountForm.styles.tsx
  src/script/auth/component/AccountForm.tsx
  src/script/auth/component/AccountRegistrationLayout.tsx
  src/script/auth/component/BackButton.tsx
  src/script/auth/component/Layout.styles.ts
  src/script/auth/component/LoginForm.tsx
  src/script/auth/hooks/useEnterpriseLoginV2.ts
  src/script/auth/module/action/AuthAction.ts
  src/script/auth/module/action/ValidationError.ts
  src/script/auth/module/action/creator/AuthActionCreator.ts
  src/script/auth/module/reducer/authReducer.ts
  src/script/auth/module/selector/AuthSelector.ts
  src/script/auth/page/ConversationJoin.tsx
  src/script/auth/page/CreateAccount.tsx
  src/script/auth/page/CreatePersonalAccount.styles.tsx
  src/script/auth/page/CreatePersonalAccount.tsx
  src/script/auth/page/CustomBackend.tsx
  src/script/auth/page/InitialInvite.tsx
  src/script/auth/page/Login.tsx
  src/script/auth/page/Page.tsx
  src/script/auth/page/Root.tsx
  src/script/auth/page/SetAccountType.styles.tsx
  src/script/auth/page/SetAccountType.tsx
  src/script/auth/page/SetEntropyPage.tsx
  src/script/auth/page/SetHandle.tsx
  src/script/auth/page/SingleSignOn.tsx
  src/script/auth/page/SingleSignOnForm.test.tsx
  src/script/auth/page/SingleSignOnForm.tsx
  src/script/auth/page/TeamName.test.tsx
  src/script/auth/page/TeamName.tsx
  src/script/auth/page/VerifyEmailCode.styles.tsx
  src/script/auth/page/VerifyEmailCode.tsx
  src/script/auth/route.ts
  src/script/util/ValidationUtil.ts
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: XXL

#19093 chore: use GitHub Deployments API via environment keyword
  .github/workflows/publish.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#19095 ci: remove obsolete aws cli setup step
  .github/workflows/create_docker_image.yml
  .github/workflows/generate_test_report.yml
  .github/workflows/publish.yml
Labels: comp: infrastructure, 👕 size: S

#19104 fix(api-client): remove version prefix for all access endpoints [WPB-17718]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#19108 fix(api-client): remove version prefix for all access endpoints [WPB-17718]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#19110 fix: add horizontal rule between features on setAccount page [WPB-17411]
  src/script/auth/page/SetAccountType.styles.tsx
  src/script/auth/page/SetAccountType.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#19112 refactor(cells): rename files to nodes
  src/script/cells/CellsRepository.ts
  src/script/components/CellsGlobalView/CellsGlobalView.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTable.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareFileModal/CellsShareFileModal.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareFileModal/useCellPublicLink.ts
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsTableColumns.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsTableNameColumn/CellsTableNameColumn.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/CellsGlobalView/CellsTable/common/CellsFilePreviewModalContext/CellsFilePreviewModalContext.tsx
  src/script/components/CellsGlobalView/common/cellNode/cellNode.ts
  src/script/components/CellsGlobalView/common/useCellsStore/useCellsStore.ts
  src/script/components/CellsGlobalView/transformCellsNodes/transformCellsNodes.ts
  src/script/components/CellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
  src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewItemModal/CellsNewItemModal.tsx
  src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewMenu.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTable.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.styles.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/useCellPublicLink.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableColumns.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableNameColumn/CellsTableNameColumn.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsMoveNodeModal/CellsFoldersListModalContent/CellsFoldersListModalContent.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsMoveNodeModal/CellsMoveNodeModal.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsMoveNodeModal/CellsNewFolderModalContent/CellsNewFolderModalContent.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/common/CellsFilePreviewModalContext/CellsFilePreviewModalContext.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/useTableHeight/useTableHeight.ts
  src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  src/script/components/Conversation/ConversationCells/common/CellsNewNodeForm/CellsNewNodeForm.styles.ts
  src/script/components/Conversation/ConversationCells/common/CellsNewNodeForm/CellsNewNodeForm.tsx
  src/script/components/Conversation/ConversationCells/common/CellsNewNodeForm/useCellsNewNodeForm.ts
  src/script/components/Conversation/ConversationCells/common/cellNode/cellNode.ts
  src/script/components/Conversation/ConversationCells/common/useCellsStore/useCellsStore.ts
  src/script/components/Conversation/ConversationCells/useCellsLoaderSize/useCellsLoaderSize.ts
  src/script/components/Conversation/ConversationCells/useCellsPagination/useCellsPagination.ts
  src/script/components/Conversation/ConversationCells/useGetAllCellsNodes/transformDataToCellsNodes.ts
  src/script/components/Conversation/ConversationCells/useGetAllCellsNodes/useGetAllCellsNodes.ts
  src/script/components/Conversation/useFilesUploadDropzone/useFilesUploadDropzone.ts
  src/script/components/InputBar/FilePreviews/useFilePreview/useFilePreview.ts
  src/script/components/InputBar/useMessageHandling/useMessageSend/useSendFiles/useSendFiles.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/useGetMultipartAsset/useGetMultipartAsset.ts
Labels: type: refactoring 🛠, 👕 size: XL

#19113 feat(CellsGlobalView): remove node deletion
  src/script/components/CellsGlobalView/CellsGlobalView.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTable.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsTableColumns.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
Labels: type: feature / request ✨, 👕 size: M

#19118 fix(cells): keyboard issues in create file modal and search view
  src/script/components/CellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
  src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewItemModal/CellsNewItemModal.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsMoveNodeModal/CellsMoveNodeModal.tsx
  src/script/components/Conversation/ConversationCells/common/CellsNewNodeForm/CellsNewNodeForm.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#19122 chore: bump core to v46.23.13
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#19077 fix: minimize the gap when reinitializing the media pipeline when the camera is turned on [WPB-17503]
  package.json
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
  src/script/components/calling/GroupVideoGridTile.tsx
  yarn.lock
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#19103 fix: fix glare in 1:1 when toggle camera on [WPB-17595]
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#19069 chore(pipeline): Replace smoke test with critical flow tests to precommit workflow [WPB-17563]
  Jenkinsfile
Labels: type: feature / request ✨, 👕 size: XS

#19127 chore(Playwright): Updated upload artifact in Playwright job [WPB-17365]
  .github/workflows/playwright-smoke-tests.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS
