Repository wireapp/wire-webapp, pull requests merged in 2025-04, with the labels that each got.

#18943 fix: Update copy and translation for MLS reload modal (WPB-16727)
  src/i18n/en-US.json
  src/script/team/TeamRepository.ts
  src/types/i18n.d.ts
Labels: 👕 size: S

#18945 ci(wire-builds): push q2-2025 tags to wire-builds
  .github/workflows/publish.yml
Labels: comp: infrastructure, 👕 size: XS

#18942 feat: implement screen sharing with camera overlay POC [WPB-16186]
  server/config/client.config.ts
  server/config/env.ts
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/media/CanvasMediaStreamMixer.ts
  src/types/picture-in-picture.d.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: XL

#18947 ci(dependabot): ignore all lexical deps update [WPB-16921]
  .github/dependabot.yml
Labels: comp: infrastructure, 👕 size: XS

#18955 chore: Revert "chore(deps): bump the lexical group with 7 updates (#18932)"
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: L

#18948 feat(cells): file upload progress [WPB-16866]
  package.json
  src/script/cells/CellsRepository.ts
  src/script/components/Conversation/useFilesUploadDropzone/useFilesUploadDropzone.ts
  src/script/components/Conversation/useFilesUploadState/useFilesUploadState.ts
  src/script/components/FileCard/FileCardLoading/FileCardLoading.styles.ts
  src/script/components/FileCard/FileCardLoading/FileCardLoading.tsx
  src/script/components/InputBar/FilePreviews/FilePreviewCard/FilePreviewCard.tsx
  src/script/components/InputBar/FilePreviews/FilePreviews.tsx
  src/script/components/InputBar/FilePreviews/ImagePreviewCard/ImagePreviewCard.tsx
  src/script/components/InputBar/FilePreviews/VideoPreviewCard/VideoPreviewCard.tsx
  src/script/components/InputBar/FilePreviews/common/MediaFilePreviewCard/MediaFilePreviewCard.tsx
  yarn.lock
Labels: type: feature / request ✨, 👕 size: L

#18957 feat: update system e2ee message [WPB-15798]
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/E2eEncryptionMessage/E2eEncryptionMessage.styles.ts
  src/script/components/MessagesList/Message/E2eEncryptionMessage/E2eEncryptionMessage.tsx
  src/script/components/MessagesList/Message/MemberMessage.test.tsx
  src/script/components/MessagesList/Message/MemberMessage.tsx
  src/script/components/MessagesList/Message/MemberMessage/ConnectedMessage.tsx
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: M

#18956 feat: add add-permission for channels [WPB-16728]
  package.json
  src/script/components/Modals/CreateConversation/CreateConversationSteps/ConversationDetails/ChannelSettings.tsx
  src/script/components/Modals/CreateConversation/hooks/useCreateConversation.ts
  src/script/components/Modals/CreateConversation/hooks/useCreateConversationModal.ts
  src/script/components/Modals/CreateConversation/types.ts
  src/script/components/Modals/CreateConversation/utils.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationRoleRepository.ts
  src/script/conversation/ConversationService.ts
  src/script/entity/Conversation.ts
  src/script/page/RightSidebar/Access/Access.tsx
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/RightSidebar.tsx
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#18960 fix: proceed with 2fa flow after handling error [WPB-16948]
  src/script/auth/module/action/AuthAction.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18963 fix: close sales modal on bg click [WPB-15798]
  src/script/components/Modals/CreateConversation/CreateConversationSteps/ConversationDetails/CreateTeamModal.tsx
  src/script/components/Modals/CreateConversation/CreateConversationSteps/ConversationDetails/UpgradePlanModal.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#18972 feat(GroupCreationModal): cells option + refactoring [WPB-16965]
  package.json
  src/i18n/en-US.json
  src/script/components/Modals/GroupCreation/GroupCreationModal.tsx
  src/types/i18n.d.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#18944 feat: simulcast
  package.json
  src/script/calling/Call.ts
  src/script/calling/CallState.ts
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
  src/script/components/ConfigToolbar/ConfigToolbar.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/media/MediaConstraintsHandler.test.ts
  src/script/media/MediaConstraintsHandler.ts
  src/script/media/MediaStreamHandler.ts
  src/script/team/TeamState.ts
  src/script/util/DebugUtil.ts
  test/unit_tests/calling/videoGridHandlerSpec.js
  yarn.lock
Labels: blocked: do-not-merge, type: feature / request ✨, comp: calling, 👕 size: L

#18958 feat(cells): cancel file upload [WPB-16843]
  src/script/cells/CellsRepository.ts
  src/script/components/Conversation/useFilesUploadDropzone/useFilesUploadDropzone.ts
  src/script/components/FileCard/FileCardLoading/FileCardLoading.tsx
  src/script/components/InputBar/FilePreviews/AudioPreviewCard/AudioPreviewCard.tsx
  src/script/components/InputBar/FilePreviews/FilePreviewCard/FilePreviewCard.tsx
  src/script/components/InputBar/FilePreviews/FilePreviews.tsx
  src/script/components/InputBar/FilePreviews/ImagePreviewCard/ImagePreviewCard.tsx
  src/script/components/InputBar/FilePreviews/VideoPreviewCard/VideoPreviewCard.tsx
  src/script/components/InputBar/FilePreviews/common/MediaFilePreviewCard/MediaFilePreviewCard.tsx
  src/script/components/InputBar/FilePreviews/useFilePreview/useFilePreview.ts
  src/script/components/InputBar/InputBar.tsx
Labels: type: feature / request ✨, 👕 size: M

#18979 ci(dependabot): remove the lexical pattern from dependabot groups [WPB-16921]
  .github/dependabot.yml
Labels: comp: infrastructure, 👕 size: S

#18980 chore: Revert "chore(deps): bump the lexical group with 7 updates (#18965)"
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: L

#18981 feat: handle permissions for channels [WPB-15758]
  package.json
  src/i18n/en-US.json
  src/script/components/Modals/CreateConversation/CreateConversationHeader.tsx
  src/script/components/Modals/CreateConversation/CreateConversationSteps/ConversationDetails/ConversationDetails.tsx
  src/script/components/Modals/CreateConversation/CreateConversationSteps/CreateConversationSteps.styles.ts
  src/script/conversation/ConversationRoleRepository.ts
  src/script/entity/Conversation.ts
  src/script/entity/User/User.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationHeader/ConversationHeader.tsx
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/types/i18n.d.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#18984 feat(api-client): enable support for API v8 [WPB-16985]
  package.json
  src/script/Config.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationService.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#18988 fix: resolve channel MVP related fixes [WPB-17028]
  server/config/client.config.ts
  server/config/env.ts
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/E2eEncryptionMessage/E2eEncryptionMessage.tsx
  src/script/components/Modals/CreateConversation/CreateConversation.styles.ts
  src/script/components/Modals/CreateConversation/CreateConversationHeader.tsx
  src/script/components/Modals/CreateConversation/CreateConversationSteps/ConversationDetails/ConversationDetails.styles.ts
  src/script/components/Modals/CreateConversation/CreateConversationSteps/ConversationDetails/ConversationDetails.tsx
  src/script/components/Modals/CreateConversation/CreateConversationSteps/CreateConversationSteps.styles.ts
  src/script/components/Modals/CreateConversation/CreateConversationSteps/CreateConversationSteps.tsx
  src/script/components/Modals/CreateConversation/CreateConversationSteps/ParticipantsSelection.tsx
  src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.tsx
  src/script/components/Modals/CreateConversation/hooks/useCreateConversationModal.ts
  src/script/components/panel/UserActions.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationHeader/ConversationHeader.tsx
  src/script/page/RightSidebar/ConversationDetails/utils/getConversationActions.ts
  src/script/util/useChannelsFeatureFlag.ts
  src/script/view_model/ActionsViewModel.ts
  src/script/view_model/ListViewModel.ts
  src/types/i18n.d.ts
Labels: type: bug / fix 🐞, 👕 size: M

#18989 fix: default notification state for newly created conversations [WPB-16859]
  src/script/conversation/ConversationMapper.ts
  src/script/entity/Conversation.test.ts
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18991 feat: handle channel sidebar entry cases [WPB-17080]
  src/script/page/LeftSidebar/panels/Conversations/ConversationHeader/ConversationHeader.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  src/script/util/useChannelsFeatureFlag.ts
Labels: type: feature / request ✨, 👕 size: S

#18992 fix: provide access rights to only team conversation owner
  src/script/components/MessagesList/Message/E2eEncryptionMessage/E2eEncryptionMessage.styles.ts
  src/script/conversation/ConversationRoleRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18997 fix: update account-already-exist-modal header and text [WPB-14366]
  package.json
  src/i18n/en-US.json
  src/script/auth/hooks/useEnterpriseLoginV2.ts
  src/types/i18n.d.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#18998 fix: update redirect custom BE screen [WPB-17138]
  src/i18n/en-US.json
  src/script/auth/hooks/useEnterpriseLoginV2.ts
  src/script/auth/page/CustomBackend.styles.tsx
  src/script/auth/page/CustomBackend.tsx
  src/script/auth/util/configUtil.ts
  src/types/i18n.d.ts
Labels: type: bug / fix 🐞, 👕 size: M

#19001 fix: update custom backend redirect modal text [WPB-17138]
  src/i18n/en-US.json
  src/types/i18n.d.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#19003 chore: RC-2025-04-11
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/bs-BA.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-CY.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lb-LU.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/me-ME.json
  src/i18n/mk-MK.json
  src/i18n/ms-MY.json
  src/i18n/mt-MT.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sq-AL.json
  src/i18n/sr-Cyrl-ME.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-CY.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
  src/types/i18n.d.ts
Labels: type: chore 🧹, 👕 size: XXL

#19004 chore: include api versioning to endpoints with credentials [WPB-16119]
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#19010 fix(cells): pagination select styles [WPB-16997]
  package.json
  src/script/components/Conversation/ConversationCells/CellsPagination/CellsPageSizeSelect/CellsPageSizeSelect.styles.ts
  src/script/components/Conversation/ConversationCells/CellsPagination/CellsPageSizeSelect/CellsPageSizeSelect.tsx
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#19012 feat: Single button for starting a call (WPB-16259)
  package.json
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/components/TitleBar/TitleBar.test.tsx
  src/script/components/TitleBar/TitleBar.tsx
  src/script/view_model/CallingViewModel.test.ts
  src/script/view_model/CallingViewModel.ts
  src/style/content/conversation/title-bar.less
  yarn.lock
Labels: type: feature / request ✨, comp: calling, 👕 size: M

#19013 chore(config): bump wire-web-config-wire to 0.34.2
  app-config/package.json
Labels: type: chore 🧹, 👕 size: XS

#19015 chore(deps): bump @wireapp/react-ui-kit to 9.46.1
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#19009 fix(cells): send image button restrictions [WPB-16847]
  src/script/components/Conversation/Conversation.tsx
  src/script/components/Conversation/useFilesUploadDropzone/transformAcceptedFiles/transformAcceptedFiles.ts
  src/script/components/Conversation/useFilesUploadDropzone/useFilesUploadDropzone.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19024 fix: set default add_permission value to ADMINS
  src/script/conversation/ConversationMapper.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#19022 feat: add confirm discard modal [WPB-17075]
  src/i18n/en-US.json
  src/script/components/Modals/CreateConversation/ConversationType/ConfirmDiscardModal.tsx
  src/script/components/Modals/CreateConversation/ConversationType/ConversationTypeContainer.tsx
  src/script/components/Modals/CreateConversation/CreateConversaionModal.tsx
  src/script/components/Modals/CreateConversation/CreateConversationHeader.tsx
  src/script/components/Modals/CreateConversation/hooks/useCreateConversationModal.ts
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: M

#19028 feat: Redirect to unsupported page when desktop is enforced (WPB-17261)
  src/script/auth/main.tsx
  src/script/main/index.tsx
Labels: type: feature / request ✨, 👕 size: S

#19031 fix(CellsPagination): display disabled arrow buttons
  src/script/components/Conversation/ConversationCells/CellsPagination/CellsPagination.styles.ts
  src/script/components/Conversation/ConversationCells/CellsPagination/CellsPagination.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#19038 feat: add bund sso login flow [WPB-17139]
  server/config/client.config.ts
  server/config/env.ts
  src/i18n/de-DE.json
  src/i18n/en-US.json
  src/script/auth/page/Index.tsx
  src/script/auth/page/SingleSignOnForm.tsx
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: S

#19037 feat: pdf viewer [WPB-15678]
  package.json
  setupTests.js
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/FileAssetCard.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/FileAssetWithPreview/FileAssetWithPreview.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/FileAssetWithPreview/FileAssetWithPreview.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/common/FileAssetOptions/FileAssetOptions.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/common/FileAssetOptions/FileAssetOptions.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/MultipartAssets.tsx
  src/script/components/PdfViewer/PdfControls/PdfControls.styles.ts
  src/script/components/PdfViewer/PdfControls/PdfControls.tsx
  src/script/components/PdfViewer/PdfError/PdfError.styles.ts
  src/script/components/PdfViewer/PdfError/PdfError.tsx
  src/script/components/PdfViewer/PdfSidebar/PdfPageThumbnail/PdfPageThumbnail.styles.ts
  src/script/components/PdfViewer/PdfSidebar/PdfPageThumbnail/PdfPageThumbnail.tsx
  src/script/components/PdfViewer/PdfSidebar/PdfSidebar.styles.ts
  src/script/components/PdfViewer/PdfSidebar/PdfSidebar.tsx
  src/script/components/PdfViewer/PdfSidebar/useArrowsNavigation/useArrowsNavigation.ts
  src/script/components/PdfViewer/PdfViewer.styles.ts
  src/script/components/PdfViewer/PdfViewer.tsx
  src/script/components/PdfViewer/common/PdfLoader/PdfLoader.styles.ts
  src/script/components/PdfViewer/common/PdfLoader/PdfLoader.tsx
  src/script/components/PdfViewer/usePageControls/usePageControls.ts
  src/script/components/PdfViewer/useZoomControls/useZoomControls.ts
  src/style/components/pdf-preview.less
  src/types/i18n.d.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XXL

#19040 fix(MultipartAssets): message grid
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/ImageAssetCard/ImageAssetSmall/ImageAssetSmall.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/MultipartAssets.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/MultipartAssets.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/common/MediaFilePreviewCard/MediaFilePreviewCard.styles.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19039 feat(cells): tables columns fixed width
  src/script/components/CellsGlobalView/CellsTable/CellsTable.styles.ts
  src/script/components/CellsGlobalView/CellsTable/CellsTable.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTableNameColumn/CellsTableNameColumn.styles.ts
  src/script/components/CellsGlobalView/CellsTable/CellsTableRowOptions/CellsTableRowOptions.styles.ts
  src/script/components/CellsGlobalView/CellsTable/CellsTableSharedColumn/CellsTableSharedColumn.styles.ts
  src/script/components/CellsGlobalView/common/styleBreakpoint/styleBreakpoint.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTable.styles.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTable.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableNameColumn/CellsTableNameColumn.styles.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableRowOptions/CellsTableRowOptions.styles.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableSharedColumn/CellsTableSharedColumn.styles.ts
  src/script/components/Conversation/ConversationCells/CellsTable/useTableHeight/useTableHeight.ts
  src/script/components/Conversation/ConversationCells/CellsTable/useTableResizeObserver/useTableResizeObserver.ts
  src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  src/script/components/Conversation/ConversationCells/common/styleBreakpoint/styleBreakpoint.ts
  src/script/components/Conversation/ConversationCells/useCellsLoaderSize/useCellsLoaderSize.ts
  src/script/components/Conversation/ConversationCells/useCellsPagination/useCellsPagination.ts
  src/script/components/Conversation/ConversationCells/useCellsTableDimentions/useCellsTableDimentions.ts
Labels: type: feature / request ✨, 👕 size: L

#19035 fix(CellsPagination): last minor fixes on pagination
  src/i18n/en-US.json
  src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  src/script/components/Conversation/ConversationCells/common/useCellsStore/useCellsStore.ts
  src/script/components/Conversation/ConversationCells/useCellsPagination/useCellsPagination.ts
  src/types/i18n.d.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19047 feat(backup): allow cross platform backup export [WPB-17310]
  src/script/backup/BackupRepository.ts
  src/script/backup/CrossPlatformBackup/CPB.export.ts
  src/script/backup/CrossPlatformBackup/CPB.library.ts
  src/script/backup/CrossPlatformBackup/CPB.types.ts
  src/script/backup/CrossPlatformBackup/data.schema.ts
Labels: type: feature / request ✨, 👕 size: S

#19043 fix(cells): minor design improvements
  package.json
  src/i18n/en-US.json
  src/script/components/Conversation/Conversation.tsx
  src/script/components/Conversation/common/FileTypeIcon/FileTypeIcon.styles.ts
  src/script/components/Conversation/common/FileTypeIcon/FileTypeIcon.tsx
  src/script/components/Conversation/useFilesUploadDropzone/useFilesUploadDropzone.ts
  src/script/components/FileCard/FileCardRoot/FileCardRoot.styles.ts
  src/script/components/InputBar/FilePreviews/FilePreviews.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAsset/FileAssetRestricted/FileAssetRestricted.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/FileAssetSmall/FileAsseetSmall.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/ImageAssetCard/ImageAssetLarge/ImageAssetLarge.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/ImageAssetCard/common/ImageFullscreenModal/ImageFullscreenModal.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/ImageAssetCard/common/ImageFullscreenModal/ImageFullscreenModal.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/MultipartAssets.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/common/MediaFilePreviewCard/MediaFilePreviewCard.styles.ts
  src/script/components/ZoomableImage/ZoomableImage.tsx
  src/style/content/conversation.less
  src/types/i18n.d.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#19053 fix: Allow personal users to create mls clients (WPB-17396)
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19060 feat: bump avs 10.0.43 [WPB-10607]
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S
