Repository wireapp/wire-webapp, pull requests merged in 2025-09, with the labels that each got.

#19477 chore: Add indexed db dump & restore debug utils (WPB-18410)
  src/script/components/ConfigToolbar/ConfigToolbar.tsx
  src/script/util/DebugUtil.ts
Labels: type: chore 🧹, 👕 size: L

#19479 feat: add pdb
  charts/webapp/templates/poddisruptionbudget.yaml
Labels: type: feature / request ✨, 👕 size: S

#19480 fix: indicate when a 1:1 conversation involves a deleted user [WPB-18869]
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/ContentMessage/MessageHeader.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/MessageHeader.tsx
  src/script/repositories/entity/Conversation.ts
  src/style/content/conversation/message-list.less
  src/types/i18n.d.ts
Labels: type: bug / fix 🐞, 👕 size: M

#19486 chore: Rely on backend for using async notificaitons [WPB-19648]
  server/config/client.config.ts
  server/config/env.ts
  src/script/auth/module/action/ClientAction.ts
  src/script/main/app.ts
  src/script/util/DebugUtil.ts
Labels: type: chore 🧹, 👕 size: S

#19476 fix: remove reaction hack for old android client(WPB-4736)
  src/script/util/EmojiUtil.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#19512 fix(i18n): update call not established title to correct capitalization [WPB-16416]
  src/i18n/en-US.json
  test/e2e_tests/pageManager/webapp/modals/callNotEstablished.modal.ts
  test/e2e_tests/specs/noInternetCallGuard.spec.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#19513 fix(i18n): Update loading messages copy [WPB-18629]
  src/i18n/en-US.json
Labels: type: bug / fix 🐞, 👕 size: XS

#19429 chore(integrations): update translations rebranding services to apps (WPB-18035)
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: S

#19482 fix: More detailed monitoring of the epoch handover to AVS [WPB-19989]
  src/script/repositories/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: S

#19535 runfix(cells): disable self-deleting messages in cells conversations [WPB-19753]
  src/i18n/en-US.json
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/ConversationDetails/components/ConversationDetailsOptions/ConversationDetailsOptions.tsx
  src/script/repositories/entity/Conversation.ts
  src/types/i18n.d.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19538 fix(preferences): direct landing on Preferences related routes [WPB-20397]
  src/script/view_model/ListViewModel.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19539 fix: Do not reuse cryptographic material
  package.json
  src/script/auth/module/action/ClientAction.ts
  src/script/auth/module/action/SelfAction.test.ts
  src/script/auth/module/action/SelfAction.ts
  src/script/auth/module/action/WebSocketAction.ts
  src/script/main/app.ts
  src/script/repositories/conversation/ConversationRepository.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: L

#19542 fix: Do not reuse cryptographic material (#19539)
  package.json
  src/script/auth/module/action/ClientAction.ts
  src/script/auth/module/action/SelfAction.test.ts
  src/script/auth/module/action/SelfAction.ts
  src/script/auth/module/action/WebSocketAction.ts
  src/script/main/app.ts
  src/script/repositories/conversation/ConversationRepository.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: L

#19452 fix: focus password input when email is pre-filled and locked (WPB-17650)
  src/script/auth/component/LoginForm.tsx
  src/script/auth/hooks/useAutoFocus.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19541 ci(precommit): improve workflow with commit metadata and Dependabot skip
  .github/workflows/precommit-crit-flows.yml
Labels: comp: infrastructure, 👕 size: S

#19558 runfix(cells): use correct url to download files [WPB-20155]
  src/script/components/CellsGlobalView/CellsTable/CellsFilePreviewModal/CellsFilePreviewModal.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsFilePreviewModal/CellsFilePreviewModal.tsx
  src/script/components/FileFullscreenModal/FileFullscreenModal.tsx
  src/script/components/FileFullscreenModal/FileHeader/FileHeader.tsx
  src/script/components/FileFullscreenModal/NoPreviewAvailable/NoPreviewAvailable.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/common/FilePreviewModal/FilePreviewModal.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#19559 chore: bump @wireapp/react-ui-kit from 9.63.0 to 9.64.0
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#19525 test(e2e): implement accessibility regression tests [WPB-19934]
  test/e2e_tests/pageManager/webapp/components/conversationSidebar.component.ts
  test/e2e_tests/pageManager/webapp/pages/account.page.ts
  test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  test/e2e_tests/pageManager/webapp/pages/conversationList.page.ts
  test/e2e_tests/specs/Accessibility/Accessibility.spec.ts
  test/e2e_tests/utils/setup.util.ts
  test/e2e_tests/utils/userActions.ts
Labels: type: test 👷, 👕 size: M

#19563 chore: Bump @wireapp/core from 46.35.0 to 46.35.1
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#19522 test(e2e): implement 2 fa regression tests [WPB-19932]
  test/e2e_tests/backend/brigRepository.e2e.ts
  test/e2e_tests/backend/featureConfigRepository.e2e.ts
  test/e2e_tests/backend/inbucketClient.e2e.ts
  test/e2e_tests/pageManager/webapp/pages/emailVerification.page.ts
  test/e2e_tests/specs/2FA-for-TeamsSpecs/2fa-for-teams.spec.ts
  test/e2e_tests/utils/setup.utli.ts
  test/e2e_tests/utils/tearDown.util.ts
Labels: type: test 👷, 👕 size: M

#19562 refactor: Add delay mechanism for developer message automation
  src/script/components/ConfigToolbar/ConfigToolbar.tsx
  src/script/repositories/entity/Conversation.ts
Labels: type: refactoring 🛠, 👕 size: M

#19566 runfix: Correctly stop spamming message
  src/script/components/ConfigToolbar/ConfigToolbar.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#19569 fix: Pause notification processing before app is fully initialized [WPB-18813]
  package.json
  src/script/main/app.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#19549 feat: add meeting cta on the left navigation [WPB-20281]
  src/i18n/en-US.json
  src/script/page/AppMain.tsx
  src/script/page/LeftSidebar/LeftSidebar.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationHeader/ConversationHeader.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.styles.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/useSidebarStore.ts
  src/script/page/MainContent/MainContent.tsx
  src/script/page/useAppState.ts
  src/script/view_model/ListViewModel.ts
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: S

#19528 runfix: display name of deleted conversations when restored [WPB-19758]
  src/script/repositories/backup/CrossPlatformBackup/importMappers/mapConversationRecord.ts
  src/script/repositories/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19574 refactor(app.ts): extract logout and redirect in its own repository [WPB-20515]
  src/script/components/AppContainer/AppContainer.tsx
  src/script/main/app.ts
  src/script/main/index.tsx
  src/script/repositories/LifeCycleRepository/LifeCycleRepository.test.ts
  src/script/repositories/LifeCycleRepository/LifeCycleRepository.ts
  src/script/view_model/MainViewModel.ts
Labels: type: refactoring 🛠, 👕 size: XXL

#19602 runfix(cells): fetch conversation to refresh cells state [WPB-19978]
  src/script/components/Conversation/ConversationCells/useRefreshCellsState/useRefreshCellsState.ts
  src/script/repositories/conversation/ConversationRepository.test.ts
  src/script/repositories/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S
