Repository wireapp/wire-webapp, pull requests merged in 2025-01, with the labels that each got.

#18556 chore(deps): update @lexical packages to version 0.23.0
  package.json
  src/script/components/RichTextEditor/nodes/EmojiNode.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: L

#18558 chore: Revert "chore: Revert "feat: Handle deleted user names appropriately (WPB-14492)""
  src/i18n/en-US.json
  src/script/user/UserRepository.test.ts
  src/script/user/UserRepository.ts
  src/script/user/UserService.ts
  src/script/util/QualifiedId.ts
  src/types/i18n.d.ts
Labels: type: chore 🧹, 👕 size: M, echoes: product-roadmap/feature

#18492 fix: arrange screen share before the videos [WPB-15036]
  src/script/calling/Call.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#18546 feat: markdown preview setting [WPB-15101]
  package.json
  src/i18n/en-US.json
  src/script/components/InputBar/InputBar.tsx
  src/script/components/InputBar/components/InputBarControls/ControlButtons.test.tsx
  src/script/components/InputBar/components/InputBarControls/ControlButtons.tsx
  src/script/components/InputBar/components/InputBarControls/EmojiButton/EmojiButton.tsx
  src/script/components/RichTextEditor/RichTextEditor.tsx
  src/script/components/RichTextEditor/plugins/EditedMessagePlugin/EditedMessagePlugin.tsx
  src/script/components/RichTextEditor/plugins/EditedMessagePlugin/getRawMarkdownFromMessage/getRawMarkdownFromMessage.ts
  src/script/page/MainContent/panels/preferences/OptionPreferences.tsx
  src/script/properties/PropertiesRepository.ts
  src/script/properties/PropertiesType.ts
  src/types/i18n.d.ts
  yarn.lock
Labels: type: feature / request ✨, comp: preferences, 👕 size: M

#18557 feat(RichTextEditor): add support for blockquotes [WPB-12089]
  src/script/components/RichTextEditor/RichTextEditor.tsx
  src/script/components/RichTextEditor/plugins/BlockquotePlugin/BlockquotePlugin.tsx
  src/script/components/RichTextEditor/utils/markdownTransformers.ts
  src/script/util/messageRenderer.test.ts
  src/script/util/messageRenderer.ts
  src/style/components/lexical-input.less
  src/style/content/conversation/input-bar.less
  src/style/content/conversation/message-list.less
Labels: type: feature / request ✨, 👕 size: M

#18566 fix: mic space click [WPB-8580]
  src/script/auth/page/OAuthPermissions.tsx
  src/script/components/AppContainer/AppContainer.tsx
  src/script/components/Avatar/Avatar.tsx
  src/script/components/HistoryImport/BackupFileUpload.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/AssetLoader.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAssetComponent.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/ImageAsset/ImageAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/LinkPreviewAssetComponent.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/TextMessageRenderer/TextMessageRenderer.tsx
  src/script/components/Modals/DetailViewModal/index.tsx
  src/script/components/Modals/UserModal/UserModal.tsx
  src/script/components/RichTextEditor/plugins/MentionsPlugin/MentionSuggestionsItem.tsx
  src/script/components/SelectText/SelectText.tsx
  src/script/components/ServiceList/components/ServiceListItem/ServiceListItem.tsx
  src/script/components/TitleBar/TitleBar.tsx
  src/script/components/UserDevices/components/DeviceCard/DeviceCard.tsx
  src/script/components/calling/CallParticipantsListItem/CallParticipantsListItem.tsx
  src/script/components/calling/CallingOverlayContainer.tsx
  src/script/components/calling/DetachedCallingCell/DetachedCallingCell.tsx
  src/script/components/calling/DeviceToggleButton.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/Pagination.tsx
  src/script/components/calling/fullscreenVideoCall.test.tsx
  src/script/page/AppMain.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConnectionRequests/ConnectionRequests.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/groupList/GroupListItem.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/topPeople/TopContact.tsx
  src/script/page/MainContent/panels/Collection/fullSearch/FullSearchItem.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/Device/Device.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AvatarInput.tsx
  src/script/page/RightSidebar/AddParticipants/AddParticipants.tsx
  src/script/page/RightSidebar/GroupParticipantService/GroupParticipantService.tsx
  src/script/page/RightSidebar/GroupParticipantUser/GroupParticipantUser.tsx
  src/script/util/KeyboardUtil.ts
Labels: type: bug / fix 🐞, 👕 size: L

#18568 refactor(RichTextEditor/InputBar): file structure [WPB-12089]
  src/script/components/InputBar/InputBar.tsx
  src/script/components/InputBar/components/PastedFileControls/PastedFileControls.tsx
  src/script/components/InputBar/components/ReplyBar/ReplyBar.tsx
  src/script/components/InputBar/components/RichTextEditor/RichTextEditor.tsx
  src/script/components/InputBar/components/RichTextEditor/components/FormatToolbar/FormatButton/FormatButton.styles.ts
  src/script/components/InputBar/components/RichTextEditor/components/FormatToolbar/FormatButton/FormatButton.tsx
  src/script/components/InputBar/components/RichTextEditor/components/FormatToolbar/FormatToolbar.styles.ts
  src/script/components/InputBar/components/RichTextEditor/components/FormatToolbar/FormatToolbar.tsx
  src/script/components/InputBar/components/RichTextEditor/components/FormatToolbar/common/isNodeHeading/isNodeHeading.test.ts
  src/script/components/InputBar/components/RichTextEditor/components/FormatToolbar/common/isNodeHeading/isNodeHeading.ts
  src/script/components/InputBar/components/RichTextEditor/components/FormatToolbar/common/isNodeList/isNodeList.test.ts
  src/script/components/InputBar/components/RichTextEditor/components/FormatToolbar/common/isNodeList/isNodeList.ts
  src/script/components/InputBar/components/RichTextEditor/components/FormatToolbar/useHeadingState/headingCommand.ts
  src/script/components/InputBar/components/RichTextEditor/components/FormatToolbar/useHeadingState/useHeadingState.ts
  src/script/components/InputBar/components/RichTextEditor/components/FormatToolbar/useListState/useListState.ts
  src/script/components/InputBar/components/RichTextEditor/components/FormatToolbar/useToolbarState/useToolbarState.ts
  src/script/components/InputBar/components/RichTextEditor/components/Placeholder/Placeholder.tsx
  src/script/components/InputBar/components/RichTextEditor/components/SendMessageButton/SendMessageButton.tsx
  src/script/components/InputBar/components/RichTextEditor/components/SendMessageButton/index.ts
  src/script/components/InputBar/components/RichTextEditor/editorConfig.ts
  src/script/components/InputBar/components/RichTextEditor/index.ts
  src/script/components/InputBar/components/RichTextEditor/nodes/EmojiNode.ts
  src/script/components/InputBar/components/RichTextEditor/nodes/Mention.tsx
  src/script/components/InputBar/components/RichTextEditor/nodes/MentionNode.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/AutoFocusPlugin/AutoFocusPlugin.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/BlockquotePlugin/BlockquotePlugin.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/CodeHighlightPlugin/CodeHighlightPlugin.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/DraftStatePlugin/DraftStatePlugin.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/EditedMessagePlugin/EditedMessagePlugin.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/EditedMessagePlugin/getMentionMarkdownTransformer/getMentionMarkdownTransformer.ts
  src/script/components/InputBar/components/RichTextEditor/plugins/EditedMessagePlugin/getMentionNodesFromMessage/getMentionNodesFromMessage.ts
  src/script/components/InputBar/components/RichTextEditor/plugins/EditedMessagePlugin/getRawMarkdownFromMessage/getRawMarkdownFromMessage.ts
  src/script/components/InputBar/components/RichTextEditor/plugins/EditedMessagePlugin/wrapMentionsWithTags/wrapMentionsWithTags.ts
  src/script/components/InputBar/components/RichTextEditor/plugins/EmojiPickerPlugin/EmojiItem.styles.ts
  src/script/components/InputBar/components/RichTextEditor/plugins/EmojiPickerPlugin/EmojiItem.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/EmojiPickerPlugin/EmojiPickerPlugin.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/EmojiPickerPlugin/index.ts
  src/script/components/InputBar/components/RichTextEditor/plugins/GlobalEventsPlugin/GlobalEventsPlugin.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/HistoryPlugin/HistoryPlugin.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/InlineEmojiReplacementPlugin/InlineEmojiReplacementPlugin.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/InlineEmojiReplacementPlugin/index.ts
  src/script/components/InputBar/components/RichTextEditor/plugins/InlineEmojiReplacementPlugin/inlineReplacements.ts
  src/script/components/InputBar/components/RichTextEditor/plugins/ListIndentationPlugin/ListIndentationPlugin.ts
  src/script/components/InputBar/components/RichTextEditor/plugins/ListMaxIndentLevelPlugin/ListMaxIndentLevelPlugin.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/MentionsPlugin/MentionSuggestionsItem.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/MentionsPlugin/MentionsPlugin.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/MentionsPlugin/index.ts
  src/script/components/InputBar/components/RichTextEditor/plugins/ReplaceCarriageReturnPlugin/ReplaceCarriageReturnPlugin.ts
  src/script/components/InputBar/components/RichTextEditor/plugins/SendPlugin/SendPlugin.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/TypeaheadMenuPlugin/TypeaheadMenuPlugin.tsx
  src/script/components/InputBar/components/RichTextEditor/theme.ts
  src/script/components/InputBar/components/RichTextEditor/utils/generateNodes.ts
  src/script/components/InputBar/components/RichTextEditor/utils/getDomRangeRect.ts
  src/script/components/InputBar/components/RichTextEditor/utils/getSelectionInfo.ts
  src/script/components/InputBar/components/RichTextEditor/utils/markdownTransformers.ts
  src/script/components/InputBar/components/RichTextEditor/utils/parseMentions.ts
Labels: type: refactoring 🛠, 👕 size: L

#18572 feat: update translations
  src/i18n/en-US.json
Labels: type: feature / request ✨, 👕 size: XS

#18570 feat(RichTextEditor): analytics [WPB-15304]
  src/script/conversation/MessageRepository.ts
  src/script/tracking/Segmentation.ts
  src/script/util/MarkdownUtil.test.ts
  src/script/util/MarkdownUtil.ts
Labels: type: feature / request ✨, 👕 size: M

#18576 runfix: address backward compatibility backup bug [WPB-15317]
  src/script/components/HistoryImport/HistoryImport.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#18580 runfix: do not pass files to debug logs after validating metadata [WPB-15317]
  src/script/backup/LegacyBackup.helper.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18583 runfix(backup-repo): do not pass files to debug logs after validating metadata [WPB-15317]
  src/script/backup/BackupRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18579 fix: Clean up connections when user joins team (WPB-15263)
  src/script/connection/ConnectionRepository.test.ts
  src/script/connection/ConnectionRepository.ts
  src/script/conversation/ConversationState.ts
  src/script/main/app.ts
  test/helper/TestFactory.js
Labels: type: bug / fix 🐞, 👕 size: M, echoes: product-roadmap/bug

#18584 fix: add vertical spacing to show more button for replies [WPB-11935]
  src/style/content/conversation/message-quote.less
Labels: type: bug / fix 🐞, 👕 size: XS

#18582 fix: newsletter check [WPB-11942]
  src/script/auth/page/SetHandle.tsx
  src/script/properties/PropertiesRepository.ts
  src/script/storage/StorageKey.ts
Labels: type: bug / fix 🐞, comp: preferences, 👕 size: S

#18586 refactor: replace underscore debounce with use-debounce
  src/script/components/FadingScrollbar/FadingScrollbar.test.tsx
  src/script/components/FadingScrollbar/FadingScrollbar.tsx
  src/script/components/MessagesList/JumpToLastMessageButton.tsx
  src/script/components/UserSearchableList/UserSearchableList.tsx
  src/script/hooks/useDebounce.test.tsx
  src/script/hooks/useDebounce.ts
  src/script/page/LeftSidebar/panels/StartUI/PeopleTab.tsx
  src/script/page/LeftSidebar/panels/StartUI/ServicesTab.tsx
  src/script/page/MainContent/panels/Collection/FullSearch.tsx
Labels: type: refactoring 🛠, 👕 size: L

#18588 fix(RichTextEditor): pasting mentions, links, and code [WPB-12089]
  src/script/components/InputBar/components/RichTextEditor/RichTextEditor.tsx
  src/script/components/InputBar/components/RichTextEditor/plugins/PastePlugin/PastePlugin.tsx
  src/style/components/lexical-input.less
Labels: type: bug / fix 🐞, 👕 size: M

#18591 fix(PastePlugin): pasting mentions
  src/script/components/InputBar/components/RichTextEditor/plugins/PastePlugin/PastePlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#18592 fix(BlockquotePlugin): block sending a message [WPB-12089]
  src/script/components/InputBar/components/RichTextEditor/plugins/BlockquotePlugin/BlockquotePlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#18593 fix(lexical-input): input flickering after adding an inline code [WPB-12089]
  src/style/components/lexical-input.less
Labels: type: bug / fix 🐞, 👕 size: XS

#18594 chore(deps): bump @wireapp/telemetry from 0.1.5 to 0.3.1
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#18596 fix: dont call the E2EI service when the feature is not on [WPB-15356]
  src/script/hooks/useDeviceIdentities.ts
Labels: type: bug / fix 🐞, 👕 size: XS, echoes: product-roadmap/bug

#18597 runfix: reopen currently selected conversation in collapsed view [WPB-15351]
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
Labels: type: bug / fix 🐞, 👕 size: S, echoes: product-roadmap/bug

#18598 fix: private users cannot operate with notifications [WPB-15134]
  src/script/page/RightSidebar/ConversationDetails/components/ConversationDetailsOptions/ConversationDetailsOptions.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#18623 feat: Update typing indicator translations
  src/i18n/en-US.json
Labels: type: feature / request ✨, 👕 size: XS

#18627 fix(InputBar): unify list styling in input bar and message quote [WPB-15264]
  src/style/content/conversation/input-bar.less
  src/style/content/conversation/message-quote.less
Labels: type: bug / fix 🐞, 👕 size: XS

#18631 fix: favorite conversations list update [WPB-15353]
  src/script/conversation/ConversationLabelRepository.ts
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
Labels: type: bug / fix 🐞, 👕 size: S, echoes: product-roadmap/bug

#18632 fix(RichTextEditor): prevent double paste in Firefox [WPB-15264]
  src/script/components/InputBar/components/RichTextEditor/plugins/PastePlugin/PastePlugin.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#18629 fix: deactivate camera if toggle off [WPB-15506]
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: M

#18633 fix: deactivate camera if toggle off [WPB-15506] (#18629)
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: M

#18640 chore(deps): bump @wireapp/core from 46.15.5 to 46.15.9
  package.json
  src/script/properties/PropertiesRepository.ts
  yarn.lock
Labels: comp: preferences, type: chore 🧹, 👕 size: S

#18642 fix: restrict delete group option to admins in the creator's team [WPB-15293]
  src/script/page/RightSidebar/ConversationDetails/utils/getConversationActions.ts
Labels: type: bug / fix 🐞, 👕 size: XS, echoes: product-roadmap/feature

#18647 fix: update disclaimer text for test envs [WPB-9957]
  src/i18n/en-US.json
  src/script/auth/page/Index.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#18644 fix: update grid when participant change between video and screen share. [WPB-15036]
  src/script/calling/Call.test.ts
  src/script/calling/videoGridHandler.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: M

#18649 fix: Filter dead connection conversations (WPB-15377)
  src/script/components/ConfigToolbar/ConfigToolbar.tsx
  src/script/connection/ConnectionRepository.ts
  src/script/connection/ConnectionState.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: M, echoes/initiative: personal-users-to-team-users...

#18652 feat: Add ability to cancel file uploads
  src/i18n/en-US.json
  src/script/components/MessagesList/UploadAssets/components/UploadAssetItem/UploadAssetItem.tsx
  src/script/conversation/MessageRepository.ts
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: S, echoes: product-roadmap/bug

#18656 chore(i18n): press space to unmute copy
  src/i18n/en-US.json
Labels: type: chore 🧹, 👕 size: XS

#18654 feat: update app.open event for tracking in telemetry [WPB-14522]
  src/script/team/TeamState.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/Segmentation.ts
  src/script/user/UserPermission.ts
Labels: type: feature / request ✨, 👕 size: S, echoes/initiative: product-metrics-in-countly

#18529 chore: Virtualize rendering of conversations (WPB-15154)
  package.json
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
  src/script/util/test/mock/resizeObserver.mock.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: M, echoes: technical-roadmap

#18663 fix: Lower the speed of flying in call emojis for large monitors (WPB-14622)
  src/style/foundation/video-calling.less
Labels: type: bug / fix 🐞, 👕 size: XS

#18682 fix(InputBar): send button alignment [WPB-15264]
  src/style/content/conversation/input-bar.less
Labels: type: bug / fix 🐞, 👕 size: S

#18655 fix: handle auto login when landing on auth pages [WPB-15071]
  server/config/client.config.ts
  server/config/env.ts
  src/script/auth/page/Index.tsx
Labels: type: bug / fix 🐞, 👕 size: S, echoes: unplanned/support

#18687 feat: update CC [WPB-15752]
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#18688 fix: Resolve virtual rendering focus issues (WPB-15154)
  src/script/components/ConversationListCell/ConversationListCell.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
Labels: type: bug / fix 🐞, 👕 size: S, echoes: technical-roadmap

#18684 feat: update call_review_feedback countly event [WPB-14981]
  src/script/auth/util/test/TestUtil.tsx
  src/script/calling/Call.ts
  src/script/calling/CallingRepository.test.ts
  src/script/calling/CallingRepository.ts
  src/script/components/AppContainer/AppContainer.tsx
  src/script/components/Modals/QualityFeedbackModal/QualityFeedbackModal.test.tsx
  src/script/components/Modals/QualityFeedbackModal/QualityFeedbackModal.tsx
  src/script/components/Modals/QualityFeedbackModal/typings.tsx
  src/script/components/calling/useCallAlertState.ts
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/Helpers.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: M, echoes/initiative: product-metrics-in-countly

#18686 fix: start conversation translation in zulu [WPB-15406]
  src/i18n/ar-SA.json
  src/i18n/bn-BD.json
  src/i18n/ca-ES.json
  src/i18n/cs-CZ.json
  src/i18n/da-DK.json
  src/i18n/de-DE.json
  src/i18n/el-GR.json
  src/i18n/en-US.json
  src/i18n/es-ES.json
  src/i18n/et-EE.json
  src/i18n/fa-IR.json
  src/i18n/fi-FI.json
  src/i18n/fr-FR.json
  src/i18n/ga-IE.json
  src/i18n/he-IL.json
  src/i18n/hi-IN.json
  src/i18n/hr-HR.json
  src/i18n/hu-HU.json
  src/i18n/id-ID.json
  src/i18n/is-IS.json
  src/i18n/it-IT.json
  src/i18n/ja-JP.json
  src/i18n/lt-LT.json
  src/i18n/lv-LV.json
  src/i18n/ms-MY.json
  src/i18n/nl-NL.json
  src/i18n/no-NO.json
  src/i18n/pl-PL.json
  src/i18n/pt-BR.json
  src/i18n/pt-PT.json
  src/i18n/ro-RO.json
  src/i18n/ru-RU.json
  src/i18n/si-LK.json
  src/i18n/sk-SK.json
  src/i18n/sl-SI.json
  src/i18n/sr-SP.json
  src/i18n/sv-SE.json
  src/i18n/th-TH.json
  src/i18n/tr-TR.json
  src/i18n/uk-UA.json
  src/i18n/uz-UZ.json
  src/i18n/vi-VN.json
  src/i18n/zh-CN.json
  src/i18n/zh-HK.json
  src/i18n/zh-TW.json
Labels: 👕 size: M

#18689 fix: update custom fields to be set with user data [WPB-14522]
  src/script/tracking/EventTrackingRepository.ts
  src/script/tracking/Segmentation.ts
Labels: type: bug / fix 🐞, 👕 size: S, echoes/initiative: product-metrics-in-countly

#18690 fix: Debounce on conversation click to avoid maximum update depth exceeded error (WPB-11955)
  src/script/page/LeftSidebar/panels/Conversations/ConversationsList.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#18668 fix(FailedToAddUsersMessage): fix styles for messageDetails [WPB-15334]
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.tsx
  src/style/content/conversation/message-list.less
Labels: type: bug / fix 🐞, 👕 size: S, echoes: product-roadmap/bug

#18683 fix(ConversationSidebar): fix visual glitch when expanding the sidebar [WPB-10549]
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: XS, echoes: product-roadmap

#18691 fix: show MLS device details for self client [WPB-15562]
  src/script/hooks/useDeviceIdentities.ts
  src/script/page/MainContent/panels/preferences/DevicesPreferences/DevicesPreference.test.tsx
Labels: type: bug / fix 🐞, 👕 size: S, echoes: product-roadmap/bug

#18695 fix(ConversationSidebar): prevent svg icons from shrinking
  src/style/list/conversations.less
Labels: type: bug / fix 🐞, 👕 size: XS

#18389 feat(pagination&&grid): update design and logic for pagination and layout for grid [WPB-3307]
  src/i18n/en-US.json
  src/script/calling/Call.ts
  src/script/components/calling/CallingCell/CallingCell.tsx
  src/script/components/calling/FullscreenVideoCall.styles.ts
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGrid.test.tsx
  src/script/components/calling/GroupVideoGrid.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/components/calling/Pagination.tsx
  src/script/components/calling/Pagination/Pagination.styles.ts
  src/script/components/calling/Pagination/Pagination.tsx
  src/script/components/calling/Pagination/useSyncCurrentRange.test.ts
  src/script/components/calling/Pagination/useSyncCurrentRange.ts
  src/script/components/calling/VideoControls/EmojisBar/EmojisBar.styles.ts
  src/script/components/calling/VideoControls/EmojisBar/EmojisBar.tsx
  src/script/components/calling/VideoControls/VideoCallCancelButton/VideoCallCancelButton.tsx
  src/script/components/calling/VideoControls/VideoControls.styles.ts
  src/script/components/calling/VideoControls/VideoControls.tsx
  src/script/components/calling/VideoControls/VideoControlsSelect/VideoControlsSelect.tsx
  src/script/components/calling/fullscreenVideoCall.test.tsx
  src/script/ui/ContextMenu.tsx
  src/style/common/context.less
  src/style/foundation/video-calling.less
  src/types/i18n.d.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: XXL, echoes: product-roadmap
