Repository wireapp/wire-webapp, pull requests merged in 2025-10, with the labels that each got.

#19605 fix: prevent session-expired redirect after logout(WPB-20547)
  src/script/main/app.ts
  src/script/repositories/LifeCycleRepository/LifeCycleRepository.test.ts
  src/script/repositories/LifeCycleRepository/LifeCycleRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19612 chore(e2e): Fix e2e test git actions scheduled job [WPB-20745]
  .github/workflows/playwright-cells-crit-flow-tests-scheduled.yml
  .github/workflows/run-cells-crit-flow-e2e-tests.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#19613 chore(e2e): Added environment name to playwright report file name [WPB-20745]
  .github/workflows/run-cells-crit-flow-e2e-tests.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: XS

#19609 feat: Permission repo, replace ko observables with zustand store [WPB-20570]
  src/script/main/app.ts
  src/script/repositories/media/MediaStreamHandler.test.ts
  src/script/repositories/media/MediaStreamHandler.ts
  src/script/repositories/notification/AppPermissionState.ts
  src/script/repositories/notification/NotificationRepository.test.ts
  src/script/repositories/notification/NotificationRepository.ts
  src/script/repositories/permission/BrowserPermissionStatus.ts
  src/script/repositories/permission/PermissionHandlers.test.ts
  src/script/repositories/permission/PermissionRepository.ts
  src/script/repositories/permission/Permissions.hooks.ts
  src/script/repositories/permission/Permissions.store.ts
  src/script/repositories/permission/Permissions.test.ts
  src/script/repositories/permission/Permissions.types.ts
  src/script/repositories/permission/PermissionsStore.test.ts
  src/script/repositories/permission/permissionHandlers.ts
  src/script/view_model/CallingViewModel.mocks.ts
  src/script/view_model/CallingViewModel.ts
  src/script/view_model/MainViewModel.ts
  src/script/view_model/WarningsContainer/WarningsState.ts
  test/helper/TestFactory.js
  test/unit_tests/permission/PermissionRepositorySpec.js
Labels: type: feature / request ✨, 👕 size: XXL

#19635 docs: update README.md [WPB-19043]
  README.md
Labels: type: documentation 📋, 👕 size: S

#19637 chore(cells): increment cells maximum file size to 500 MB [WPB-20876]
  src/script/Config.ts
  src/script/components/Conversation/Conversation.tsx
  src/script/components/Conversation/useFilesUploadDropzone/useFilesUploadDropzone.ts
Labels: type: chore 🧹, 👕 size: S

#19639 runfix(cells): update file name in conversation list after renaming [WPB-19828]
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/MultipartAssets.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/useGetMultipartAsset/useGetMultipartAsset.ts
Labels: type: bug / fix 🐞, 👕 size: XS
