Repository wireapp/wire-webapp, pull requests merged in 2025-07, with the labels that each got.

#19192 runfix(backup): prevent quitting when cliking outside export modal [WPB-18421]
  src/script/components/HistoryExport/HistoryExport.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#19190 fix(cells): share public link modal [WPB-18507]
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/CellsShareModal.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTableColumns/CellsShareModal/useCellPublicLink.ts
  src/script/components/CellsGlobalView/common/useCellsStore/useCellsStore.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/CellsNodeShareModal.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsNodeShareModal/useCellPublicLink.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19198 chore(Playwright): Implement error processing if Playwright report was not generated [WPB-18551]
  test/e2e_tests/scripts/create-playwright-report-summary.js
Labels: type: chore 🧹, 👕 size: S

#19196 fix(ctx-menu): background [WPB-18354]
  package.json
  src/style/common/context.less
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#19202 fix(cells): breadcrumbs padding [WPB-18354]
  package.json
  src/script/components/Conversation/ConversationCells/common/CellsBreadcrumbs/CellsBreadcrumbs.styles.ts
  src/script/components/Conversation/ConversationCells/common/CellsBreadcrumbs/CellsBreadcrumbs.tsx
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#19203 feat: Implement new websocket marker system [WPB-18486]
  package.json
  src/i18n/en-US.json
  src/script/components/AppLoader/AppLoader.test.tsx
  src/script/components/AppLoader/AppLoader.tsx
  src/script/components/LoadingBar/LoadingBar.tsx
  src/script/event/EventRepository.ts
  src/script/main/app.ts
  src/script/util/TimeUtil.ts
  src/types/i18n.d.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#19200 feat(cells): rename without extension + validation [WPB-18388]
  src/i18n/en-US.json
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsRenameNodeModal/CellsRenameNodeModal.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsRenameNodeModal/useCellsRenameNodeForm/useCellsRenameNodeForm.ts
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: S

#19207 fix(externalUrls): avoid appending locale to urls in custom envs [WB18474]
  src/script/externalRoute.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#19199 chore(Playwright): add gh runners for playwright test runs [WPB-18552]
  .github/workflows/playwright-crit-flow-tests.yml
  .github/workflows/playwright-smoke-tests.yml
  test/e2e_tests/specs/criticalFlow.spec.ts
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#19223 fix: prevent closing on clicking outside e2ei modal [WPB-18604]
  src/script/E2EIdentity/Modals/Modals.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#19220 chore(Playwright): Implement TM test for team creation and member invitation scenario [WPB-18516]
  test/e2e_tests/backend/inbucketClient.e2e.ts
  test/e2e_tests/pages/pageManager.ts
  test/e2e_tests/pages/registerSuccess.page.ts
  test/e2e_tests/pages/team_management/teamDataShareConsent.modal.ts
  test/e2e_tests/pages/team_management/teamLogin.page.ts
  test/e2e_tests/pages/team_management/teamSignUp.page.ts
  test/e2e_tests/pages/team_management/teams.page.ts
  test/e2e_tests/specs/teamManagement.spec.ts
Labels: type: chore 🧹, 👕 size: L

#19227 runfix: inject support url in enrollment modal string [WPB-18339]
  src/script/E2EIdentity/Modals/Modals.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19225 feat(cells): create tags validation [WPB-18390]
  src/i18n/en-US.json
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTagsModal/CellsTagsModal.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTagsModal/useTagsManagement/useTagsManagement.ts
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: S

#19233 fix(cells): remove unnecessary sorting
  src/script/components/Conversation/ConversationCells/useGetAllCellsNodes/transformDataToCellsNodes.ts
Labels: type: bug / fix 🐞, 👕 size: M

#19237 fix: restore ability to add services to contact list [WPB-18602]
  src/script/page/LeftSidebar/panels/StartUI/StartUI.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#19231 chore: bump core to 46.31.3 [WPB-18596]
  package.json
  src/script/cells/CellsRepository.ts
  src/script/main/app.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#19236 fix(cells): refresh conversation cells state [WPB-18490]
  src/script/components/Conversation/Conversation.tsx
  src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  src/script/components/Conversation/ConversationCells/useGetAllCellsNodes/useGetAllCellsNodes.ts
  src/script/components/Conversation/ConversationCells/useRefreshCellsState/useRefreshCellsState.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: M

#19243 chore(Playwright): Implement missing methods for conference calling (WPB-18710)
  test/e2e_tests/backend/apiManager.e2e.ts
  test/e2e_tests/backend/brigRepository.e2e.ts
Labels: type: chore 🧹, 👕 size: S

#19244 feat(e2e): add critical flow test TC-8635 [WPB-18712]
  .github/workflows/playwright-crit-flow-tests.yml
  test/e2e_tests/backend/ConversationRepository/conversationRepository.e2e.ts
  test/e2e_tests/backend/ConversationRepository/conversationRepository.mocks.ts
  test/e2e_tests/backend/ConversationRepository/index.ts
  test/e2e_tests/backend/apiManager.e2e.ts
  test/e2e_tests/backend/authRepository.e2e.ts
  test/e2e_tests/backend/index.ts
  test/e2e_tests/data/user.ts
  test/e2e_tests/pages/conversation.page.ts
  test/e2e_tests/pages/conversationDetails.page.ts
  test/e2e_tests/pages/pageManager.ts
  test/e2e_tests/pages/userProfile.modal.ts
  test/e2e_tests/specs/CriticalFlow/accountManagement-TC-8639.spec.ts
  test/e2e_tests/specs/CriticalFlow/addMembersToChat-TC-8631.spec.ts
  test/e2e_tests/specs/CriticalFlow/joinTeam-TC-8635.spec.ts
  test/e2e_tests/specs/CriticalFlow/personalAccountLifecycle-TC-8638.spec.ts
  test/e2e_tests/specs/login.spec.ts
  test/e2e_tests/specs/teamManagement.spec.ts
  test/e2e_tests/utils/tearDownUtil.ts
  test/e2e_tests/utils/useSelector.ts
  test/e2e_tests/utils/userActions.ts
  test/e2e_tests/utils/userDataGenerator.ts
Labels: type: feature / request ✨, comp: infrastructure, 👕 size: XL

#19250 test(e2e): add backup restoration test @TC-8634 [WPB-18711]
  test/e2e_tests/pages/account.page.ts
  test/e2e_tests/pages/confirmLogout.modal.ts
  test/e2e_tests/pages/exportBackup.modal.ts
  test/e2e_tests/pages/historyExport.page.ts
  test/e2e_tests/pages/historyImport.page.ts
  test/e2e_tests/pages/pageManager.ts
  test/e2e_tests/specs/CriticalFlow/backupRestoration-TC-8634.spec.ts
  test/e2e_tests/utils/userActions.ts
Labels: type: test 👷, 👕 size: M

#19254 chore: Bump @wireapp/commons from 5.4.2 to 5.4.3
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#19255 chore(deps): bump core to 46.31.5
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#19247 feat(cells): multipart message download
  src/i18n/en-US.json
  src/script/components/FileFullscreenModal/FileFullscreenModal.tsx
  src/script/components/FileFullscreenModal/FileHeader/FileHeader.styles.ts
  src/script/components/FileFullscreenModal/FileHeader/FileHeader.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/FileAssetSmall/FileAsseetSmall.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/FileAssetWithPreview/FileAssetWithPreview.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/common/FileAssetOptions/FileAssetOptions.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/MultipartAssets.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/VideoAssetCard/VideoAssetCard.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/VideoAssetCard/VideoAssetPlayer/VideoAssetCard/VideoAssetCard.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/VideoAssetCard/VideoAssetPlayer/VideoAssetPlayer.tsx
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: M

#19274 test: Add required data-uies for TC-8632 [WPB-18710]
  src/script/components/calling/CallingCell/CallingCell.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
Labels: type: test 👷, 👕 size: XS

#19272 test(e2e): Implement "Group video call" test TC-8637 [WPB-18714]
  test/e2e_tests/.env.tpl
  test/e2e_tests/backend/ConversationRepository/conversationRepository.e2e.ts
  test/e2e_tests/backend/apiManager.e2e.ts
  test/e2e_tests/backend/callingServiceClient.e2e.ts
  test/e2e_tests/pageManager/index.ts
  test/e2e_tests/pageManager/team_management/modals/teamsDataShareConsent.modal.ts
  test/e2e_tests/pageManager/webapp/modals/copyPassword.modal.ts
  test/e2e_tests/pageManager/webapp/modals/createGuestLink.modal.ts
  test/e2e_tests/pageManager/webapp/modals/removeMember.modal.ts
  test/e2e_tests/pageManager/webapp/pages/audioVideoSettings.page.ts
  test/e2e_tests/pageManager/webapp/pages/calling.page.ts
  test/e2e_tests/pageManager/webapp/pages/connectRequest.page.ts
  test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  test/e2e_tests/pageManager/webapp/pages/conversationDetails.page.ts
  test/e2e_tests/pageManager/webapp/pages/conversationList.page.ts
  test/e2e_tests/pageManager/webapp/pages/guestOptions.page.ts
  test/e2e_tests/pageManager/webapp/pages/settings.page.ts
  test/e2e_tests/pageManager/webapp/pages/startUI.page.ts
  test/e2e_tests/scripts/create-playwright-report-summary.js
  test/e2e_tests/specs/CriticalFlow/groupCalls-TC-8632.spec.ts
  test/e2e_tests/specs/CriticalFlow/groupVideoCall-TC-8637.spec.ts
  test/e2e_tests/specs/CriticalFlow/messagesIn1On1-TC-8750.spec.ts
  test/e2e_tests/utils/mockVideoDeviceUtils.ts
Labels: type: test 👷, 👕 size: XL

#19280 fix: add concurrency for members tasks in conv management e2e [WPB-18713]
  test/e2e_tests/specs/CriticalFlow/conversationManagement-TC-8639.spec.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19287 test(e2e): Implement end to end test for calls in channels [WPB-18794]
  test/e2e_tests/specs/CriticalFlow/channelsCall-TC-8755.spec.ts
  test/e2e_tests/specs/CriticalFlow/oneOnOneCall-TC-8754.spec.ts
Labels: type: test 👷, 👕 size: M

#19293 chore(e2e): Update account settings flow TC-8639 [WPB-18817]
  test/e2e_tests/pageManager/webapp/pages/account.page.ts
  test/e2e_tests/pageManager/webapp/pages/audioVideoSettings.page.ts
  test/e2e_tests/pageManager/webapp/pages/settings.page.ts
  test/e2e_tests/specs/CriticalFlow/accountManagement-TC-8639.spec.ts
Labels: type: chore 🧹, 👕 size: S

#19291 chore: address copy changes requested for cells
  src/i18n/en-US.json
  src/types/i18n.d.ts
Labels: type: chore 🧹, 👕 size: S

#19303 fix(cells): avoid double conversations cell state issue [WPB-18933]
  src/script/components/Conversation/ConversationCells/useRefreshCellsState/useRefreshCellsState.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#19307 test: fix conversation management e2e test [WPB-18713]
  test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  test/e2e_tests/specs/CriticalFlow/conversationManagement-TC-8639.spec.ts
  test/e2e_tests/specs/CriticalFlow/messagesIn1On1-TC-8750.spec.ts
Labels: type: test 👷, 👕 size: S
