Repository wireapp/wire-webapp, pull requests merged in 2025-08, with the labels that each got.

#19312 chore(deps): bump kalium-backup to 0.0.4 [WPB-18298]
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#19260 feat(filters): first attempt at adding conversation filters [WPB-18861]
  server/config/client.config.ts
  server/config/env.ts
  src/i18n/en-US.json
  src/script/components/InputBar/InputBarControls/ControlButtons.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationFilterButton/ConversationFilterButton.styles.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationFilterButton/ConversationFilterButton.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationFilterButton/index.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.styles.ts
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/Helpers.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/helpers.tsx
  src/script/page/LeftSidebar/panels/Conversations/hooks/useDraftConversations.ts
  src/script/page/LeftSidebar/panels/Conversations/useSidebarStore.ts
  src/script/page/LeftSidebar/panels/Conversations/utils/draftUtils.ts
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: XL

#19311 fix: individual file preview on multiple file upload [WPB-19231]
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/FileAssetCard.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/FileAssetCard/FileAssetSmall/FileAssetSmall.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/MultipartAssets.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/VideoAssetCard/VideoAssetCard.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/VideoAssetCard/VideoAssetSmall/VideoAssetSmall.tsx
  src/types/i18n.d.ts
Labels: type: bug / fix 🐞, 👕 size: M

#19322 chore(e2e): Implement message in Channels test (TC-8753) [WPB-18792]
  test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  test/e2e_tests/pageManager/webapp/pages/conversationList.page.ts
  test/e2e_tests/specs/CriticalFlow/joinTeam-TC-8635.spec.ts
  test/e2e_tests/specs/CriticalFlow/messagesIn1On1-TC-8750.spec.ts
  test/e2e_tests/specs/CriticalFlow/messagesInChannels-TC-8753.spec.ts
Labels: type: chore 🧹, 👕 size: M

#19308 chore(e2e): Added Messages in Groups TC-8751 test
  test/e2e_tests/backend/apiManager.e2e.ts
  test/e2e_tests/specs/CriticalFlow/joinTeam-TC-8635.spec.ts
  test/e2e_tests/specs/CriticalFlow/messagesInGroups-TC-8751.spec.ts
Labels: type: chore 🧹, 👕 size: M

#19326 chore(deps): expose cells config to the team feature API [WPB-19293]]
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#19332 fix: update 'Create a Team' link to point to new signup page[WPB-19349]
  src/script/auth/externalRoute.ts
  src/script/auth/page/CreatePersonalAccount.tsx
  src/script/auth/page/SetAccountType.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#19391 chore: Bump @wireapp/core from 46.32.3 to 46.32.4
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: XXL

#19392 chore(e2e): Add steps to check that logout with data removal clears all data [WPB-19367]
  test/e2e_tests/specs/CriticalFlow/backupRestoration-TC-8634.spec.ts
Labels: type: chore 🧹, 👕 size: S

#19394 runfix(CPB): add last edited time to CPB data [WPB-1798]
  src/script/repositories/backup/CrossPlatformBackup/CPB.export.ts
  src/script/repositories/backup/CrossPlatformBackup/data.schema.ts
  src/script/repositories/backup/CrossPlatformBackup/importMappers/mapEventRecord.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19403 test: migrate archive tests [WPB-19519]
  .github/workflows/playwright-regression-flow-tests.yml
  test/e2e_tests/pageManager/webapp/components/conversationSidebar.component.ts
  test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  test/e2e_tests/pageManager/webapp/pages/conversationList.page.ts
  test/e2e_tests/specs/CriticalFlow/conversationManagement-TC-8636.spec.ts
  test/e2e_tests/specs/LoginSpecs/login.spec.ts
  test/e2e_tests/specs/RegressionSpecs/archive.spec.ts
Labels: comp: infrastructure, type: test 👷, 👕 size: M

#19407 feat: Add support for reset MLS conversation event [WPB-17706]
  package.json
  src/script/repositories/conversation/ConversationRepository.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#19409 test: migrate block regression [WPB-19542]
  test/e2e_tests/pageManager/index.ts
  test/e2e_tests/pageManager/webapp/components/conversationSidebar.component.ts
  test/e2e_tests/pageManager/webapp/pages/conversation.page.ts
  test/e2e_tests/pageManager/webapp/pages/conversationDetails.page.ts
  test/e2e_tests/pageManager/webapp/pages/participantDetails.page.ts
  test/e2e_tests/specs/RegressionSpecs/block-messages.spec.ts
  test/e2e_tests/specs/RegressionSpecs/block-search.spec.ts
Labels: type: test 👷, 👕 size: M

#19428 chore(deps): update user.delete event response
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#19445 chore: merge dev branch into master
  .github/workflows/pull_translations.yml
  .github/workflows/sync_translations.yml
  src/i18n/de-DE.json
  src/script/components/MessagesList/VirtualizedMessagesList/VirtualizedMessagesList.tsx
  src/script/components/MessagesList/VirtualizedMessagesList/useLoadMessages.ts
  src/script/components/MessagesList/VirtualizedMessagesList/useScrollMessages.ts
Labels: comp: infrastructure, type: chore 🧹, 👕 size: S

#19424 fix: handle user.delete event [WPB-18869]
  src/i18n/de-DE.json
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/MemberMessage/MessageContent.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/ConversationState.ts
  src/script/conversation/EventBuilder.ts
  src/script/user/UserRepository.ts
  src/types/i18n.d.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19449 chore(ci): add serialized precommit deploy and critical flow tests workflow
  .github/workflows/playwright-crit-flow-tests.yml
  .github/workflows/precommit-crit-flows.yml
  .github/workflows/precommit.yml
Labels: comp: infrastructure, type: chore 🧹, 👕 size: M

#19453 runfix(cells): allow creation of channels with cells enabled [WPB-19376]
  src/script/components/Modals/CreateConversation/CreateConversationSteps/Preference.tsx
  src/script/components/Modals/CreateConversation/hooks/useCreateConversation.ts
  src/script/components/Modals/CreateConversation/hooks/useCreateConversationModal.ts
Labels: type: bug / fix 🐞, 👕 size: S
