Repository wireapp/wire-webapp, pull requests merged in 2025-03, with the labels that each got.

#18826 chore: @wireapp/common & core update
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XXL

#18830 fix: icon for pop in calling view button in dark mode [WPB-16170]
  package.json
  src/script/components/calling/FullscreenVideoCall.tsx
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S

#18827 fix: delete REMOVE_TEAM_MEMBER link from acc already exists modal
  src/script/auth/component/AccountAlreadyExistsModal.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#18833 fix: show group settings to group members in read-only mode [WPB-15796]
  src/script/components/toggle/ReceiptModeToggle.tsx
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.test.tsx
  src/script/page/RightSidebar/ConversationDetails/components/ConversationDetailsOptions/ConversationDetailsOption.tsx
  src/script/page/RightSidebar/ConversationDetails/components/ConversationDetailsOptions/ConversationDetailsOptions.tsx
  src/style/panel/panel.less
Labels: type: bug / fix 🐞, 👕 size: S

#18832 fix(mls): Join guest room by external commit (WPB-16379)
  src/script/conversation/ConversationRepository.test.ts
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18835 fix: Only prompt to reload when MLS is enabled not in the supported protocols list (WPB-16423)
  src/script/team/TeamRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18836 fix(mls): add logic to display correct link for add proteus error [WPB-15301]
  package.json
  server/config/client.config.ts
  server/config/env.ts
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/FailedToAddUsersMessage.tsx
  src/types/i18n.d.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#18850 runfix: achieve WYSIWYG with lists and blockquotes markdown rendering [WPB-16228]
  src/script/components/InputBar/InputBarEditor/RichTextEditor/plugins/BlockquotePlugin/BlockquotePlugin.tsx
  src/script/util/messageRenderer.ts
  src/style/components/lexical-input.less
Labels: type: bug / fix 🐞, 👕 size: S

#18851 chore: RC-2025-03-11
  src/script/components/InputBar/InputBarEditor/RichTextEditor/plugins/BlockquotePlugin/BlockquotePlugin.tsx
  src/script/util/messageRenderer.ts
  src/style/components/lexical-input.less
Labels: type: chore 🧹, 👕 size: S

#18854 fix: improve visibility of connection requests [WPB-14764]
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#18829 feat: update group avatars, select from 15 options [WPB-15794]
  src/script/components/Avatar/GroupAvatar.test.tsx
  src/script/components/Avatar/GroupAvatar.tsx
  src/script/components/ConversationListCell/ConversationListCell.tsx
  src/script/components/calling/CallingCell/CallingCell.tsx
  src/script/components/calling/CallingCell/CallingHeader/CallingHeader.tsx
  src/script/entity/User/User.ts
  src/script/page/LeftSidebar/panels/Conversations/ConnectionRequests/ConnectionRequests.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/GroupList.test.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/GroupList.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/groupList/GroupListItem.tsx
  src/script/util/avatarUtil.test.ts
  src/script/util/avatarUtil.ts
  src/style/common/mixins.less
  src/style/foundation/themes.less
Labels: type: feature / request ✨, 👕 size: L

#18855 feat: add channel avatars [WPB-15756]
  package.json
  src/script/components/Avatar/ChannelAvatar.styles.ts
  src/script/components/Avatar/ChannelAvatar.tsx
  src/script/components/Avatar/GroupAvatar.tsx
  src/script/components/ConversationListCell/ConversationListCell.tsx
  src/script/components/Modals/CreateConversation/ConversationType/ConversationFeature.tsx
  src/script/components/Modals/CreateConversation/ConversationType/ConversationOption.tsx
  src/script/components/Modals/CreateConversation/CreateConversation.styles.ts
  src/script/components/Modals/CreateConversation/CreateConversationSteps/ConversationDetails/CreateTeamModal.tsx
  src/script/components/Modals/CreateConversation/CreateConversationSteps/ConversationDetails/CustomHistoryModal.tsx
  src/script/components/Modals/CreateConversation/hooks/useConversationDetailsOption.ts
  src/script/util/avatarUtil.ts
  src/style/common/accent-color.less
  src/style/foundation/themes.less
  yarn.lock
Labels: type: feature / request ✨, 👕 size: M

#18856 chore: add code comment about escaping blockquotes
  src/script/components/InputBar/InputBarEditor/RichTextEditor/plugins/BlockquotePlugin/BlockquotePlugin.tsx
Labels: type: chore 🧹, 👕 size: XS

#18831 feat: global cells view [WPB-15708]
  package.json
  server/config/server.config.ts
  src/i18n/en-US.json
  src/script/cells/CellsRepository.ts
  src/script/components/CellsGlobalView/CellsGlobalView.styles.ts
  src/script/components/CellsGlobalView/CellsGlobalView.tsx
  src/script/components/CellsGlobalView/CellsHeader/CellsHeader.styles.ts
  src/script/components/CellsGlobalView/CellsHeader/CellsHeader.tsx
  src/script/components/CellsGlobalView/CellsHeader/CellsRefresh/CellsRefresh.styles.ts
  src/script/components/CellsGlobalView/CellsHeader/CellsRefresh/CellsRefresh.tsx
  src/script/components/CellsGlobalView/CellsHeader/CellsSearch/CellsSeach.tsx
  src/script/components/CellsGlobalView/CellsHeader/CellsSearch/CellsSearch.styles.ts
  src/script/components/CellsGlobalView/CellsLoader/CellsLoader.styles.ts
  src/script/components/CellsGlobalView/CellsLoader/CellsLoader.tsx
  src/script/components/CellsGlobalView/CellsStateInfo/CellsStateInfo.styles.ts
  src/script/components/CellsGlobalView/CellsStateInfo/CellsStateInfo.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsImagePreviewModal/CellsImagePreviewModal.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsShareFileModal/CellsShareFileModal.styles.ts
  src/script/components/CellsGlobalView/CellsTable/CellsShareFileModal/CellsShareFileModal.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsShareFileModal/useCellPublicLink.ts
  src/script/components/CellsGlobalView/CellsTable/CellsTable.styles.ts
  src/script/components/CellsGlobalView/CellsTable/CellsTable.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTableDateColumn/CellsTableDateColumn.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTableNameColumn/CellsTableNameColumn.styles.ts
  src/script/components/CellsGlobalView/CellsTable/CellsTableNameColumn/CellsTableNameColumn.tsx
  src/script/components/CellsGlobalView/CellsTable/CellsTableRowOptions/CellsTableRowOptions.styles.ts
  src/script/components/CellsGlobalView/CellsTable/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/CellsGlobalView/common/CellsTableLoader/CellsTableLoader.styles.ts
  src/script/components/CellsGlobalView/common/CellsTableLoader/CellsTableLoader.tsx
  src/script/components/CellsGlobalView/common/cellFile/cellFile.ts
  src/script/components/CellsGlobalView/common/useCellsStore/useCellsStore.ts
  src/script/components/CellsGlobalView/useGetAllCellsFiles/transformNodesToCellsFiles.ts
  src/script/components/CellsGlobalView/useGetAllCellsFiles/useGetAllCellsFiles.ts
  src/script/components/CellsGlobalView/useSearchCellsFiles/useSearchCellsFiles.ts
  src/script/components/Conversation/common/FileTypeIcon/FileTypeIcon.styles.ts
  src/script/components/Conversation/common/FileTypeIcon/FileTypeIcon.tsx
  src/script/page/AppMain.tsx
  src/script/page/LeftSidebar/LeftSidebar.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  src/script/page/LeftSidebar/panels/Conversations/Conversations.tsx
  src/script/page/LeftSidebar/panels/Conversations/useSidebarStore.ts
  src/script/page/LeftSidebar/panels/ListWrapper.tsx
  src/script/page/MainContent/MainContent.tsx
  src/script/page/useAppState.ts
  src/script/view_model/ListViewModel.ts
  src/script/view_model/MainViewModel.ts
  src/style/foundation/framework.less
  src/style/list/conversations.less
  src/types/i18n.d.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XXL

#18871 runfix(framework.less): add overflow hidden for the x axis
  src/style/foundation/framework.less
Labels: type: bug / fix 🐞, 👕 size: XS

#18859 feat: update group icon [WPB-16537]
  package.json
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
  src/style/list/conversations.less
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#18872 runfix(RichTextEditor): link editing when format buttons are not visible [WPB-16568]
  src/script/components/InputBar/InputBar.tsx
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/FormatButton/FormatButton.tsx
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/FormatButtons.styles.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/FormatButtons.tsx
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/common/isBlockquoteNode/isBlockquoteNode.test.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/common/isBlockquoteNode/isBlockquoteNode.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/common/isCodeBlockNode/isCodeBlockNode.test.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/common/isCodeBlockNode/isCodeBlockNode.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/common/isHeadingNode/isHeadingNode.test.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/common/isHeadingNode/isHeadingNode.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/common/isListNode/isListNode.test.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/common/isListNode/isListNode.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/useBlockquoteState/useBlockquoteState.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/useCodeBlockState/useCodeBlockState.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/useFormatButtonsState/useFormatButtonsState.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/useHeadingState/headingCommand.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/useHeadingState/useHeadingState.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/useListState/useListState.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatToolbar.tsx
  src/script/components/InputBar/InputBarEditor/RichTextEditor/RichTextEditor.tsx
Labels: type: bug / fix 🐞, 👕 size: L

#18875 runfix: replace wire with pydio message protocol [WPB-16433]
  package.json
  src/script/assets/AssetRepository.ts
  src/script/cells/CellsRepository.ts
  src/script/components/AvailabilityIcon/Availability.styles.tsx
  src/script/components/AvailabilityIcon/Availability.tsx
  src/script/components/Avatar/UserAvatar/UserAvatar.test.tsx
  src/script/components/Avatar/UserAvatar/UserAvatar.tsx
  src/script/components/MessagesList/Message/VerificationMessage.test.tsx
  src/script/components/MessagesList/UploadAssets/components/UploadAssetItem/UploadAssetItem.tsx
  src/script/components/calling/CallParticipantsListItem/CallParticipantsListItem.test.tsx
  src/script/components/panel/EnrichedFields.tsx
  src/script/conversation/ConversationEphemeralHandler.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.test.ts
  src/script/conversation/EventMapper.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyMapper.test.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/entity/Conversation.ts
  src/script/entity/User/User.ts
  src/script/entity/message/FileAsset.ts
  src/script/entity/message/LegalHoldMessage.ts
  src/script/entity/message/LinkPreview.ts
  src/script/entity/message/Message.ts
  src/script/entity/message/VerificationMessage.ts
  src/script/event/EventService.ts
  src/script/event/preprocessor/EventStorageMiddleware/EventStorageMiddleware.test.ts
  src/script/event/preprocessor/EventStorageMiddleware/eventHandlers/assetEventHandler.ts
  src/script/event/preprocessor/QuoteDecoderMiddleware.test.ts
  src/script/event/preprocessor/QuoteDecoderMiddleware.ts
  src/script/legal-hold/LegalHoldEvaluator.test.ts
  src/script/legal-hold/LegalHoldEvaluator.ts
  src/script/message/MentionEntity.ts
  src/script/message/QuoteEntity.ts
  src/script/notification/NotificationRepository.test.ts
  src/script/notification/NotificationRepository.ts
  src/script/page/MainContent/panels/preferences/accountPreferences/AvailabilityButtons.tsx
  src/script/storage/record/ConversationRecord.ts
  src/script/team/TeamRepository.ts
  src/script/ui/AvailabilityContextMenu.ts
  src/script/ui/ContextMenu.tsx
  src/script/user/AvailabilityMapper.ts
  src/script/user/AvailabilityModal.ts
  src/script/user/UserMapper.test.ts
  src/script/user/UserRepository.test.ts
  src/script/user/UserRepository.ts
  src/script/util/AvailabilityStatus.tsx
  src/script/view_model/CallingViewModel.ts
  test/unit_tests/message/MentionEntitySpec.js
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#18876 revert: link editing when format buttons are not visible
  src/script/components/InputBar/InputBar.tsx
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButton/FormatButton.tsx
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/FormatButtons.styles.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatButtons/FormatButtons.tsx
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/FormatToolbar.tsx
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/common/isBlockquoteNode/isBlockquoteNode.test.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/common/isBlockquoteNode/isBlockquoteNode.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/common/isCodeBlockNode/isCodeBlockNode.test.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/common/isCodeBlockNode/isCodeBlockNode.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/common/isHeadingNode/isHeadingNode.test.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/common/isHeadingNode/isHeadingNode.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/common/isListNode/isListNode.test.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/common/isListNode/isListNode.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/useBlockquoteState/useBlockquoteState.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/useCodeBlockState/useCodeBlockState.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/useHeadingState/headingCommand.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/useHeadingState/useHeadingState.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/useListState/useListState.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/FormatToolbar/useToolbarState/useToolbarState.ts
  src/script/components/InputBar/InputBarEditor/RichTextEditor/RichTextEditor.tsx
Labels: 👕 size: L

#18874 fix: refresh camera preview after call ends [WPB-15315]
  src/script/page/MainContent/panels/preferences/AVPreferences.tsx
  src/script/page/MainContent/panels/preferences/useCameraReloadOnCallEnd.test.ts
  src/script/page/MainContent/panels/preferences/useCameraReloadOnCallEnd.ts
Labels: type: bug / fix 🐞, 👕 size: M

#18880 chore: revert packages changes
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: XL

#18873 runfix: update the size of group icon [WPB-16537]
  src/style/list/conversations.less
Labels: type: feature / request ✨, 👕 size: S

#18881 feat(FilePreviews): enhance cells cards status [WPB-16524]
  src/script/components/FileCard/FileCardIcon/FileCardIcon.styles.ts
  src/script/components/FileCard/FileCardIcon/FileCardIcon.tsx
  src/script/components/FileCard/FileCardIcon/getFileTypeFromExtension/getFileTypeFromExtension.ts
  src/script/components/InputBar/FilePreviews/AudioPreviewCard/AudioPreviewCard.styles.ts
  src/script/components/InputBar/FilePreviews/AudioPreviewCard/AudioPreviewCard.tsx
  src/script/components/InputBar/FilePreviews/FilePreviewCard/FilePreviewCard.styles.ts
  src/script/components/InputBar/FilePreviews/FilePreviewCard/FilePreviewCard.tsx
  src/script/components/InputBar/FilePreviews/ImagePreviewCard/ImagePreviewCard.styles.ts
  src/script/components/InputBar/FilePreviews/ImagePreviewCard/ImagePreviewCard.tsx
  src/script/components/InputBar/FilePreviews/VideoPreviewCard/VideoPreviewCard.styles.ts
  src/script/components/InputBar/FilePreviews/VideoPreviewCard/VideoPreviewCard.tsx
  src/script/components/InputBar/FilePreviews/common/FilePreviewLoading/FilePreviewLoading.styles.ts
  src/script/components/InputBar/FilePreviews/common/FilePreviewLoading/FilePreviewLoading.tsx
  src/script/components/InputBar/FilePreviews/common/FilePreviewPlayButton/FilePreviewPlayButton.styles.ts
  src/script/components/InputBar/FilePreviews/common/MediaFilePreviewCard/MediaFilePreviewCard.styles.ts
  src/script/components/InputBar/FilePreviews/common/MediaFilePreviewCard/MediaFilePreviewCard.tsx
Labels: type: feature / request ✨, 👕 size: L

#18884 ci(dependabot): prevent dependabot from bumping major versions [WPB-16628]
  .github/workflows/pr-auto-merge.yml
Labels: comp: infrastructure, 👕 size: XS

#18885 feat(cells): tables ui enhancement + sort by date
  src/script/components/CellsGlobalView/CellsTable/CellsTableNameColumn/CellsTableNameColumn.styles.ts
  src/script/components/CellsGlobalView/useGetAllCellsFiles/transformNodesToCellsFiles.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableNameColumn/CellsTableNameColumn.styles.ts
  src/script/components/Conversation/ConversationCells/useGetAllCellsFiles/transformNodesToCellsFiles.ts
Labels: type: feature / request ✨, 👕 size: XS

#18901 feat(cells): change envs [WPB-16524]
  server/config/client.config.ts
  server/config/env.ts
  src/script/main/app.ts
Labels: type: feature / request ✨, 👕 size: S

#18900 fix: allow personal users to select mentions and replies notification setting [WPB-16650]
  src/script/entity/Conversation.test.ts
  src/script/entity/Conversation.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18886 feat: optimize function call [WPB-16444]
  src/script/calling/Call.ts
  src/script/calling/CallingEpochCache.test.ts
  src/script/calling/CallingEpochCache.ts
  src/script/calling/CallingRepository.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: M

#18904 fix(Conversation): cells files path & use qualifiedId [WPB-15679]
  src/script/components/Conversation/Conversation.tsx
  src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  src/script/components/Conversation/ConversationCells/useGetAllCellsFiles/useGetAllCellsFiles.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18905 runfix(cells): change no files error to the empty message [WPB-15679]
  src/script/components/CellsGlobalView/useGetAllCellsFiles/useGetAllCellsFiles.ts
  src/script/components/Conversation/ConversationCells/useGetAllCellsFiles/useGetAllCellsFiles.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18906 runfix(cells): cells path for file uploads & retries [WPB-15679]
  src/script/components/Conversation/useFilesUploadDropzone/useFilesUploadDropzone.ts
  src/script/components/InputBar/FilePreviews/FilePreviews.tsx
  src/script/components/InputBar/FilePreviews/useFilePreview/useFilePreview.ts
  src/script/components/InputBar/InputBar.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#18907 runfix(cells): aws key with qualified id [WPB-16524]
  src/script/main/app.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18882 feat(cells): multipart message poc [WPB-16552]
  package.json
  src/i18n/en-US.json
  src/script/assets/AssetType.ts
  src/script/components/ConfigToolbar/ConfigToolbar.tsx
  src/script/components/InputBar/ReplyBar/ReplyBar.tsx
  src/script/components/InputBar/useMessageHandling/useMessageSend/useMessageSend.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
  src/script/components/MessagesList/Message/MessageWrapper.tsx
  src/script/conversation/ConversationRepository.ts
  src/script/conversation/EventBuilder.ts
  src/script/conversation/EventMapper.ts
  src/script/conversation/MessageRepository.test.ts
  src/script/conversation/MessageRepository.ts
  src/script/cryptography/CryptographyMapper.ts
  src/script/entity/message/Asset.ts
  src/script/entity/message/Multipart.ts
  src/script/event/Client.ts
  src/script/event/EventTypeHandling.ts
  src/script/message/MessageCategorization.ts
  src/script/notification/NotificationRepository.ts
  src/style/content/conversation/input-bar.less
  src/types/i18n.d.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: L

#18903 feat: delete the epoch cache after used [WPB-16444]
  src/script/calling/CallingRepository.ts
Labels: type: feature / request ✨, comp: calling, 👕 size: S

#18911 feat(cells): multipart message ui basic cards
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/MultipartAssets.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/MultipartAssets.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
Labels: type: feature / request ✨, 👕 size: M

#18912 ci(dependabot): ignore lexical minor version bumps
  .github/dependabot.yml
Labels: comp: infrastructure, 👕 size: XS

#18909 runfix(cells): upload per conversation
  src/script/components/Conversation/ConversationFileDropzone/FileDropzone/FileDropzone.tsx
  src/script/components/Conversation/useFilesUploadDropzone/useFilesUploadDropzone.ts
  src/script/components/Conversation/useFilesUploadState/useFilesUploadState.ts
  src/script/components/InputBar/FilePreviews/ImagePreviewCard/ImagePreviewCard.tsx
  src/script/components/InputBar/FilePreviews/useFilePreview/useFilePreview.ts
  src/script/components/InputBar/InputBar.tsx
  src/script/components/InputBar/useMessageHandling/useMessageSend/useMessageSend.ts
  src/script/components/InputBar/useMessageHandling/useMessageSend/useSendFiles/useSendFiles.ts
Labels: type: bug / fix 🐞, 👕 size: M

#18921 feat: track avs call sync messages
  src/script/util/DataDog.ts
Labels: type: feature / request ✨, 👕 size: S

#18922 runfix(cells): use file id as uuid for upload [WPB-15706]
  src/script/cells/CellsRepository.ts
  src/script/components/Conversation/useFilesUploadDropzone/useFilesUploadDropzone.ts
  src/script/components/InputBar/FilePreviews/useFilePreview/useFilePreview.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18924 fix: Handle null active conversation for file dropzone
  src/script/components/Conversation/Conversation.tsx
  src/script/components/Conversation/useFilesUploadDropzone/useFilesUploadDropzone.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18920 chore: Revert "chore(deps): bump the lexical group with 7 updates (#18890)"
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: L

#18925 runfix(cells): missing conversationQualifiedId as dependency [WPB-15679]
  src/script/components/Conversation/ConversationCells/useGetAllCellsFiles/useGetAllCellsFiles.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18926 runfix(CellsRepository): remove file name encoding [WPB-15706]
  src/script/cells/CellsRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18927 feat(cells): hide disappearing message button [WPB-15706]
  src/script/components/Conversation/Conversation.tsx
  src/script/components/InputBar/InputBarControls/ControlButtons.tsx
Labels: type: feature / request ✨, 👕 size: S

#18929 fix(cells): conversation files state [WPB-15706]
  src/script/components/Conversation/ConversationCells/CellsTable/CellsFileShareModal/CellsFileShareModal.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsFileShareModal/useCellPublicLink.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTable.tsx
  src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  src/script/components/Conversation/ConversationCells/common/useCellsStore/useCellsStore.ts
  src/script/components/Conversation/ConversationCells/useGetAllCellsFiles/useGetAllCellsFiles.ts
Labels: type: bug / fix 🐞, 👕 size: M

#18930 fix(cells): file upload window [WPB-15706]
  src/script/components/Conversation/Conversation.tsx
  src/script/components/InputBar/InputBar.test.tsx
  src/script/components/InputBar/InputBar.tsx
  src/script/components/InputBar/InputBarControls/CellAssetUploadButton/CellAssetUploadButton.tsx
  src/script/components/InputBar/InputBarControls/CellImageUploadButton/CellImageUploadButton.tsx
  src/script/components/InputBar/InputBarControls/ControlButtons.test.tsx
  src/script/components/InputBar/InputBarControls/ControlButtons.tsx
  src/script/components/InputBar/InputBarControls/InputBarControls.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#18931 feat(cells): add image/video/audio files metadata [WPB-15706]
  src/script/assets/AssetMetaDataBuilder.ts
  src/script/components/Conversation/useFilesUploadDropzone/buildCellFileMetadata/buildCellFileMetadata.ts
  src/script/components/Conversation/useFilesUploadDropzone/useFilesUploadDropzone.ts
  src/script/components/Conversation/useFilesUploadState/useFilesUploadState.ts
  src/script/components/InputBar/useMessageHandling/useMessageSend/useMessageSend.ts
Labels: type: feature / request ✨, 👕 size: M
