Repository wireapp/wire-webapp, pull requests merged in 2025-02, with the labels that each got.

#18698 fix(applock): prevent unintentional logout when applock is active [15545]
  src/script/page/AppLock/AppLock.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#18709 feat: update core [WPB-15911]
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#18710 fix: sign out other instance when logged in with new instance [WPB-15071]
  src/script/auth/page/Index.tsx
  src/script/components/AppContainer/AppContainer.tsx
Labels: type: bug / fix 🐞, 👕 size: S, echoes: unplanned/support

#18715 feat: add full emoji selection for In-call reactions [WPB-15113]
  src/i18n/en-US.json
  src/script/components/calling/VideoControls/EmojisBar/EmojisBar.styles.ts
  src/script/components/calling/VideoControls/EmojisBar/EmojisBar.tsx
  src/script/components/calling/VideoControls/VideoControls.tsx
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: L

#18716 fix(E2EI): add condition to disable the conversation check [WPB-15964]
  src/__mocks__/@wireapp/core.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.test.ts
  src/script/conversation/ConversationVerificationStateHandler/MLS/MLSStateHandler.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18732 feat(RichTextEditor): update buttons copy
  src/i18n/en-US.json
Labels: type: feature / request ✨, 👕 size: XS

#18737 feat: bump avs to 10.0.5
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#18719 feat: update group avatar [WPB-15794]
  src/script/components/Avatar/GroupAvatar.test.tsx
  src/script/components/Avatar/GroupAvatar.tsx
  src/script/components/ConversationListCell/ConversationListCell.tsx
  src/script/components/calling/CallingCell/CallingHeader/CallingHeader.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConnectionRequests/ConnectionRequests.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConnectionRequests/ConnectionRequests.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/GroupList.test.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/groupList/GroupListItem.tsx
Labels: type: feature / request ✨, 👕 size: S

#18739 fix: wrong grammar in German system message [WPB-14795]
  src/script/conversation/EventMapper.ts
  src/script/entity/message/RenameMessage.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18742 runfix: correct group icon dark mode background color [WPB-15794]
  src/script/components/Avatar/GroupAvatar.tsx
  src/style/common/mixins.less
  src/style/foundation/themes.less
Labels: type: bug / fix 🐞, 👕 size: S

#18747 fix: Exclude emoji search input when disabling typing in full screen calls (WPB-16133)
  src/script/components/calling/FullscreenVideoCall.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#18750 runfix: emojis picker click outside and search clear button background [WPB-16145]
  src/script/components/calling/VideoControls/EmojisBar/EmojisBar.styles.ts
  src/script/components/calling/VideoControls/EmojisBar/EmojisBar.tsx
  src/script/components/calling/VideoControls/VideoControls.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#18751 feat: CC bump [WPB-16027]
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#18754 fix: prevent empty team name submission [WPB-15274]
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/TeamCreation/TeamCreationModal.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/TeamCreation/TeamCreationSteps/Form.tsx
Labels: type: bug / fix 🐞, 👕 size: S

#18749 feat: file asset v2 [WPB-16104]
  src/i18n/en-US.json
  src/script/components/MessagesList/Message/ContentMessage/MessageQuote.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/AudioAsset/AudioAssetV2.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAsset/FileAsset.test.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAsset/FileAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAsset/FileAssetCard/FileAssetCard.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAsset/FileAssetRestricted/FileAssetRestricted.styles.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAsset/FileAssetRestricted/FileAssetRestricted.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAsset/FileAssetV2.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAsset/RestrictedFile/RestrictedFile.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAsset/getFileAssetMetadata/getFileAssetMetadata.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/FileAsset/getFileAssetStatus/getAssetStatus.ts
  src/script/components/MessagesList/Message/ContentMessage/asset/LinkPreviewAssetComponent.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/VideoAsset/VideoAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/VideoAsset/VideoAssetV2.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/index.tsx
  src/script/entity/message/Asset.ts
  src/script/page/MainContent/panels/Collection/CollectionDetails.test.tsx
  src/script/page/MainContent/panels/Collection/CollectionItem.tsx
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: L

#18744 feat: Show modal to encourage reloading when mls is enabled (WPB-15566)
  src/i18n/en-US.json
  src/script/team/TeamRepository.test.ts
  src/script/team/TeamRepository.ts
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: S

#18767 fix: duplicated message of conversation mls migration [WPB-15140]
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18772 chore(deps): bump @wireapp/react-ui-kit from 9.36.1 to 9.37.0 [WPB-15930]
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#18777 feat(core): update core to apply changes to MLS [WPB-16234]
  package.json
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#18774 feat(InputBar): files dropzone draft [WPB-16106]
  package.json
  src/i18n/en-US.json
  src/script/components/Conversation/FileDropzone/FileDropzone.styles.ts
  src/script/components/Conversation/FileDropzone/FileDropzone.tsx
  src/script/components/Conversation/FileDropzone/FileDropzoneErrorModal/FileDropzoneErrorModal.styles.ts
  src/script/components/Conversation/FileDropzone/FileDropzoneErrorModal/FileDropzoneErrorModal.tsx
  src/script/components/Conversation/FileDropzone/FileDropzoneOverlay/FileDropzoneOverlay.styles.ts
  src/script/components/Conversation/FileDropzone/FileDropzoneOverlay/FileDropzoneOverlay.tsx
  src/script/components/Conversation/FileDropzone/fileValidation/fileValidation.ts
  src/script/components/Conversation/FileDropzone/useIsDragging/useIsDragging.ts
  src/script/components/Conversation/common/FileTypeIcon/FileTypeIcon.tsx
  src/script/components/Conversation/common/FileTypeIcon/fileType.ts
  src/script/components/Conversation/common/FileTypeIcon/getFileTypeFromExtension/getFileTypeFromExtension.ts
  src/script/components/Conversation/useFiles/useFiles.ts
  src/script/components/InputBar/FilePreviews/AudioPreviewCard/AudioEmptySeekBar/AudioEmptySeekBar.tsx
  src/script/components/InputBar/FilePreviews/AudioPreviewCard/AudioPreviewCard.styles.ts
  src/script/components/InputBar/FilePreviews/AudioPreviewCard/AudioPreviewCard.tsx
  src/script/components/InputBar/FilePreviews/FilePreviewCard/FilePreviewCard.styles.ts
  src/script/components/InputBar/FilePreviews/FilePreviewCard/FilePreviewCard.tsx
  src/script/components/InputBar/FilePreviews/FilePreviews.styles.ts
  src/script/components/InputBar/FilePreviews/FilePreviews.tsx
  src/script/components/InputBar/FilePreviews/ImagePreviewCard/ImagePreviewCard.styles.ts
  src/script/components/InputBar/FilePreviews/ImagePreviewCard/ImagePreviewCard.tsx
  src/script/components/InputBar/FilePreviews/VideoPreviewCard/VideoPreviewCard.styles.ts
  src/script/components/InputBar/FilePreviews/VideoPreviewCard/VideoPreviewCard.tsx
  src/script/components/InputBar/FilePreviews/common/FilePreviewDeleteButton/FilePreviewDeleteButton.styles.ts
  src/script/components/InputBar/FilePreviews/common/FilePreviewDeleteButton/FilePreviewDeleteButton.tsx
  src/script/components/InputBar/FilePreviews/common/FilePreviewPlayButton/FilePreviewPlayButton.styles.ts
  src/script/components/InputBar/FilePreviews/common/FilePreviewPlayButton/FilePreviewPlayButton.tsx
  src/script/components/InputBar/InputBar.test.tsx
  src/script/components/InputBar/InputBar.tsx
  src/script/page/MainContent/MainContent.test.tsx
  src/style/common/variables.less
  src/style/content/conversation/input-bar.less
  src/types/i18n.d.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XXL

#18790 feat: update in call reactions translations
  src/i18n/en-US.json
Labels: type: feature / request ✨, 👕 size: XS

#18794 fix: Revert "chore: Implement minimal supported browser to Chrome, FireFoxEdge, versions released in last year WPB-8625 (#17415)"
  .browserslistrc
Labels: type: bug / fix 🐞, 👕 size: XS

#18793 fix: Do not send mls message to self mls conversations when mls is not enabled on the team (WPB-16202)
  src/script/conversation/MessageRepository.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#18517 feat: add enterprise login V2 flow [WPB-14366]
  server/config/client.config.ts
  server/config/env.ts
  src/i18n/en-US.json
  src/script/Config.ts
  src/script/auth/assets/WavesPattern.tsx
  src/script/auth/component/AccountAlreadyExistsModal.styles.tsx
  src/script/auth/component/AccountAlreadyExistsModal.tsx
  src/script/auth/component/Layout.styles.ts
  src/script/auth/component/Layout.tsx
  src/script/auth/component/LoginForm.tsx
  src/script/auth/hooks/useEnterpriseLoginV2.ts
  src/script/auth/page/ClientManager.tsx
  src/script/auth/page/ConversationJoinInvalid.tsx
  src/script/auth/page/CreatePersonalAccount.tsx
  src/script/auth/page/CustomBackend.styles.tsx
  src/script/auth/page/CustomBackend.tsx
  src/script/auth/page/CustomEnvironmentRedirect.tsx
  src/script/auth/page/HistoryInfo.tsx
  src/script/auth/page/Index.tsx
  src/script/auth/page/Login.styles.ts
  src/script/auth/page/Login.tsx
  src/script/auth/page/Page.tsx
  src/script/auth/page/Root.tsx
  src/script/auth/page/SetAccountType.tsx
  src/script/auth/page/SingleSignOn.tsx
  src/script/auth/page/SingleSignOnForm.tsx
  src/script/auth/page/VerifyEmailCode.tsx
  src/script/auth/route.ts
  src/script/auth/util/configUtil.ts
  src/script/auth/util/helpers.ts
  src/script/auth/util/urlUtil.ts
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: XXL, echoes: product-roadmap/feature

#18796 feat: enable all connect src in debug mode
  server/config/server.config.ts
Labels: type: feature / request ✨, 👕 size: XS

#18799 runfix: fix QA pipeline by adding missing connect sources
  server/config/server.config.ts
Labels: type: feature / request ✨, 👕 size: S

#18791 feat(FileDropzoneOverlay): enhance ui [WPB-16106]
  src/i18n/en-US.json
  src/script/components/Conversation/FileDropzone/FileDropzoneOverlay/FileDropzoneOverlay.styles.ts
  src/script/components/Conversation/FileDropzone/FileDropzoneOverlay/FileDropzoneOverlay.tsx
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: S

#18802 fix: show participants list on small screens [WPB-16184]
  src/i18n/en-US.json
  src/script/components/calling/CallingCell/CallIngParticipantList/CallingParticipantList.styles.ts
  src/script/components/calling/CallingCell/CallIngParticipantList/CallingParticipantList.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/style/foundation/video-calling.less
  src/types/i18n.d.ts
Labels: type: bug / fix 🐞, 👕 size: S

#18798 chore(AVS): remove simulcast support [WPB-16287]
  package.json
  src/script/calling/Call.ts
  src/script/calling/CallState.ts
  src/script/calling/CallingRepository.ts
  src/script/calling/Participant.ts
  src/script/components/ConfigToolbar/ConfigToolbar.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/media/MediaConstraintsHandler.test.ts
  src/script/media/MediaConstraintsHandler.ts
  src/script/media/MediaStreamHandler.ts
  src/script/team/TeamState.ts
  src/script/util/DebugUtil.ts
  src/style/components/group-video-grid.less
  test/unit_tests/calling/videoGridHandlerSpec.js
  yarn.lock
Labels: comp: calling, type: chore 🧹, 👕 size: L

#18807 chore(deps): bump AVS to 10.0.7 [WPB-16177]
  package.json
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#18804 fix: move acc exists warning modal to login page
  package.json
  src/i18n/en-US.json
  src/script/auth/component/AccountAlreadyExistsModal.tsx
  src/script/auth/hooks/useEnterpriseLoginV2.ts
  src/script/auth/page/Login.tsx
  src/script/auth/page/SingleSignOnForm.tsx
  src/types/i18n.d.ts
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: M

#18810 revert: undo new group avatar changes
  src/script/components/Avatar/GroupAvatar.test.tsx
  src/script/components/Avatar/GroupAvatar.tsx
  src/script/components/ConversationListCell/ConversationListCell.tsx
  src/script/components/calling/CallingCell/CallingHeader/CallingHeader.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConnectionRequests/ConnectionRequests.test.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConnectionRequests/ConnectionRequests.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/GroupList.test.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/groupList/GroupListItem.tsx
  src/style/common/mixins.less
  src/style/foundation/themes.less
Labels: 👕 size: M

#18808 feat: use recent emojis for in call reactions and move away hand raise button (WPB-16323)
  src/script/components/calling/VideoControls/EmojisBar/EmojisBar.tsx
  src/script/components/calling/VideoControls/VideoControls.tsx
Labels: type: feature / request ✨, 👕 size: S

#18811 refactor: Use custom type for stored emojis
  src/script/components/calling/VideoControls/EmojisBar/EmojisBar.tsx
Labels: type: refactoring 🛠, 👕 size: S

#18814 fix: pagination active dot visibility [WPB-16183]
  src/script/components/calling/Pagination/Pagination.test.tsx
  src/script/components/calling/Pagination/Pagination.tsx
  src/script/components/calling/Pagination/PaginationDot.tsx
Labels: type: bug / fix 🐞, 👕 size: M

#18797 feat(TeamRepository): Prevent removal of MLS from supported protocols if it was previously supported
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.test.tsx
  src/script/self/SelfRepository.test.ts
  src/script/self/SelfRepository.ts
  src/script/self/SelfSupportedProtocols/SelfSupportedProtocols.ts
  src/script/team/TeamRepository.ts
Labels: type: feature / request ✨, 👕 size: S

#18815 fix: icon for pop out calling view button in dark mode [WPB-16170]
  package.json
  src/script/components/calling/FullscreenVideoCall.tsx
  yarn.lock
Labels: type: bug / fix 🐞, 👕 size: S
