Repository wireapp/wire-webapp, pull requests merged in 2025-06, with the labels that each got.

#19129 feat(cells): table horizontal scroll + change loading
  src/script/components/Conversation/ConversationCells/CellsLoader/CellsLoader.styles.ts
  src/script/components/Conversation/ConversationCells/CellsLoader/CellsLoader.tsx
  src/script/components/Conversation/ConversationCells/CellsStateInfo/CellStateInfo.styles.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTable.styles.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTable.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/useTableHeight/useTableHeight.ts
  src/script/components/Conversation/ConversationCells/ConversationCells.styles.ts
  src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  src/script/components/Conversation/ConversationCells/useCellsLoaderSize/useCellsLoaderSize.ts
  src/style/content/conversation.less
Labels: type: feature / request ✨, 👕 size: M

#19138 chore: react-ui-kit bump
  package.json
  src/script/auth/component/ClientItem.tsx
  src/script/components/Badge/components/VerificationBadges/VerificationBadges.tsx
  src/script/components/Conversation/common/FileTypeIcon/FileTypeIcon.tsx
  src/script/components/ConversationListCell/ConversationListCell.tsx
  src/script/components/HistoryImport/BackupFileUpload.tsx
  src/script/components/InputBar/InputBarControls/AssetUploadButton/AssetUploadButton.tsx
  src/script/components/InputBar/InputBarControls/ImageUploadButton/ImageUploadButton.tsx
  src/script/components/InputBar/InputBarEditor/RichTextEditor/plugins/MentionsPlugin/MentionSuggestionsItem.tsx
  src/script/components/InputBar/PastedFileControls/PastedFileControls.tsx
  src/script/components/InputBar/ReplyBar/ReplyBar.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/MultipartAssets/VideoAssetCard/VideoAssetPlayer/VideoAssetPlayer.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/VideoAsset/VideoAsset.tsx
  src/script/components/MessagesList/Message/ContentMessage/asset/common/AssetLoader/AssetLoader.tsx
  src/script/components/MessagesList/Message/util/index.ts
  src/script/components/MessagesList/MessageList.tsx
  src/script/components/Modals/DetailViewModal/DetailViewModalFooter.tsx
  src/script/components/Modals/ModalComponent/ModalComponent.tsx
  src/script/components/Modals/UserModal/UserModal.tsx
  src/script/components/Radio/RadioGroup.tsx
  src/script/components/SelectText/SelectText.tsx
  src/script/components/ServiceList/components/ServiceListItem/ServiceListItem.tsx
  src/script/components/TitleBar/TitleBar.tsx
  src/script/components/UserList/components/UserListItem/UserListItem.tsx
  src/script/components/calling/CallParticipantsListItem/CallParticipantItemContent/CallParticipantItemContent.tsx
  src/script/components/calling/CallParticipantsListItem/CallParticipantsListItem.tsx
  src/script/components/calling/CallingCell/CallingCell.tsx
  src/script/components/calling/CallingCell/CallingHeader/CallingHeader.tsx
  src/script/components/calling/FullscreenVideoCall.tsx
  src/script/components/calling/GroupVideoGridTile.tsx
  src/script/components/calling/VideoControls/VideoControls.tsx
  src/script/page/LeftSidebar/UserDetails/UserDetails.tsx
  src/script/page/LeftSidebar/panels/Conversations/ConnectionRequests/ConnectionRequests.tsx
  src/script/page/LeftSidebar/panels/Preferences.tsx
  src/script/page/LeftSidebar/panels/StartUI/components/topPeople/TopContact.tsx
  src/script/page/MainContent/panels/Collection/fullSearch/FullSearchItem.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/Device/Device.tsx
  src/script/page/MainContent/panels/preferences/DevicesPreferences/components/E2EICertificateDetails/E2EICertificateDetails.tsx
  src/script/page/MainContent/panels/preferences/OptionPreferences.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AccountSecuritySection.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/AvatarInput.tsx
  src/script/page/MainContent/panels/preferences/accountPreferences/LogoutSection.tsx
  src/script/page/RightSidebar/Access/Access.tsx
  src/script/page/RightSidebar/AddParticipants/AddParticipants.tsx
  src/script/page/RightSidebar/ConversationDetails/ConversationDetails.tsx
  src/script/page/RightSidebar/GroupParticipantService/GroupParticipantService.tsx
  src/script/page/RightSidebar/GroupParticipantUser/GroupParticipantUser.tsx
  src/script/page/RightSidebar/Notifications/Notifications.tsx
  src/script/page/RightSidebar/PanelHeader/PanelHeader.tsx
  src/script/page/RightSidebar/TimedMessages/TimedMessages.tsx
  yarn.lock
Labels: type: chore 🧹, 👕 size: M

#19144 refactor(cells): CellsModal component
  src/i18n/en-US.json
  src/script/components/Conversation/ConversationCells/CellsHeader/CellsNewMenu/CellsNewItemModal/CellsNewItemModal.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsMoveNodeModal/CellsFoldersListModalContent/CellsFoldersListModalContent.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsMoveNodeModal/CellsFoldersListModalContent/CellsMoveActions/CellsMoveActions.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsMoveNodeModal/CellsMoveNodeModal.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsMoveNodeModal/CellsNewFolderModalContent/CellsNewFolderModalContent.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsMoveNodeModal/useMoveCellNode/useMoveCellsNode.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTagsModal/CellsTagsModal.styles.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTagsModal/CellsTagsModal.tsx
  src/script/components/Conversation/ConversationCells/common/CellsModal/CellsModal.styles.ts
  src/script/components/Conversation/ConversationCells/common/CellsModal/CellsModal.tsx
  src/script/components/Conversation/ConversationCells/common/CellsModal/CellsModalActions/CellsModalActions.styles.ts
  src/script/components/Conversation/ConversationCells/common/CellsModal/CellsModalActions/CellsModalActions.tsx
  src/script/components/Conversation/ConversationCells/common/CellsModal/CellsModalContext/CellsModalContext.tsx
  src/script/components/Conversation/ConversationCells/common/CellsModal/CellsModalHeader/CellsModalHeader.styles.ts
  src/script/components/Conversation/ConversationCells/common/CellsModal/CellsModalHeader/CellsModalHeader.tsx
  src/script/components/Conversation/ConversationCells/common/CellsNewNodeForm/CellsNewNodeForm.tsx
  src/script/components/Conversation/ConversationCells/common/useCellsNewNodeForm/useCellsNewNodeForm.ts
  src/types/i18n.d.ts
Labels: type: refactoring 🛠, 👕 size: XL

#19146 fix: add data-uie-name for create conv modal header [WPB-10626]
  src/script/components/Modals/CreateConversation/CreateConversationHeader.tsx
Labels: type: bug / fix 🐞, 👕 size: XS

#19140 feat(cells): rename node
  src/i18n/en-US.json
  src/script/cells/CellsRepository.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsMoveNodeModal/CellsMoveNodeModal.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsRenameNodeModal/CellsRenameForm/CellsRenameForm.styles.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsRenameNodeModal/CellsRenameForm/CellsRenameForm.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsRenameNodeModal/CellsRenameNodeModal.styles.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsRenameNodeModal/CellsRenameNodeModal.tsx
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsRenameNodeModal/useCellsRenameNodeForm/useCellsRenameNodeForm.ts
  src/script/components/Conversation/ConversationCells/CellsTable/CellsTableColumns/CellsTableRowOptions/CellsTableRowOptions.tsx
  src/script/components/Conversation/ConversationCells/common/useInputAutoFocus/useInputAutoFocus.ts
  src/types/i18n.d.ts
Labels: type: feature / request ✨, 👕 size: L

#19150 feat: add auth pages support for mobile browsers [WPB-17580]
  src/script/browser/CheckBrowser.ts
Labels: type: feature / request ✨, 👕 size: XS

#19155 chore(deps): bump core to @46.28.0 [WPB-18135]
  package.json
  src/script/conversation/ConversationRepository.test.ts
  test/helper/ConversationGenerator.ts
  yarn.lock
Labels: type: chore 🧹, 👕 size: S

#19156 feat(conversation): cells state [WPB-18135]
  package.json
  src/i18n/en-US.json
  src/script/components/Conversation/Conversation.tsx
  src/script/components/Conversation/ConversationCells/ConversationCells.tsx
  src/script/components/Conversation/ConversationCells/useGetAllCellsNodes/useGetAllCellsNodes.ts
  src/script/conversation/ConversationMapper.ts
  src/script/conversation/ConversationRepository.test.ts
  src/script/entity/Conversation.ts
  src/script/main/app.ts
  src/types/i18n.d.ts
  test/helper/ConversationGenerator.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: S

#19159 fix(mls): Establish MLS group conversation when joining with deeplink (WPB-18084)
  src/script/conversation/ConversationRepository.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19160 runfix(backup): show correct error on wrong password [WPB-17781]
  src/script/backup/CrossPlatformBackup/CPB.import.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19163 fix: Add logging to track epoch update [WPB-18322]
  src/script/calling/CallingRepository.ts
Labels: type: bug / fix 🐞, comp: calling, 👕 size: XS

#19165 fix(cells): sorting [WPB-17387]
  src/script/cells/CellsRepository.ts
  src/script/components/CellsGlobalView/useSearchCellsNodes/useSearchCellsNodes.ts
Labels: type: bug / fix 🐞, 👕 size: S

#19172 chore: Refactor page object implementation [WPB-18373]
  test/e2e_tests/criticalFlow.spec.ts
  test/e2e_tests/login.spec.ts
  test/e2e_tests/pages/pageManager.ts
  test/e2e_tests/test.fixtures.ts
Labels: type: chore 🧹, 👕 size: XL

#19161 feat: add countly tracking and missing pages for reg flow [WPB-17531]
  package.json
  src/i18n/en-US.json
  src/script/Config.ts
  src/script/auth/assets/WavesPattern.tsx
  src/script/auth/component/AccountForm.test.tsx
  src/script/auth/component/AccountForm.tsx
  src/script/auth/component/AccountRegistrationLayout.tsx
  src/script/auth/component/Layout.tsx
  src/script/auth/module/reducer/authReducer.ts
  src/script/auth/module/selector/AuthSelector.ts
  src/script/auth/page/Root.tsx
  src/script/auth/page/SetHandle.tsx
  src/script/auth/page/Success.styles..tsx
  src/script/auth/page/Success.test.tsx
  src/script/auth/page/Success.tsx
  src/script/auth/page/VerifyEmailCode.tsx
  src/script/auth/route.ts
  src/script/auth/util/trackingUtil.test.ts
  src/script/auth/util/trackingUtil.ts
  src/types/i18n.d.ts
  yarn.lock
Labels: type: feature / request ✨, 👕 size: XL

#19175 fix: improve UI after design review of new reg flow [WPB-17795]
  src/script/auth/component/AccountForm.test.tsx
  src/script/auth/component/AccountForm.tsx
  src/script/auth/component/Layout.styles.ts
  src/script/auth/page/SetAccountType.styles.tsx
  src/script/auth/util/trackingUtil.test.ts
  src/script/auth/util/trackingUtil.ts
  test/e2e_tests/pages/registration.page.ts
Labels: type: bug / fix 🐞, 👕 size: M

#19179 fix(ChannelAvatar): change overflow style
  src/script/components/Avatar/ChannelAvatar.styles.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#19182 feat: add team management link for sidebar [WPB-17720]
  src/script/page/LeftSidebar/panels/Conversations/ConversationTabs/ConversationTabs.tsx
Labels: type: feature / request ✨, 👕 size: S

#19180 runfix(backup): mark all restored conversations as read [WPB-18001]
  src/script/backup/CrossPlatformBackup/importMappers/mapConversationRecord.ts
Labels: type: bug / fix 🐞, 👕 size: XS

#19185 chore(Playwright): Implement flow for the new register success screen to fix Personal Account Lifecycle test [WPB-18488]
  test/e2e_tests/criticalFlow.spec.ts
  test/e2e_tests/pages/pageManager.ts
  test/e2e_tests/pages/registerSuccess.page.ts
Labels: type: chore 🧹, 👕 size: S

#19183 chore(Playwright): Implement Team Management login test case [WPB-18429]
  .github/workflows/playwright-crit-flow-tests.yml
  test/e2e_tests/.env.tpl
  test/e2e_tests/pages/pageManager.ts
  test/e2e_tests/pages/teamLogin.page.ts
  test/e2e_tests/pages/teams.page.ts
  test/e2e_tests/scripts/create-playwright-report-summary.js
  test/e2e_tests/specs/criticalFlow.spec.ts
  test/e2e_tests/specs/login.spec.ts
  test/e2e_tests/specs/teamManagement.spec.ts
Labels: comp: infrastructure, type: chore 🧹, 👕 size: M
